Repository prestodb/presto, pull requests merged in 2018-10, with the labels that each got.

#11574 Add StorageFormat#toString method
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/StorageFormat.java
Labels: CLA Signed

#11573 Return zero statistics when no partitions were selected
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/MetastoreHiveStatisticsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#11559 Do not set distinct values count to 0 when nulls fraction is not 1.0
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/thrift/TestThriftMetastoreUtil.java
Labels: CLA Signed, ready-to-merge

#11506 Categorize the max text line length exceeded error as HIVE_BAD_DATA
  pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursor.java
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursorProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
Labels: CLA Signed

#11565 Add support for writing ORC files with ZSTD compression
  pom.xml
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/OrcOutputBuffer.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/zstd/ZstdJniCompressor.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
Labels: CLA Signed

#11577 Fix JDBC connectors to clean up temp table after exception
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlIntegrationSmokeTest.java
Labels: CLA Signed

#11595 Do not return wrong stats/cost for partial aggregations
  presto-main/src/main/java/com/facebook/presto/cost/AggregationStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/CostCalculatorUsingExchanges.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchLocalStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/tpch/TpchQueryRunnerBuilder.java
Labels: CLA Signed, ready-to-merge

#11584 Remove unreachable test code
  presto-product-tests/src/main/java/com/facebook/presto/tests/jdbc/JdbcTests.java
Labels: CLA Signed, ready-to-merge

#11624 Fix typo in show_schemas.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/postgresql/show_schemas.sql
Labels: CLA Signed

#11496 Add docs for SHOW STATS
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/show-stats.rst
Labels: CLA Signed

#11617 Fix typo in geospatial functions docs
  presto-docs/src/main/sphinx/functions/geospatial.rst
Labels: CLA Signed

#11602 Make ST_Distance return null on empty input geometries
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestGeoFunctions.java
Labels: CLA Signed

#11634 Fix flakiness in testTableWithNoSupportedColumns
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlIntegrationSmokeTest.java
Labels: CLA Signed

#11635 Verify that the SQL value can be decoded by the property
  presto-main/src/main/java/com/facebook/presto/execution/SetSessionTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSetSessionTask.java
Labels: CLA Signed

#11643 Preserve original exception for metastore network errors
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/thrift/Transport.java
Labels: CLA Signed

#11620 Improve geometry_to_bing_tiles error message
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestBingTileFunctions.java
Labels: CLA Signed

#11503 Recover documentation for node-scheduler.network-topology
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: CLA Signed

#11549 [Hotfix]nullsCount in columnStatistic should marked as not present in…
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
Labels: CLA Signed

#11603 Add experimental config for disabling the reserved pool
  presto-main/src/main/java/com/facebook/presto/execution/MemoryAwareQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/MemoryRevokingScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/memory/LocalMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/memory/MemoryResource.java
  presto-main/src/main/java/com/facebook/presto/memory/NodeMemoryConfig.java
  presto-main/src/main/resources/webapp/assets/worker.js
  presto-main/src/test/java/com/facebook/presto/memory/TestNodeMemoryConfig.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestMemoryAwareExecution.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestMemoryManager.java
Labels: CLA Signed

#11589 Add JMH Benchmark for window operator
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkWindowOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestWindowOperator.java
Labels: CLA Signed

#11681 Fix compiler error in BenchmarkWindowOperator due to merge conflict
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkWindowOperator.java
Labels: CLA Signed

#11673 Report exceptions from SerDe better, especially for Avro
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/avro/PrestoAvroSerDe.java
Labels: CLA Signed

#11670 Declare missing dependency on sudo in RPM
  presto-server-rpm/pom.xml
Labels: CLA Signed

#11671 Provide log.properties in RPM
  presto-server-rpm/src/main/resources/dist/config/log.properties
Labels: CLA Signed

#11688 Remove TypeLiteral from ExchangeClientSupplier binding
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Labels: CLA Signed

#11644 Add session property to overwrite configured min/max drivers per task
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskHandle.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/SimulationTask.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/TestTaskExecutor.java
Labels: CLA Signed

#11691 Verify Connection returned from driver
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/DriverConnectionFactory.java
Labels: CLA Signed

#11690 Increase partitionTargetPath visibility
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#11697 Fix typo in docs
  presto-docs/src/main/sphinx/installation/jdbc.rst
Labels: CLA Signed

#11701 Always compact pages in memory connector
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryPagesStore.java
Labels: CLA Signed

#10813 Change Hive's default storage format to ORC
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: CLA Signed

#11672 Remove JVM vendor check from RPM
  presto-server-rpm/src/main/rpm/preinstall
Labels: CLA Signed

#11700 Embed Presto version in stacktraces
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/version/EmbedVersion.java
Labels: CLA Signed

#11709 Remove redundant byte[] allocation in VariableWidthBlock
  presto-spi/src/main/java/com/facebook/presto/spi/block/VariableWidthBlock.java
Labels: CLA Signed, ready-to-merge

#11719 Update to Airlift 0.174
  pom.xml
Labels: CLA Signed

#11724 Remove unnecessary byte[] allocation in block builders
  presto-spi/src/main/java/com/facebook/presto/spi/block/FixedWidthBlockBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/VariableWidthBlockBuilder.java
Labels: CLA Signed

#11625 Avoid making wild guesses in FILTER and JOIN estimates
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestJoinStatsRule.java
  presto-main/src/test/resources/sql/presto/tpcds/q16.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q24_1.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q24_2.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q34.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q64.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q69.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q73.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q78.plan.txt
  presto-main/src/test/resources/sql/presto/tpcds/q94.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q04.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q09.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q13.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q15.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q20.plan.txt
  presto-main/src/test/resources/sql/presto/tpch/q21.plan.txt
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchLocalStats.java
Labels: CLA Signed, cbo

#11730 Optimize ST_IsEmpty function
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
Labels: CLA Signed

#11705 Redirects from root include host name
  presto-main/src/main/java/com/facebook/presto/server/WebUiResource.java
Labels: CLA Signed

#11722 Change cost estimate formatting in PlanPrinter
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: CLA Signed

#11733 Add ST_MultiPoint function
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestGeoFunctions.java
Labels: CLA Signed

#11748 Make QueryResults backwards compatible with warnings
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-client/src/test/java/com/facebook/presto/client/TestQueryResults.java
Labels: CLA Signed

#11787 Add removed comment
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/builder/MergingHashAggregationBuilder.java
Labels: CLA Signed, ready-to-merge

#11784 Compare Avro SerDe class name case sensitively
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
Labels: CLA Signed

#11792 Make exception handling in SqlQueryManager more resilient
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
Labels: CLA Signed, ready-to-merge

#11782 Add distribution type to semi join query plan
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: CLA Signed

#11717 Limit the size of page chunk for OrcWriter
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriter.java
Labels: CLA Signed, ready-to-merge

#11793 Handle SQL execution timeouts for verifier rewrite
  presto-verifier/src/main/java/com/facebook/presto/verifier/QueryRewriter.java
Labels: CLA Signed

#11727 Add UDF Ngrams
  presto-docs/src/main/sphinx/functions/array.rst
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionRegistry.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayNgramsFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayNgramsFunction.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/DictionaryBlock.java
Labels: CLA Signed

#11798 Add @Nullable annotation and requireNonNull
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessorUtils.java
Labels: CLA Signed

#11813 Fix typo in json property in ThreadResource
  presto-main/src/main/java/com/facebook/presto/server/ThreadResource.java
Labels: CLA Signed

#11803 Remove hive_connector test group
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAllDatatypesFromHiveConnector.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAvroSchemaEvolution.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAvroSchemaUrl.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestExternalHiveTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestGrantRevoke.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveBasicTableStatistics.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveBucketedTables.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveCoercion.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveTableStatistics.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestInsertIntoHiveTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestSqlStandardAccessControlChecks.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestTablePartitioningInsertInto.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestTablePartitioningSelect.java
Labels: CLA Signed

#11814 Assure output page is loaded in PageSourceOperator
  presto-main/src/main/java/com/facebook/presto/operator/PageSourceOperator.java
Labels: CLA Signed

#11815 Rename misleading method name
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
Labels: CLA Signed

#11778 Streamline WorkProcessor state API
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessor.java
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessorUtils.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/builder/InMemoryHashAggregationBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/builder/MergingHashAggregationBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/exchange/LocalExchangeSource.java
  presto-main/src/main/java/com/facebook/presto/util/MergeSortedPages.java
  presto-main/src/test/java/com/facebook/presto/operator/TestWorkProcessor.java
Labels: CLA Signed

#11820 Remove redundant isSingleNode check
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: CLA Signed

#11819 Update tempto to 1.50
  pom.xml
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/AllSimpleTypesTableDefinitions.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/HiveTableDefinitions.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHivePartitionsTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveTableStatistics.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestTablePartitioningSelect.java
  presto-product-tests/src/main/resources/sql-tests/datasets/datatype.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/datatype_mysql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/datatype_psql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/empty.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/orc_varchar_dictionary.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/real_table_mysql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/real_table_psql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/table_with_footer.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/table_with_header.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/table_with_header_and_footer.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/workers.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/workers_mysql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/workers_psql.data-revision
  presto-product-tests/src/main/resources/sql-tests/datasets/workers_sqlserver.data-revision
Labels: CLA Signed

#11817 Add space after hyphens for ngrams example
  presto-docs/src/main/sphinx/functions/array.rst
Labels: CLA Signed
