Repository prestodb/presto, pull requests merged in 2018-02, with the labels that each got.

#9920 Remove interpreter fallback on compiler failure
  presto-main/src/main/java/com/facebook/presto/operator/project/InterpretedCursorProcessor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CompilerConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCompilerConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
Labels: CLA Signed

#9918 Check validity of SSL key certificates in client
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
Labels: CLA Signed

#9849 Approximate object references for ReferenceCountMap
  presto-array/pom.xml
  presto-array/src/main/java/com/facebook/presto/array/ReferenceCountMap.java
  presto-array/src/test/java/com/facebook/presto/array/BenchmarkReferenceCountMap.java
Labels: CLA Signed

#9915 Fix NULLIF for map type when type coercion is required
  presto-main/src/main/java/com/facebook/presto/sql/gen/NullIfCodeGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
Labels: CLA Signed

#9948 Fixed Hive split discovery to respect hive.max-outstanding-splits-size
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
Labels: CLA Signed

#9944 Remove test suppression for PostgreSQL
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlDistributedQueries.java
Labels: CLA Signed

#9949 Fix race condition when listing columns in MySQL connector
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
Labels: CLA Signed

#9889 Add SignatureBinder test involving function<..., varchar>
  presto-main/src/test/java/com/facebook/presto/metadata/TestSignatureBinder.java
Labels: CLA Signed

#9957 Skip reserved hash slot in ORC dictionary builder
  presto-orc/src/main/java/com/facebook/presto/orc/writer/DictionaryBuilder.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDictionaryBuilder.java
Labels: CLA Signed

#9971 Run TestMemoryTracking as single threaded
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
Labels: CLA Signed

#9992 Add tests for reading temporal types with Presto JDBC
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcResultSet.java
Labels: CLA Signed

#9972 Fix or mark single-threaded all tests with @BeforeMethod
  presto-local-file/src/test/java/com/facebook/presto/localfile/TestLocalFileSplit.java
  presto-main/src/test/java/com/facebook/presto/cost/BaseStatsCalculatorTest.java
  presto-main/src/test/java/com/facebook/presto/cost/TestComparisonStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestOutputNodeStats.java
  presto-main/src/test/java/com/facebook/presto/cost/TestScalarStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestValuesNodeStats.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestSpillSpaceTracker.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPickTableLayout.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/backup/TestHttpBackupStore.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestShardEjector.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/organization/TestShardOrganizerUtil.java
Labels: CLA Signed

#9993 Ensure plan correctly printed in RuleTester
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanAssert.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/RuleAssert.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/TestRuleTester.java
Labels: CLA Signed

#9970 Remove unused field
  presto-main/src/main/java/com/facebook/presto/operator/PartitionedConsumption.java
Labels: CLA Signed, ready-to-merge

#9989 Add a configuration option to disable creating non-managed Hive table
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadataFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: CLA Signed

#9960 Fix typo resouceGroup -> resourceGroup
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/QueryQueueFullException.java
Labels: CLA Signed, ready-to-merge

#9999 Rename DataType.decimalType to decimalDataType
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-tests/src/main/java/com/facebook/presto/tests/datatype/DataType.java
Labels: CLA Signed

#9980 Remove legacy DetermineJoinDistributionType
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/DetermineJoinDistributionType.java
Labels: CLA Signed, ready-to-merge

#9928 Use state object to cache output for array_join
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayJoin.java
Labels: CLA Signed, ready-to-merge

#9998 Exclude coordinator from nodes count when calculating cost
  presto-main/src/main/java/com/facebook/presto/cost/CostCalculatorUsingExchanges.java
  presto-main/src/main/java/com/facebook/presto/cost/CostCalculatorWithEstimatedExchanges.java
Labels: CLA Signed

#9996 Fix query peak user/total memory tracking
  presto-main/src/main/java/com/facebook/presto/execution/MemoryTrackingRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
Labels: CLA Signed

#10011 Prevent testShowTablesLike() failure when tests are running concurrently
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#9968 Extract aggregation tests to a separate class
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestAggregations.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledAggregations.java
Labels: CLA Signed

#10023 Fix decimal ROUND_N return type and rounding for inputs with 0 scale
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Labels: CLA Signed

#10029 Rename various fields to clarify they are related to user memory
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/AbstractOperatorBenchmark.java
  presto-main/src/main/java/com/facebook/presto/event/query/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/FailedQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTask.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStats.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryStats.java
  presto-main/src/main/java/com/facebook/presto/server/ClusterStatsResource.java
  presto-main/src/main/java/com/facebook/presto/server/QueryExecutionResource.java
  presto-main/src/main/java/com/facebook/presto/server/QueryProgressStats.java
  presto-main/src/main/resources/com/facebook/presto/server/plan.html
  presto-main/src/main/resources/webapp/assets/plan.js
  presto-main/src/main/resources/webapp/assets/query-list.js
  presto-main/src/main/resources/webapp/assets/query.js
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageStats.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/operator/TestDriverStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashAggregationOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPipelineStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
Labels: CLA Signed

#10015 Properly mark the request start time in RequestErrorTracker
  presto-main/src/main/java/com/facebook/presto/server/remotetask/RequestErrorTracker.java
Labels: CLA Signed

#10026 Fix partial container cleanup in run_on_docker.sh
  presto-product-tests/bin/run_on_docker.sh
Labels: CLA Signed

#9986 Use type.appendTo() to serialize BlockPositionState
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ArbitraryAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/BlockPositionState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/BlockPositionStateSerializer.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/SliceBlockPositionState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/SliceBlockPositionStateSerializer.java
Labels: CLA Signed

#9277 Implement is_json_scalar function
  presto-docs/src/main/sphinx/functions/json.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonFunctions.java
Labels: CLA Signed

#10043 Fix string stats trunction for original orc writer
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/TestOrcMetadataReader.java
Labels: CLA Signed

#10039 Clear OrderByOperator pagesIndex on close
  presto-main/src/main/java/com/facebook/presto/operator/OrderByOperator.java
Labels: CLA Signed

#10035 Reset resetMemoryRevocationRequestListener when driver is closed
  presto-main/src/main/java/com/facebook/presto/operator/OperatorContext.java
Labels: CLA Signed, bug

#8453 Loosen option constraint for Java version
  presto-main/src/main/java/com/facebook/presto/server/JavaVersion.java
  presto-main/src/test/java/com/facebook/presto/server/TestJavaVersion.java
Labels: CLA Signed, ready-to-merge

#10047 Extract TPCH_COLUMN_NAMING_PROPERTY constant
  presto-main/src/test/java/com/facebook/presto/sql/planner/BenchmarkPlanner.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchLocalStats.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchConnectorFactory.java
Labels: CLA Signed

#10044 Make is_json_scalar throw on invalid input
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonFunctions.java
Labels: CLA Signed
