Repository prestodb/presto, pull requests merged in 2018-12, with the labels that each got.

#12005 Move InvocationConvention to function package
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionInvokerProvider.java
  presto-main/src/main/java/com/facebook/presto/operator/annotations/FunctionImplementationDependency.java
  presto-main/src/main/java/com/facebook/presto/operator/annotations/ImplementationDependency.java
  presto-main/src/main/java/com/facebook/presto/operator/annotations/OperatorImplementationDependency.java
  presto-main/src/main/java/com/facebook/presto/operator/annotations/ScalarImplementationDependency.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayDistinctFromOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/RowDistinctFromOperator.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestFunctionInvokerProvider.java
  presto-main/src/test/java/com/facebook/presto/type/TestConventionDependencies.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/Convention.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionDependency.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/InvocationConvention.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/OperatorDependency.java
Labels: CLA Signed

#11904 Optionally use default filter factor to estimate filter node
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculatorModule.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/cost/StatsCalculatorTester.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsRule.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: CLA Signed

#12042 Fix TestColumnarPageProcessor
  presto-main/src/test/java/com/facebook/presto/operator/TestColumnarPageProcessor.java
Labels: CLA Signed

#12041 Fix assertion in tryUpdateUserMemory method
  presto-main/src/main/java/com/facebook/presto/memory/DefaultQueryContext.java
  presto-main/src/main/java/com/facebook/presto/memory/LegacyQueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
Labels: CLA Signed, RELEASE-BLOCKER

#12045 Make sure TestColumnarPageProcessor runs on a single thread
  presto-main/src/test/java/com/facebook/presto/operator/TestColumnarPageProcessor.java
Labels: CLA Signed

#12066 add documentation for security.refresh-period
  presto-docs/src/main/sphinx/security/built-in-system-access-control.rst
Labels: CLA Signed, ready-to-merge

#12079 Add release notes for 0.215
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.215.rst
Labels: CLA Signed

#12052 only take last defined value for log locations in node.properties
  presto-server-rpm/src/main/resources/dist/etc/init.d/presto
Labels: CLA Signed, ready-to-merge

#12061 Add missing @Nullable annotations
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractArrayBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractMapBlock.java
Labels: CLA Signed, ready-to-merge

#12070 Add basic TupleDomain#toString
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/TupleDomain.java
Labels: CLA Signed, ready-to-merge

#12028 Add minor state check to PartitionedLookupSourceFactory
  presto-main/src/main/java/com/facebook/presto/operator/PartitionedLookupSourceFactory.java
Labels: CLA Signed, ready-to-merge

#11829 Support millisecond extraction from time/timestamp values
  presto-docs/src/main/sphinx/functions/datetime.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
Labels: CLA Signed, ready-to-merge

#11514 correct read time stats in parquet pagesource
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/HdfsParquetDataSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSource.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetDataSource.java
Labels: CLA Signed, ready-to-merge

#12053 Add suppressed exceptions to tear down exceptions in verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/QueryResult.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/Validator.java
Labels: CLA Signed, verifier

#12038 Add empty check for types in ORC file
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
Labels: CLA Signed

#11983 Add block/position convention to all distinct from operators
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionRegistry.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayDistinctFromOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonOperators.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapDistinctFromOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/RowDistinctFromOperator.java
  presto-main/src/main/java/com/facebook/presto/type/BigintOperators.java
  presto-main/src/main/java/com/facebook/presto/type/BooleanOperators.java
  presto-main/src/main/java/com/facebook/presto/type/CharOperators.java
  presto-main/src/main/java/com/facebook/presto/type/ColorOperators.java
  presto-main/src/main/java/com/facebook/presto/type/DateOperators.java
  presto-main/src/main/java/com/facebook/presto/type/DoubleOperators.java
  presto-main/src/main/java/com/facebook/presto/type/IntegerOperators.java
  presto-main/src/main/java/com/facebook/presto/type/IntervalDayTimeOperators.java
  presto-main/src/main/java/com/facebook/presto/type/IntervalYearMonthOperators.java
  presto-main/src/main/java/com/facebook/presto/type/IpAddressOperators.java
  presto-main/src/main/java/com/facebook/presto/type/RealOperators.java
  presto-main/src/main/java/com/facebook/presto/type/SmallintOperators.java
  presto-main/src/main/java/com/facebook/presto/type/TimeOperators.java
  presto-main/src/main/java/com/facebook/presto/type/TimeWithTimeZoneOperators.java
  presto-main/src/main/java/com/facebook/presto/type/TimestampOperators.java
  presto-main/src/main/java/com/facebook/presto/type/TimestampWithTimeZoneOperators.java
  presto-main/src/main/java/com/facebook/presto/type/TinyintOperators.java
  presto-main/src/main/java/com/facebook/presto/type/UnknownOperators.java
  presto-main/src/main/java/com/facebook/presto/type/VarbinaryOperators.java
  presto-main/src/main/java/com/facebook/presto/type/VarcharOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestDecimalOperators.java
Labels: CLA Signed, ready-to-merge

#12027 Pick max distinct values in ExchangeStatsRule
  presto-main/src/main/java/com/facebook/presto/cost/StatisticRange.java
  presto-main/src/test/java/com/facebook/presto/cost/TestExchangeStatsRule.java
  presto-main/src/test/java/com/facebook/presto/cost/TestStatisticRange.java
Labels: CLA Signed

#12062 Skip all-false nullness array in ArrayBlockBuilder
  presto-spi/src/main/java/com/facebook/presto/spi/block/ArrayBlockBuilder.java
Labels: CLA Signed

#11891 Use JVM time zone rules in Joda
  pom.xml
  presto-accumulo/pom.xml
  presto-base-jdbc/pom.xml
  presto-cassandra/pom.xml
  presto-docs/src/main/sphinx/develop/connectors.rst
  presto-hive/pom.xml
  presto-kafka/pom.xml
  presto-kudu/pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/test/java/com/facebook/presto/util/TestTimeZoneUtils.java
  presto-mongodb/pom.xml
  presto-orc/pom.xml
  presto-raptor/pom.xml
  presto-rcfile/pom.xml
  presto-record-decoder/pom.xml
  presto-redis/pom.xml
  presto-spi/src/main/resources/com/facebook/presto/spi/type/zone-index.properties
  presto-spi/src/test/java/com/facebook/presto/spi/type/TestTimeZoneKey.java
  presto-teradata-functions/pom.xml
  presto-tpcds/pom.xml
Labels: CLA Signed

#12086 Fix double planning in assertPlannerWarnings
  presto-main/src/test/java/com/facebook/presto/execution/TestPlannerWarnings.java
Labels: CLA Signed

#12064 Fix SemiTransactionalHiveMetastore error message
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
Labels: CLA Signed

#12091 Do not change explicitly selected join distribution type
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ReorderJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReorderJoins.java
Labels: CLA Signed

#12021 Use list instead of map for bucket-to-node
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedBucketNodeMap.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedCountScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/NodePartitionMap.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/NodePartitioningManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SystemPartitioningHandle.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestFixedCountScheduler.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorNodePartitioningProvider.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorPartitioningHandle.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorSplitManager.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/metadata/DatabaseShardManager.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/metadata/ShardIterator.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/metadata/ShardManager.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/metadata/TestDatabaseShardManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorBucketNodeMap.java
Labels: CLA Signed

#12092 Remove unused PUBLIC token from parser
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
Labels: CLA Signed

#12100 Fix typo in variable name
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchLocalStats.java
Labels: CLA Signed

#12093 Fix a typo in the description of the bing_tile_at function
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileFunctions.java
Labels: CLA Signed

#12036 Fail loudly with corrupted Parquet statistics
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/HdfsParquetDataSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetDataSource.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetDataSourceId.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/Predicate.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/PredicateUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/TupleDomainParquetPredicate.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestTupleDomainParquetPredicate.java
Labels: CLA Signed

#12103 Fix ARRAY_DISTINCT wrong results on NULL and 0
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayDistinctFunction.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Labels: CLA Signed

#12110 Leave trace in logs when query is moved to RESERVED_POOL
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
Labels: CLA Signed

#12117 Change representation of EnforceSingleRowNode in EXPLAIN
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: CLA Signed

#12118 PlanFragmenter small refactorings
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Labels: CLA Signed

#12120 Add joda-to-java-time-bridge dependency in example connector
  presto-example-http/pom.xml
Labels: CLA Signed

#12112 Fix bug in ARRAY_INTERSECT
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayIntersectFunction.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Labels: CLA Signed

#12023 Remove PartitionedLookupSourceFactory specific methods from interface
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/HashBuildAndJoinBenchmark.java
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/HashBuildBenchmark.java
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/HashJoinBenchmark.java
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/JoinBridgeManager.java
  presto-main/src/main/java/com/facebook/presto/operator/LookupJoinOperatorFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/LookupJoinOperators.java
  presto-main/src/main/java/com/facebook/presto/operator/LookupSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/PartitionedLookupSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkHashBuildAndJoinOperators.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashJoinOperator.java
Labels: CLA Signed

#12084 Support lambda in aggregation functions
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionRegistry.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AccumulatorCompiler.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AccumulatorFactoryBinder.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AggregationMetadata.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/GenericAccumulatorFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/GenericAccumulatorFactoryBinder.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/InternalAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/LambdaProvider.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/LazyAccumulatorFactoryBinder.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ReduceAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/LambdaBytecodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#12105 Simplify BucketSplitInfo creation expression
  presto-hive/src/main/java/com/facebook/presto/hive/BackgroundHiveSplitLoader.java
Labels: CLA Signed

#12145 Report attempted allocation when memory limit exceeded
  presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java
  presto-main/src/main/java/com/facebook/presto/memory/DefaultQueryContext.java
  presto-main/src/main/java/com/facebook/presto/memory/LegacyQueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashAggregationOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOrderByOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestWindowOperator.java
Labels: CLA Signed

#12149 Fix Kudu build to not enable Javadoc by default
  presto-kudu/pom.xml
Labels: CLA Signed

#11984 Change ARRAY_INTERSECT to use TypedSet
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/TypedSet.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayIntersectFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestTypedSet.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/BenchmarkArrayIntersect.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Labels: CLA Signed
