Repository prestodb/presto, pull requests merged in 2018-08, with the labels that each got.

#11145 Remove unnecessary Lookup::resolve usage
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
Labels: CLA Signed

#11144 Make possible to overwrite default history path with env variable
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
Labels: CLA Signed

#11139 Expose debug port for Hadoop processes in product tests
  presto-product-tests/conf/docker/common/standard.yml
Labels: CLA Signed

#11138 Enable history for presto-cli.sh
  presto-product-tests/conf/docker/common/standard.yml
Labels: CLA Signed

#11153 Optimizing DependenciesChecker for TableScanNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
Labels: CLA Signed

#11097 Optimizing ValidateDependenciesChecker for JoinNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
Labels: CLA Signed

#11100 Disable aggregation pushdown through outer join if aggregation contai…
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushAggregationThroughOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
Labels: CLA Signed

#11127 Remove size limit for writing Hive bucketed sorted tables
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriterFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/TempFileWriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: CLA Signed

#11119 Append original error message to thrift connector remote exception
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/util/ThriftExceptions.java
Labels: CLA Signed

#11146 Fix cli history initialization
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
Labels: CLA Signed

#11132 Update units to 1.3
  pom.xml
Labels: CLA Signed

#11172 Add SpookyHashV2 hash functions
  pom.xml
  presto-docs/src/main/sphinx/functions/binary.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/VarbinaryFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestVarbinaryFunctions.java
Labels: CLA Signed

#10860 Inline only expressions for filters that contains only ininling targe…
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
Labels: CLA Signed

#10878 Update to Airbase 82
  pom.xml
Labels: CLA Signed

#11133 Skip currentConstraint field when serializing TableScanNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableScanNode.java
Labels: CLA Signed, ready-to-merge

#11030 Grow the batch size for OrcRecordReader from 1 row
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/TempFileReader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcPageSourceMemoryTracking.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkOrcDecimalReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestCachingOrcDataSource.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcLz4.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcReaderPositions.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/OrcStorageManager.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/ShardStats.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/OrcTestingUtil.java
Labels: CLA Signed

#11104 Cleanup legacy handling for TRY
  presto-main/src/main/java/com/facebook/presto/sql/gen/CursorProcessorCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/JoinFilterFunctionCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/LambdaBytecodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/LambdaExpressionExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/PageFunctionCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/PreGeneratedExpressions.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/RowExpressionCompiler.java
Labels: CLA Signed

#11180 Log the leaked queries at DEBUG level
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryLeakDetector.java
Labels: CLA Signed

#11157 Upgrade to esri-geometry-api version 2.2.0
  pom.xml
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestGeoFunctions.java
Labels: CLA Signed

#11183 Make sure to close scheduled executor in various tests
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorAssertion.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorMemoryRevocation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestingOperatorContext.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestGenericPartitioningSpiller.java
Labels: CLA Signed

#11116 Change java type of UNKNOWN from void to boolean
  presto-main/src/main/java/com/facebook/presto/metadata/PolymorphicScalarFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AbstractMinMaxAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/BlockUnknownState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/BooleanUnknownState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/DoubleUnknownState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/LongUnknownState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/SliceUnknownState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/TwoNullableValueStateMapping.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/UnknownAndBlockPositionStateSerializer.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/UnknownBooleanState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/UnknownDoubleState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/UnknownLongState.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayConstructor.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayContains.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayElementAtFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFilterFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayMaxFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayMinFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayPositionFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArraySubscriptOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/CastFromUnknownOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/FailureFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapElementAtFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapSubscriptOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/RepeatFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TryCastFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TryFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TypeOfFunction.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/BytecodeUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/NullIfCodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/RowConstructorCodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/RowExpressionCompiler.java
  presto-main/src/main/java/com/facebook/presto/type/UnknownOperators.java
  presto-main/src/main/java/com/facebook/presto/type/UnknownType.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestIsNullAnnotation.java
  presto-main/src/test/java/com/facebook/presto/type/AbstractTestType.java
  presto-main/src/test/java/com/facebook/presto/type/TestUnknownOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUnknownType.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/MethodHandleUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/Primitives.java
Labels: CLA Signed

#11192 correcting documentation for percent_rank window function return type
  presto-docs/src/main/sphinx/functions/window.rst
Labels: CLA Signed

#11207 Add missing word in "too many stages" error code
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Labels: CLA Signed

#11163 Fix bottleneck in InternalResourceGroup::internalGenerateCpuQuota
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
Labels: CLA Signed

#11067 Improve Stripe Size Estimation for SliceDictionaryColumnWriter
  presto-orc/src/main/java/com/facebook/presto/orc/ChainedSliceLoader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcOutputBuffer.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongOutputStream.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongOutputStreamDwrf.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongOutputStreamV1.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongOutputStreamV2.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/SliceDictionaryColumnWriter.java
Labels: CLA Signed

#11191 Make sure to free output buffer memory on task completion
  presto-main/src/main/java/com/facebook/presto/execution/buffer/ArbitraryOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/BroadcastOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/LazyOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/OutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/OutputBufferMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PartitionedOutputBuffer.java
  presto-main/src/main/java/com/facebook/presto/operator/PartitionedOutputOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestArbitraryOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestBroadcastOutputBuffer.java
  presto-main/src/test/java/com/facebook/presto/execution/buffer/TestPartitionedOutputBuffer.java
Labels: CLA Signed

#11215 Fix NPE in MemoryPool::getInfo()
  presto-main/src/main/java/com/facebook/presto/memory/MemoryPool.java
Labels: CLA Signed, RELEASE-BLOCKER

#11218 Fix memory accounting leak in AggregationOperator
  presto-main/src/main/java/com/facebook/presto/operator/AggregationOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TableWriterOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTableWriterOperator.java
Labels: CLA Signed

#11194 Remove unnecessary copies in PruneUnreferencedOutputs
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/Assignments.java
Labels: CLA Signed

#11171 Add the geometry_union_agg spatial aggregation function
  presto-geospatial/pom.xml
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoPlugin.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryState.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryStateFactory.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryStateSerializer.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryUnionAgg.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryStateFactory.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryStateSerializer.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryUnionAgg.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AggregationTestUtils.java
Labels: CLA Signed

#11222 Don't poll/update the coordinator memory pools if not necessary
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
Labels: CLA Signed

#11182 Move tagged memory allocations on memory pool update
  presto-main/src/main/java/com/facebook/presto/memory/LegacyQueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestQueryContext.java
Labels: CLA Signed

#11238 Fix the race between close and destroy in the Driver
  presto-main/src/main/java/com/facebook/presto/operator/Driver.java
  presto-main/src/test/java/com/facebook/presto/operator/TestDriver.java
Labels: CLA Signed

#11234 Fix information schema predicate pushdown for views
  presto-main/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-main/src/test/java/com/facebook/presto/connector/MockConnectorFactory.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestInformationSchemaMetadata.java
  presto-tests/src/test/java/com/facebook/presto/connector/informationschema/BenchmarkInformationSchema.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestMetadataManager.java
Labels: CLA Signed

#11246 Log queryId when a small stripe get MAX_BYTES flush
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriter.java
Labels: CLA Signed

#11136 Remove duplicate method
  presto-main/src/main/java/com/facebook/presto/sql/planner/DomainTranslator.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/LogicalBinaryExpression.java
Labels: CLA Signed, ready-to-merge

#11137 Report SemanticException for invalid TIME literal
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/util/DateTimeUtils.java
  presto-main/src/test/java/com/facebook/presto/type/TestTimeBase.java
  presto-main/src/test/java/com/facebook/presto/type/TestTimestampBase.java
Labels: CLA Signed

#11236 Refactor BooleanInputStream
  presto-orc/src/main/java/com/facebook/presto/orc/stream/BooleanInputStream.java
Labels: CLA Signed

#10988 Add memory tracking for StreamReader local buffers
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DecimalStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcReaderMemoryUsage.java
Labels: CLA Signed

#11255 Fix formatting in PushAggregationThroughOuterJoin
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
Labels: CLA Signed

#11260 Rename pre-existing FunctionInvoker to InterpretedFunctionInvoker
  presto-main/src/main/java/com/facebook/presto/cost/StatsUtil.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapSubscriptOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/InterpretedFunctionInvoker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/DomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LiteralInterpreter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
Labels: CLA Signed

#11147 Update documentation about link to query's JSON
  presto-docs/src/main/sphinx/admin/web-interface.rst
Labels: CLA Signed

#11049 Implement EXPLAIN (TYPE IO, FORMAT JSON) statement
  presto-docs/src/main/sphinx/sql/explain.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExplainFormat.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExplainType.java
  presto-spi/src/main/java/com/facebook/presto/spi/CatalogSchemaTableName.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
Labels: CLA Signed

#11123 Use names to map struct field to underlying data in ORC
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStructStreamReader.java
Labels: CLA Signed

#11282 Use catalog field instead of hardcoded catalog
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#11212 Fix handling of Object type in annotation-based scalar
  presto-main/src/main/java/com/facebook/presto/operator/scalar/annotations/ParametricScalarImplementation.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestBlockAndPositionNullConvention.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestScalarParser.java
Labels: CLA Signed

#11261 Fix delay in sending noMoreSplits for scan node in colocated join
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
Labels: CLA Signed

#11275 Add convex_hull_agg function
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoPlugin.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/ConvexHullAggregation.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/AbstractTestGeoAggregationFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryConvexHullGeoAggregation.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryUnionGeoAggregation.java
  presto-geospatial/src/test/resources/1000_points.txt
Labels: CLA Signed

#11284 Document geometry_union_agg function
  presto-docs/src/main/sphinx/functions/geospatial.rst
Labels: CLA Signed

#11273 Fix EmptySplit handling during bucket-by-bucket execution
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/NodePartitioningManager.java
Labels: CLA Signed

#11248 Add MockConnectorFactory.Builder to simplify construction
  presto-main/src/test/java/com/facebook/presto/connector/MockConnectorFactory.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestInformationSchemaMetadata.java
  presto-tests/src/test/java/com/facebook/presto/connector/informationschema/BenchmarkInformationSchema.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestMetadataManager.java
Labels: CLA Signed

#11291 Update docs with new memory-related configs
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: CLA Signed

#11178 Add bing_tiles_around variant taking radius in kilometers
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/BenchmarkBingTilesAround.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestBingTileFunctions.java
Labels: CLA Signed

#10979 Add block compact test cases
  presto-main/src/test/java/com/facebook/presto/block/AbstractTestBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestArrayBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestByteArrayBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestFixedWidthBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestIntArrayBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestLongArrayBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestMapBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestRowBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestShortArrayBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestVariableWidthBlock.java
Labels: CLA Signed

#11297 Fix incorrect predicate pushdown through empty grouping set
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/test/java/com/facebook/presto/sql/query/TestGroupingSets.java
Labels: CLA Signed

#11286 Remove CoefficientBasedStatsCalculator
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/CoefficientBasedStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/SelectingStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculatorModule.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
Labels: CLA Signed

#11300 Update to ASM 6.2.1 and bytecode 1.1
  pom.xml
  presto-main/src/main/java/com/facebook/presto/sql/gen/InCodeGenerator.java
Labels: CLA Signed

#11290 Respect X-Forwarded-Proto header in / endpoint
  presto-main/src/main/java/com/facebook/presto/server/WebUiResource.java
Labels: CLA Signed

#11314 Add workaround for Mac JDK IPv6 bug for CLI and JDBC
  presto-cli/src/main/java/com/facebook/presto/cli/QueryRunner.java
  presto-client/src/main/java/com/facebook/presto/client/SocketChannelSocketFactory.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriver.java
Labels: CLA Signed

#11320 Fix data loss when writing sorted Hive tables
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#11325 Add WorkProcessor#transformProcessor and dispose unused resources
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessor.java
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessorUtils.java
Labels: CLA Signed

#11175 Remove TableScanNode originalConstraint
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DesugarAtTimeZone.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DesugarLambdaExpression.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableScanColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyExpressions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/BeginTableWrite.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableScanNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestPhasedExecutionSchedule.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/TableScanMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCanonicalizeExpressions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: CLA Signed

#11340 Make HiveClientConfig.resourceConfigFiles non-nullable
  presto-hive/src/main/java/com/facebook/presto/hive/HdfsConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: CLA Signed

#11249 Add Hive connector procedure call to create empty partition
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnector.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveProcedureModule.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#11345 Fix handling of thread interruption in JDBC driver
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoResultSet.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
Labels: CLA Signed

#10881 Add per table column_ranges system table in Raptor
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorMetadata.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/systemtables/ColumnRangesSystemTable.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/TestRaptorIntegrationSmokeTest.java
Labels: CLA Signed

#11351 Fix Hive smoke test when running in parallel
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#11360 Replace usage of deprecated TreeTraverser
  presto-parser/src/main/java/com/facebook/presto/sql/util/AstUtils.java
Labels: CLA Signed

#11384 Add missing column to verifier SQL documentation
  presto-docs/src/main/sphinx/installation/verifier.rst
Labels: CLA Signed

#11347 Rename connectorId to catalogName in SPI
  presto-accumulo/src/main/java/com/facebook/presto/accumulo/AccumuloConnectorFactory.java
  presto-atop/src/main/java/com/facebook/presto/atop/AtopConnectorFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnectorFactory.java
  presto-blackhole/src/main/java/com/facebook/presto/plugin/blackhole/BlackHoleConnectorFactory.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraConnectorFactory.java
  presto-docs/src/main/sphinx/develop/example-http.rst
  presto-example-http/src/main/java/com/facebook/presto/example/ExampleConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-jmx/src/main/java/com/facebook/presto/connector/jmx/JmxConnectorFactory.java
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaConnectorFactory.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduConnectorFactory.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduModule.java
  presto-local-file/src/main/java/com/facebook/presto/localfile/LocalFileConnectorFactory.java
  presto-main/src/main/java/com/facebook/presto/connector/system/GlobalSystemConnectorFactory.java
  presto-main/src/test/java/com/facebook/presto/connector/MockConnectorFactory.java
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryConnectorFactory.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoConnectorFactory.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorConnectorFactory.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisConnectorFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryInputMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryOutputMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/tpch/IndexedTpchConnectorFactory.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestBeginQuery.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestEventListener.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchConnectorFactory.java
Labels: CLA Signed

#11359 Use Optional instead of nullable Principal in access control SPI
  presto-main/src/main/java/com/facebook/presto/security/AccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/DenyAllAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/ReadOnlySystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Labels: CLA Signed

#11287 Ensure global stream partitioning contains node partitioning columns
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
Labels: CLA Signed

#11394 Remove extra HdfsConfiguration#getConfiguration method
  presto-hive/src/main/java/com/facebook/presto/hive/HdfsConfiguration.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveHdfsConfiguration.java
  presto-hive/src/main/java/com/facebook/presto/hive/authentication/AuthenticationModules.java
  presto-hive/src/main/java/com/facebook/presto/hive/authentication/KerberosHadoopAuthentication.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/ConfigurationUtils.java
Labels: CLA Signed

#11402 Rename BASIC_SQL test group to HIVE_PARTITIONING
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHivePartitionsTable.java
Labels: CLA Signed

#11346 Fix queries against information_schema with uppercase names
  presto-main/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#11400 Return a constructed exception from utility method instead of throwing it
  presto-hive/src/main/java/com/facebook/presto/hive/util/HiveFileIterator.java
Labels: CLA Signed

#11404 Format pom.xml files
  pom.xml
  presto-main/pom.xml
  presto-product-tests/pom.xml
Labels: CLA Signed

#11405 Refactor avro tests
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#11401 Remove user cpu time tracking
  presto-client/src/main/java/com/facebook/presto/client/StageStats.java
  presto-client/src/main/java/com/facebook/presto/client/StatementStats.java
  presto-docs/src/main/sphinx/rest/query.rst
  presto-docs/src/main/sphinx/rest/statement.rst
  presto-docs/src/main/sphinx/rest/task.rst
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/QueryStats.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/StageStats.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestProgressMonitor.java
  presto-main/src/main/java/com/facebook/presto/connector/system/TaskSystemTable.java
  presto-main/src/main/java/com/facebook/presto/event/query/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStats.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverContext.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorContext.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/resources/webapp/assets/query.js
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestDriverStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPipelineStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/SystemConnectorTests.java
  presto-product-tests/src/main/resources/sql-tests/testcases/system/selectInformationSchemaColumns.result
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/SplitStatistics.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Labels: CLA Signed

#11397 Use HadoopKerberosName#setConfiguration to setup auth_to_local rules
  presto-hive/src/main/java/com/facebook/presto/hive/authentication/KerberosHadoopAuthentication.java
Labels: CLA Signed

#11399 Remove unused builder from PrincipalPrivileges
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/PrincipalPrivileges.java
Labels: CLA Signed

#11398 Add test for FileSystem caching
  presto-hive/src/test/java/com/facebook/presto/hive/TestFileSystemCache.java
Labels: CLA Signed
