Repository prestodb/presto, pull requests merged in 2019-12, with the labels that each got.

#13766 Add support for column names with hyphen to SubfieldTokenizer
  presto-spi/src/main/java/com/facebook/presto/spi/SubfieldTokenizer.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestSubfieldTokenizer.java
Labels: aria

#13765 Fix slice size overflow in DictionaryBlock.getIds()
  presto-spi/src/main/java/com/facebook/presto/spi/block/BlockFlattener.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/DictionaryBlock.java
Labels: aria

#13769 Fix materialized exchange planning with filter pushdown
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/Partitioning.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
Labels: aria

#13779 Add support for column names with slashes to SubfieldTokenizer
  presto-spi/src/main/java/com/facebook/presto/spi/SubfieldTokenizer.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestSubfieldTokenizer.java
Labels: aria

#13782 Use LazyBlock for columns with no filters
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
Labels: aria

#13790 Make subfield name matching case insensitive
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Labels: aria

#13792 Create NestedField using lowercase field name
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: aria

#10568 Add IGNORE NULLS clause to various Window functions
  presto-docs/src/main/sphinx/functions/window.rst
  presto-main/src/main/java/com/facebook/presto/operator/WindowFunctionDefinition.java
  presto-main/src/main/java/com/facebook/presto/operator/window/AbstractWindowFunctionSupplier.java
  presto-main/src/main/java/com/facebook/presto/operator/window/AggregateWindowFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/FirstValueFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/LagFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/LastValueFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/LeadFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/NthValueFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/window/ReflectionWindowFunctionSupplier.java
  presto-main/src/main/java/com/facebook/presto/operator/window/WindowAnnotationsParser.java
  presto-main/src/main/java/com/facebook/presto/operator/window/WindowFunctionSupplier.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/WindowNode.java
  presto-main/src/test/java/com/facebook/presto/operator/window/TestFirstValueFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/window/TestLagFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/window/TestLastValueFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/window/TestLeadFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/window/TestNthValueFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeAdjacentWindows.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneWindowColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSwapAdjacentWindowsBySpecifications.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestVerifyNoOriginalExpression.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/FunctionCall.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/ValueWindowFunction.java
Labels: CLA Signed

#13785 Fix flaky test TestRetryDriver
  presto-verifier/src/test/java/com/facebook/presto/verifier/retry/TestRetryDriver.java
Labels: verifier

#13808 Fix pushdown for filters on multiple subfields of a struct
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
Labels: aria

#13841 Populate basic query info for skipped events in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/QueryInfo.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/VerifierQueryEvent.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerification.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerificationManager.java
Labels: verifier

#13839 Enable subfield pruning to pass through arbitrary() function
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: aria

#13806 Fix NaN comparison
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilterUtils.java
Labels: aria

#11262 Merge partition preference when adding exchange nodes
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/Partitioning.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PreferredProperties.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlans.java
Labels: CLA Signed

#13884 Fix requiredField logic in StructSelectiveStreamReader
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Labels: aria

#13888 Cache optimized RowExpression predicate
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
Labels: aria
