Repository prestodb/presto, pull requests merged in 2019-06, with the labels that each got.

#12874 Update properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: CLA Signed

#12897 override hashcode and equals in FunctionMetadata
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionMetadata.java
Labels: CLA Signed

#12840 Make StageScheduler notify all tasks are scheduled
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedCountScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
Labels: CLA Signed

#12823 [GeoSpatial] Add xxHash64 operator to Bing Tiles
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileOperators.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestBingTileFunctions.java
Labels: CLA Signed

#12902 Change jar version to work with branch based release model
  pom.xml
Labels: CLA Signed

#12904 Add Experimental annotation in SPI
  presto-spi/src/main/java/com/facebook/presto/spi/api/Experimental.java
Labels: CLA Signed

#12910 Replace all apiNote with Experimental annotation in SPI
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/FunctionHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/PredicateCompiler.java
Labels: CLA Signed

#12903 Limit the number of concurrent plan sections
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: CLA Signed

#12881 Add RowExpressionSymbolInliner
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionSymbolInliner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionSymbolInliner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionSymbolInliner.java
Labels: CLA Signed

#12896 Avoid using containsAll for tasks in SqlStageExecution
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
Labels: CLA Signed

#12919 Throw exceptions for unsupported scalar function annotation
  presto-main/src/main/java/com/facebook/presto/operator/scalar/annotations/ScalarImplementationHeader.java
Labels: CLA Signed

#12925 Rename LogicalRowExpressions::TRUE/FALSE to TRUE/FALSE_CONSTANT
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestBackgroundHiveSplitLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplit.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionDomainTranslator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionDomainTranslator.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/LogicalRowExpressions.java
Labels: CLA Signed

#12937 Fix checkArgument message in AggregationMetadata
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AggregationMetadata.java
Labels: CLA Signed

#12931 Add release notes for 0.221
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.221.rst
Labels: CLA Signed

#12888 Add bitwise shift operations
  presto-docs/src/main/sphinx/functions/bitwise.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/BitwiseFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestBitwiseFunctions.java
Labels: CLA Signed

#12947 Inline SymbolToSymbolTranslator
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SymbolToSymbolTranslator.java
Labels: CLA Signed

#12926 Add PushdownSubfields optimizer rule
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestJsonHiveHandles.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnHandle.java
Labels: CLA Signed, aria

#12953 Create correct identity translation for PropertyDeriviations
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
Labels: CLA Signed

#12958 Reduce visibility of HivePageSource methods
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSource.java
Labels: CLA Signed, aria

#12934 Support grouped execution for eligible table scans
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: CLA Signed

#12936 Enable tuple domain extraction for subfields
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSubfieldExtractor.java
Labels: CLA Signed, aria

#12969 Remove TODO in TranslateExpressions
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/TranslateExpressions.java
Labels: CLA Signed

#12951 Increase methods visibility in AbstractTestHiveClient
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#12975 Minor cleanups to Metadata SPI
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTableFinishOperator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: CLA Signed

#12979 Remove unused SymbolsExtractor::extractUniqueVariable
  presto-main/src/main/java/com/facebook/presto/sql/planner/SymbolsExtractor.java
Labels: CLA Signed

#12968 Fix type mismatch in AddExchanges.Rewriter.visitUnnest
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: CLA Signed, RELEASE-BLOCKER

#12977 Avoid binding to hive catalog in TestHiveIntegrationSmokeTest
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#12973 Backport information_schema should not fail for illegal storage format
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/StorageFormat.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#12974 Allow configuring the Glue catalog id
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastoreConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueHiveMetastoreConfig.java
Labels: CLA Signed

#12938 [Hive Connector] Convert TupleDomain into executable filter
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/ByteArrayUtils.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilterUtils.java
Labels: CLA Signed, aria

#12992 Use getLocationService() for AbstractTestHiveClient
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#12995 Improve testIllegalStorageFormatDuringTableScan
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#12993 Add empty Hive connector plan optimizer
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnector.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HivePlanOptimizerProvider.java
Labels: CLA Signed, ready-to-merge

#12976 Update drift to com.facebook.drift 1.19
  pom.xml
  presto-docs/pom.xml
  presto-thrift-connector-api/pom.xml
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftBlock.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftColumnMetadata.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftDomain.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftHostAddress.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftId.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftNullableColumnSet.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftNullableSchemaName.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftNullableTableMetadata.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftNullableToken.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftPageResult.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftSchemaTableName.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftService.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftServiceException.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftSplit.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftSplitBatch.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftTableMetadata.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/PrestoThriftTupleDomain.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftBigint.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftBigintArray.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftBoolean.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftDate.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftDouble.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftHyperLogLog.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftInteger.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftJson.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftTimestamp.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/datatypes/PrestoThriftVarchar.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/valuesets/PrestoThriftAllOrNoneValueSet.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/valuesets/PrestoThriftEquatableValueSet.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/valuesets/PrestoThriftRangeValueSet.java
  presto-thrift-connector-api/src/main/java/com/facebook/presto/connector/thrift/api/valuesets/PrestoThriftValueSet.java
  presto-thrift-connector/pom.xml
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorFactory.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftConnectorIndex.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftIndexPageSource.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftIndexProvider.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftMetadata.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftModule.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftPageSource.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftPageSourceProvider.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftPluginInfo.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftSplitManager.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/location/ExtendedSimpleAddressSelector.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/location/ExtendedSimpleAddressSelectorBinder.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/util/ThriftExceptions.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/ThriftQueryRunner.java
  presto-thrift-testing-server/pom.xml
  presto-thrift-testing-server/src/main/java/com/facebook/presto/connector/thrift/server/ThriftTpchServer.java
  presto-thrift-testing-server/src/main/java/com/facebook/presto/connector/thrift/server/ThriftTpchServerModule.java
Labels: CLA Signed

#12985 add example of UNNEST for a MAP column to docs
  presto-docs/src/main/sphinx/sql/select.rst
Labels: CLA Signed

#13012 Restore d3.js for timeline view
  presto-main/src/main/resources/webapp/vendor/d3/LICENSE.txt
  presto-main/src/main/resources/webapp/vendor/d3/d3-3.3.4.js
Labels: CLA Signed

#12952 Adding long polling for task info
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
Labels: CLA Signed

#13017 Unify PlanBuilder::join with only RowExpression
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestExtractSpatialLeftJoin.java
  presto-main/src/test/java/com/facebook/presto/cost/TestJoinStatsRule.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCanonicalizeExpressions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestDetermineJoinDistributionType.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestJoinNodeFlattener.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneJoinChildrenColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushPartialAggregationThroughJoin.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReorderJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: CLA Signed

#13018 Fix a typo in the description of a session property
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
Labels: CLA Signed

#13029 Lazily construct error message for CheckState
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Labels: CLA Signed

#13031 Support multibyte character in data_format function
  presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
Labels: CLA Signed

#13020 Do not throw when exception happens in JdbcPageSink::abort
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
Labels: CLA Signed
