Repository prestodb/presto, pull requests merged in 2019-05, with the labels that each got.

#12560 Replace WindowNode::FunctionCall with CallExpression
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneWindowColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/TranslateExpressions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowNodeUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/WindowNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/TypeValidator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/WindowFunctionMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeAdjacentWindows.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneWindowColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSwapAdjacentWindowsBySpecifications.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
Labels: CLA Signed, planner

#12750 Allow failure resolver to be disabled in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerification.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierConfig.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerifierConfig.java
Labels: CLA Signed

#12755 Treat comparison failures in array_sort as INVALID_FUNCTION_ARGUMENT
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArraySortFunction.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
Labels: CLA Signed

#10843 Fix varchar column display size
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/ColumnInfo.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcResultSet.java
Labels: CLA Signed

#12724 Fix equality inference for VARCHAR predicates
  presto-main/src/main/java/com/facebook/presto/sql/planner/NullabilityAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
Labels: CLA Signed

#12572 Add support for filters that depend on no columns or on constant columns
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcPageSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestAriaHiveDistributedQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/BooleanInputStream.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDwrfDictionaries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
Labels: CLA Signed, aria

#12719 Enforce number of tasks per stage limit for grouped execution
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedBucketNodeMap.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#12772 Avoid statically importing TupleDomain.{none, all}
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
Labels: CLA Signed

#12777 Handle inList with null for FilterStatsCalculator
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsUtil.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculator.java
Labels: CLA Signed, RELEASE-BLOCKER, planner

#12754 Improve OrcWriter by estimating page logical size
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriter.java
Labels: CLA Signed

#12628 Replace SpatialJoinNode::Expression with RowExpression
  presto-main/src/main/java/com/facebook/presto/cost/SpatialJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSpatialJoins.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/TranslateExpressions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/SpatialJoinNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/main/java/com/facebook/presto/util/SpatialJoinUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/SpatialJoinMatcher.java
Labels: CLA Signed, planner

#12707 Add STRRPOS and modify STRPOS functions as per syntax
  presto-docs/src/main/sphinx/functions/string.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
  presto-product-tests/src/main/resources/sql-tests/testcases/string_functions/checkStringFunctionsRegistered.result
Labels: CLA Signed

#12783 Print arithmetic and comparison expressions in human-readable format.
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/RowExpressionFormatter.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionFormatter.java
Labels: CLA Signed

#12788 Revert "Trigger bucket balancer after cluster restart"
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/BucketBalancer.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestBucketBalancer.java
Labels: CLA Signed

#12793 Reorder the lookup RecordSet in ThriftIndexedTpchService
  presto-tests/src/main/java/com/facebook/presto/tests/tpch/TpchIndexedData.java
  presto-thrift-testing-server/src/main/java/com/facebook/presto/connector/thrift/server/ThriftIndexedTpchService.java
Labels: CLA Signed

#12690 Make max error in approx_set tunable
  presto-docs/src/main/sphinx/functions/hyperloglog.rst
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ApproximateCountDistinctAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ApproximateSetAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/HyperLogLogUtils.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/MergeHyperLogLogAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/HyperLogLogFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestHyperLogLogUtils.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/CreateHll.java
Labels: CLA Signed

#12811 Fix TestOrcPageSourceMemoryTracking
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcPageSourceMemoryTracking.java
Labels: CLA Signed, aria

#12810 Move LogicalRowExpressions to SPI
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SortExpressionExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionDomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/util/SpatialJoinUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionDomainTranslator.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestLogicalRowExpressions.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/LogicalRowExpressions.java
Labels: CLA Signed

#12812 Add release notes for 0.220
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.220.rst
Labels: CLA Signed

#12827 Fix HiveQueryRunner.createBucketedSession
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
Labels: CLA Signed

#12809 Support exchange materialization for union node
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: CLA Signed

#12825 Minor Bugfix to Doc of BlockBuilder's closeEntry
  presto-spi/src/main/java/com/facebook/presto/spi/block/BlockBuilder.java
Labels: CLA Signed

#12800 Add TableCommitContext for TableWriterOperator and DeleteOperator
  presto-main/src/main/java/com/facebook/presto/operator/DeleteOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TableCommitContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TableWriterOperator.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/BeginTableWrite.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableWriterNode.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTableWriterOperator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: CLA Signed

#7380 Fix overflowed CLI progress bar for long running queries
  presto-cli/src/main/java/com/facebook/presto/cli/StatusPrinter.java
Labels: CLA Signed

#12831 Use factory methods for ScheduleResult
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedCountScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/ScaledWriterScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/ScheduleResult.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
Labels: CLA Signed

#12839 Cleanup temporary table on rollback
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: CLA Signed

#12838 Move checkstyle checks to Presto
  pom.xml
  src/checkstyle/presto-checks.xml
Labels: CLA Signed

#12820 Compare OrderingScheme with OrderBy in AggregationFunctionMatcher
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/AggregationFunctionMatcher.java
Labels: CLA Signed

#12842 Support synthetic column names in Subfield
  presto-spi/src/main/java/com/facebook/presto/spi/SubfieldTokenizer.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestSubfieldTokenizer.java
Labels: CLA Signed

#12768 Entropy UDF
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionNamespace.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/EntropyAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/EntropyState.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestEntropyAggregation.java
Labels: CLA Signed

#12844 Fix race condition in the SqlQueryScheduler
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#12845 Fix a time format string in the tests.
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
Labels: CLA Signed

#12744 Use primitive double in RemoteTaskStats#IncrementalAverage
  presto-main/src/main/java/com/facebook/presto/server/remotetask/RemoteTaskStats.java
Labels: CLA Signed

#12853 Fix 0.220 release notes header
  presto-docs/src/main/sphinx/release/release-0.220.rst
Labels: CLA Signed

#12859 Improve InternalHiveSplit memory usage estimate
  presto-hive/src/main/java/com/facebook/presto/hive/InternalHiveSplit.java
Labels: CLA Signed

#12682 Simplify table scan node collection in PlanFragment
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskExecutionFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/PhasedExecutionSchedule.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
Labels: CLA Signed

#12856 Eliminate negation in logical expressions
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionDomainTranslator.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestLogicalRowExpressions.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/LogicalRowExpressions.java
Labels: CLA Signed

#12596 Clarify the docs for numeric_histogram
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: CLA Signed

#12876 Upgrade to testing-mysql-server 8.0.12-4
  pom.xml
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestMySql.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
Labels: CLA Signed

#12786 Classification Metric UDFs
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionNamespace.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ClassificationMissRateAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ClassificationPrecisionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ClassificationRecallAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ClassificationThresholdsAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/FixedDoubleHistogram.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/PrecisionRecallAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/PrecisionRecallState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/PrecisionRecallStateFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/PrecisionRecallStateSerializer.java
  presto-main/src/test/java/com/facebook/presto/operator/TestClassificationMissRateAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestClassificationPrecisionAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestClassificationRecallAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestClassificationThresholdAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestFixedDoubleHistogram.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPrecisionRecallAggregation.java
Labels: CLA Signed

#12736 Move subfields information to tablescan
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionNamespace.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/FilterBySubscriptPathsFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/RowFilterBySubscriptPathsFunction.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneTableScanColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushdownSubfieldsIntoConnector.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/BeginTableWrite.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableScanNode.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: CLA Signed, aria

#12878 Small refactor to PlanFragment
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
Labels: CLA Signed

#12873 Minor refactor to SourcePartitionedScheduler
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
Labels: CLA Signed
