Repository prestodb/presto, pull requests merged in 2019-11, with the labels that each got.

#13627 Fix SliceSelectiveReader comparison for empty strings and presentStream
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Labels: CLA Signed, aria

#13612 Add geospatial function line_interpolate_point
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/GeometryUtils.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestGeoFunctions.java
Labels: CLA Signed

#13646 Add JSON annotations to SqlFunctionId
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlFunctionId.java
Labels: CLA Signed, RELEASE-BLOCKER

#13633 Fix outputPositions in List- and MapFlatSelectiveStreamReader in case of all null values
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
Labels: CLA Signed, aria

#13405 Reduce the identifier length in generated code for nested columns
  presto-main/src/main/java/com/facebook/presto/sql/gen/SqlTypeBytecodeExpression.java
  presto-main/src/test/java/com/facebook/presto/block/BlockAssertions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-spi/src/main/java/com/facebook/presto/spi/InMemoryRecordSet.java
Labels: CLA Signed

#13645 Fix GeometryToBingTiles for certain geometries
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestBingTileFunctions.java
Labels: CLA Signed

#13609 Fix double and float NaN comparisons
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilterUtils.java
Labels: CLA Signed, aria

#13652 fix organizationDiscoveryIntervalMillis bug
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/organization/ShardOrganizationManager.java
Labels: CLA Signed

#13654 Revert "Add non-linear transformation for structural hash"
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayHashCodeOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapHashCodeOperator.java
  presto-main/src/test/java/com/facebook/presto/block/BlockAssertions.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestChecksumAggregation.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/ArrayType.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/HashUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/MapType.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/RowType.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestRepartitionQueries.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
Labels: CLA Signed, RELEASE-BLOCKER

#13647 Output verifier events for queries being skipped by pre-filters
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/VerifierQueryEvent.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerification.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/SkippedReason.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerificationManager.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerificationManager.java
Labels: CLA Signed

#13591 Add TestHivePushdownDistributedQueries
  .travis.yml
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownDistributedQueries.java
Labels: CLA Signed, aria

#13653 Fix PRESTO_EXTRA_CREDENTIAL parsing
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/test/java/com/facebook/presto/server/TestHttpRequestSessionContext.java
Labels: CLA Signed

#13658 Reset values after getBlock in LongSelectiveStreamReader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractLongSelectiveStreamReader.java
Labels: aria

#13655 Fix selective readers to make a copy of input positions
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractLongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ShortDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampSelectiveStreamReader.java
Labels: CLA Signed, aria

#13666 Do not prune subfields when filter uses entire column
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
Labels: aria

#13675 Fix filter pushdown for non-partitioned tables
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
Labels: aria

#13603 Optimize ByteSelectiveStreamReader when reading contiguous rows with no nulls and no filter
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/ByteInputStream.java
Labels: CLA Signed, aria

#13691 Enable testGroupByKeyPredicatePushdown with filter pushdown
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownDistributedQueries.java
Labels: aria

#13689 Fix subfield pruning for legacy unnest
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: aria

#13684 Add support for bucket adaptation
  presto-hive/src/main/java/com/facebook/presto/hive/BucketAdaptation.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveBucketing.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientInMemoryMetastoreWithFilterPushdown.java
Labels: aria

#13676 Add support for scanning RC files within an ORC table
  presto-hive/src/main/java/com/facebook/presto/hive/FilteringPageSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcBatchPageSourceMemoryTracking.java
Labels: aria

#13705 Fix filter pushdown for DELETE queries
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownIntegrationSmokeTest.java
  presto-kudu/src/main/java/com/facebook/presto/kudu/KuduMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: aria

#13703 Run filters without inputs first in OrcSelectiveStreamReader
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcds.java
Labels: aria

#13715 Skip map entries with null keys
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
Labels: aria

#13716 Fix Values are too large error message
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectBatchStreamReader.java
Labels: aria

#13719 Fix StructReader outputPositions copied from nested streams
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Labels: aria

#13651 Make commitPartition an async operation
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveStagingFileCommitter.java
  presto-hive/src/main/java/com/facebook/presto/hive/StagingFileCommitter.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTableFinishOperator.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: CLA Signed

#13644 Introduce caching file system
  pom.xml
  presto-cache/pom.xml
  presto-cache/src/main/java/com/facebook/presto/cache/CacheConfig.java
  presto-cache/src/main/java/com/facebook/presto/cache/CacheManager.java
  presto-cache/src/main/java/com/facebook/presto/cache/CacheStats.java
  presto-cache/src/main/java/com/facebook/presto/cache/CachingFileSystem.java
  presto-cache/src/main/java/com/facebook/presto/cache/CachingInputStream.java
  presto-cache/src/main/java/com/facebook/presto/cache/FileReadRequest.java
  presto-cache/src/main/java/com/facebook/presto/cache/ForCachingFileSystem.java
  presto-cache/src/main/java/com/facebook/presto/cache/LocalRangeCacheManager.java
  presto-cache/src/main/java/com/facebook/presto/cache/NoOpCacheManager.java
  presto-cache/src/test/java/com/facebook/presto/cache/TestCacheConfig.java
  presto-cache/src/test/java/com/facebook/presto/cache/TestLocalRangeCacheManager.java
  presto-raptor/pom.xml
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/HdfsModule.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/RaptorCachingHdfsConfiguration.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/RaptorHiveHdfsConfiguration.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/RaptorQueryRunner.java
Labels: CLA Signed

#13723 Fix size type when calculating retained size.
  presto-main/src/main/java/com/facebook/presto/operator/repartition/DecodedBlockNode.java
Labels: aria

#13727 Rename session variable to be more specific
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
Labels: aria

#13725 Add support for filter functions on columns with coercions
  presto-hive-hadoop2/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HiveCoercer.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
Labels: aria

#13283 imported combinations function from prestosql, complete with tests an…
  presto-docs/src/main/sphinx/functions/array.rst
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayCombinationsFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayCombinationsFunction.java
Labels: CLA Signed

#13754 Fix filter pushdown for always-true range filter on a boolean column
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionDomainTranslator.java
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/SortedRangeSet.java
Labels: aria
