Repository prestodb/presto, pull requests merged in 2019-07, with the labels that each got.

#13028 Add documentation on how to use `USING`
  presto-docs/src/main/sphinx/sql/select.rst
Labels: CLA Signed

#13039 Upgrade to testing-mysql-server 8.0.12-5
  pom.xml
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestMySql.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
Labels: CLA Signed

#12960 Move translateExpressions below HashGenerationOptimizer
  presto-benchmark/pom.xml
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/AbstractOperatorBenchmark.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/Expressions.java
  presto-main/src/main/java/com/facebook/presto/type/TypeUtils.java
Labels: CLA Signed

#13042 Move histogram tests to the right package
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestFixedDoubleHistogram.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestPrecisionRecallAggregation.java
Labels: CLA Signed

#13026 Add CNF/DNF conversion methods to LogicalRowExpressions
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestLogicalRowExpressions.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/LogicalRowExpressions.java
Labels: CLA Signed

#13052 Remove ValuesNode verification in ApplyConnectorOptimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Labels: CLA Signed, RELEASE-BLOCKER

#13054 Remove unused import in ApplyConnectorOptimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Labels: CLA Signed

#13051 Move RowExpressionNodeInliner to SPI
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionVariableInliner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionRewriter.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/RowExpressionNodeInliner.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/RowExpressionRewriter.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/RowExpressionTreeRewriter.java
Labels: CLA Signed, aria

#13058 Fix scalar function example doc
  presto-docs/src/main/sphinx/develop/functions.rst
Labels: CLA Signed

#13043 Support table property override in QueryRewriter
  presto-verifier/src/main/java/com/facebook/presto/verifier/PrestoVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/QueryRewriter.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifyCommand.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestQueryRewriter.java
Labels: CLA Signed

#13070 Make HiveQueryRunner logging succinct
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
Labels: CLA Signed

#13073 Fix long-to-int cast in LiteralInterpreter
  presto-main/src/main/java/com/facebook/presto/sql/planner/LiteralInterpreter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionFormatter.java
Labels: CLA Signed, RELEASE-BLOCKER

#13071 Fix variable name in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/PrestoVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/QueryRewriter.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifyCommand.java
Labels: CLA Signed

#13082 Disable PushdownSubfields rule
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: CLA Signed, RELEASE-BLOCKER

#13083 Improve error message when $bucket column is not available
  presto-hive/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#13086 Upgrade kafka version 1.1.1
  pom.xml
  presto-kafka/pom.xml
  presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaSplitManager.java
  presto-kafka/src/test/java/com/facebook/presto/kafka/util/EmbeddedKafka.java
Labels: CLA Signed

#13089 Fix hardcoded catalog name in testIgnoreTableBucketing()
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#13084 Fix bitwise operations documentation
  presto-docs/src/main/sphinx/functions/bitwise.rst
Labels: CLA Signed

#13101 Make BlockFlattener tests single threaded
  presto-spi/src/test/java/com/facebook/presto/spi/block/TestBlockFlattenner.java
Labels: CLA Signed

#13100 Add release notes for 0.222
  presto-docs/src/main/sphinx/conf.py
  presto-docs/src/main/sphinx/ext/pr.py
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.222.rst
Labels: CLA Signed

#13078 IN predicate for strings
  presto-orc/src/main/java/com/facebook/presto/orc/ByteArrayUtils.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestTupleDomainFilterUtils.java
Labels: CLA Signed, aria

#13110 Secure nextUri with a slug
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/StatementResource.java
Labels: CLA Signed

#13117 Fix accidental removal nested type only cast
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#13072 Add support for partition and hidden columns to OrcSelectivePageSource
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
Labels: CLA Signed, aria

#13123 Fix CPU time and Scheduled time in PlanPrinter
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: CLA Signed

#13109 Add release notes for 0.223
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.222.rst
  presto-docs/src/main/sphinx/release/release-0.223.rst
Labels: CLA Signed

#13124 Export the reason of skipping test cases in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/event/VerifierQueryEvent.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerification.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/SkippedReason.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
Labels: CLA Signed

#13056 Add support for Row subscript
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/DesugarRowSubscriptRewriter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/DesugarRowSubscript.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#13145 Disable TestHiveRecoverableGroupedExecution
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableGroupedExecution.java
Labels: CLA Signed

#13144 Backport - Handle race in QueryStateTimer
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateTimer.java
Labels: CLA Signed

#13138 Add RemoveRedundantIdentityProjections after connector optimizer
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
Labels: CLA Signed

#13136 Pass session to JdbcClient#toWriteMapping
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
Labels: CLA Signed

#13128 Fix query failure for certain collated join
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTest.java
Labels: CLA Signed

#13141 Create empty files in parallel for bucketed table
  presto-hive/src/main/java/com/facebook/presto/hive/ForZeroRowFileCreator.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadataFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveZeroRowFileCreator.java
  presto-hive/src/main/java/com/facebook/presto/hive/ZeroRowFileCreator.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: CLA Signed

#13170 Compact effective predicate for partitioned table
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
Labels: CLA Signed
