Repository prestodb/presto, pull requests merged in 2019-10, with the labels that each got.

#13453 Optimize HiveSplit serialization
  presto-hive/src/main/java/com/facebook/presto/hive/BackgroundHiveSplitLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionResult.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplit.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitPartitionInfo.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/InternalHiveSplit.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/Column.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/rcfile/RcFilePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplit.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcBatchPageSourceMemoryTracking.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/FileFormat.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/TestMetastoreUtil.java
Labels: CLA Signed, RELEASE-BLOCKER

#13482 Mention formatting guidelines in the pull request template
  pull_request_template.md
Labels: CLA Signed

#13467 Write temp files into temp directory for sorted table
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveLocationService.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriterFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/LocationHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/LocationService.java
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/SortingFileWriterFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
Labels: CLA Signed

#13472 Allow zoom 0 Bing Tiles
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTile.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/BingTileFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestBingTileFunctions.java
Labels: CLA Signed

#13392 Hash Builder Memory
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/PagesHash.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashBuilderOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashJoinOperator.java
Labels: CLA Signed

#13494 Use empty Envelope instead of null in deserialization
  presto-geospatial-toolkit/src/main/java/com/facebook/presto/geospatial/serde/GeometrySerde.java
  presto-geospatial-toolkit/src/test/java/com/facebook/presto/geospatial/serde/TestGeometrySerialization.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/SpatialPartitioningInternalAggregateFunction.java
Labels: CLA Signed

#13450 Evalute filter once per Dictionary value
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Labels: CLA Signed

#13500 Fix MapTransformValueFunction to handle exceptions and reset Blockbuilder before throwing
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapTransformValueFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#13509 Disable TestHiveRecoverableGroupedExecution
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableGroupedExecution.java
Labels: CLA Signed

#13481 Add syntax support for CREATE FUNCTION
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/CreateFunction.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/RoutineCharacteristics.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/SqlParameterDeclaration.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Labels: CLA Signed

#13518 Handle null dataStream in SliceDictionary reader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
Labels: CLA Signed

#13516 Fix NPE in LogDictionarySelectiveStreamReader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
Labels: CLA Signed

#13517 Fix typo in HandleResolver
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/HandleResolver.java
Labels: CLA Signed

#13471 De-flake TestUnweightedDoubleReservoirSample#testMany
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/reservoirsample/TestUnweightedDoubleReservoirSample.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/reservoirsample/TestWeightedDoubleReservoirSample.java
Labels: CLA Signed

#13512 Fix doc typos at Array Functions and Operators
  presto-docs/src/main/sphinx/functions/array.rst
Labels: CLA Signed

#13492 Remove unused variable in ServerMainModule#setup
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Labels: CLA Signed

#13525 Add assertion in TableFinishOperator
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
Labels: CLA Signed

#13519 Move LIMIT 0 rule to its dedicated optimization phase
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
Labels: CLA Signed

#13532 Minor cleanup on SubfieldExtractor::toColumnExtractor
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/SubfieldExtractor.java
Labels: CLA Signed

#13537 Update testing-mysql-server dependency
  pom.xml
  presto-mysql/pom.xml
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/MySqlQueryRunner.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-raptor/pom.xml
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestMySql.java
  presto-verifier/pom.xml
  presto-verifier/src/test/java/com/facebook/presto/verifier/TestPrestoVerifierIntegrationSmokeTest.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/source/TestMySqlSourceQuerySupplier.java
Labels: CLA Signed

#13452 Reduce excessive memory usage by ExchangeClient
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/HttpPageBufferClient.java
  presto-main/src/test/java/com/facebook/presto/operator/MockExchangeRequestProcessor.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClientConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHttpPageBufferClient.java
Labels: CLA Signed

#13540 Add a check to update outputPositions
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ShortDecimalSelectiveStreamReader.java
Labels: CLA Signed

#13528 Resolve SMILE encoding issue with JsonRaw value
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishInfo.java
Labels: CLA Signed

#13513 Handle empty string columns in slice reader
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Labels: CLA Signed

#13543 Add document for ip_prefix function
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/ip.rst
Labels: CLA Signed, RELEASE-BLOCKER

#13491 Implement interfaces for RowExpressionTranslation
  pom.xml
  presto-expressions/pom.xml
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/FunctionTranslator.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/RowExpressionTranslator.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/RowExpressionTreeTranslator.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatedExpression.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatorAnnotationParser.java
  presto-expressions/src/test/java/com/facebook/presto/expressions/translator/TestRowExpressionTranslator.java
Labels: CLA Signed

#13497 Rename test -> execution
  presto-main/src/test/java/com/facebook/presto/tests/LogTestDurationListener.java
Labels: CLA Signed

#13551 Remove RowExpression utils from SPI
  presto-base-jdbc/pom.xml
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-expressions/pom.xml
  presto-expressions/src/main/java/com/facebook/presto/expressions/DefaultRowExpressionTraversalVisitor.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/LogicalRowExpressions.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/RowExpressionNodeInliner.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/RowExpressionRewriter.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/RowExpressionTreeRewriter.java
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionVariableInliner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SortExpressionExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/VariablesExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/InlineProjections.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyRowExpressions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionDomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/util/SpatialJoinUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionDomainTranslator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionRewriter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestConnectorOptimization.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestLogicalRowExpressions.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionTranslator.java
Labels: CLA Signed

#13554 Minor deserialization bug fix in TableFinishInfo
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishInfo.java
Labels: CLA Signed

#13544 Add release notes for 0.227
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.227.rst
Labels: CLA Signed

#13505 Intersect pushdown predicates
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
Labels: CLA Signed

#13560 Add RowExpressionPredicateExtractor
  presto-main/src/main/java/com/facebook/presto/sql/planner/EffectivePredicateExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionEqualityInference.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RowExpressionPredicateExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ExpressionEquivalence.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestRowExpressionPredicateExtractor.java
Labels: CLA Signed

#13501 Add cache for orc file tail information
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/TempFileReader.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcBatchPageSourceMemoryTracking.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/FileFormat.java
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/CacheStatsMBean.java
  presto-orc/src/main/java/com/facebook/presto/orc/CachingOrcFileTailSource.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcCacheConfig.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcFileTailSource.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/StorageOrcFileTailSource.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcFileTail.java
  presto-orc/src/test/java/com/facebook/presto/orc/AbstractTestOrcReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkBatchStreamReaders.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestCachingOrcDataSource.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestMapFlatBatchStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcCacheConfig.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcLz4.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcReaderPositions.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcWriter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestReadBloomFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStructBatchStreamReader.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/OrcFileRewriter.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/OrcStorageManager.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/StorageModule.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/OrcTestingUtil.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestOrcFileRewriter.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestOrcStorageManager.java
Labels: CLA Signed

#13541 Fix selective readers output positions when reading null streams
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Labels: CLA Signed

#13556 Reset DictionaryBlock values after getBlock
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
Labels: CLA Signed

#13527 Passing X_Forwarded_For in header from proxy server
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-proxy/src/main/java/com/facebook/presto/proxy/ProxyResource.java
Labels: CLA Signed

#13558 Include error message in SimpleHttpResonseHandler for SMILE
  presto-main/src/main/java/com/facebook/presto/server/remotetask/SimpleHttpResponseHandler.java
Labels: CLA Signed

#13565 Fix compareRanges logic
  presto-orc/src/main/java/com/facebook/presto/orc/ByteArrayUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestByteArrayUtils.java
Labels: CLA Signed

#13526 Implement Basic Example For Jdbc Row Expression Translation
  presto-base-jdbc/pom.xml
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnectorFactory.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSplit.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcTableLayoutHandle.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcExpression.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcFilterToSqlTranslator.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcPlanOptimizerProvider.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/JdbcTranslationUtil.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/function/OperatorTranslators.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcIntegrationSmokeTest.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcRecordSetProvider.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabase.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/optimization/TestJdbcComputePushdown.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/FunctionTranslator.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/RowExpressionTranslator.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatedExpression.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/translator/TranslatorAnnotationParser.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestRowExpressionTranslator.java
Labels: CLA Signed

#13578 Fix SliceReader ArrayOutOfBounds when presentStream is null
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Labels: CLA Signed

#13581 Revert reserved words introduced in CREATE FUNCTION syntax support
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
Labels: CLA Signed, RELEASE-BLOCKER

#13570 Fix Flaky TestTransactionManager.testExpiration
  presto-main/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java
  presto-main/src/test/java/com/facebook/presto/transaction/TestTransactionManager.java
Labels: CLA Signed

#13593 Do not overcommit memory in HashBuilderOperator
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashBuilderOperator.java
Labels: CLA Signed, RELEASE-BLOCKER

#13594 Parquet Dictionary Predicate Pushdown Fixes
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/Predicate.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/PredicateUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/TupleDomainParquetPredicate.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestTupleDomainParquetPredicate.java
Labels: CLA Signed

#13477 Support max_tasks_per_stage for scan
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeMap.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SimpleNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
Labels: CLA Signed

#13584 Fail query with large taskUpdate size
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/RemoteTaskStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Labels: CLA Signed

#13597 Refactor SqlQueryScheduler
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#13531 Fix table scan results with disjoint pushdown filters
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
Labels: CLA Signed

#13592 Add common InternalCommunicationConfig to turn on HTTPS
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationModule.java
  presto-main/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
Labels: CLA Signed

#13582 Export round trip count for update/info/status
  presto-main/src/main/java/com/facebook/presto/server/remotetask/RemoteTaskStats.java
Labels: CLA Signed

#13607 Use fast varint read path in LongInputStreamV1
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongInputStreamV1.java
Labels: CLA Signed

#13615 Revert HashBuilderOperator changes
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/PagesHash.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashBuilderOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashJoinOperator.java
Labels: CLA Signed

#13451 Optimize PlanFragment Serialization
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlStageExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStateMachine.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestPhasedExecutionSchedule.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
Labels: CLA Signed

#13562 Add release note for 0.228
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.228.rst
Labels: CLA Signed

#13618 Use URI in raptor.properties
  presto-main/etc/catalog/raptor.properties
Labels: CLA Signed

#13613 Fix hive columnIndex with default partition
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
Labels: CLA Signed

#13611 Improve HashGenerator.getPartition performance
  presto-main/src/main/java/com/facebook/presto/operator/HashGenerator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
Labels: CLA Signed

#13625 [easy] Remove unused FeatureConfig from PlanOptimizers
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Labels: CLA Signed

#13630 Fix getBlockView for all-null SliceDictionarySelectiveReader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
Labels: CLA Signed, aria

#13631 Fix position count of prefilled Blocks
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
Labels: CLA Signed

#13610 Add non-linear transformation for structural hash
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayHashCodeOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MapHashCodeOperator.java
  presto-main/src/test/java/com/facebook/presto/block/BlockAssertions.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestChecksumAggregation.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/ArrayType.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/HashUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/MapType.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/RowType.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestRepartitionQueries.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
Labels: CLA Signed

#13635 Fix NPE in SimpleNodeSelector
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SimpleNodeSelector.java
Labels: CLA Signed

#13634 Remove TypeProvider from FilterStatsCalculator.filterStats
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/SpatialJoinStatsRule.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculator.java
Labels: CLA Signed, aria
