Repository prestodb/presto, pull requests merged in 2019-02, with the labels that each got.

#12226 Handle S3 empty directories as directories
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Labels: CLA Signed

#12234 Support grouped execution for window function
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
Labels: CLA Signed

#12292 Log details around OOM decisions in ClusterMemoryManager
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
Labels: CLA Signed

#12299 Fix JVM crash in TestHiveDistributedQueries
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleStreamReader.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ByteArrayUtils.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/LongArrayBlockEncoding.java
Labels: CLA Signed

#12303 Use non-Aria scan if no columns need to be read
  presto-main/src/main/java/com/facebook/presto/operator/ScanFilterAndProjectOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TableScanOperator.java
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
  presto-spi/src/main/java/com/facebook/presto/spi/PageSourceOptions.java
Labels: CLA Signed

#12298 Remove system pool entirely
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/AbstractOperatorBenchmark.java
  presto-benchmark/src/test/java/com/facebook/presto/benchmark/MemoryLocalQueryRunner.java
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/memory/DefaultQueryContext.java
  presto-main/src/main/java/com/facebook/presto/memory/LegacyQueryContext.java
  presto-main/src/main/java/com/facebook/presto/memory/LocalMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/memory/MemoryResource.java
  presto-main/src/main/java/com/facebook/presto/memory/NodeMemoryConfig.java
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingTaskContext.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestMemoryRevokingScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryPools.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/memory/TestNodeMemoryConfig.java
  presto-main/src/test/java/com/facebook/presto/memory/TestQueryContext.java
  presto-main/src/test/java/com/facebook/presto/operator/GroupByHashYieldAssertion.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestMemoryManager.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLegacyQueryContext.java
Labels: CLA Signed

#12306 Fix missing child node for ProjectNode in PlanPrinter
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: CLA Signed

#12308 Fix condition for not deleting target directories
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
Labels: CLA Signed, RELEASE-BLOCKER

#12307 Fix test failures in presto-orc
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestCachingOrcDataSource.java
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnHandle.java
Labels: CLA Signed

#12137 Allow HiveQueryRunner to persist data to a custom path
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileBasedSecurity.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Labels: CLA Signed

#12331 Disable bucket filter with compatible bucketing read
  presto-hive/src/main/java/com/facebook/presto/hive/BackgroundHiveSplitLoader.java
Labels: CLA Signed, RELEASE-BLOCKER

#12335 Add more queries to TestAriaHiveDistributedQueries
  presto-hive/src/test/java/com/facebook/presto/hive/TestAriaHiveDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
Labels: CLA Signed

#12316 Change error code for empty table name
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Labels: CLA Signed

#12339 First cut of Aria-based SliceDictionaryStreamReader
  presto-hive/src/test/java/com/facebook/presto/hive/TestAriaHiveDistributedQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongInputStream.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongInputStreamV2.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
Labels: CLA Signed, aria

#12351 Revert "Propagate partition properties for full outer join"
  presto-main/src/main/java/com/facebook/presto/sql/planner/Partitioning.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PreferredProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestFullOuterJoinWithCoalesce.java
Labels: CLA Signed

#12345 Add release notes for 0.217
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.217.rst
Labels: CLA Signed

#12332 Improve explain by predictably ordering predicates
  presto-raptor/src/test/java/com/facebook/presto/raptor/metadata/TestShardPredicate.java
  presto-spi/src/main/java/com/facebook/presto/spi/GroupingProperty.java
  presto-spi/src/main/java/com/facebook/presto/spi/LocalProperty.java
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/EquatableValueSet.java
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/TupleDomain.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/TableStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/TableStatisticsMetadata.java
Labels: CLA Signed, ready-to-merge

#12350 Fix int value cast to float and then passed to Math.round
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/BackupStats.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/ShardRecoveryStats.java
Labels: CLA Signed, ready-to-merge

#12349 Fix check for oddness that won't work for negative numbers
  presto-cli/src/main/java/com/facebook/presto/cli/FormatUtils.java
Labels: CLA Signed, ready-to-merge

#12348 Fix exception created and dropped rather than thrown
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskManager.java
Labels: CLA Signed, ready-to-merge

#8176 Make Java Keystores Doc easier to understand / Fix Typo in command
  presto-docs/src/main/sphinx/security/tls.rst
Labels: CLA Signed, ready-to-merge

#11951 Added classloader safe configuration of event listener
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
Labels: ready-to-merge

#12321 Fix session property dynamic_schedule_for_grouped_execution
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Labels: CLA Signed, ready-to-merge

#12318 Minor method rename in GroupedExecutionTagger
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
Labels: CLA Signed, ready-to-merge

#12358 Remove unused ConncetorAnalyzeMetadata
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAnalyzeMetadata.java
Labels: CLA Signed

#12326 Extract common logic in HiveLocationService
  presto-hive/src/main/java/com/facebook/presto/hive/HiveLocationService.java
Labels: CLA Signed, ready-to-merge

#12330 Add option to preload splits for grouped execution
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
Labels: CLA Signed, ready-to-merge

#12177 Add a comment about ColumnStatistics' "unknown" estimates semantics
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatistics.java
Labels: CLA Signed, ready-to-merge

#12378 Update Drift to 1.18
  pom.xml
Labels: CLA Signed

#12379 Fix test failure on master
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
Labels: CLA Signed

#12366 Add support for Jackson afterburner module
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: CLA Signed

#12381 Move ClassLoaderSafeConnectorPageSink to correct package
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorPageSink.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorPageSinkProvider.java
  presto-spi/src/test/java/com/facebook/presto/spi/connector/classloader/TestClassLoaderSafeWrappers.java
Labels: CLA Signed

#12385 Update concepts.rst - grammar fix
  presto-docs/src/main/sphinx/overview/concepts.rst
Labels: CLA Signed

#12347 Add SortNode stats and cost rules
  presto-main/src/main/java/com/facebook/presto/cost/CostCalculatorUsingExchanges.java
  presto-main/src/main/java/com/facebook/presto/cost/SortStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculatorModule.java
  presto-main/src/test/java/com/facebook/presto/cost/TestSortNodeStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestTpchDistributedStats.java
Labels: CLA Signed, ready-to-merge

#12392 Remove flaky test case for transaction manager
  presto-tests/src/test/java/com/facebook/presto/tests/TestTransactionManagerIntegration.java
Labels: CLA Signed, ready-to-merge

#12363 Add support for smile encoding
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/smile/ForSmile.java
  presto-main/src/main/java/com/facebook/presto/server/smile/FullSmileResponseHandler.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileBodyGenerator.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileCodec.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileCodecBinder.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileCodecFactory.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileCodecProvider.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileModule.java
  presto-main/src/main/java/com/facebook/presto/server/smile/SmileObjectMapperProvider.java
  presto-main/src/test/java/com/facebook/presto/server/smile/ImmutablePerson.java
  presto-main/src/test/java/com/facebook/presto/server/smile/Person.java
  presto-main/src/test/java/com/facebook/presto/server/smile/TestFullSmileResponseHandler.java
  presto-main/src/test/java/com/facebook/presto/server/smile/TestSmileCodecBinder.java
  presto-main/src/test/java/com/facebook/presto/server/smile/TestSmileCodecFactory.java
  presto-main/src/test/java/com/facebook/presto/server/smile/TestSmileSupport.java
Labels: CLA Signed

#12391 Implement SliceDictionaryStreamReader.compactValues
  presto-hive/src/test/java/com/facebook/presto/hive/TestAriaHiveDistributedQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReaders.java
Labels: CLA Signed

#12394 Revert "Fix Hive table read within transaction"
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#12359 Fix memory accounting for geometry aggregations
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/ConvexHullAggregation.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryState.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryStateFactory.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryStateSerializer.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/aggregation/GeometryUnionAgg.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryStateFactory.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/aggregation/TestGeometryStateSerializer.java
Labels: CLA Signed

#12396 Flush Elasticsearch testcase data loading
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
Labels: CLA Signed

#12397 Allow HiveQueryRunner to persist data to a custom path
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileBasedSecurity.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Labels: CLA Signed

#12401 Fix TestCachingOrcDataSource in presto-orc
  presto-orc/src/test/java/com/facebook/presto/orc/TestCachingOrcDataSource.java
Labels: CLA Signed
