Repository prestodb/presto, pull requests merged in 2019-03, with the labels that each got.

#12334 Update geospatial docs
  presto-docs/src/main/sphinx/functions/geospatial.rst
Labels: CLA Signed, ready-to-merge

#12407 Unit tests for LocalMemoryManager
  presto-main/src/main/java/com/facebook/presto/memory/LocalMemoryManager.java
  presto-main/src/test/java/com/facebook/presto/memory/TestLocalMemoryManager.java
Labels: CLA Signed

#12405 Suppress test failures on TestAriaOrcReader
  presto-orc/src/test/java/com/facebook/presto/orc/TestAriaOrcReader.java
Labels: CLA Signed, aria

#12315 Implement ST_Area for SphericalGeography
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/BenchmarkSTArea.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestSphericalGeoFunctions.java
  presto-geospatial/src/test/resources/us-state-areas.tsv
  presto-geospatial/src/test/resources/us-states.tsv
Labels: CLA Signed

#12393 Add output types back to EXPLAIN output
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/NodeRepresentation.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
Labels: CLA Signed

#12414 Fix RIGHT/OUTER Join stream ordering property derivations
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
Labels: CLA Signed

#12406 Update Joni version to 2.1.5.2
  pom.xml
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestRegexpFunctions.java
Labels: CLA Signed

#12436 Remove useless output from EXPLAIN
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
Labels: CLA Signed

#12441 Fix processing of function filters in ColumnGroupReader
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
Labels: CLA Signed

#12443 Adapt Aria scan to schema evolution
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcPageSource.java
Labels: CLA Signed, aria

#12447 Fix NPE in ScanFilterAndProjectOperator
  presto-main/src/main/java/com/facebook/presto/operator/ScanFilterAndProjectOperator.java
Labels: CLA Signed

#12446 Revert "Split special form of row expressions to separate node"
  presto-main/src/main/java/com/facebook/presto/operator/project/PageFieldsToInputParametersRewriter.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/CursorProcessorCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/InputReferenceCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/LambdaBytecodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/LambdaExpressionExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/RowExpressionCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/SwitchCodeGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ExpressionEquivalence.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/DeterminismEvaluator.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/Expressions.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionVisitor.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/Signatures.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SpecialFormExpression.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/optimizer/ExpressionOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/TestExpressionOptimizer.java
Labels: CLA Signed

#12317 Improve error message when column mismatch in insert query
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Labels: CLA Signed

#12450 Make ST_Centroid try-friendly
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestGeoFunctions.java
Labels: CLA Signed

#12453 Fix checkstyle errors
  presto-main/src/main/java/com/facebook/presto/operator/ScanFilterAndProjectOperator.java
  presto-orc/src/test/java/com/facebook/presto/orc/stream/AbstractTestLongStreamAriaScan.java
  presto-orc/src/test/java/com/facebook/presto/orc/stream/TestLongStreamDwrfAriaScan.java
  presto-orc/src/test/java/com/facebook/presto/orc/stream/TestLongStreamV1AriaScan.java
Labels: CLA Signed

#12422 ES Connector failed with SearchGuard
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchClient.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchQueryBuilder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/SearchGuardCertificateFormat.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchConnectorConfig.java
Labels: CLA Signed

#12460 Add a unit test for joins
  presto-hive/src/test/java/com/facebook/presto/hive/TestAriaHiveDistributedQueries.java
Labels: CLA Signed

#12487 Fix DictionaryBlock#getSizeInBytes
  presto-spi/src/main/java/com/facebook/presto/spi/block/DictionaryBlock.java
Labels: CLA Signed

#12471 Format SQL statements
  scripts/setup/datasets.sql
  scripts/test_map.sql
  scripts/test_maps_rows.sql
  scripts/test_nulls.sql
  scripts/test_read_truncation.sql
Labels: CLA Signed

#12504 Add CURRENT_ROLE to the list of non reserved keywords
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Labels: CLA Signed, RELEASE-BLOCKER

#12516 Export JMX stats for more split schedule block reasons
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SplitSchedulerStats.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#12527 Revert "Export JMX stats for more split schedule block reasons"
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SplitSchedulerStats.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#12517 Add release notes for 0.218
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.218.rst
Labels: CLA Signed

#12455 Set context class loader inside Hive procedures
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
Labels: CLA Signed, backport, ready-to-merge

#12377 Add queryType to QueryCompletedEvent
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/FailedQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestCommitTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestDeallocateTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestPrepareTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-main/src/test/java/com/facebook/presto/execution/TestResetSessionTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestRollbackTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSetPathTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSetRoleTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSetSessionTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStartTransactionTask.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryCompletedEvent.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Labels: CLA Signed

#12458 Remove unused TypeDeserializer in MemoryModule
  presto-memory/pom.xml
  presto-memory/src/main/java/com/facebook/presto/plugin/memory/MemoryModule.java
Labels: CLA Signed, ready-to-merge

#12457 Minor bug fix in BlackHoleConnector
  presto-blackhole/src/main/java/com/facebook/presto/plugin/blackhole/BlackHoleMetadata.java
  presto-blackhole/src/test/java/com/facebook/presto/plugin/blackhole/TestBlackHoleSmoke.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
Labels: CLA Signed, ready-to-merge

#12429 Fix incorrect $bucket for mismatch bucket queries
  presto-hive/src/main/java/com/facebook/presto/hive/BackgroundHiveSplitLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveNodePartitioningProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplit.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
  presto-hive/src/main/java/com/facebook/presto/hive/InternalHiveSplit.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/InternalHiveSplitFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientFileMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplit.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
Labels: CLA Signed

#12496 Fixed typo in resource-groups.rst example
  presto-docs/src/main/sphinx/admin/resource-groups.rst
Labels: CLA Signed, ready-to-merge

#12420 Allow empty string as delimiter for `split`.
  presto-main/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
Labels: CLA Signed, ready-to-merge

#12528 Add view_owner column to information_schema.views
  presto-main/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-main/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaPageSourceProvider.java
  presto-product-tests/src/main/resources/sql-tests/testcases/system/selectInformationSchemaColumns.result
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Labels: CLA Signed

#12461 Update testing-mysql-server to 8.0.12-2
  pom.xml
Labels: CLA Signed

#12553 Fix sporadic test failures in presto-hive modules
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#12544 Improve Raptor bucket recovery/reassignment logic
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorErrorCode.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/metadata/AssignmentLimiter.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/metadata/MetadataConfig.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/storage/BucketBalancer.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/metadata/TestAssignmentLimiter.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/metadata/TestMetadataConfig.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestBucketBalancer.java
Labels: CLA Signed

#12470 Minor edits to comments
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/NodePartitionMap.java
Labels: CLA Signed
