Repository prestodb/presto, pull requests merged in 2019-04, with the labels that each got.

#12557 [easy] Detach AST frame info from WindowNode
  presto-main/src/main/java/com/facebook/presto/operator/window/FrameInfo.java
  presto-main/src/main/java/com/facebook/presto/operator/window/WindowPartition.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowNodeUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/WindowNode.java
  presto-main/src/test/java/com/facebook/presto/operator/TestWindowOperator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/WindowFrameProvider.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeAdjacentWindows.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneWindowColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSwapAdjacentWindowsBySpecifications.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
Labels: CLA Signed, planner

#12565 Backport "Fix failure when resolving fully qualified column from view"
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Labels: CLA Signed

#12575 Fix ConnectorManager dropConnection leaving AnalyzeProperty entry behind
  presto-main/src/main/java/com/facebook/presto/connector/ConnectorManager.java
Labels: CLA Signed

#12554 Add configuration file for stale bot
  .github/stale.yml
Labels: CLA Signed

#12552 Add ST_Length(SphericalGeography)
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestSphericalGeoFunctions.java
Labels: CLA Signed

#12534 Initial refactoring of pushdown subscripts rule
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/DomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubfieldUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SymbolWithSubfieldPath.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubscripts.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-spi/src/main/java/com/facebook/presto/spi/ColumnHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/SubfieldPath.java
Labels: CLA Signed

#12519 Mark split schedule done after lifespan finish execution
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourcePartitionedScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SourceScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/group/DynamicLifespanScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/group/FixedLifespanScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/group/LifespanScheduler.java
Labels: CLA Signed

#12592 Fix BenchmarkPartitionedOutputOperator
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkPartitionedOutputOperator.java
Labels: CLA Signed

#12590 Replace ProjectNode::Expression with RowExpression
  presto-main/src/main/java/com/facebook/presto/cost/SimpleFilterProjectSemiJoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushLimitThroughProject.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantIdentityProjections.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/joins/JoinGraph.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/ProjectNode.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/ProjectNodeUtils.java
Labels: CLA Signed

#12587 Fix flakiness of TestJdbcClient.testMetadata
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcClient.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabase.java
Labels: CLA Signed

#12582 Simplify DistributedExecutionPlanner to SplitSourceFactory
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/split/CloseableSplitSourceProvider.java
  presto-main/src/main/java/com/facebook/presto/split/SplitSourceProvider.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StageExecutionPlan.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubPlan.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
Labels: CLA Signed

#12524 Add Parser warnings
  presto-main/src/main/java/com/facebook/presto/execution/QueryPreparer.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/sql/ParsingUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/DescribeInputRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/DescribeOutputRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ExplainRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryPreparer.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/ParsingOptions.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/ParsingWarning.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/SqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestWarnings.java
Labels: CLA Signed

#12584 Update deprecated use of Files.toString
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
Labels: CLA Signed

#12599 Fix joni regex not matching some word boundaries
  pom.xml
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestRegexpFunctions.java
Labels: CLA Signed

#12545 Move FunctionRegistry to StaticFunctionNamespace
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionNamespace.java
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionNamespace.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestStaticFunctionNamespace.java
Labels: CLA Signed

#12601 Fix TestWarnings
  presto-tests/src/test/java/com/facebook/presto/execution/TestWarnings.java
Labels: CLA Signed

#12526 Make each fragment contain at most 1 TableWriterNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubPlan.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: CLA Signed

#12595 Remove distributed planning time
  presto-docs/src/main/sphinx/rest/query.rst
  presto-main/src/main/java/com/facebook/presto/connector/system/QuerySystemTable.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateTimer.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStats.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/SystemConnectorTests.java
  presto-product-tests/src/main/resources/sql-tests/testcases/system/selectInformationSchemaColumns.result
  presto-product-tests/src/test/resources/com/facebook/presto/tests/querystats/single_query_info_response.json
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryStatistics.java
Labels: CLA Signed

#12607 Clean up unused variable in BenchmarkArrayAggregation
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/BenchmarkArrayAggregation.java
Labels: CLA Signed

#12622 Revert "Make each fragment contain at most 1 TableWriterNode"
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubPlan.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: CLA Signed

#12621 Improve error messages in beta_cdf and inverse_beta_cdf math functions.
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Labels: CLA Signed

#12591 Make Arrayblock, MapBlock, RowBlock support mayHaveNull
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractArrayBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractMapBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractRowBlock.java
Labels: CLA Signed

#12614 Replace FileStream with Files.newStream
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-local-file/src/main/java/com/facebook/presto/localfile/LocalFileRecordCursor.java
  presto-main/src/main/java/com/facebook/presto/server/PluginDiscovery.java
  presto-main/src/main/java/com/facebook/presto/util/PropertiesUtil.java
Labels: CLA Signed

#12631 Improve stale bot message
  .github/stale.yml
Labels: CLA Signed

#12609 Export JMX stats for more split schedule block reasons
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SplitSchedulerStats.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
Labels: CLA Signed

#12639 Don't push limit through full outer joins
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushLimitThroughOuterJoin.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushLimitThroughOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#12641 Don't push limit through full outer joins
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushLimitThroughOuterJoin.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPushLimitThroughOuterJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: CLA Signed

#12567 Enforce scan batch by exception on exceeding space budget
  presto-orc/src/main/java/com/facebook/presto/orc/BatchTooLargeException.java
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/Filters.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/QualifyingSet.java
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DecimalStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/NullWrappingColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampStreamReader.java
Labels: CLA Signed, aria

#12635 Add warnings field to coordinator v1/query endpoint
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryInfo.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Labels: CLA Signed

#12654 Encode PlanFragmentId as string in JSON
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/PlanFragmentId.java
Labels: CLA Signed

#12658 Check partition handle argument in {Raptor, Thrift}SplitSource
  presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorSplitManager.java
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftSplitManager.java
Labels: CLA Signed

#12645 Use Builder to construct ParsingOptions in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/QueryRewriter.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerificationFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerificationManager.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierUtil.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/checksum/TestChecksumValidator.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestQueryRewriter.java
Labels: CLA Signed

#12666 [horribly easy] Detach SampledRelation from SampleNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SampleNodeUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/SampleNode.java
Labels: CLA Signed, planner

#12637 Add OperatorType to FunctionMetadata
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionNamespace.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestStaticFunctionNamespace.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/OperatorType.java
Labels: CLA Signed, sql-function

#12610 Remove unnecessary type parameter in HiveSplitSource#PerBucket
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
Labels: CLA Signed

#12643 Rename variables in SqlTaskExecution
  presto-main/src/main/java/com/facebook/presto/execution/SqlTaskExecution.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
Labels: CLA Signed

#12667 Cache hive metastore to optimize writing bucketed table
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
Labels: CLA Signed

#12673 Fix spatial join on top of colocated right join
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestSpatialJoinOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/PagesSpatialIndexFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/SpatialJoinOperator.java
Labels: CLA Signed

#12678 Mark unpartitioned table in HiveWrittenPartitions
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
Labels: CLA Signed

#12652 Auto-resolve EXCEEDED_TIME_LIMIT regardless of CPU time increase
  presto-verifier/src/main/java/com/facebook/presto/verifier/resolver/ExceededTimeLimitFailureResolver.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/resolver/TestExceededTimeLimitFailureResolver.java
Labels: CLA Signed

#12669 Add support for readPreferenceTags in mongodb
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientModule.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/ReadPreferenceType.java
Labels: CLA Signed

#12696 Move StaticFunctionHandle to presto-main
  presto-main/src/main/java/com/facebook/presto/metadata/StaticFunctionHandle.java
Labels: CLA Signed

#12684 Fix flaky test TestExchangeClient#testRemoveRemoteSource
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java
Labels: CLA Signed

#12691 Move removeRemoteSource from RemoteTaskFactory to RemoteTask
  presto-main/src/main/java/com/facebook/presto/execution/MemoryTrackingRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/RemoteTask.java
  presto-main/src/main/java/com/facebook/presto/execution/RemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
Labels: CLA Signed

#12699 Support JdbcErrorCode to Verifier exception classifier
  presto-verifier/pom.xml
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/PrestoExceptionClassifier.java
Labels: CLA Signed

#12709 Closes #12708 -- Clarify split_to_map documentation
  presto-docs/src/main/sphinx/functions/string.rst
Labels: CLA Signed

#12559 Add support for string dictionary encoding with row group level dictionaries
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcPredicate.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/ResizedArrays.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DecimalStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/NullWrappingColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/BooleanInputStream.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/LongInputStream.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDwrfDictionaries.java
  presto-orc/src/test/resources/test_dictionaries/string-dictionary.orc
  presto-orc/src/test/resources/test_dictionaries/string-row-group-dictionary.dwrf
Labels: CLA Signed, aria

#12705 Add release notes for 0.219
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.219.rst
Labels: CLA Signed

#12718 Detach Node from LateralJoinNode and ApplyNode
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/SemanticExceptions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubqueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformCorrelatedScalarSubquery.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/TransformExistsApplyToLateralNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/CheckSubqueryNodesAreRewritten.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/TransformQuantifiedComparisonApplyToLateralJoin.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/ApplyNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/LateralJoinNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: CLA Signed

#12564 Scan support for LongDictionaryStreamReader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractLongStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDwrfDictionaries.java
  presto-orc/src/test/resources/test_dictionaries/long-dictionary.dwrf
  presto-orc/src/test/resources/test_dictionaries/long-direct.orc
Labels: CLA Signed, aria

#12728 Handle null constants for FilterStatsCalculator
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculator.java
Labels: CLA Signed, planner

#12198 Lazily build hashtable for map
  presto-array/src/main/java/com/facebook/presto/array/ReferenceCountMap.java
  presto-main/src/test/java/com/facebook/presto/block/AbstractTestBlock.java
  presto-main/src/test/java/com/facebook/presto/block/TestMapBlock.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/storage/TestOrcFileRewriter.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/AbstractMapBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/MapBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/MapBlockBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/MapBlockEncoding.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/SingleMapBlock.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/SingleMapBlockEncoding.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/MapType.java
Labels: CLA Signed

#12694 Store RuntimeExceptions in ErrorSet
  presto-main/src/main/java/com/facebook/presto/operator/ScanFilterAndProjectOperator.java
  presto-orc/src/main/java/com/facebook/presto/orc/QualifyingSet.java
  presto-spi/src/main/java/com/facebook/presto/spi/PageSourceOptions.java
Labels: CLA Signed, aria

#12730 Mark ABANDONED_TASK as retryable in Verifier
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/PrestoExceptionClassifier.java
Labels: CLA Signed

#12680 Remove the SubType list from JsonTypeInfo on PlanNode
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/PlanNode.java
Labels: CLA Signed

#12741 Mark HIVE_WRITER_OPEN_ERROR and THRIFT_SERVICE_CONNECTION_ERROR as retryable in Verifier
  pom.xml
  presto-verifier/pom.xml
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/PrestoExceptionClassifier.java
Labels: CLA Signed, verifier

#12746 Properly close TestingMySqlServer in Verifier tests
  presto-verifier/src/test/java/com/facebook/presto/verifier/TestPrestoVerifierIntegrationSmokeTest.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/source/TestMySqlSourceQuerySupplier.java
Labels: CLA Signed
