Repository prestodb/presto, pull requests merged in 2019-01, with the labels that each got.

#12152 Remove obsolete test files
  presto-hive/src/test/sql/create-test-s3.sql
  presto-hive/src/test/sql/drop-test-s3.sql
Labels: CLA Signed

#12156 Remove unused connectorId from TpchTableHandle
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPickTableLayout.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneCountAggregationOverScalar.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneIndexSourceColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneTableScanColumns.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveEmptyDelete.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestTransformCorrelatedSingleRowSubqueryToProject.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateAggregationsWithDefaultValues.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateStreamingAggregations.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchMetadata.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchTableHandle.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchTableLayoutHandle.java
Labels: CLA Signed

#9169 Add option to skip dropping temporary tables upon checksum failure
  presto-verifier/src/main/java/com/facebook/presto/verifier/Validator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/Verifier.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/VerifierConfig.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/TestVerifierConfig.java
Labels: CLA Signed, verifier

#12113 Simplify Docker instructions for product-tests
  presto-product-tests/README.md
Labels: CLA Signed

#12098 Cleanup code in FileSingleStreamSpiller
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/main/java/com/facebook/presto/util/PrestoIterators.java
Labels: CLA Signed

#11873 Avoid query failures during partition pruning
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TryFunction.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
Labels: CLA Signed

#10927 Support V2 Cassandra clusters
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientConfig.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraClientModule.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraConnector.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSessionProperties.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraSplitManager.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraTokenSplitManager.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraClientConfig.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraTokenSplitManager.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Labels: CLA Signed

#12034 Push predicates through windows when the predicate is on a partition symbol
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReorderWindows.java
Labels: CLA Signed

#12115 Fix Count(*) on empty relation returns NULL when optimize_mixed_distinct_aggregation is turned on.
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/OptimizeMixedDistinctAggregations.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestOptimizeMixedDistinctAggregations.java
Labels: CLA Signed

#12104 Enable char predicates to be pushed down.
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingJdbcTypeHandle.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlIntegrationSmokeTest.java
Labels: CLA Signed

#12140 Update kafka docs
  presto-docs/src/main/sphinx/connector/kafka.rst
Labels: CLA Signed

#12015 Fix integer overflow when turning dictionary into direct
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriterOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/SliceDictionaryColumnWriter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSliceDictionaryColumnWriter.java
Labels: CLA Signed

#12186 Update properties docs for memory-related config options
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: CLA Signed

#12241 Update joda-to-java-time-bridge to version 3
  pom.xml
Labels: CLA Signed

#12195 Document reduce_agg aggregate function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: CLA Signed

#12255 Update references to website
  README.md
  presto-product-tests/README.md
  presto-server/README.txt
Labels: CLA Signed

#12224 Extend JdbcSplit with additional predicate field
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcSplit.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcQueryBuilder.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcSplit.java
Labels: CLA Signed

#12225 Add support for getTableStatistics to base-jdbc connector
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
Labels: CLA Signed

#12242 Allow JDBC connector to define procedure
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcConnector.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcModule.java
Labels: CLA Signed

#12252 Add suppressed exceptions to exception that is thrown
  presto-hive/src/main/java/com/facebook/presto/hive/RetryDriver.java
Labels: CLA Signed, ready-to-merge

#11920 Refactor setting distribution for plan fragment
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
Labels: CLA Signed, ready-to-merge

#12238 Support boolean type in EXPLAIN IO
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
Labels: CLA Signed, ready-to-merge

#12203 Simplify creation of succinct Duration instances
  presto-main/src/main/java/com/facebook/presto/execution/BasicStageStats.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/execution/StageStateMachine.java
  presto-main/src/main/java/com/facebook/presto/operator/DriverContext.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorContext.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TableWriterOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
Labels: CLA Signed

#12170 Report top memory consumers when local memory limit is exceeded
  presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java
  presto-main/src/main/java/com/facebook/presto/memory/DefaultQueryContext.java
  presto-main/src/main/java/com/facebook/presto/memory/LegacyQueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashAggregationOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOrderByOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestWindowOperator.java
Labels: CLA Signed

#12209 Add approx_distinct for boolean corresponding to issue #11918
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ApproximateCountDistinctAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/DefaultApproximateCountDistinctAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/BooleanDistinctState.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestApproximateCountDistinct.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestApproximateCountDistinctBoolean.java
Labels: CLA Signed

#11581 Add SphericalGeography type and ST_Distance support for points on a sphere
  presto-docs/src/main/sphinx/functions/geospatial.rst
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoFunctions.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/GeoPlugin.java
  presto-geospatial/src/main/java/com/facebook/presto/plugin/geospatial/SphericalGeographyType.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestExtractSpatialInnerJoin.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestExtractSpatialLeftJoin.java
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestSphericalGeoFunctions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSpatialJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/RuleTester.java
Labels: CLA Signed

#12269 Fixes to enable Queen of the Night
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/operator/TableScanOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/UnnestOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/FilterNode.java
  presto-orc/src/main/java/com/facebook/presto/orc/Filters.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleStreamReader.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ByteArrayUtils.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/LongArrayBlockEncoding.java
  scripts/qon.sql
Labels: CLA Signed

#12272 Fix stylecheck errors
  pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-main/src/main/java/com/facebook/presto/block/BlockEncodingManager.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PagesSerde.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/PagesSerdeUtil.java
  presto-main/src/main/java/com/facebook/presto/execution/buffer/SerializedPage.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientByteArrayAllocator.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/HttpPageBufferClient.java
  presto-main/src/main/java/com/facebook/presto/operator/PartitionedOutputOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/ScanFilterAndProjectOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TableScanOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/ExpressionCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/DomainTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubfieldUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SymbolWithSubfieldPath.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/test/java/com/facebook/presto/operator/TestAriaHash.java
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcDataSource.java
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnGroupReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/Filter.java
  presto-orc/src/main/java/com/facebook/presto/orc/Filters.java
  presto-orc/src/main/java/com/facebook/presto/orc/LazySliceInput.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcDataSource.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/QualifyingSet.java
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainOrcPredicate.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ColumnReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructStreamReader.java
Labels: CLA Signed

#12277 Update Drift to 1.17
  pom.xml
Labels: CLA Signed

#12057 Add Elasticsearch connector
  pom.xml
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/elasticsearch.rst
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchClient.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchColumn.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchColumnHandle.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnector.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorFactory.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorModule.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchErrorCode.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchHandleResolver.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchMetadata.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchPlugin.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchQueryBuilder.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchRecordCursor.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchRecordSet.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchRecordSetProvider.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchSplit.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchSplitManager.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchTableDescription.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchTableDescriptionProvider.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchTableHandle.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchTableLayoutHandle.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchTransactionHandle.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchUtils.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/RetryDriver.java
  presto-elasticsearch/src/main/resources/META-INF/services/com.facebook.presto.spi.Plugin
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/CodecSupplier.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/EmbeddedElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchConnectorConfig.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestingElasticsearchConnectorFactory.java
  presto-elasticsearch/src/test/resources/queryrunner/tpch.customer.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.lineitem.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.nation.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.orders.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.part.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.partsupp.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.region.json
  presto-elasticsearch/src/test/resources/queryrunner/tpch.supplier.json
  presto-server/src/main/provisio/presto.xml
Labels: CLA Signed, ready-to-merge

#12281 Fix Elasticsearch connector pom
  presto-elasticsearch/pom.xml
Labels: CLA Signed

#12122 Remove extra remote exchange in window function
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowNumberMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/TopNRowNumberMatcher.java
Labels: CLA Signed

#12204 Fix creating empty non-bucketed Hive partition
  presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: CLA Signed

#12065 Allow function implementation choices to have different dependencies
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayDistinctFromOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/annotations/ParametricScalarImplementation.java
  presto-main/src/test/java/com/facebook/presto/operator/TestAnnotationEngineForScalars.java
Labels: CLA Signed, ready-to-merge
