Repository prestodb/presto, pull requests merged in 2020-03, with the labels that each got.

#14201 Always use JSON for PlanFragment serialization
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Labels: RELEASE-BLOCKER

#14178 Classify Invalid ORC file as an External Error
  presto-orc/src/main/java/com/facebook/presto/orc/OrcCorruptionException.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
Labels: aria

#14040 Move Hive filter pushdown logic out of PickTableLayout
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HivePlanOptimizerProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorPushdownFilterResult.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: aria

#14184 Fix BenchmarkPartitionedOutputOperator
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
Labels: aria

#14233 Fix reading a map column having negative integers as keys
  presto-spi/src/main/java/com/facebook/presto/spi/SubfieldTokenizer.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestSubfieldTokenizer.java
Labels: aria

#14230 Auto resolve time limit exceeded on checksum queries
  presto-verifier/src/main/java/com/facebook/presto/verifier/resolver/ChecksumExceededTimeLimitFailureResolver.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/resolver/FailureResolverModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/resolver/TestChecksumExceededTimeLimitFailureResolver.java
Labels: verifier

#14223 Harden blockEncodingBuffers in OptimizedPartitionedOutputOperator
  presto-main/src/main/java/com/facebook/presto/operator/repartition/OptimizedPartitionedOutputOperator.java
Labels: aria

#14173 Optimize initial batch size for scan
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcReaderPositions.java
Labels: aria

#14237 Fix ArrayBlockEncodingBuffer#getRetainedSizeInBytes()
  presto-main/src/main/java/com/facebook/presto/operator/repartition/ArrayBlockEncodingBuffer.java
Labels: aria

#14249 Fix memory tracking for PartitionedOutputOperator
  presto-main/src/main/java/com/facebook/presto/operator/repartition/PartitionedOutputOperator.java
Labels: aria

#14222 Reduce positions array size in PartitionBuffer
  presto-main/src/main/java/com/facebook/presto/operator/repartition/OptimizedPartitionedOutputOperator.java
Labels: aria

#14215 Add release notes for 0.233
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.233.rst
Labels: release-notes

#14252 Fix subscript expression optimization during subfield pushdown
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: aria, bug

#14281 Remove usage of String.format in HTTP client hot path
  presto-main/src/main/java/com/facebook/presto/server/GenerateTraceTokenRequestFilter.java
Labels: performance-improvement

#14276 Fix bucket pruning when value is null and the predicate is 'IS NULL'.
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-spi/src/main/java/com/facebook/presto/spi/predicate/TupleDomain.java
Labels: RELEASE-BLOCKER, bug

#14297 Fix getRetainedSizeInBytes for DecodedBlockNode
  presto-main/src/main/java/com/facebook/presto/operator/repartition/DecodedBlockNode.java
Labels: aria

#14315 Reduce memory allocations in SliceDirectSelectiveStreamReader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
Labels: aria

#14316 Reduce memory allocations in OrcInputStream
  presto-orc/src/main/java/com/facebook/presto/orc/stream/OrcInputStream.java
Labels: aria

#14310 Fix memory allocation for nestedPositions in the map reader
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
Labels: aria, bug
