Repository prestodb/presto, pull requests merged in 2020-04, with the labels that each got.

#14296 Fix getRetainedSizeInBytes for ColumnarXXX
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarArray.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarMap.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarRow.java
Labels: aria

#14312 Add documentation for KHyperLogLog
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-docs/src/main/sphinx/functions/khyperloglog.rst
  presto-docs/src/main/sphinx/language/types.rst
Labels: RELEASE-BLOCKER

#14330 Report failure to compile pushed down filter as COMPILE_ERROR
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
Labels: aria, bug

#14320 Add max buffer count config property for optimized repartitioning
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/repartition/OptimizedPartitionedOutputOperator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/BenchmarkPartitionedOutputOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/repartition/TestOptimizedPartitionedOutputOperator.java
Labels: RELEASE-BLOCKER, aria

#14360 Fix AddExchanges filter predicate when filter pushhdown is enabled
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
Labels: RELEASE-BLOCKER, aria

#14354 Support verifying SELECT queries with certain non-storable columns
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestQueryRewriter.java
Labels: verifier

#14347 Handle empty and arbitrary slices in Parquet reader
  presto-parquet/src/main/java/com/facebook/presto/parquet/dictionary/BinaryDictionary.java
Labels: bug

#14359 Fix NPE when reading structs with a newly added subfield
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Labels: aria

#14387 Add subfield pruning to StripeReader
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcBatchRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Labels: aria

#14391 Fix ClusterStatsResource
  presto-main/src/main/java/com/facebook/presto/server/ClusterStatsResource.java
Labels: RELEASE-BLOCKER

#14395 Add test coverage for MySqlConnectionModule
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/mysql/TestMySqlFunctionNamespaceManager.java
Labels: sql-function

#14331 EXPLAIN (TYPE IO) support for Aria
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: aria

#14416 Fix estimatedSerializedSizeInBytes calculation in ColumnarXXX
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarArray.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarMap.java
  presto-spi/src/main/java/com/facebook/presto/spi/block/ColumnarRow.java
Labels: aria

#14421 Remove unused code from TestRowBasedSerialization#testRandomBlocks
  presto-main/src/test/java/com/facebook/presto/block/TestRowBasedSerialization.java
Labels: aria

#14062 Display built-in functions first in SHOW FUNCTIONS results
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-parser/src/main/java/com/facebook/presto/sql/QueryUtil.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSqlFunctions.java
Labels: sql-function

#14428 Remove positionCount check in createRandomLongDecimalsBlock
  presto-main/src/test/java/com/facebook/presto/block/BlockAssertions.java
  presto-main/src/test/java/com/facebook/presto/block/TestRowBasedSerialization.java
Labels: aria
