Repository prestodb/presto, pull requests merged in 2020-06, with the labels that each got.

#13595 Reliable Resource Group With Versioning
  presto-main/src/main/java/com/facebook/presto/execution/ForQueryScheduling.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroupManager.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/LegacyResourceGroupConfigurationManager.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceGroupInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/resourceGroups/BenchmarkResourceGroup.java
  presto-main/src/test/java/com/facebook/presto/execution/resourceGroups/TestResourceGroups.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/FileResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/DbResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestingResourceGroup.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbResourceGroupConfigurationManager.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spi/src/main/java/com/facebook/presto/spi/resourceGroups/ResourceGroup.java
  presto-spi/src/main/java/com/facebook/presto/spi/resourceGroups/ResourceGroupConfigurationManager.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestQueuesDb.java
Labels: CLA Signed

#14622 Skip BIND in common sub-expression extraction
  presto-main/src/main/java/com/facebook/presto/sql/gen/CommonSubExpressionRewriter.java
Labels: RELEASE-BLOCKER

#14638 Fix session properties for query execution
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcPrestoAction.java
Labels: verifier

#14716 Fix artificially high queued query metrics
  presto-main/src/main/java/com/facebook/presto/execution/QueryManagerStats.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Labels: bug
