Repository prestodb/presto, pull requests merged in 2020-01, with the labels that each got.

#13872 Cache results of TupleDomainFilterUtils::toFilter
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/TupleDomainFilterCache.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
Labels: aria

#13877 Add session property to disable adaptive filter reordering
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Labels: aria

#13899 Correct doc for redis.key-prefix-schema-table config
  presto-docs/src/main/sphinx/connector/redis.rst
Labels: docs

#13911 Make BenchmarkSelectiveStreamReaders load LazyBlock
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
Labels: aria

#13914 Optimize BooleanSelectiveStreamReader no filter reads
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanSelectiveStreamReader.java
Labels: aria

#13924 Optimize ByteSelectiveStreamReader for no filter with nulls
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ReaderUtils.java
Labels: aria

#13945 Fix corrupted verifier executable jar
  presto-verifier/pom.xml
Labels: verifier

#13947 Publish tarball for Verifier
  presto-verifier/NOTICE
  presto-verifier/README.txt
  presto-verifier/pom.xml
  presto-verifier/src/main/assembly/presto-verifier.xml
Labels: verifier

#13949 Enable listing SQL function with session property
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/metadata/FunctionManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestFunctionManager.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: ready-to-merge, sql-function

#13961 Increase heap memory to avoid continuous Full GCs
  presto-hive/pom.xml
Labels: aria

#13358 Update access modifiers in BenchmarkSelectiveStreamReaders
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
Labels: CLA Signed, aria

#13967 Optimize remaining expression and return empty result if its null/false
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
Labels: aria

#13995 Evaluate filter only once per dictionary value when reading integers
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
Labels: aria

#14008 Fix EmptyTableLayout predicate to be none
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
Labels: aria

#13974 Extend SHOW FUNCTIONS
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-product-tests/src/main/resources/sql-tests/testcases/array_functions/checkArrayFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/binary_functions/checkBinaryFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/catalog/showFunctions.result
  presto-product-tests/src/main/resources/sql-tests/testcases/horology_functions/checkHorologyFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/json_functions/checkJsonFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/map_functions/checkMapFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/math_functions/checkMathFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/regex_functions/checkRegexFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/string_functions/checkStringFunctionsRegistered.result
  presto-product-tests/src/main/resources/sql-tests/testcases/url_functions/checkUrlFunctionsRegistered.result
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: sql-function

#14005 Move PushdownSubfields below logical optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: aria

#13998 Improve correctness check for queries that produce columns of RowType
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ChecksumValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/RowColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/Column.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/checksum/TestChecksumValidator.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerificationManager.java
Labels: ready-to-merge, verifier
