Repository prestodb/presto, pull requests merged in 2020-02, with the labels that each got.

#13997 Add release notes for 0.231
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.231.rst
Labels: release-notes

#14059 Update to Joda 2.10.5
  pom.xml
Labels: bug

#14064 Add join pushdown predicate at the end of the exisiting predicate
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
Labels: aria

#14036 Improve correctness check for RowType columns
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ArrayColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ChecksumValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ColumnMatchResult.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/ColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/FloatingPointColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/RowColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/SimpleColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/Column.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/checksum/TestChecksumValidator.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDataVerification.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestVerificationManager.java
Labels: verifier

#14096 Remove unnecessary copies in StreamingAggregationOperator
  presto-main/src/main/java/com/facebook/presto/operator/StreamingAggregationOperator.java
Labels: performance-improvement

#14054 Improve verification for map columns
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/MapColumnValidator.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/Column.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/VerifierTestUtil.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/checksum/TestChecksumValidator.java
Labels: verifier

#14122 Optimize scan of floats with many nulls
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatSelectiveStreamReader.java
Labels: aria

#14124 Optimize scan of filter-only no-nulls integers
  presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
Labels: aria

#14116 Create empty blocks when there is a mismatch in struct schema
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestMapFlatSelectiveStreamReader.java
Labels: aria

#14147 Use absolute error when a floating point column mean is close to 0
  presto-verifier/src/main/java/com/facebook/presto/verifier/checksum/FloatingPointColumnValidator.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/checksum/TestChecksumValidator.java
Labels: verifier

#14130 Add release notes for 0.232
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.232.rst
Labels: release-notes

#14167 Optimize scan of integers with many nulls
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
Labels: aria

#14169 Streamline identity projections
  presto-main/src/main/java/com/facebook/presto/operator/project/InputPageProjection.java
  presto-main/src/main/java/com/facebook/presto/operator/project/PageProcessor.java
  presto-main/src/main/java/com/facebook/presto/operator/repartition/OptimizedPartitionedOutputOperator.java
Labels: aria

#14153 Update Verifier documentation
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/verifier.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/verifier.rst
  presto-docs/src/main/sphinx/release/release-0.70.rst
Labels: verifier

#14174 Disable Cassandra and Mongo integration tests
  .travis.yml
  presto-cassandra/pom.xml
  presto-mongodb/pom.xml
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoDistributedQueries.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Labels: RELEASE-BLOCKER
