Repository prestodb/presto, pull requests merged in 2022-11, with the labels that each got.

#18106 Support Domain Expressions for GlueHiveMetastore
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTypeTranslator.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/TypeTranslator.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueExpressionUtil.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/glue/PartitionFilterBuilder.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueExpressionUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadataFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartialAggregationPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMetadataFileFormatEncryptionSettings.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveTypeTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/FileFormat.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
Labels: in-final-review

#18471 Add javadoc for query dispatch management logic
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchQueryFactory.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQueryFactory.java
Labels: javadoc

#18655 Update DROP Table example in Delta document
  presto-docs/src/main/sphinx/connector/deltalake.rst
Labels: in-first-review

#18441 Fix Hudi queries from S3 table when using hive connector
  presto-hive/src/main/java/com/facebook/presto/hive/HudiDirectoryLister.java
  presto-hive/src/main/java/com/facebook/presto/hive/cache/HiveCachingHdfsConfiguration.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
Labels: in-final-review
