Repository prestodb/presto, pull requests merged in 2022-10, with the labels that each got.

#18211 refactor methods in presto-hive module
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
Labels: backlog

#18525 Update Iceberg from 0.14.1 to 1.0.0
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestsTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RollbackToSnapshotProcedure.java
Labels: iceberg

#18443 Add javadoc for Presto query submission protocol
  presto-client/src/main/java/com/facebook/presto/client/QueryResults.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
Labels: javadoc
