Repository prestodb/presto, pull requests merged in 2023-08, with the labels that each got.

#20470 [presto][native] Add memory cache hit bytes metric
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Labels: fb-exported

#20332 [native] Add link to wiki for troubleshooting
  presto-native-execution/README.md
Labels: docs

#20481 docs install Presto using docker command line on OS X
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
Labels: docs

#20515 Split Iceberg tests from test-other-modules.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Labels: flaky-test

#20539 ci: fix typo for the `presto-docs` in the GitHub workflow files
  .github/workflows/hive-tests.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  .github/workflows/web-ui-checks.yml
Labels: build

#20550 ci: fix matrix.modules case in a GitHub workflow
  .github/workflows/kudu.yml
  .github/workflows/tests.yml
Labels: build

#20542 Allow null constantValues for OrcSelectiveRecordReader
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
Labels: fb-exported

#20518 [Document] how to install Presto on an Intel Mac using homebrew
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
Labels: docs

#20551 doc: Add GitHub links in the localtoc
  presto-docs/src/main/sphinx/_templates/layout.html
  presto-docs/src/main/sphinx/_templates/localtoc.html
Labels: docs

#20552 Refactor existing & add new details in Iceberg document
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: iceberg

#20605 [Document] how to install Presto on an M1 Mac using Homebrew
  presto-docs/src/main/sphinx/images/presto_console.png
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
Labels: docs

#20647 Add general properties to jdbc based connectors
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
Labels: docs

#20677 Upgrade PostgreSQL JDBC driver version
  pom.xml
Labels: Security

#19345 Infer inequality predicates in joins
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedJoinQueriesWithInequalityInference.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/EqualityInference.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/InequalityInference.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ExpressionEquivalence.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEqualityInference.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestInequalityInference.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestInequalityInferenceInJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/query/TestSubqueriesWithInequalityInferenceEnabled.java
Labels: optimizer

#20709 Fix Redis Hbo Provider docs
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
Labels: docs
