Repository prestodb/presto, pull requests merged in 2023-09, with the labels that each got.

#20676 Document Set Digest functions
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/setdigest.rst
Labels: docs

#20718 [Native] Fix e2e testing for normal_cdf
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeProbabilityFunctionQueries.java
Labels: tests

#20761 Improve Comparison Operator and function Document for IN operator
  presto-docs/src/main/sphinx/functions/comparison.rst
Labels: docs

#20792 [native] Add doc link to prestissimo page on develop ToC
  presto-docs/src/main/sphinx/develop.rst
Labels: docs

#20787 Improve docs for nessie catalog
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, iceberg

#20940 Document DICTIONARY AND RLE encodings in SerializedPage Wire Format
  presto-docs/src/main/sphinx/develop/serialized-page.rst
Labels: docs

#20776 [Iceberg] Add support for TRUNCATE
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: iceberg

#20981 Update DROP TABLE in Iceberg document
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs
