Repository prestodb/presto, pull requests merged in 2023-11, with the labels that each got.

#21193 Correct return type of cume_dist() in docs
  presto-docs/src/main/sphinx/functions/window.rst
Labels: docs

#21314 SQL statements support simple literal, as well as Unicode usage
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs

#21323 [docs] Add advanced usage for java functions impls
  presto-docs/src/main/sphinx/develop/functions.rst
Labels: docs

#21171 Add docs for Prestodb to MySQL type mapping in MySQL Connector
  presto-docs/src/main/sphinx/connector/mysql.rst
Labels: docs, pr bootcamp

#21358 [docs] Add documentation on @NullablePosition
  presto-docs/src/main/sphinx/develop/functions.rst
Labels: docs

#21322 Solve critical vulnerability of Presto UI from `@babel/traverse` npm package
  presto-main/src/main/resources/webapp/dist/query.js
  presto-main/src/main/resources/webapp/src/package.json
  presto-main/src/main/resources/webapp/src/yarn.lock
Labels: Security

#20699 Fix iceberg table creation using glue metastore
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
Labels: iceberg

#21375 [DOC] update deploy-docker.rst
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
Labels: docs

#20993 [Iceberg] Write NDVs to Iceberg table format
  pom.xml
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/Partition.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchStateFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchStateSerializer.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ThetaSketchFunctions.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/StatisticAggregationsDescriptor.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTableFinishOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestThetaSketchAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestThetaSketchFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticAggregationsDescriptor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-pinot-toolkit/pom.xml
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatisticMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatisticType.java
Labels: iceberg

#21430 minor edits to iceberg.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#21454 Remove ahanaio/prestodb-sandbox reference
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs

#21455 Add the dot before the launcher script to execute it
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs

#21457 update overview/use-cases.rst
  presto-docs/src/main/sphinx/overview/use-cases.rst
Labels: docs
