Repository prestodb/presto, pull requests merged in 2023-07, with the labels that each got.

#20298 [native pos] Add tests for json registration of functions with complex types
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
  presto-native-execution/src/test/resources/external_functions.json
Labels: fb-exported

#20048 Fix critical severity security vulnarabilities
  presto-elasticsearch/pom.xml
  presto-pinot-toolkit/pom.xml
Labels: Security

#19885 Add documentation on how to invalidate hive metastore cache and list files cache
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs

#20346 update docs for presto cli
  presto-docs/src/main/sphinx/installation/cli.rst
Labels: docs

#20015 Document available table properties in Iceberg Connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs
