Repository prestodb/presto, pull requests merged in 2023-10, with the labels that each got.

#20980 Document null handling for SET_AGG and SET_UNION
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: docs

#21008 Update protobuf
  pom.xml
Labels: Security

#20995 Typo in bitwise_right_shift documentation (value, shift, digits)
  presto-docs/src/main/sphinx/functions/bitwise.rst
Labels: docs

#21013 upgrade org.xerial.snappy:snappy-java to 1.1.10.1
  presto-product-tests/pom.xml
Labels: Security

#20994 Improve MakeSetDigest function Generic Parameter
  presto-docs/src/main/sphinx/functions/setdigest.rst
Labels: docs

#20290 [native] Add JWT processing when using http(s) comms
  .circleci/continue_config.yml
  presto-docs/src/main/sphinx/develop/presto-native.rst
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/README.md
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/http/CMakeLists.txt
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/HttpConstants.h
  presto-native-execution/presto_cpp/main/http/filters/CMakeLists.txt
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.cpp
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h
  presto-native-execution/presto_cpp/main/http/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/scripts/setup-adapters.sh
Labels: MVP

#21068 [Iceberg] Update partition spec when rename partition column in Iceberg table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: pr bootcamp

#21048 Support deleting whole partitions in Iceberg table
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
Labels: iceberg

#20964 [native] Fix GROUPING SETS with multiple aliased columns
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Labels: Merged

#21140 List all input types for geometric_mean in doc
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: docs

#21174 Update Avro version 1.11.3
  presto-bigquery/pom.xml
  presto-kafka/pom.xml
  presto-record-decoder/pom.xml
  presto-record-decoder/src/test/java/com/facebook/presto/decoder/avro/TestAvroDecoder.java
Labels: Security

#21112 Improve layout of table for SHOW STATS in docs
  presto-docs/src/main/sphinx/sql/show-stats.rst
Labels: docs

#21156 Fix Iceberg table partitioned by columns of TimestampType
  presto-common/src/main/java/com/facebook/presto/common/type/TimestampType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: iceberg

#21198 [native] Document enable-old-task-cleanup and old-task-cleanup-ms configs
  presto-docs/src/main/sphinx/develop/presto-native.rst
Labels: docs

#21034 Add HANA connector
  pom.xml
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-hana/pom.xml
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaClient.java
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaClientModule.java
  presto-hana/src/main/java/com/facebook/presto/plugin/hana/HanaPlugin.java
  presto-hana/src/test/java/com/facebook/presto/plugin/hana/TestHanaPlugin.java
  presto-main/etc/catalog/hana.properties
  presto-main/etc/config.properties
  presto-product-tests/conf/presto/etc/config.properties
  presto-server/pom.xml
  presto-server/src/main/assembly/presto.xml
  presto-spark-package/pom.xml
  presto-spark-package/src/main/assembly/presto.xml
  presto-test-coverage/pom.xml
Labels: pr bootcamp

#21175 [Docs] Fix content of Hive security configuration page
  presto-docs/src/main/sphinx/connector/hive-security.rst
Labels: docs

#21244 Correct Lead/Lag + Null Offset behavior in the doc
  presto-docs/src/main/sphinx/functions/window.rst
Labels: docs

#21271 Remove duplicate code for get Iceberg table of different catalogTypes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RollbackToSnapshotProcedure.java
Labels: iceberg

#21239 Updating documentation of MAP_TOP_N_KEYS
  presto-docs/src/main/sphinx/functions/map.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/sql/MapSqlFunctions.java
Labels: docs
