Repository prestodb/presto, pull requests merged in 2023-12, with the labels that each got.

#21189 Add support for reading v2 row level deletes in Iceberg connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcBatchPageSource.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/EqualityDeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/LazyStructLikeRow.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/PositionDeleteFilter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/RowPredicate.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/StructLikeRow.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
Labels: iceberg

#21477 Fix redis-hbo-provider docs and add coordinator hbo configuration
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
Labels: docs

#21475 fix indentation format on develop/presto-native.rst
  presto-docs/src/main/sphinx/develop/presto-native.rst
Labels: docs

#21387 Add docs for Prestodb to postgresql type mapping in postgresql connector
  presto-docs/src/main/sphinx/connector/postgresql.rst
Labels: docs

#21518 Update deploy-docker.rst
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
Labels: docs

#21498 Adding documentation for Handle case of table with no supported columns
  presto-docs/src/main/sphinx/connector/postgresql.rst
Labels: docs

#21578 Fix bug for LIKE pattern with multiple-byte characters
  presto-main/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestConditions.java
Labels: bug

#21399 Manifest file caching support for Iceberg Native Catalogs
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergResourceFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
Labels: iceberg

#21587 Document update for Parquet Writer Versions V1 and V2 support
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#21596 Update Iceberg Document for SELECT Sql Support
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#21101 Add validation that checks next URI host and port does not change during query execution
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkDriverOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestClientOptions.java
  presto-client/src/main/java/com/facebook/presto/client/ClientSession.java
  presto-client/src/main/java/com/facebook/presto/client/StatementClientV1.java
  presto-docs/src/main/sphinx/installation/jdbc.rst
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/ConnectionProperties.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoConnection.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverUri.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestingPrestoClient.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestFinalQueryInfo.java
Labels: Security
