Repository prestodb/presto, pull requests merged in 2024-05, with the labels that each got.

#22289 Enable SqlServer product tests
  .github/workflows/product-tests-specific-environment.yml
  presto-product-tests/conf/docker/singlenode-sqlserver/docker-compose.yml
  presto-product-tests/src/main/java/com/facebook/presto/tests/sqlserver/SqlServerDataTypesTableDefinition.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/sqlserver/TestSelect.java
Labels: flaky-test-hackathon-pr

#22657 [docs] Add link to develop/presto-console from clients/presto-console
  presto-docs/src/main/sphinx/clients/presto-console.rst
Labels: docs

#22620 [docs] Add prestissimo/prestissimo-properties.rst
  presto-docs/src/main/sphinx/prestissimo.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-properties.rst
Labels: docs

#22642 [docs] Update connector/hive.rst for hidden metadata columns
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs

#22715 Documented noisy aggregate functions in new page
  presto-docs/src/main/sphinx/functions.rst
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-docs/src/main/sphinx/functions/noisy.rst
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs

#22761 [docs] Fix installation/deploy-docker.rst header format
  presto-docs/src/main/sphinx/installation/deploy-docker.rst
Labels: docs

#22682 Add CTE Materialization documentation
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/cte-materialization.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs

#22717 [docs] Restructure and expand presto_cpp docs
  presto-docs/src/main/sphinx/index.rst
  presto-docs/src/main/sphinx/prestissimo.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-limitations.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-properties.rst
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Labels: docs

#22772 [docs] Add Presto C++ data type limitations
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Labels: docs

#22776 [docs] Update unsupported types in presto_cpp/limitations.rst
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Labels: docs

#22777 [docs] Fix formatting in admin/properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs

#22647 Add release notes for 0.287
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.287.rst
Labels: docs, release

#22782 [docs] Fix 0.287 release notes
  presto-docs/src/main/sphinx/release/release-0.287.rst
Labels: docs

#22799 added docs for noisy_approx_set_sfm_from_index_and_zeros
  presto-docs/src/main/sphinx/functions/noisy.rst
Labels: docs

#22796 [docs] Fix links in admin/function-namespace-managers.rst
  presto-docs/src/main/sphinx/admin/function-namespace-managers.rst
Labels: docs

#22808 Rewrite sentence
  presto-docs/src/main/sphinx/installation/spark.rst
Labels: docs

#22800 [docs] Fix links in sql/revoke.rst grant.rst show-grants.rst
  presto-docs/src/main/sphinx/sql/grant.rst
  presto-docs/src/main/sphinx/sql/revoke.rst
  presto-docs/src/main/sphinx/sql/show-grants.rst
Labels: docs

#22845 Move the description of Iceberg procedures to a dedicated subheading
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs
