Repository prestodb/presto, pull requests merged in 2024-12, with the labels that each got.

#24112 Fix spring jar security vulnerabilities
  presto-benchto-benchmarks/pom.xml
Labels: from:IBM

#24153 Fix for security vulnerability in swagger-ui
  presto-pinot-toolkit/pom.xml
Labels: from:IBM

#24095 Add partition attributes to sort node
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantSortColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifySortWithConstantInput.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/LimitPushDown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddPartitionToSortRule.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestSortWithinPartitionPlans.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/SortNode.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSortWithPartitionQueries.java
Labels: from:Meta

#24154 Add semijoin join delete tablewriter and table finish node to connector optimizer
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/DeleteNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/JoinNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/SemiJoinNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableFinishNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Labels: from:Meta

#24104 Add input distribution to delete node
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplicateSemiJoinInDelete.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/DeleteNode.java
Labels: from:Meta

#24099 snakeyaml cve fix
  pom.xml
  presto-cassandra/pom.xml
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraQueryRunner.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraTokenSplitManager.java
  presto-cassandra/src/test/resources/cu-cassandra.yaml
  presto-elasticsearch/pom.xml
Labels: from:IBM

#24181 Revert removal of SessionPropertyManager loading
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
Labels: from:IBM

#24147 [native] cache.no_retention should also be false when hive.node_selection_strategy=HARD_AFFINITY
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Labels: from:IBM

#24195 [native] Remove const from VeloxPlanValidator.
  presto-native-execution/presto_cpp/main/types/VeloxPlanConversion.cpp
  presto-native-execution/presto_cpp/main/types/VeloxPlanConversion.h
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.cpp
  presto-native-execution/presto_cpp/main/types/VeloxPlanValidator.h
Labels: from:Meta

#23961 Add javadoc on internal UUID format
  presto-common/src/main/java/com/facebook/presto/common/type/UuidType.java
Labels: from:IBM

#24193 [native] Small doc change for query-data-cache-enabled-default config to include HARD_AFFINITY
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Labels: docs, from:IBM

#24059 [native] Fix bug when parsing SqlFunctionHandle
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Labels: from:IBM

#24199 Fix for security vulnerability in swagger-ui
  presto-pinot-toolkit/pom.xml
Labels: from:IBM

#24177 Resolving CVEs related to hibernate-validator-5.1.3.Final.jar
  presto-benchto-benchmarks/pom.xml
Labels: from:IBM

#24204 [jdk upgrade] Force maven central to take precedence
  pom.xml
Labels: jdk-upgrade, from:IBM

#24217 Update README.md
  README.md
Labels: from:IBM

#24132 Enhance pbkdf2 password hashing
  presto-docs/src/main/sphinx/security/password-file.rst
  presto-password-authenticators/src/main/java/com/facebook/presto/password/file/EncryptionUtil.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/file/TestEncryptionUtil.java
  presto-password-authenticators/src/test/java/com/facebook/presto/password/file/TestPasswordStore.java
Labels: from:IBM

#24202 Make max slice size in ORC slice reader configurable
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReaderOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcRecordReaderOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BatchStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveReaderContext.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/reader/TestMaxSliceReadSize.java
Labels: fb-exported

#24137 Upgrade netty dependencies to address CVE-2024-47535
  pom.xml
  redis-hbo-provider/pom.xml
Labels: from:IBM

#24222 Shade versioned jackson classes
  presto-jdbc/pom.xml
Labels: from:Meta

#24205 [native] Add dummy class to fix Nexus release issues
  presto-native-execution/src/main/java/com/facebook/presto/Dummy.java
Labels: from:IBM

#24224 Update jenkins pipeline to remove jenkins-specific configs
  Jenkinsfile
  jenkins/agent-dind.yaml
  jenkins/agent-maven.yaml
Labels: from:IBM

#24227 Add session property to have connector optimizer apply on Values node
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: from:Meta

#24209 [native] Add two new parameters for trace control
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Labels: from:Meta

#24226 Fix strrpos function
  presto-main/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
Labels: from:Meta

#24240 [native] Wrap multistatement macros in a do-while loop
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
Labels: from:IBM

#24256 Fix bug in constructing SessionPropertyManager for Presto-On-Spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionPropertyManagerProvider.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/optimizers/TestPickJoinSides.java
Labels: from:Meta

#24245 Adding more items in PR checklists.
  CONTRIBUTING.md
Labels: from:IBM

#24247 Upgrade GSON to 2.11.0
  presto-function-namespace-managers/pom.xml
Labels: from:IBM

#24236 [native] Convert CircleCI jobs for PrestoC++ to Github actions
  .github/workflows/prestocpp-format-and-header-check.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  .github/workflows/prestocpp-macos-build.yml
Labels: from:IBM

#24168 Updated lucene-core, lucene-analyzers-common, and lucene-queryparser version to 8.10.0
  pom.xml
  presto-pinot-toolkit/pom.xml
Labels: from:IBM

#24004 Fix http splitting vulnerabilities
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-tests/src/test/java/com/facebook/presto/server/TestAsyncPageTransportServlet.java
Labels: from:IBM

#24261 Add session properties for scale writer query configs
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: from:Meta

#24123 Fixed Functional Test Failures
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Labels: from:IBM

#24163 Add an option to not enforce input partition for join build
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: from:Meta

#24048 Fix regex vulnerabilites
  presto-main/src/main/java/com/facebook/presto/server/QueryStateInfoResource.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfoResource.java
Labels: from:IBM

#24273 fix CVE-2024-55565
  presto-ui/src/yarn.lock
Labels: from:IBM

#24282 Add "native_expression.max_compiled_regexes" session property.
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: from:Meta

#24270 [native] Deprecate regex property for tracing
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Labels: from:Meta

#24295 [native] Add support shuffle compression for Prestissimo
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Labels: from:Meta

#24298 Remove Bootstrap logs from IcebergQueryRunner
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
Labels: from:IBM

#24301 [native] Fix the shuffle hanging problem when fetch data from presto …
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Labels: from:Meta

#24241 [native] Refactor Duration::toString and DataSize::toString to use fmt::format
  presto-native-execution/presto_cpp/presto_protocol/core/DataSize.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/Duration.cpp
Labels: from:IBM
