Repository prestodb/presto, pull requests merged in 2024-01, with the labels that each got.

#21335 Add Iceberg table register and unregister procedures
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RegisterTableProcedure.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/UnregisterTableProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRegisterProcedure.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Labels: iceberg

#21579 Add release notes for 0.285
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.285.rst
Labels: docs

#21553 Move iceberg session properties to hive common module
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnector.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnectorFactory.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaPageSourceProvider.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSessionProperties.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaSplitManager.java
  presto-hive-common/pom.xml
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonClientConfig.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonModule.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonSessionProperties.java
  presto-hive-common/src/test/java/com/facebook/presto/hive/TestHiveCommonClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveNodePartitioningProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/OrcFileWriterFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/DwrfBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcBatchPageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveFileSystemTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestBackgroundHiveSplitLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSessionProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestOrcBatchPageSourceMemoryTracking.java
  presto-hive/src/test/java/com/facebook/presto/hive/benchmark/HiveFileFormatBenchmark.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/ParquetTester.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiConnector.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiConnectorFactory.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiModule.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiParquetPageSources.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
Labels: iceberg

#21602 Preserve case for RowType's field name and JSON content when ``CAST``
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-main/src/main/java/com/facebook/presto/util/JsonUtil.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Cast.java
Labels: bug

#21024 Add client option to disable redirects
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
  presto-cli/src/main/java/com/facebook/presto/cli/QueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestClientOptions.java
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-docs/src/main/sphinx/installation/jdbc.rst
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/ConnectionProperties.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriver.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverUri.java
Labels: Security

#21660 [DOCUMENTATION] fix formatting in kurtosis entry of aggregate function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: docs

#21652 Add available raptorx caching details in Iceberg Connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#21714 Upgrade Iceberg Version
  presto-iceberg/pom.xml
Labels: Security

#21723 Add release notes for 0.285.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.285.1.rst
  presto-docs/src/main/sphinx/release/release-0.285.rst
Labels: docs

#21752 fix typo in release/release-0.255.rst
  presto-docs/src/main/sphinx/release/release-0.255.rst
Labels: docs

#21629 Optimize Table Metadata calls for Iceberg tables
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergBaseBenchmark.java
Labels: iceberg

#21764 Remove partitions from JSON constructor of BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
Labels: iceberg

#21818 Update types.rst
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs
