Repository prestodb/presto, pull requests merged in 2024-09, with the labels that each got.

#23559 [iceberg] Add procedure rollback_to_timestamp
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RollbackToTimestampProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestRollbackToTimestampProcedure.java
Labels: iceberg

#23580 make IcebergDistributedSmokeTestBase abstract
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Labels: correctness, iceberg

#23578 Clarify top N array function
  presto-docs/src/main/sphinx/functions/array.rst
Labels: docs

#23513 Add release notes for 0.289
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.289.rst
Labels: docs

#23583 [docs] Fix formatting of code example for array_has_duplicates
  presto-docs/src/main/sphinx/functions/array.rst
Labels: docs

#23575 Remove `using namespace` from header files
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/operators/BroadcastExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.h
Labels: fb-exported

#23591 [docs] Fix formatting in functions/array.rst
  presto-docs/src/main/sphinx/functions/array.rst
Labels: docs

#23388 Persist proper logical type parameters in parquet files
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveFileFormats.java
  presto-iceberg/pom.xml
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/cache/MetadataReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/MessageTypeConverter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetSchemaConverter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriter.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/writer/TestParquetWriter.java
Labels: iceberg, parquet

#23636 [docs] fix formatting in presto-cpp/features.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Labels: docs

#23676 broadcasted --> broadcast
  presto-docs/src/main/sphinx/sql/explain.rst
Labels: docs

#23679 Add missing article
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs

#23619 [docs] Fix formatting in functions/json.rst
  presto-docs/src/main/sphinx/functions/json.rst
Labels: docs

#23723 [docs] Add doc for driver.cancel-tasks-with-stuck-operators-threshold-ms
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Labels: docs

#23737 [docs] Add a PR link in release-0.282.rst
  presto-docs/src/main/sphinx/release/release-0.282.rst
Labels: docs

#23736 [docs] Add doc requirement for new methods to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs
