Repository prestodb/presto, pull requests merged in 2024-04, with the labels that each got.

#22392 [docs] Delete develop/presto-native.rst
  presto-docs/src/main/sphinx/develop/presto-native.rst
Labels: docs

#22398 [docs] Fix heading formatting in prestissimo/prestissimo-features.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-features.rst
Labels: docs

#21236 Add histograms for optimizer cost calculation
  presto-benchto-benchmarks/src/test/java/com/facebook/presto/sql/planner/AbstractCostBasedPlanTest.java
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/histogram/q85.plan.txt
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestParquetDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestShowStats.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/ComparisonStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/ConnectorFilterStatsCalculatorService.java
  presto-main/src/main/java/com/facebook/presto/cost/DisjointRangeDomainHistogram.java
  presto-main/src/main/java/com/facebook/presto/cost/FilterStatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistogramCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/JoinStatsRule.java
  presto-main/src/main/java/com/facebook/presto/cost/PlanNodeStatsEstimateMath.java
  presto-main/src/main/java/com/facebook/presto/cost/StatisticRange.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsUtil.java
  presto-main/src/main/java/com/facebook/presto/cost/UniformDistributionHistogram.java
  presto-main/src/main/java/com/facebook/presto/cost/VariableStatsEstimate.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/ShowStatsRewrite.java
  presto-main/src/test/java/com/facebook/presto/cost/AbstractTestComparisonStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/AbstractTestFilterStatsCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestComparisonStatsCalculatorHistograms.java
  presto-main/src/test/java/com/facebook/presto/cost/TestComparisonStatsCalculatorNoHistograms.java
  presto-main/src/test/java/com/facebook/presto/cost/TestConnectorFilterStatsCalculatorService.java
  presto-main/src/test/java/com/facebook/presto/cost/TestDisjointRangeDomainHistogram.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculatorHistograms.java
  presto-main/src/test/java/com/facebook/presto/cost/TestFilterStatsCalculatorNoHistograms.java
  presto-main/src/test/java/com/facebook/presto/cost/TestHistogram.java
  presto-main/src/test/java/com/facebook/presto/cost/TestHistogramCalculator.java
  presto-main/src/test/java/com/facebook/presto/cost/TestPlanNodeStatsEstimateMath.java
  presto-main/src/test/java/com/facebook/presto/cost/TestStatisticRange.java
  presto-main/src/test/java/com/facebook/presto/cost/TestUniformHistogram.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/queryplan/TestJsonPrestoQueryPlanFunctionUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestWriter.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestExternalHiveTable.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveTableStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatisticType.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ColumnStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ConnectorHistogram.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/Estimate.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
Labels: optimizer

#22334 [docs] document Native Session Properties
  presto-docs/src/main/sphinx/prestissimo/prestissimo-features.rst
Labels: docs

#22290 Re-enable `TestJDBCClient.testAlterColumns` in JDBC
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcClient.java
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabase.java
Labels: flaky-test-hackathon-pr

#22535 [docs] Fix formatting in Hive Connector Procedures doc
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs

#22602 [docs] Update clients/presto-cli.rst with --runtime-stats
  presto-docs/src/main/sphinx/clients/presto-cli.rst
Labels: docs

#22355 [docs] Casting strings to integer types allows leading and trailing spaces
  presto-docs/src/main/sphinx/functions/conversion.rst
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs

#22637 Add a doc page for Presto Console development
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/develop/presto-console.rst
Labels: docs
