Repository prestodb/presto, pull requests merged in 2024-11, with the labels that each got.

#22307 Re-enable TestDistributedQueuesSchedulingPolicy
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestDistributedQueuesSchedulingPolicy.java
Labels: flaky-test-hackathon-pr

#23960 [codemod] Remove unused-variable in /fbcode/github/presto-trunk/presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Labels: fb-exported

#24018 [jdk-upgrade] Fix missing license header checks in presto-ui module
  presto-ui/pom.xml
Labels: from:IBM

#23936 Add release notes for 0.290
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.290.rst
Labels: docs

#24056 [native] Update README
  presto-native-execution/README.md
Labels: from:IBM

#24061 [jdk-upgrade] Fix maven checks for presto-benchmark-driver
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkDriverOptions.java
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkQuery.java
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkQueryRunner.java
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/BenchmarkResultsPrinter.java
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/PrestoBenchmarkDriver.java
  presto-benchmark-driver/src/main/java/com/facebook/presto/benchmark/driver/Suite.java
Labels: from:IBM

#24063 [native] Allow incoming Velox abfs namespace change
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:IBM

#24051 Upgrade gson and grpc to address CVE-2022-25647
  pom.xml
  presto-bigquery/pom.xml
  presto-function-namespace-managers/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Labels: from:IBM

#24065 [native] Disable Parsing Decimal as Double
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Labels: from:IBM

#24096 [jdk upgrade] maven checks on presto-router
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/spec/SelectorRuleSpec.java
Labels: from:IBM

#24039 Update TPCH documentation to include schemas, table names, row counts
  presto-docs/src/main/sphinx/connector/tpch.rst
Labels: docs

#24105 Add lookup function API to StandardFunctionResolution
  presto-main/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main/src/test/java/com/facebook/presto/sql/relational/TestFunctionResolution.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
Labels: from:Meta

#24103 Tighten checks for "bins" elements in width_bucket(x, bins)
  presto-docs/src/main/sphinx/functions/math.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Labels: from:Meta

#24106 Drop getPreferredShuffleLayout methods from SPI
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushTableWriteThroughUnion.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ScaledWriterRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Labels: from:Meta

#24116 Fix Password Authenticator Documentation
  presto-docs/src/main/sphinx/develop/password-authenticator.rst
Labels: docs, from:IBM

#24040 [native] Disable plan validation failure for timestamp with timezone and ipaddress types for native execution.
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestCheckUnsupportedPrestissimoTypes.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Labels: from:Meta

#24139 Update pull request template to refer to CONTRIBUTING
  pull_request_template.md
Labels: from:IBM

#24151 [native] Enable ipaddress checksum test.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeAggregations.java
Labels: from:Meta
