Repository prestodb/presto, pull requests merged in 2024-03, with the labels that each got.

#22093 Document Iceberg connector supported data types mapping #21998
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#22071 Document missing Iceberg configuration properties
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#22065 Add documentation for HBO
  presto-docs/src/main/sphinx/optimizer.rst
  presto-docs/src/main/sphinx/optimizer/history-based-optimization.rst
Labels: docs

#21906 Add release notes for 0.286
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.286.rst
Labels: docs, release

#22270 Fix Title Underline Length in Sphinx Documentation
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs

#22301 Increase timeout for flaky MergeOperator test
  presto-main/src/test/java/com/facebook/presto/operator/OperatorAssertion.java
Labels: flaky-test

#22314 Fix recoverable execution and enable flaky test in TestHiveRecoverableExecution
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableExecution.java
  presto-main/src/main/java/com/facebook/presto/operator/TableFinishOperator.java
Labels: flaky-test

#22326 [doc] fix formatting of Synopsis code block in update.rst
  presto-docs/src/main/sphinx/sql/update.rst
Labels: docs

#21949 Document all the currently supported SQL operation for Mysql connector
  presto-docs/src/main/sphinx/connector/mysql.rst
Labels: docs

#22246 [Doc]Document all the currently supported SQL operation for postgresql connector
  presto-docs/src/main/sphinx/connector/postgresql.rst
Labels: docs

#22248 [DOC] Update JMX connector documentation
  presto-docs/src/main/sphinx/connector/jmx.rst
Labels: docs

#22249 [Doc]Document all the currently supported SQL operation for memory connector
  presto-docs/src/main/sphinx/connector/memory.rst
Labels: docs

#22340 [docs] fix formatting in language/types.rst
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs

#22293 Retry docker compose
  presto-hive-hadoop2/bin/common.sh
Labels: flaky-test-hackathon-pr

#22308 Fix and enable flaky test TestQueryManager.testQueryCountMetrics
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/H2TestUtil.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Labels: flaky-test-hackathon-pr

#22265 [docs] Add Presto Clients category and CLI usage to documentation
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/presto-cli.rst
  presto-docs/src/main/sphinx/index.rst
  presto-docs/src/main/sphinx/installation/cli.rst
Labels: docs

#22349 [docs] Add Presto Console page to /clients/
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/presto-console.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
Labels: docs
