Repository prestodb/presto, pull requests merged in 2024-02, with the labels that each got.

#21816 Add dataDirectory param to IcebergQueryRunner
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergParquetMetadataCaching.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
Labels: iceberg

#21698 Add Ecosystem and ORM to docs
  presto-docs/src/main/sphinx/ecosystem.rst
  presto-docs/src/main/sphinx/ecosystem/list.rst
  presto-docs/src/main/sphinx/index.rst
Labels: docs

#21884 Fix sign shift issue in presto
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
Labels: fb-exported

#21831 [documentation] revision of redis-hbo-provider.rst
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
Labels: docs

#21819 Remove logback core depenency as it's not been used anywhere
  pom.xml
Labels: Security

#21802 Update Logging Properties Documentation
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs

#21953 [documentation] restructure Prestissimo developer documentation in Presto docs
  presto-docs/src/main/sphinx/develop.rst
  presto-docs/src/main/sphinx/index.rst
  presto-docs/src/main/sphinx/prestissimo.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-features.rst
Labels: docs

#21883 feat(presto-docs): build PDF for Presto's doc
  .github/workflows/docs.yml
  .github/workflows/maven-checks.yml
  presto-docs/README.md
  presto-docs/build
  presto-docs/requirements.txt
  presto-docs/src/main/sphinx/conf.py
Labels: docs

#21982 [docs] fix formatting of code examples in array and map functions doc
  presto-docs/src/main/sphinx/functions/array.rst
  presto-docs/src/main/sphinx/functions/map.rst
Labels: docs

#21571 Iceberg MOR support - implement row-level deletes
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/CommitTaskData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUpdateablePageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/IcebergDeletePageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
Labels: iceberg

#21981 [docs] document Prestissimo reduce_agg behavior
  presto-docs/src/main/sphinx/prestissimo.rst
  presto-docs/src/main/sphinx/prestissimo/prestissimo-limitations.rst
Labels: docs

#21938 Documentation on Enabling SSL/TLS support for SQL Server.
  presto-docs/src/main/sphinx/connector/sqlserver.rst
Labels: docs, Security

#22018 [native] Fix documentation on async data cache
  presto-docs/src/main/sphinx/prestissimo/prestissimo-features.rst
Labels: docs
