Repository prestodb/presto, pull requests merged in 2025-01, with the labels that each got.

#24309 [Iceberg] Fix argument order in bucket transforms
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
Labels: from:IBM

#24311 [native] Make a noisy log VLOG.
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Labels: from:Meta

#24258 Do not use AI tools to generate documentation
  CONTRIBUTING.md
Labels: from:IBM

#24329 [Doc] Fix reference link in the document
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Labels: docs

#24333 Fix #24327: Create a symlink for libaio.so.1 to run test-other-modules
  .github/workflows/test-other-modules.yml
Labels: from:IBM

#24184 Upgrade jetty dependencies to address CVE-2024-8184
  pom.xml
Labels: from:IBM

#23957 Fix for select query failure in presto-bigquery
  presto-bigquery/pom.xml
Labels: from:IBM

#24287 Refactor ExpressionOptimizer
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestDomainTranslator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSubfieldExtractor.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/relational/RowExpressionOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/relation/ExpressionOptimizer.java
Labels: from:IBM

#24091 Complete iceberg support for time type
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/LongColumnWriter.java
Labels: from:IBM

#24332 [native] Improve an error message.
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Labels: from:Meta

#24337 Update release notes for v0.288
  presto-docs/src/main/sphinx/release/release-0.288.rst
Labels: docs, from:IBM

#23761 Fix flaky testMemoryUsedIsNotAFunctionOfDataPageCount
  presto-parquet/pom.xml
  presto-parquet/src/test/java/com/facebook/presto/parquet/reader/TestLargeRowGroup.java
Labels: from:IBM

#24326 [iceberg] Disallow in-memory hive metastore caching
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConnectorFactory.java
Labels: from:IBM

#24249 Update commons-dbcp2 version to fix common vulnerabilities and exposures
  pom.xml
Labels: from:IBM

#24340 Add JDBC Properties section
  presto-docs/src/main/sphinx/admin/properties-session.rst
Labels: docs

#24173 [native] Update docs for VARCHAR type length value
  presto-docs/src/main/sphinx/language/types.rst
Labels: docs, from:IBM

#24280 [native] Remove old CircleCI jobs
  .circleci/config.yml
  .circleci/continue_config.yml
Labels: from:IBM

#24355 [native] Fix shuffle compression kind string in toVeloxConfigs()
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Labels: from:Meta

#24182 Added catalog and schema level access checks in USE statement
  presto-main/src/main/java/com/facebook/presto/execution/UseTask.java
  presto-main/src/test/java/com/facebook/presto/execution/TestUseTask.java
Labels: from:IBM

#24352 [MongoDB] add TLS CA File steps to docs
  presto-docs/src/main/sphinx/connector/mongodb.rst
Labels: docs

#24358 Update Prestissimo docs to remove restriction for UUID type
  presto-docs/src/main/sphinx/presto_cpp/limitations.rst
Labels: docs, from:IBM

#24351 Fix ORC single rowgroup read to use StripeMetadataSource instead of M…
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Labels: from:IBM

#24364 Update Drift to 1.40
  pom.xml
Labels: from:Meta

#24361 [native] Disable Spark E2E test CI job
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Labels: from:IBM

#24369 [native] Respect summarize flag in TaskResource
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/SystemConnector.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Labels: from:Meta

#24368 [native] Enable additional Spark tests in CI
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Labels: from:IBM

#24375 Give Prestissimo team the ability to merge CI updates
  CODEOWNERS
Labels: from:IBM

#24372 [native] Deprecate query level cache config
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: from:Meta

#24380 [native] Fix crash in PrestoTask::updateExecutionInfoLocked
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Labels: from:Meta

#24366 Fix iceberg hive metadata listTables for non existent schema
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: from:IBM

#24377 Upgrade caniuse-lite to fix browserslist warnings during build
  presto-ui/src/yarn.lock
Labels: from:IBM

#24374 Fix webpack file size warnings on entrypoints
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/QueryList.jsx
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryStageView.jsx
  presto-ui/src/components/QueryViewer.jsx
  presto-ui/src/components/SQLInput.jsx
  presto-ui/src/components/StageDetail.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
  presto-ui/src/d3utils.js
  presto-ui/src/embedded_plan.jsx
  presto-ui/src/index.jsx
  presto-ui/src/lazy.jsx
  presto-ui/src/plan.jsx
  presto-ui/src/query.jsx
  presto-ui/src/query_viewer.jsx
  presto-ui/src/res_groups.jsx
  presto-ui/src/sql_client.jsx
  presto-ui/src/stage.jsx
  presto-ui/src/timeline.jsx
  presto-ui/src/utils.js
  presto-ui/src/webpack.config.js
  presto-ui/src/worker.jsx
Labels: from:IBM

#24376 [iceberg] Reduce redundant getTable calls in IcebergHiveMetadata
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
Labels: from:IBM

#24347 [docs] Fix formatting in admin/cte-materialization.rst
  presto-docs/src/main/sphinx/admin/cte-materialization.rst
Labels: docs, from:IBM

#24387 Remove extra dash and space to fix the illegal JDOM comment error
  presto-cassandra/pom.xml
Labels: from:IBM

#24408 [native] Add disk usage output to CI
  .github/workflows/prestocpp-linux-build.yml
Labels: from:IBM

#24405 [native] Remove flaky spark tests to stabilize CI
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Labels: from:IBM

#24401 Move HiveSchemaProperties class to presto-hive-metastore module
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/SchemaProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveConnectorFactory.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSchemaProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
Labels: from:IBM

#24237 [native] Change C-style casts to C++-style
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BroadcastTest.cpp
  presto-native-execution/presto_cpp/main/runtime-metrics/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/VariableReferenceExpressionTest.cpp
Labels: from:IBM

#24388 Migrate presto stable release pipeline from jenkins to github actions
  .github/workflows/presto-stable-release.yml
Labels: from:IBM

#24415 Fix flaky Iceberg parquet metadata cache test
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergParquetMetadataCaching.java
Labels: from:IBM

#24336 Support BigInt in the `QueryResult` component
  presto-ui/src/components/QueryResults.jsx
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Labels: from:IBM

#24421 Fix build
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Labels: from:IBM

#24412 Use a wrapper for event loop to handle exceptions gracefully
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Labels: from:Meta

#24420 [docs] Add Presto SQL on Everything PDF to Overview
  presto-docs/src/main/sphinx/overview.rst
  presto-docs/src/main/sphinx/overview/Presto_SQL_on_Everything.pdf
Labels: from:IBM

#24341 Use StringBuilder for some toString methods instead of string concatenation
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionId.java
  presto-main/src/main/java/com/facebook/presto/execution/StageId.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskId.java
  presto-main/src/test/java/com/facebook/presto/execution/TestId.java
  presto-spi/src/main/java/com/facebook/presto/spi/QueryId.java
Labels: from:Meta

#24430 [native] Convert few more Velox operator names to Presto.
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Labels: from:Meta

#24433 [Docs]Fix link breaks caused by `##` in Iceberg document
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#24426 Fix push error for presto stable release workflow
  .github/workflows/presto-stable-release.yml
Labels: from:IBM

#24436 Enhance secure connection protocol
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/util/SslContextProvider.java
Labels: from:IBM

#24425 [docs] Add python and go to /clients
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/go.rst
  presto-docs/src/main/sphinx/clients/python.rst
Labels: docs, from:IBM

#24444 [native]Reference hive connector util for subfield filter
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
Labels: from:Meta

#23796 Security Fix: Okio CVE-2023-3635 + OkHttp Jar Update
  pom.xml
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/okhttp/internal/tls/DistinguishedNameParser.java
  presto-client/src/main/java/okhttp/internal/tls/LegacyHostnameVerifier.java
  presto-native-sidecar-plugin/pom.xml
Labels: from:IBM

#24414 Optimize how we merge multiple operatorStats
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
Labels: from:Meta

#24446 Record CPU time on various planning stages
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-common/src/main/java/com/facebook/presto/common/RuntimeStats.java
  presto-common/src/test/java/com/facebook/presto/common/TestRuntimeStats.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MetadataExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/util/MetadataUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
Labels: from:Meta

#24453 [native] Add missing catalog configurations to docker image
  docker/Dockerfile
Labels: from:IBM

#24410 [native] Suppress connector values from being logged
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:IBM

#24427 Arrow Flight Connector Template
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/test-other-modules.yml
  pom.xml
  presto-base-arrow-flight/pom.xml
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowBlockBuilder.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowColumnHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowConnector.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowConnectorFactory.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowConnectorId.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowErrorCode.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowException.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowFlightConfig.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowHandleResolver.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowModule.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPageSource.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPageSourceProvider.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowPlugin.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowSplit.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowSplitManager.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowTableHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowTableLayoutHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowTransactionHandle.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/BaseArrowFlightClientHandler.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ClientClosingFlightStream.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowMetadataUtil.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowBlockBuilder.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowColumnHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowHandleResolver.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowPlugin.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowSplit.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowTableHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowTableLayoutHandle.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowBlockBuilder.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowFlightPlugin.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowModule.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingConnector/TestingArrowQueryBuilder.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowFlightRequest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowFlightResponse.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingArrowProducer.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/testingServer/TestingH2DatabaseSetup.java
  presto-base-arrow-flight/src/test/resources/server.crt
  presto-base-arrow-flight/src/test/resources/server.key
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Labels: from:IBM

#24459 Revert " Upgrade Okie to version 3.6.0 and OkHttp to version 4.12.0"
  pom.xml
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/okhttp/internal/tls/DistinguishedNameParser.java
  presto-client/src/main/java/okhttp/internal/tls/LegacyHostnameVerifier.java
  presto-native-sidecar-plugin/pom.xml
Labels: from:Meta

#23534 Fix timestamp with timezone mapping in iceberg type converter
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/AbstractTestParquetReader.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestNestedFieldConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestSchemaConverter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/ValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/delta/Int64TimeAndTimestampMicrosDeltaBinaryPackedValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/plain/Int64TimeAndTimestampMicrosPlainValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/rle/Int64TimeAndTimestampMicrosRLEDictionaryValuesDecoder.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriters.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/TimestampWithTimezoneValueWriter.java
Labels: bug, iceberg, from:IBM

#24438 Upgrade accumulo to 1.10.1 to fix CVE-2020-17533
  pom.xml
  presto-accumulo/pom.xml
Labels: from:IBM

#24396 [native] Fix varchar cast for json
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Labels: fb-exported, from:Meta
