Repository prestodb/presto, pull requests merged in 2025-09, with the labels that each got.

#25907 fix: Deserialized TDigest NaN checks
  presto-main-base/src/main/java/com/facebook/presto/tdigest/TDigest.java
  presto-main-base/src/test/java/com/facebook/presto/tdigest/TestTDigest.java
Labels: fb-exported, from:Meta

#25928 Fix minor documentation issues
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Labels: docs

#25924 Generalize the doc page explaining how to deploy Presto with Homebrew
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
Labels: docs

#25818 Extract all inlined sql invoked functions into a new plugin `presto-sql-invoked-functions-plugin`
  pom.xml
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/TestDistributedQueriesSingleNode.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedNanQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithExchangeMaterialization.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithOptimizedRepartitioning.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithThriftRpc.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestLambdaSubfieldPruning.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestParquetDistributedQueries.java
  presto-i18n-functions/src/test/java/com/facebook/presto/i18n/functions/TestMyanmarFunctions.java
  presto-main-base/pom.xml
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInSpecialFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionListBuilder.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/ArrayIntersectFunction.java
  presto-main-base/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/AbstractTestFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCrossJoinWithArrayNotContainsToAntiJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestLeftJoinWithArrayContainsToEquiJoinCondition.java
  presto-main/etc/config.properties
  presto-ml/src/test/java/com/facebook/presto/ml/AbstractTestMLFunctions.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeArrayFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGeneralQueriesJSON.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGeneralQueriesThrift.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-pinot/src/test/java/com/facebook/presto/pinot/udf/TestPinotFunctions.java
  presto-server/src/main/provisio/presto.xml
  presto-sql-invoked-functions-plugin/pom.xml
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/ArrayIntersectFunction.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/ArraySqlFunctions.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/MapNormalizeFunction.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/MapSqlFunctions.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/SimpleSamplingPercent.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/SqlInvokedFunctionsPlugin.java
  presto-sql-invoked-functions-plugin/src/main/java/com/facebook/presto/scalar/sql/StringSqlFunctions.java
  presto-teradata-functions/src/test/java/com/facebook/presto/teradata/functions/TestTeradataDateFunctions.java
  presto-teradata-functions/src/test/java/com/facebook/presto/teradata/functions/TestTeradataFunctions.java
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/functions/TestBuiltInConnectorFunctions.java
  presto-tests/src/test/java/com/facebook/presto/functions/TestPluginLoadedDuplicateSqlInvokedFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedEngineOnlyQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueriesWithTempStorage.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryPlanDeterminism.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSqlFunctions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestVerboseOptimizerInfo.java
Labels: from:IBM

#25935 Move annotation LiteralParameter to SPI for use in other modules
  presto-main-base/src/main/java/com/facebook/presto/operator/annotations/ImplementationDependency.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/CharacterStringCasts.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JoniRegexpCasts.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/type/BigintOperators.java
  presto-main-base/src/main/java/com/facebook/presto/type/LikeFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestAnnotationEngineForAggregates.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestAnnotationEngineForScalars.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestStringFunctions.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/LiteralParameter.java
Labels: from:IBM

#25951 Implement Iceberg system.bucket scalar function
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConnector.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/function/IcebergBucketFunction.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergScalarFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
Labels: iceberg, from:IBM

#25869 TVF Part 3/X Analyze table function invocation.
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Field.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/MockConnectorColumnHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/MockConnectorTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestTableFunctionRegistry.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Expression.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Node.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionDescriptorArgument.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionTableArgument.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/DescriptorArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ReturnTypeSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/ScalarArgumentSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/table/TableArgumentSpecification.java
Labels: from:IBM

#25985 Update `current_time` and `localtime` DateTimeFunctions to align with the session date/time
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsLegacy.java
Labels: from:IBM

#25689 [Coordinator throttling] Scheduling Policies for Admission Control based on worker load
  presto-main-base/src/main/java/com/facebook/presto/execution/ClusterOverloadConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main-base/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroupManager.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/ClusterOverloadPolicy.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/ClusterOverloadPolicyFactory.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/ClusterOverloadPolicyModule.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/ClusterOverloadStateListener.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/ClusterResourceChecker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/clusterOverload/CpuMemoryOverloadPolicy.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/InMemoryNodeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/InternalNodeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/RemoteNodeStats.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/ThriftRemoteNodeStats.java
  presto-main-base/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestClusterOverloadConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/resourceGroups/BenchmarkResourceGroup.java
  presto-main-base/src/test/java/com/facebook/presto/execution/resourceGroups/TestInternalResourceGroupManager.java
  presto-main-base/src/test/java/com/facebook/presto/execution/resourceGroups/TestResourceGroups.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/clusterOverload/TestClusterResourceChecker.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/clusterOverload/TestCpuMemoryOverloadPolicy.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestQueryStateInfo.java
  presto-main/src/main/java/com/facebook/presto/metadata/DiscoveryNodeManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/HttpRemoteNodeStats.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/reloading/TestReloadingResourceGroupConfigurationManager.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkInternalNodeManager.java
Labels: fb-exported, from:Meta

#25989 [presto] Add enum type flag to Prestissimo worker config
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/TypeParserTest.cpp
Labels: fb-exported, from:Meta

#25640 Allow duplicate function signatures when matching with generic candidates
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: presto-native-tests, from:IBM

#26008 [pos][native] Setup cpp worker memory settings based on sparkConf (for smart retries)
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
Labels: from:Meta

#25984 Split Provisio plugin packaging into plugins and native-plugins directory
  presto-docs/src/main/sphinx/plugin/native-sidecar-plugin.rst
  presto-product-tests/conf/docker/common/compose-commons.sh
  presto-server/src/main/provisio/presto.xml
Labels: from:IBM

#25388 [native] Add Mutual TLS support to Arrow Flight connector
  .github/workflows/arrow-flight-tests.yml
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueriesMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-base-arrow-flight/src/test/resources/certs/ca.crt
  presto-base-arrow-flight/src/test/resources/certs/client.crt
  presto-base-arrow-flight/src/test/resources/certs/client.key
  presto-base-arrow-flight/src/test/resources/certs/invalid_cert.crt
  presto-base-arrow-flight/src/test/resources/certs/server.crt
  presto-base-arrow-flight/src/test/resources/certs/server.key
  presto-base-arrow-flight/src/test/resources/server.crt
  presto-base-arrow-flight/src/test/resources/server.key
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConfig.h
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConfigTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorMTlsTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/ArrowFlightConnectorTlsTest.cpp
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/README.md
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/client.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/certs/server.key
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/generate_tls_certs.sh
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/ca.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.crt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/tests/data/tls_certs/server.key
Labels: from:IBM

#26031 [sapphire-velox]fix: Fix to handle multiple TaskSource have the same source node
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Labels: fb-exported, from:Meta, meta-exported

#26032 [native] Assign createFinishTimeMs at point of task completion in pre…
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Labels: from:Meta

#25991 Upgrade org.fusesource.jansi:jansi version to 2.4.2
  pom.xml
  presto-cli/src/main/java/com/facebook/presto/cli/KeyReader.java
Labels: from:IBM

#25712 Enable more features for prestissimo image
  .github/workflows/presto-release-publish.yml
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
  presto-native-execution/scripts/dockerfiles/ubuntu-22.04-dependency.dockerfile
  presto-native-execution/scripts/setup-adapters.sh
Labels: from:IBM

#26044 Package memory connector plugin under native-plugin/ using Provisio
  presto-server/src/main/provisio/presto.xml
Labels: from:IBM

#26021 Bump jdbi-core and jdbi-sqlclient to latest version
  pom.xml
Labels: from:IBM

#25913 Enhance lineage capture to include column-level details
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-common/src/main/java/com/facebook/presto/common/SourceColumn.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestOutputColumnTypes.java
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main-base/src/main/java/com/facebook/presto/execution/Output.java
  presto-main-base/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/OutputExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestOutput.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestingWriterTarget.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/OutputColumnMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryOutputMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/TableWriterNode.java
Labels: from:IBM

#25988 TVF Part 4/X: Plan table function invocation and add tests
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestJdbcDistributedQueries.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableFunctionHandle.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RewriteTableFunctionToTableScan.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TableFunctionNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorColumnHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorFactory.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPageSource.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorPlugin.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTableHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFConnectorTransactionHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFHandleResolver.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFPartitioningHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestTVFTableLayoutHandle.java
  presto-main-base/src/test/java/com/facebook/presto/connector/tvf/TestingTableFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestTableFunctionInvocation.java
Labels: from:IBM

#25882 Add plan support for using uniqueness of row_id
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveBucketedTablesWithRowId.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/TableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ActualProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/LocalProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPreferredProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLocalProperties.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableLayout.java
  presto-spi/src/main/java/com/facebook/presto/spi/UniqueProperty.java
Labels: from:Meta

#26019 Upgrade org.apache.yetus:audience-annotations version to 0.15.1
  presto-kudu/pom.xml
Labels: from:IBM

#26055 Fix aggregate function builtin special functions
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInSpecialFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestBuiltInNativeFunctions.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Labels: from:Meta

#26060 [native] Remove deprecated function signature
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Labels: from:Meta

#26066 [native] feat: pass source and schema to connector config
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
Labels: fb-exported, from:Meta, meta-exported

#26056 Include native built in functions ci test
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBuiltInFunctions.java
Labels: from:Meta

#26083 Fix incompatible java.lang.NoSuchMethodError: java.util.Optional.orElseThrow()
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
Labels: from:Meta

#26030 Add ability to schedule splits based on Task load, not Node load.
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeAssignmentStats.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/NodeSchedulerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestNodeSchedulerConfig.java
Labels: from:Meta

#26082 Initialize server port when test class is initialized instead of in constructor
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
Labels: from:IBM

#26093 Add GitHub Actions workflow for dependency review
  .github/workflows/dependency-review.yml
Labels: from:IBM

#26085 [pos] Re-enable broadcast related tests
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeTpchQueries.java
Labels: from:Meta

#26090 [native] Consider lookup variable while parsing index lookup condition
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Labels: from:Meta

#25603 Fix static scan issue by updating AES cipher mode
  presto-main-base/src/main/java/com/facebook/presto/spiller/AesSpillCipher.java
Labels: from:IBM

#26105 chore: Add a check for CVEs present in new transitive dependencies
  .github/actions/maven-owasp-scan/action.yml
  .github/workflows/owasp-dependency-check.yml
Labels: from:IBM

#26140 Rewrite Geometry to Varchar type for verifier temp tables
  presto-verifier/src/main/java/com/facebook/presto/verifier/rewrite/QueryRewriter.java
Labels: fb-exported, from:Meta, meta-exported

#26161 Free more space for product-tests-specific-environment2
  .github/workflows/product-tests-specific-environment.yml
Labels: from:IBM

#26165 [presissimo]refactor: used estimateFlatSize instead of BaseVector::inMemoryBytes API
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/ArrowFlightConnector.cpp
Labels: fb-exported, from:Meta, meta-exported

#26169 [Doc] Fix connector.name in document
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs, from:IBM

#26128 Add x509 certificates list to identity class
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Labels: from:Meta

#25313 Adding changes to generate jks file programatically to enable ssl/tls in hms
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStoreKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore-truststore.jks
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore.jks
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/SslKeystoreManager.java
Labels: from:IBM
