Repository prestodb/presto, pull requests merged in 2025-07, with the labels that each got.

#25375 Fix some issues of prepare release action
  .github/workflows/presto-release-prepare.yml
Labels: from:IBM

#25467 CI: Skip prestocpp builds for PRs that only modify presto-docs
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Labels: from:IBM

#25451 Extend subfield pushdown to handle map_filter
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25463 [docs] Add documentation for offset configuration and session properties
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs, from:IBM

#25462 Add max column config and session properties to equality delete as jo…
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
Labels: from:IBM

#25471 Fix subfield pushdown arg index for selecting entire struct column
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: fb-exported, from:Meta

#25469 Enable check_access_control_on_utilized_columns_only session property…
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueryRunner.java
Labels: from:Meta

#25505 [docs] Add that $ is reserved to language/reserved.rst
  presto-docs/src/main/sphinx/language/reserved.rst
Labels: docs, from:IBM

#25442 Enhance PruneUnreferencedOutputs for index join
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPruneUnreferencedOutputs.java
Labels: from:Meta

#25386 [native] Add macos-latest CI build
  .github/workflows/prestocpp-macos-build.yml
  presto-native-execution/scripts/setup-macos.sh
Labels: from:IBM

#25510 Add name to pom.xml to fix release validation
  presto-accumulo/pom.xml
  presto-atop/pom.xml
  presto-bigquery/pom.xml
  presto-blackhole/pom.xml
  presto-cache/pom.xml
  presto-cassandra/pom.xml
  presto-clickhouse/pom.xml
  presto-cluster-ttl-providers/pom.xml
  presto-delta/pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
  presto-example-http/pom.xml
  presto-function-namespace-managers-common/pom.xml
  presto-geospatial-toolkit/pom.xml
  presto-google-sheets/pom.xml
  presto-hana/pom.xml
  presto-hdfs-core/pom.xml
  presto-hive-common/pom.xml
  presto-hive-function-namespace/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hudi/pom.xml
  presto-i18n-functions/pom.xml
  presto-iceberg/pom.xml
  presto-jmx/pom.xml
  presto-kafka/pom.xml
  presto-kudu/pom.xml
  presto-lark-sheets/pom.xml
  presto-local-file/pom.xml
  presto-memory/pom.xml
  presto-ml/pom.xml
  presto-mongodb/pom.xml
  presto-mysql/pom.xml
  presto-native-sidecar-plugin/pom.xml
  presto-node-ttl-fetchers/pom.xml
  presto-open-telemetry/pom.xml
  presto-oracle/pom.xml
  presto-password-authenticators/pom.xml
  presto-postgresql/pom.xml
  presto-prometheus/pom.xml
  presto-proxy/pom.xml
  presto-redis/pom.xml
  presto-redshift/pom.xml
  presto-resource-group-managers/pom.xml
  presto-router/pom.xml
  presto-session-property-managers/pom.xml
  presto-singlestore/pom.xml
  presto-spark-base/pom.xml
  presto-spark-classloader-interface/pom.xml
  presto-spark-launcher/pom.xml
  presto-spark-testing/pom.xml
  presto-spark/pom.xml
  presto-sqlserver/pom.xml
  presto-teradata-functions/pom.xml
  presto-testing-docker/pom.xml
  presto-thrift-api/pom.xml
  presto-thrift-connector/pom.xml
  presto-thrift-spec/pom.xml
  presto-tpcds/pom.xml
  presto-tpch/pom.xml
  redis-hbo-provider/pom.xml
Labels: from:IBM

#25526 Fix serialization of function handle
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/json/JsonFileBasedFunctionNamespaceManagerFactory.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/mysql/MySqlFunctionNamespaceManagerFactory.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/tests/CallExpressionTest.cpp
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManagerFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlFunctionHandle.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2FunctionNamespaceManagerFactory.java
Labels: from:Meta

#25474 [native] [presto] Expand connector specific fields
  presto-native-execution/presto_cpp/main/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/HiveSplit.json
  presto-native-execution/presto_cpp/main/tests/data/Split.json
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.py
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplitWrapper.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplitWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandleWrapper.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandleWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/SplitWrapper.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorSplit.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTransactionHandle.hpp.inc
Labels: fb-exported

#25534 Adding doc for some math functions
  presto-docs/src/main/sphinx/functions/math.rst
Labels: docs, fb-exported, from:Meta

#25486 Refactor `AbstractTestQueries` testcases for native-tests
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestAccumuloDistributedQueries.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraDistributed.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlDistributedQueries.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/DisabledTestOracleDistributedQueries.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:IBM

#25557 [native] Fix AbstractTestNativeGeneralQueries.testCatalogWithCacheEna…
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Labels: from:Meta

#25569 Supports batched serialized size calculation for BinarySortableSerializer
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.cpp
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.h
  presto-native-execution/presto_cpp/main/operators/benchmarks/BinarySortableSerializerBenchmark.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Labels: fb-exported, from:Meta

#25577 [native] Cleanup TestPrestoSparkNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
Labels: from:Meta

#25502 Fix unexpected error and diagram style for query detail page
  presto-ui/src/components/ClusterHUD.jsx
  presto-ui/src/components/LivePlan.jsx
  presto-ui/src/components/QueryDetail.jsx
  presto-ui/src/components/ResourceGroupView.jsx
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/router/ClusterHUD.jsx
Labels: from:IBM

#25580 [native] Fix Meta internal build by making getBaseDataPath() public
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
Labels: from:Meta

#25216 Fix inconsistent ordering with offset and limit
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:IBM

#25565 [native] Fetch session properties and functions only once from sidecar
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderConfig.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProviderModule.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/sessionpropertyproviders/TestNativeSystemSessionPropertyProviderConfig.java
Labels: from:IBM

#25250 Add support for symlink files in quick stats
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/QuickStatsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/statistics/TestQuickStatsProvider.java
Labels: from:IBM

#25609 Make arbitrator reserved capacity to be up-to-date with native config
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Labels: from:Meta

#25599 Fix channel mapping in createColumnValueAndRowIdChannels
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
Labels: from:IBM

#25549 Fix vulnerability issue in commons-lang3 to address CVE-2025-48924
  pom.xml
Labels: from:IBM

#25503 [Native] [Build] Change gperf download url and align with centos
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
Labels: build, from:IBM

#25545 [native] Replace EXPLAIN (TYPE DISTRIBUTED) with EXPLAIN (TYPE VALIDATE) for faster, lightweight analysis
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestPlanCheckerRouterPlugin.java
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerRouterPlugin.java
Labels: from:IBM

#25543 Check for nulls in input arrays of array functions l2_squared and cosine_similarity
  presto-docs/src/main/sphinx/functions/math.rst
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Labels: from:Meta

#25611 [Native] Add driver.max-split-preload system config
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: from:Meta

#25614 Free the space of release action runner
  .github/workflows/presto-release-publish.yml
Labels: from:IBM

#25635 [native] Make initializeThreadPools() virtual
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Labels: fb-exported, from:Meta

#25589 Support max queued_time limit
  presto-docs/src/main/sphinx/admin/properties-session.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/dispatcher/FailedDispatchQuery.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AccessControlCheckerExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryManagerConfig.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/QueryTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main-base/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestQueryTrackerQueuedTime.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQuery.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Labels: fb-exported, from:Meta

#25636 [native] Update to use C++20
  presto-native-execution/CMakeLists.txt
  presto-native-execution/README.md
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/types/tests/FunctionMetadataTest.cpp
Labels: from:IBM
