Repository prestodb/presto, pull requests merged in 2025-02, with the labels that each got.

#24471 Add javax.annotation-api dependency to presto-grpc-api
  presto-grpc-api/pom.xml
Labels: from:IBM

#24479 [native] Switch to use Clang for the Linux debug build in the CI
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
Labels: from:IBM

#24466 Fix getting views for Hive metastore 2.3+
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
Labels: from:IBM

#24478 [docs] Add JavaScript client to documentation
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/js.rst
Labels: docs, from:IBM

#24477 Update pull_request_template.md to remove PR link examples
  pull_request_template.md
Labels: from:IBM

#24487 [docs] Fix typo in clients/go.rst and clients/js.rst
  presto-docs/src/main/sphinx/clients/go.rst
  presto-docs/src/main/sphinx/clients/js.rst
Labels: docs, from:IBM

#24495 [native] Update include for ConfigTest.cpp
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
Labels: from:Meta

#24493 Upgrade cache Github action to v4
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Labels: from:IBM

#24357 Upgrade airbase and presto-maven-plugin
  pom.xml
  presto-grpc-api/src/main/proto/GrpcUdfInvoke.proto
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/NoOpPlugin.java
Labels: from:IBM

#24503 [native]: Add operator override for xxhash64, combine_hash internal functions
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Labels: fb-exported

#24482 [native] Detect companion functions from velox function metadata
  presto-native-execution/presto_cpp/main/types/FunctionMetadata.cpp
Labels: from:IBM

#24488 [native] Add clang installation to dependency image and update image
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/scripts/dockerfiles/README.md
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Labels: from:IBM

#24506 [native] Trigger presto-native-sidecar-plugin test workflow when changes occur
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Labels: from:IBM

#24467 Upgrade the jar org.apache.commons:commons-text:1.10.0 to 1.13.0
  pom.xml
Labels: from:IBM

#24516 Remove duplicate mapping from iceberg docs
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, from:IBM

#21977 Add Support for Iceberg table sort orders
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/SortingFileWriterConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePageSink.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestSortingFileWriterConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergInsertTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergOutputTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSinkProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSortingFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergWritableTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/InternalIcebergConnectorFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortFieldUtils.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortParameters.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestSortFieldUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestStatisticsUtil.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Labels: iceberg

#24317 Avoid creating expensive Path objects in split creation code
  .idea/icon.png
  presto-hdfs-core/src/main/java/com/facebook/presto/hive/HiveFileInfo.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveBucketing.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitPartitionInfo.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java
  presto-hive/src/main/java/com/facebook/presto/hive/InternalHiveSplit.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3select/S3SelectPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/ParquetQuickStatsBuilder.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/HiveFileIterator.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/InternalHiveSplitFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3select/TestS3SelectPushdown.java
Labels: from:Meta

#24455 [native] Allow options for wget and tar commands during setup
  presto-native-execution/scripts/setup-centos.sh
Labels: from:IBM

#24519 Add @czentgr as module committer for CI
  CODEOWNERS
Labels: from:IBM

#24517 Reformat files in the Iceberg connector
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsInputFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PrestoIcebergTableForMetricsConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/SortField.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergMetadataOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/procedure/RemoveOrphanFiles.java
  presto-iceberg/src/main/java/org/apache/iceberg/IcebergLibUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableVersion.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestSortFieldUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestNessieMultiBranching.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestIcebergRegisterAndUnregisterProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Labels: from:IBM

#24445 Add release notes for 0.291
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.291.rst
Labels: docs, from:IBM

#24512 Upgrade to actions/setup-java@v4
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  pom.xml
Labels: from:IBM

#24468 [native] Derive TableScan stream type as FIXED
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/JoinSwappingUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RuntimeReorderJoinSides.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/MergeJoinForSortedInputOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateAggregationsWithDefaultValues.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingAggregations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateStreamingJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRuntimeReorderJoinSides.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateAggregationsWithDefaultValues.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestValidateStreamingAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/optimizers/AdaptivePlanOptimizers.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/optimizers/PickJoinSides.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/optimizers/TestPickJoinSides.java
Labels: from:Meta

#24494 [docs] Add Lateral join support in sql/select.rst
  presto-docs/src/main/sphinx/sql/select.rst
Labels: docs, from:IBM

#24047 Add Exchange before GroupId to improve Partial Aggregation
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/TaskCountEstimator.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/AddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/GroupIdNode.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalAddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ExchangeMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestAddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Labels: from:IBM

#24535 Fix compilation failure after merging AddExchangeBeforeGroupId
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/AddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestAddExchangesBelowPartialAggregationOverGroupIdRuleSet.java
Labels: from:IBM

#24511 [docs] Add documentation for file-based metastore
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/file-based-metastore.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs, from:IBM

#24540 ArrowFlight module - do not bind class to itself
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowModule.java
Labels: from:IBM

#24486 Package all resources into query_view_spa.html
  presto-ui/src/components/QueryPlanView.jsx
  presto-ui/src/components/QueryViewer.jsx
  presto-ui/src/components/StaticQueryHeader.jsx
  presto-ui/src/package.json
  presto-ui/src/query_viewer.jsx
  presto-ui/src/webpack.config.js
Labels: from:IBM

#24543 Record http client transaction create delay time
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
Labels: from:Meta

#24507 Upgrade org.apache.logging.log4j:log4j-core and log4j-api libraries
  pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
Labels: from:IBM

#24525 Fix duplicate TABLE_TYPE listing for view from system.jdbc.tables
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/connector/system/jdbc/TableJdbcTable.java
Labels: from:IBM

#24537 Fix GH Actions for doc-only PR
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/tests.yml
Labels: from:IBM

#24534 Add `Join PrestoDB on Slack` link on document pages
  presto-docs/src/main/sphinx/_templates/partials/toc.html
Labels: from:IBM

#24558 Remove synchronization for updateFinalTaskInfo()
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
Labels: from:Meta

#24562 Add support to disable task update size tracking
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
Labels: from:Meta

#24565 Make the number of task event loop configurable
  presto-main/src/main/java/com/facebook/presto/execution/QueryManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryManagerConfig.java
Labels: from:Meta

#24577 [docs] Fix formatting in properties.rst and base-arrow-flight.rst
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Labels: docs, from:IBM

#24538 fixed hive view uuid type parsing
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveType.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Labels: from:IBM

#24579 Fix failing variadic functions when sidecar is enabled
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Labels: from:IBM

#24417 [Iceberg] Add table and session property for split size
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetTablePropertyProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
Labels: from:IBM

#24568 Add bootstrap icons/fonts to the vendor folder
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-ui/src/static/dev/index.html
  presto-ui/src/static/embedded_plan.html
  presto-ui/src/static/index.html
  presto-ui/src/static/plan.html
  presto-ui/src/static/query.html
  presto-ui/src/static/res_groups.html
  presto-ui/src/static/sql_client.html
  presto-ui/src/static/stage.html
  presto-ui/src/static/timeline.html
  presto-ui/src/static/vendor/bootstrap/css/bootstrap-icons.min.css
  presto-ui/src/static/vendor/bootstrap/css/fonts/bootstrap-icons.woff
  presto-ui/src/static/vendor/bootstrap/css/fonts/bootstrap-icons.woff2
  presto-ui/src/static/worker.html
Labels: from:IBM

#24533 Improve boostrap log to expose the wrong classLoader
  presto-main/src/main/java/com/facebook/presto/sql/gen/Bootstrap.java
Labels: fb-exported

#24570 Update the error type for ARRAY_NULL_ELEMENT_MSG
  presto-common/src/main/java/com/facebook/presto/common/type/TypeUtils.java
  presto-main/src/main/java/com/facebook/presto/type/TypeUtils.java
  presto-main/src/test/java/com/facebook/presto/type/TestArrayOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#24406 Add a config flag `tpcds.use-varchar-type` in Presto - Java TPC-DS Connector
  presto-docs/src/main/sphinx/connector/tpcds.rst
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveNativeLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeTpcdsQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsConnectorFactory.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsMetadata.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsRecordSet.java
  presto-tpcds/src/main/java/com/facebook/presto/tpcds/TpcdsRecordSetProvider.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/AbstractTestTpcds.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsMetadataStatistics.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsRecordSet.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithCharColumnsAsChar.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TestTpcdsWithCharColumnsAsVarchar.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/TpcdsQueryRunner.java
  presto-tpcds/src/test/java/com/facebook/presto/tpcds/statistics/TableStatisticsRecorder.java
Labels: from:IBM

#24548 Revert event loop related changes
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcher.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
Labels: from:Meta

#24515 Use builder pattern for IcebergQueryRunner
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergParquetMetadataCaching.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTypes.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/NessieTestUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergNessieCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestNessieMultiBranching.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestExpireSnapshotProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestFastForwardBranchProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestRemoveOrphanFilesProcedureBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestRollbackToTimestampProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetCurrentSnapshotProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetTablePropertyProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/IcebergRestTestUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergDistributedRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergRestCatalogDistributedQueries.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRest.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/rest/TestIcebergSmokeRestNestedNamespace.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Labels: from:IBM

#24607 [docs] Add documentation to note "-gb" Prestissimo Configs are using GiB units and not gB units
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Labels: docs, from:IBM

#24496 Upgrade org.apache.ratis dependency to address CVE-2020-15250
  pom.xml
  presto-tests/pom.xml
Labels: from:IBM

#24611 Consolidate Presto CLI documentation on clients/presto-cli.rst page
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/presto-cli.rst
  presto-docs/src/main/sphinx/connector/kafka-tutorial.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/cli.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
  presto-docs/src/main/sphinx/release/release-0.54.rst
  presto-docs/src/main/sphinx/release/release-0.60.rst
  presto-docs/src/main/sphinx/security/cli.rst
Labels: docs

#24621 Move Java page to Clients menu and fix references
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/java.rst
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/mysql.rst
  presto-docs/src/main/sphinx/connector/oracle.rst
  presto-docs/src/main/sphinx/connector/postgresql.rst
  presto-docs/src/main/sphinx/connector/redshift.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/release/release-0.272.rst
  presto-docs/src/main/sphinx/release/release-0.57.rst
  presto-docs/src/main/sphinx/release/release-0.90.rst
Labels: docs

#24542 [native[ Fix include for ThreadedRepeatingFunctionRunner.
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
Labels: fb-exported

#24624 Correct catalog name for iceberg tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestExpireSnapshotProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestFastForwardBranchProcedure.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestSetTablePropertyProcedure.java
Labels: from:IBM

#24583 [native] fix(iceberg): Date partition value parse issue
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxConnector.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
Labels: from:IBM

#24626 Move Tableau page to Clients menu and fix link to Web Data Connector
  presto-docs/src/main/sphinx/clients.rst
  presto-docs/src/main/sphinx/clients/tableau.rst
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/release/release-0.126.rst
  presto-docs/src/main/sphinx/release/release-0.151.rst
Labels: docs

#24598 [Iceberg] Enable affinity scheduling on file sections
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonClientConfig.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveCommonSessionProperties.java
  presto-hive-common/src/test/java/com/facebook/presto/hive/TestHiveCommonClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
Labels: from:IBM

#24630 Add hive session property to disable stats based filter reordering
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
Labels: from:Meta

#24637 Add native prefix to hive session property
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
Labels: from:Meta

#24620 [docs] Move file-based metastore doc to installation/deployment.rst
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/file-based-metastore.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs, from:IBM

#24149 [native] Add LinuxMemoryChecker check/warning to ensure system-mem-limit-gb is reasonably set
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/tests/LinuxMemoryCheckerTest.cpp
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV1memory.stat
  presto-native-execution/presto_cpp/main/tests/examples/cgroupV2memory.stat
Labels: from:IBM

#24625 [native] Fix includes
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: fb-exported, from:Meta

#24642 [native] Default task.max-drivers-per-task to hardware concurrency
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/ConfigTest.cpp
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Labels: from:IBM

#24618 [Iceberg] Rename "target_split_size" to "target_split_size_bytes"
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSplitManager.java
Labels: from:IBM
