Repository prestodb/presto, pull requests merged in 2025-05, with the labels that each got.

#24949 [native] Track CPU & Memory overload in native worker.
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Labels: from:Meta

#25022 Fix distributed sort parallelism for single node execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Labels: from:Meta

#25030 Print IndexSourceNode table handle in query plan
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: from:Meta

#25015 Fix: Re-initialize sort key serializer for every new input added
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Labels: fb-exported

#25026 [native] Fix native-tests filepath
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
Labels: from:IBM

#25014 [native] Map Presto index join type SOURCE_OUTER to LEFT in Velox
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta

#24914 [native] ArrowFlight connector missing ColumnHandle operator<()
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/presto_protocol_arrow_flight.h
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/special/ArrowColumnHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Labels: from:IBM

#25012 Separate native IndexJoinRewriter from Java path
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
Labels: from:Meta

#25009 Add runtime metrics for task time on event loop and log slow execution
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SchedulerStatsTracker.java
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStateMachine.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
Labels: from:Meta

#25034 [native] Clean up code in PrestoToVeloxQueryPlan
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta

#25043 Fix bug in presto-router
  presto-router/src/main/java/com/facebook/presto/router/cluster/RemoteState.java
Labels: from:IBM

#25033 [refactor]Extract WindowNode.Specification as a separate class
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PlanNodeDecorrelator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/TopNRowNumberNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestCanonicalize.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestEffectivePredicateExtractor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestTypeValidator.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/SpecificationProvider.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/TopNRowNumberMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/WindowMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMergeAdjacentWindows.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPruneWindowColumns.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSwapAdjacentWindowsBySpecifications.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestEliminateSorts.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestMergeWindows.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestPruneUnreferencedOutputs.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReorderWindows.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-spi/src/main/java/com/facebook/presto/spi/plan/DataOrganizationSpecification.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/WindowNode.java
Labels: from:IBM

#24971 Upgrade several dependency versions
  pom.xml
Labels: from:IBM

#25031 Skip presto-main-base tests from test-other-modules
  .github/workflows/test-other-modules.yml
Labels: from:IBM

#25051 [native] Export proper Task create time
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Labels: from:Meta

#25048 Fix incorrect quote formatting on decimal functions documentation page
  presto-docs/src/main/sphinx/functions/decimal.rst
Labels: docs

#25061 [native] Separate Task start logic into a method.
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Labels: from:Meta

#24403 Update zookeeper version to fix CVEs
  pom.xml
  presto-accumulo/pom.xml
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/AccumuloQueryRunner.java
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/MiniAccumuloConfigUtil.java
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestAccumuloClient.java
  presto-accumulo/src/test/java/com/facebook/presto/accumulo/TestingAccumuloServer.java
Labels: from:IBM

#25056 Add cosine_similarity function for two arrays
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/MathFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestMathFunctions.java
Labels: from:Meta

#25060 Update error classification for group by with lambdas
  presto-parser/pom.xml
  presto-parser/src/main/java/com/facebook/presto/sql/tree/GroupingElement.java
Labels: from:Meta

#25057 Use feature toggle for event loop logging
  presto-main-base/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
Labels: from:Meta

#25069 [native] Move parseIndexLookupCondition out so it can be reused
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Labels: from:Meta

#25064 [native] Allow empty file in table scan
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Labels: from:Meta

#25068 Add integer type to visitGenericLiteral in SqlToRowExpressionTranslator
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/SqlToRowExpressionTranslator.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestIntegerOperators.java
Labels: from:IBM

#25075 Fix release note action with unescaped characters
  .github/workflows/release-notes-check.yml
Labels: from:IBM

#25081 [docs] Fix formatting in /security/
  presto-docs/src/main/sphinx/security/authorization.rst
  presto-docs/src/main/sphinx/security/internal-communication.rst
  presto-docs/src/main/sphinx/security/jce-policy.fragment
  presto-docs/src/main/sphinx/security/ldap.rst
Labels: from:IBM

#24918 Add request-data-sizes-max-wait-sec to session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: fb-exported, from:Meta

#25084 [native] Fix protocol generation to properly remove license
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/presto_protocol_arrow_flight.h
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpch/presto_protocol_tpch.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
Labels: from:IBM

#25098 [Doc] Fix the redshift documentation
  presto-docs/src/main/sphinx/connector/redshift.rst
Labels: docs, from:IBM

#24729 Change array_top_n to return null on bad n
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/sql/TestArraySqlFunctions.java
Labels: from:IBM

#25101 Revert "Change array_top_n to return null on bad n"
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/sql/TestArraySqlFunctions.java
Labels: from:IBM

#24655 [sidecar] Fix array_sort lambda function failure when sidecar is enabled and add e2e lambda function tests
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticErrorCode.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SemanticException.java
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/SignatureMatchingException.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionSignatureMatcher.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#25111 Fix filter source variable not found bug in left join to semi join optimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/LeftJoinNullFilterToSemiJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25041 Fix the partial aggregation pushdown for system table for native execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/Lookup.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeSystemQueries.java
Labels: from:Meta

#25116 [sidecar] Fix failing lambda test case in TestNativeSidecarPlugin
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#25130 Add index join related nodes to plan matcher
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
Labels: from:Meta

#25105 [native] Fix build order issues with presto_server
  presto-native-execution/presto_cpp/main/CMakeLists.txt
Labels: from:IBM

#25079 [native] Migrate TaskStatus, TaskUpdateRequest, TaskInfo to Thrift with JSON fields in CPP
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/TaskResource.h
  presto-native-execution/presto_cpp/main/common/tests/test_json.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/TaskInfoTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/ExecutionFailureInfo.json
  presto-native-execution/presto_cpp/main/tests/data/Fragment.thrift.base64
  presto-native-execution/presto_cpp/main/tests/data/MetadataUpdates.json
  presto-native-execution/presto_cpp/main/tests/data/OperatorStats.json
  presto-native-execution/presto_cpp/main/tests/data/OperatorStatsEmptyBlockedReason.json
  presto-native-execution/presto_cpp/main/tests/data/Split.json
  presto-native-execution/presto_cpp/main/tests/data/TableWriteInfo.json
  presto-native-execution/presto_cpp/main/tests/data/TaskInfo.json
  presto-native-execution/presto_cpp/main/thrift/Makefile
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-hpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/ThriftIO.h
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.json
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.py
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.json
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
  presto-native-execution/presto_cpp/presto_protocol/core/DataSize.h
  presto-native-execution/presto_cpp/presto_protocol/core/Duration.h
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
Labels: fb-exported

#25106 Fix vulnerability issues on presto-redshift, commons-compress and snappy-java
  presto-product-tests/pom.xml
  presto-redshift/pom.xml
  presto-redshift/src/main/java/com/facebook/presto/plugin/redshift/RedshiftClient.java
  presto-spark-launcher/pom.xml
Labels: from:IBM

#25145 [docs] Add per-query-retry-limit to properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs, from:IBM

#25150 Remove duplicate binding in router module
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
Labels: from:IBM

#25093 [native] Add optional Task queuing framework.
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Labels: from:Meta

#24791 [sidecar] Fix ANALYZE queries on varchar columns when sidecar is enabled
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/StatisticsAggregationPlanner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#25165 Presto router - Add security related headers for static resources served from Presto Router UI
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
Labels: from:IBM

#25161 [docs] Add Request Header Fields Too Large to /troubleshoot/
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/sql/prepare.rst
  presto-docs/src/main/sphinx/troubleshoot.rst
  presto-docs/src/main/sphinx/troubleshoot/query.rst
Labels: docs, from:IBM

#24792 Use Java built-in functions to create failure function
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RowExpressionInterpreter.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#24356 Add support for SHOW CREATE SCHEMA
  presto-docs/src/main/sphinx/sql.rst
  presto-docs/src/main/sphinx/sql/show-create-schema.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/SchemaProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ShowCreate.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: from:IBM

#25092 [docs] Fix formatting in /functions/
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-docs/src/main/sphinx/functions/comparison.rst
  presto-docs/src/main/sphinx/functions/conditional.rst
  presto-docs/src/main/sphinx/functions/setdigest.rst
Labels: docs, from:IBM

#25155 Run empty values node simplify optimizer after connector optimizer
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
Labels: from:Meta

#25168 Fix flaky test: TestOutputColumnTypes.testOutputColumnsForInsertAsSelect
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestOutputColumnTypes.java
Labels: from:IBM

#25164 Update plugin to generate idl thrift file automatically
  pom.xml
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/CustomCodecUtils.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/MetadataUpdatesCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/SplitCodec.java
  presto-main-base/src/main/java/com/facebook/presto/server/thrift/TableWriteInfoCodec.java
  presto-thrift-spec/pom.xml
Labels: from:Meta

#25182 [native] Use release dependency image
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Labels: from:IBM

#25188 [docs] Fix formatting in sql/show-create-schema.rst
  presto-docs/src/main/sphinx/sql/show-create-schema.rst
Labels: docs, from:IBM

#25193 [native] Remove unused includes.
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:Meta

#25194 [docs]Add some working examples for functions in aggregate.rst
  presto-docs/src/main/sphinx/functions/aggregate.rst
Labels: docs

#25184 Fail query runner when nodes do not come up
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Labels: from:IBM

#24965 [sidecar] Prevent coordinator crashing in non-sidecar enabled clusters by making sidecar plugin functionalities config driven
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SessionPropertyManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SessionPropertyProviderConfig.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StaticTypeManagerStore.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/StaticTypeManagerStoreConfig.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestSessionPropertyProviderConfig.java
  presto-main-base/src/test/java/com/facebook/presto/metadata/TestStaticTypeManagerStoreConfig.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-native-sidecar-plugin/pom.xml
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPluginWithoutLoadingFunctionalities.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Labels: from:IBM
