Repository prestodb/presto, pull requests merged in 2025-04, with the labels that each got.

#24679 Updated deprecated hadoop properties
  presto-hive/src/main/java/com/facebook/presto/hive/util/ConfigurationUtils.java
Labels: from:IBM

#24827 [Doc] Add Jmx metrics information for caching in Iceberg
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, iceberg, from:IBM

#24841 Remove negative check on 'outputDataSizeInBytes' stat.
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorStats.java
Labels: from:Meta

#24826 Remove duplicated code in ValuesMatcher
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/ValuesMatcher.java
Labels: from:IBM

#24834 Add test scope back to presto-tpch in presto-main
  presto-main/pom.xml
Labels: from:IBM

#24843 OperatorStats overflow fix
  presto-main-base/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main-base/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
Labels: from:Meta

#24844 Include errors for presto-ui dependency install
  .github/workflows/arrow-flight-tests.yml
Labels: from:IBM

#24849 [native] Include a header for forward declaration
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
Labels: from:Meta

#24851 [native] Remove presto_types and presto_connectors cyclic dependency
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/CMakeLists.txt
  presto-native-execution/presto_cpp/main/connectors/arrow_flight/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
Labels: from:IBM

#24754 Upgrading mysql jar in presto
  pom.xml
  presto-benchmark-runner/pom.xml
  presto-function-namespace-managers/pom.xml
  presto-main-base/pom.xml
  presto-mysql/pom.xml
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClientModule.java
  presto-product-tests/pom.xml
  presto-resource-group-managers/pom.xml
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/MysqlDaoProvider.java
  presto-verifier/pom.xml
Labels: from:IBM

#24853 [native] Remove `register-test-functions` worker config
  presto-native-execution/etc/config.properties
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: from:IBM

#24839 [native] Fix v1/operation/task/getDetail
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
Labels: from:IBM

#24861 [native] Fix presto protocol generation for presto-main-base module changes
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Labels: from:IBM

#24862 Add team-velox as code owners for presto-native-(sidecar-plugin|tests) modules
  CODEOWNERS
Labels: from:IBM

#24864 revert json_extract to Produce Canonicalized Output
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonPath.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/BenchmarkJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestRowOperators.java
Labels: from:Meta

#24870 [native] Add a test group for async data cache e2e tests.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Labels: from:Meta

#24867 Fix error when describing a nonexistent table
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowMetadata.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
Labels: from:IBM

#24877 [native] Add group name for writer tests and mvn profile for specific tests.
  presto-native-execution/pom.xml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
Labels: from:Meta

#24745 Changes to enable ssl/tls in hms
  .github/workflows/hive-tests.yml
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/s3select/S3SelectTestHelper.java
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientModule.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastoreClientFactory.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestThriftHiveMetastoreConfig.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestingHiveCluster.java
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/BaseTestHiveInsertOverwrite.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStoreKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/containers/HiveMinIODataLake.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/S3HiveQueryRunner.java
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore-truststore.jks
  presto-hive/src/test/resources/hive_ssl_enable/hive-metastore.jks
  presto-hive/src/test/resources/hive_ssl_enable/hive-site.xml
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveModule.java
Labels: from:IBM

#24879 Reintroduced json_extract to generate canonicalized output
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/JsonPath.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/BenchmarkJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtract.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestRowOperators.java
Labels: from:Meta

#24874 Reuse JoinType in IndexJoinNode
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/IndexJoinNode.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestSchedulingOrderVisitor.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/optimizers/TestPickJoinSides.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/JoinType.java
Labels: from:Meta

#24741 Add documentation for Iceberg support in PrestoCPP
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-docs/src/main/sphinx/presto-cpp.rst
  presto-docs/src/main/sphinx/presto_cpp/features.rst
Labels: docs, from:IBM

#24833 Add memory pool debug regex
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
Labels: from:Meta

#24876 Documentation on Hive CSV Limitations
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs

#24645 Enhance S3 Web Identity authentication & security mapping
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3ConfigurationUpdater.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/S3ConfigurationUpdater.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestHiveS3Config.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Labels: from:IBM

#24882 Use com.facebook.airlift:security in presto-hive-metastore
  presto-hive-metastore/pom.xml
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastoreClientFactory.java
Labels: from:IBM

#24875 [native] Add protocol for index lookup join plan
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Labels: from:Meta

#24821 Add github action to publish artifacts for presto stable release
  .github/workflows/presto-release-publish.yml
Labels: from:IBM

#24886 Fix sensitive data disclosure in logs
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/s3/HiveS3Config.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControlConfig.java
  presto-main-base/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-password-authenticators/src/main/java/com/facebook/presto/password/file/FileConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusConnectorConfig.java
  redis-hbo-provider/src/main/java/com/facebook/presto/statistic/RedisProviderConfig.java
Labels: from:IBM

#24759 [native] Add longVariableConstraints to function metadata
  presto-function-namespace-managers-common/src/main/java/com/facebook/presto/functionNamespace/JsonBasedUdfFunctionMetadata.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/rest/RestBasedFunctionNamespaceManager.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/TestRestBasedFunctionNamespaceManager.java
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/annotations/SqlInvokedScalarFromAnnotationsParser.java
  presto-native-execution/presto_cpp/main/types/FunctionMetadata.cpp
  presto-native-execution/presto_cpp/main/types/tests/FunctionMetadataTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/ApproxMostFrequent.json
  presto-native-execution/presto_cpp/main/types/tests/data/ArrayFrequency.json
  presto-native-execution/presto_cpp/main/types/tests/data/Combinations.json
  presto-native-execution/presto_cpp/main/types/tests/data/CovarSamp.json
  presto-native-execution/presto_cpp/main/types/tests/data/ElementAt.json
  presto-native-execution/presto_cpp/main/types/tests/data/Greatest.json
  presto-native-execution/presto_cpp/main/types/tests/data/Lead.json
  presto-native-execution/presto_cpp/main/types/tests/data/Mod.json
  presto-native-execution/presto_cpp/main/types/tests/data/Ntile.json
  presto-native-execution/presto_cpp/main/types/tests/data/SetAgg.json
  presto-native-execution/presto_cpp/main/types/tests/data/StddevSamp.json
  presto-native-execution/presto_cpp/main/types/tests/data/TransformKeys.json
  presto-native-execution/presto_cpp/main/types/tests/data/Variance.json
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionNamespaceManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Labels: from:IBM

#24884 Add distinct to the right side when LOJ + IS NULL is rewritten to Semijoin
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/LeftJoinNullFilterToSemiJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestLeftJoinNullFilterToSemiJoin.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#24857 Remove DeleteScanInfo
  presto-main-base/src/main/java/com/facebook/presto/execution/scheduler/TableWriteInfo.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/MockRemoteTaskFactory.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlStageExecution.java
  presto-main-base/src/test/java/com/facebook/presto/execution/TestSqlTaskManager.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestAdaptivePhasedExecutionPolicy.java
  presto-main-base/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/execution/TestSqlTask.java
  presto-main/src/test/java/com/facebook/presto/memory/TestHighMemoryTaskKiller.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestBatchTaskUpdateRequest.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/task/TestPrestoSparkTaskExecution.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestMemoryRevokingScheduler.java
Labels: fb-exported

#23894 Upgrade elasticsearch connector from 6 to 7
  pom.xml
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticSearchClientUtils.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
Labels: from:IBM

#24768 [native] Add protocol generation and incremental build in debug CI build
  .github/workflows/prestocpp-linux-build.yml
Labels: from:IBM

#24901 [native] Add ConnectorIndexHandle to ConnectorProtocolTemplate
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/arrow_flight/ArrowFlightConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/HiveConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/IcebergConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/connector/tpch/TpchConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Labels: from:Meta

#24907 [native] Fix macos CMake failure
  .github/workflows/prestocpp-macos-build.yml
Labels: from:IBM

#24897 Fix confusing OrcCorruptionException thrown by ORC metadata reader
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/ExceptionWrappingMetadataReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/TestExceptionWrappingMetadataReader.java
Labels: fb-exported, from:Meta

#24824 Arrow Flight tests should use open port for server
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/ArrowFlightQueryRunner.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightEchoQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightIntegrationSmokeTest.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightNativeQueries.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
Labels: from:IBM

#24910 Make EquiJoinClause fields in IndexJoinNode compatible with protocol
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/IndexJoinNode.java
Labels: from:Meta

#24917 Update deployment.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
Labels: docs

#24856 [presto] Add state filter to the queryState resource
  presto-main/src/main/java/com/facebook/presto/server/QueryStateInfoResource.java
  presto-main/src/test/java/com/facebook/presto/server/TestQueryStateInfoResource.java
Labels: fb-exported, from:Meta

#24928 Fix TDigest::scale() to update sum member.
  presto-main-base/src/main/java/com/facebook/presto/tdigest/TDigest.java
  presto-main-base/src/test/java/com/facebook/presto/tdigest/TestTDigest.java
Labels: from:Meta

#24940 Fix failing CI: pin JVM 8 to 8.0.442
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
Labels: from:IBM

#24937 [native] Minor refactor in http filter registration.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Labels: from:Meta

#24922 [native] Make PeriodicMemoryChecker member of PrestoServer
  presto-native-execution/presto_cpp/main/LinuxMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.cpp
  presto-native-execution/presto_cpp/main/PeriodicMemoryChecker.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Labels: from:Meta

#24941 [native] Save 1 memcpy in parsing message body
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
Labels: from:Meta

#24855 Add release note check action
  .github/workflows/release-notes-check.yml
Labels: from:IBM

#24948 Fix presto-native-tests CI
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestWindowQueries.java
Labels: from:IBM

#24947 [native] Add session property for eager streaming aggregation flush
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: from:Meta

#24952 documentation: clarify that `ELEMENT_AT` returns `NULL` when out of bounds
  presto-docs/src/main/sphinx/functions/array.rst
Labels: docs

#24953 Support sorted shuffle write in Sapphire-Velox stack
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/tests/PlanBuilder.cpp
  presto-native-execution/presto_cpp/main/operators/tests/PlanBuilder.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Labels: fb-exported

#24956 Add filter to IndexJoinNode
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/IndexJoinNode.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: from:Meta

#24951 [native] Fix container based native functional test
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Labels: from:IBM

#24968 Add filter to IndexJoinNode protocol
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorIndexHandle.cpp.inc
Labels: from:Meta

#24958 [native] Pin gperf to 3.1
  presto-native-execution/scripts/setup-macos.sh
Labels: from:IBM

#24969 fix: TDigest Functions Null Input Behavior
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/TDigestFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestTDigestFunctions.java
Labels: fb-exported, from:Meta

#24929 [native] Fix blank HTTP Host header in requests
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
Labels: from:IBM

#24962 [docs] Revise formatting in connector/iceberg.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, from:IBM

#24981 Restore exception handling for IllegalArgumentException during type resolution
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
Labels: from:IBM

#24978 [sidecar] Fix sidecar-coordinator HTTPS communication and handle IPv6 in URL generation
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/functionNamespace/NativeFunctionDefinitionProvider.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/sessionpropertyproviders/NativeSystemSessionPropertyProvider.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestURIGenerationForSidecarEndpoints.java
Labels: from:IBM

#24977 Add system configs to query configs mapping for requestDataSizesMaxWaitSec
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: fb-exported, from:Meta

#24970 [native] Support between filter for index join
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Labels: from:Meta

#24988 [native] Add index join node protocol unit test
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
Labels: from:Meta

#24999 Improve failure message for QualifiedObjectName not 3 parts
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
Labels: from:Meta

#24997 Allow connector optimizer to apply to IndexSourceNode
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/IndexSourceNode.java
Labels: from:Meta

#24916 Add NativeExecutionTypeRewrite
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/DefaultTreeRewriter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/StatementRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: from:Meta

#25010 Fix compilation of NativeExecutionTypeRewrite
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
Labels: from:IBM

#24665 Upgrade plexus-utils and commons-beanutils
  pom.xml
Labels: from:IBM

#24794 [Hive] Use S3 listObjectsV2 in PrestoS3FileSystem listPrefix
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/MockAmazonS3.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Labels: from:IBM

#25002 Add test coverage for SqlFunctionProperties equals
  presto-common/src/test/java/com/facebook/presto/common/function/TestSqlFunctionProperties.java
Labels: from:Meta

#25008 [native] Support in(contains) condition for index join
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta
