Repository prestodb/presto, pull requests merged in 2025-03, with the labels that each got.

#24652 [docs] Add links from lakehouse connector docs to file-based metastore
  presto-docs/src/main/sphinx/connector/deltalake.rst
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/hudi.rst
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, from:IBM

#24662 Align format for section headers in the documentation
  presto-docs/src/main/sphinx/admin/cte-materialization.rst
  presto-docs/src/main/sphinx/clients/presto-cli.rst
  presto-docs/src/main/sphinx/clients/tableau.rst
  presto-docs/src/main/sphinx/connector/accumulo.rst
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
  presto-docs/src/main/sphinx/connector/hana.rst
  presto-docs/src/main/sphinx/connector/larksheets.rst
  presto-docs/src/main/sphinx/connector/scylladb.rst
  presto-docs/src/main/sphinx/develop/client-request-filter.rst
  presto-docs/src/main/sphinx/develop/serialized-page.rst
  presto-docs/src/main/sphinx/ecosystem/list.rst
  presto-docs/src/main/sphinx/functions/ip.rst
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-docs/src/main/sphinx/installation/deploy-brew.rst
  presto-docs/src/main/sphinx/plugin.rst
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
  presto-docs/src/main/sphinx/rest.rst
Labels: docs

#24623 [docs] Add documentation for cache configuration properties
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Labels: docs, from:IBM

#24661 Fix the links on the doc page for the 0.291 release
  presto-docs/src/main/sphinx/release/release-0.291.rst
Labels: docs

#24578 Changed delta connector API in documentation
  presto-docs/src/main/sphinx/connector/deltalake.rst
Labels: docs, from:IBM

#24605 Refactor log4j-core and log4j-api dependencies out of root POM
  pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
Labels: from:IBM

#24604 Fix the dropdown menu style in WorkerThread
  presto-ui/src/components/WorkerStatus.jsx
  presto-ui/src/components/WorkerThreadList.jsx
  presto-ui/src/static/assets/presto.css
Labels: from:IBM

#24668 Put event loop behind a toggle
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcherWithEventLoop.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskWithEventLoop.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcherWithEventLoop.java
  presto-main/src/test/java/com/facebook/presto/execution/TestTaskManagerConfig.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTaskWithEventLoop.java
Labels: from:Meta

#24678 Move IndexSourceNode to the SPI
  presto-main/src/main/java/com/facebook/presto/index/IndexManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/ResolvedIndex.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/InputExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneIndexSourceColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/IOPlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ColumnReference.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/IndexSourceMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spi/src/main/java/com/facebook/presto/spi/IndexHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/IndexSourceNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
Labels: from:Meta

#24631 Upgrade json-smart version to 2.5.2 in response to CVE-2024-57699
  pom.xml
Labels: from:IBM

#24586 Upgrade netty version to 4.1.118.Final
  pom.xml
Labels: from:IBM

#24683 [native] remove native prefix for native connector session property
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: from:Meta

#24647 Fix check_access_control_on_utilized_columns_only for CTE
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/RelationId.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/UtilizedColumnsAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestUtilizedColumnsAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardWarningCode.java
Labels: from:Meta

#24481 [Iceberg] Add manifest file caching for HMS-based deployments
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsCachedInputFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsFileIO.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HdfsInputFile.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeCatalogFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCache.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCacheKey.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ManifestFileCachedContent.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestRenameTableOnFragileFileSystem.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/procedure/TestRemoveOrphanFilesProcedureHive.java
Labels: from:IBM

#24699 [native] fix typo in exchange request counter
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Labels: from:Meta

#24590 Include Table Metadata in Operator Logs
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryCompletedEvent.java
Labels: fb-exported

#24710 Ensure readability of plan printer and add test
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/planPrinter/TestPlanPrinter.java
Labels: from:Meta

#24475 Upgrade io.grpc library to 1.70.0
  pom.xml
  presto-bigquery/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Labels: from:IBM

#24718 Add additional memory error categorization for prestissimo
  presto-native-execution/presto_cpp/main/common/Exception.h
Labels: from:Meta

#24456 Add support for multiple query event listeners
  presto-docs/src/main/sphinx/develop/event-listener.rst
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerConfig.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerModule.java
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/dispatcher/TestLocalDispatchQuery.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerConfig.java
  presto-main/src/test/java/com/facebook/presto/eventlistener/TestEventListenerManager.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
Labels: from:IBM

#24473 Security Fix: Okio CVE-2023-3635 + OkHttp Jar Update
  pom.xml
  presto-client/pom.xml
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java
  presto-client/src/main/java/okhttp/internal/tls/DistinguishedNameParser.java
  presto-client/src/main/java/okhttp/internal/tls/LegacyHostnameVerifier.java
  presto-jdbc/pom.xml
  presto-native-sidecar-plugin/pom.xml
Labels: from:IBM

#24411 Enhancements to the presto router ui
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
  presto-router/src/main/resources/router_ui/assets/presto.css
  presto-router/src/main/resources/router_ui/index.html
  presto-router/src/main/resources/router_ui/src/components/PageTitle.jsx
  presto-router/src/main/resources/router_ui/src/utils.js
Labels: from:IBM, presto-router

#24614 fix Update json_extract to Produce Canonicalized Output
  presto-common/src/main/java/com/facebook/presto/common/function/SqlFunctionProperties.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonPath.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FunctionsConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/BenchmarkJsonExtract.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtract.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFunctionsConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
Labels: from:Meta

#24715 Fix path filtering for matrix jobs
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
Labels: from:IBM

#24732 [Iceberg]Standardized type name for timestamp with and without tz
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#24612 Handle listTables for non-existing schema in IcebergNativeMetadata
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: from:IBM

#24724 Fix Sorted Tables header in iceberg document
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, from:IBM

#24696 Fix Iceberg documentation for manifest caching
  presto-docs/src/main/sphinx/connector/iceberg.rst
Labels: docs, from:IBM

#24714 Dynamically compute node memory based on configured spark executor memory
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkDynamicMemoryPoolTuning.java
Labels: fb-exported, from:Meta

#24530 [native] Expose an API to clean up async data cache on node
  presto-docs/src/main/sphinx/presto_cpp/features.rst
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeApiEndpointUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeSystemQueriesSingleNode.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#24734 [codemod] Remove unused private from github/presto-trunk/presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h +1
  presto-native-execution/presto_cpp/main/http/filters/InternalAuthenticationFilter.h
Labels: fb-exported

#24709 [docs] Fix formatting in presto_cpp/properties.rst
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
Labels: docs, from:IBM

#24743 Fix flaky test: TestIcebergHiveStatistics.testStatisticsCachePartialEviction
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Labels: from:IBM

#24617 Add overflow detection to IntervalYearMonthOperators
  presto-main/src/main/java/com/facebook/presto/type/IntervalYearMonthOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestIntervalYearMonth.java
Labels: from:IBM

#24750 Revert "Improve the merging of operator stats"
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/operator/OperatorStats.java
  presto-main/src/main/java/com/facebook/presto/operator/PipelineContext.java
  presto-main/src/test/java/com/facebook/presto/operator/TestOperatorStats.java
Labels: from:Meta

#24758 [native] Map velox and presto spill failure error code.
  presto-native-execution/presto_cpp/main/common/Exception.h
Labels: from:Meta

#24706 Upgrade org.apache.calcite dependency to address CVE-2023-2976
  presto-pinot-toolkit/pom.xml
Labels: from:IBM

#24767 [native] Update CI container image
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
Labels: from:IBM

#24726 Add spill related configs to system configs
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: fb-exported, from:Meta

#24773 Add new memory arbitration failure error code name
  presto-native-execution/presto_cpp/main/common/Exception.h
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Labels: from:Meta

#24781 [native] Fix RowExpressionTest.castToVarchar
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
Labels: from:Meta

#24780 [native] Add materialized view refresh to protocol
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Labels: from:Meta

#24785 [native] Map kUnsupportedInputUncatchable to not supported error code.
  presto-native-execution/presto_cpp/main/common/Exception.h
Labels: from:Meta

#24755 Update tests for multiple eventlistener plugin changes
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitScheduling.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/QueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingEventListenerManager.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/StandaloneQueryRunner.java
  presto-thrift-connector/src/test/java/com/facebook/presto/connector/thrift/integration/ThriftQueryRunner.java
Labels: from:IBM

#24787 [native] Fix MV mapping
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
Labels: from:Meta

#24765 upgrade prismjs
  presto-ui/src/package.json
  presto-ui/src/yarn.lock
Labels: from:IBM

#24797 [native] Remove unused file from protocol generation
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
Labels: from:IBM

#24783 Add ConnectorMetadata.commitPageSinkAsync hook for ConnectorDeleteTableHandle
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: fb-exported, from:Meta

#24796 [docs] Add admin/grafana.rst to documentation
  presto-docs/src/main/sphinx/admin.rst
  presto-docs/src/main/sphinx/admin/grafana-cloud.rst
Labels: docs, from:IBM

#24802 Updated MySql version to support arm64 architecture
  presto-product-tests/conf/docker/singlenode-mysql/docker-compose.yml
Labels: from:IBM

#24806 fix: Update map_top_n_values description
  presto-docs/src/main/sphinx/functions/map.rst
Labels: docs, from:Meta

#24817 Reduce resource utilization in TestHiveIntegrationSmokeTest
  presto-hive/pom.xml
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
Labels: from:IBM

#24808 Fix flaky test: TestBrutalShutdown.testQueryRetryOnShutdown
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestBrutalShutdown.java
Labels: from:IBM

#24810 Use java matrix for arrow-flight tests
  .github/workflows/arrow-flight-tests.yml
  presto-base-arrow-flight/pom.xml
Labels: from:IBM

#24774 Add requestDataSizesMaxWaitSec to Prestissimo system configs
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: fb-exported, from:Meta

#24697 Add github action to prepare stable release
  .github/workflows/presto-release-prepare.yml
  .github/workflows/presto-stable-release.yml
Labels: from:IBM

#24819 [docs] Add Presto C++ topic to connector/base-arrow-flight.rst
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Labels: docs, from:IBM

#24820 Run presto-native-tests with `DWRF` and `PARQUET`
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-tests/README.md
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com.facebook.presto.nativetests/TestWindowQueries.java
Labels: from:IBM

#24772 [native] Add DeleteNode translation to TableWriteNode in Velox query plan
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
Labels: fb-exported, from:Meta
