Repository prestodb/presto, pull requests merged in 2025-08, with the labels that each got.

#25547 [native] Add PRESTO_ENABLE_SPATIAL option
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  presto-native-execution/CMakeLists.txt
  presto-native-execution/README.md
Labels: from:IBM

#25373 Support for TLS in Redis Connector
  pom.xml
  presto-docs/src/main/sphinx/connector/redis.rst
  presto-main/etc/catalog/redis.properties
  presto-main/etc/config.properties
  presto-redis/src/main/java/com/facebook/presto/redis/RedisConnectorConfig.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisJedisManager.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisRecordCursor.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisConnectorConfig.java
Labels: from:IBM

#25665 Normalize tables and views list in MetadataManager
  presto-main-base/src/main/java/com/facebook/presto/metadata/MetadataManager.java
Labels: from:IBM

#25695 Fix NPE in IcebergHiveMetadata.getViews when the provided schema is null
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
Labels: from:IBM

#25693 [native] Fix incorrect exclusion of PrestoC++ unit tests
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-execution/Makefile
Labels: from:IBM

#25595 [native] Add thrift codec for remote split and support for ExecutionWriterTargetUnion
  presto-native-execution/presto_cpp/main/TaskResource.cpp
  presto-native-execution/presto_cpp/main/tests/TaskUpdateRequestTest.cpp
  presto-native-execution/presto_cpp/main/tests/data/HiveOutputTableHandle.json
  presto-native-execution/presto_cpp/main/tests/data/TableWriteInfo.json
  presto-native-execution/presto_cpp/main/thrift/Makefile
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-cpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift-hpp.mustache
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.h
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.py
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplit.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorSplitWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandle.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/ConnectorTransactionHandleWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/TableWriteInfoWrapper.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/TableWriteInfoWrapper.hpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/Type.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
  presto-native-execution/presto_cpp/presto_protocol/core/ConnectorProtocol.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorDeleteTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorInsertTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorOutputTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTableHandle.hpp.inc
  presto-native-execution/presto_cpp/presto_protocol/core/special/ConnectorTableLayoutHandle.hpp.inc
Labels: fb-exported

#25704 Bump drift version to 1.46
  pom.xml
Labels: from:Meta

#25706 [native] Add max-spill-bytes system config
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: fb-exported, from:Meta

#25710 [native] Fix unnecessary include
  presto-native-execution/presto_cpp/main/connectors/PrestoToVeloxConnector.cpp
Labels: from:Meta

#25701 Remove duplicate binding
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Labels: from:Meta

#25516 Add support for tuple type in the Cassandra connector
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java
  presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraServer.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/CassandraTestingUtils.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraConnector.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-docs/src/main/sphinx/connector/cassandra.rst
Labels: from:IBM

#25573 Add support for ReactorNettyHttpClient
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClient.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClientConfig.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClient.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClientConfig.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeJoinQueries.java
Labels: from:Meta

#25722 [native] Fix session properties race condition
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: fb-exported, from:Meta

#25708 Make http2 communication configurable
  presto-docs/src/main/sphinx/security/ldap.rst
  presto-docs/src/main/sphinx/security/server.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Utils.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.cpp
  presto-native-execution/presto_cpp/main/http/HttpServer.h
Labels: from:Meta

#25729 Fix duplicate binding for spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Labels: from:Meta

#25663 Remove negative check on several stats.
  presto-main-base/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/DriverStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/PipelineStats.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TaskStats.java
Labels: from:Meta

#25724 [native] Make SessionProperties global singleton
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.h
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: fb-exported, from:Meta

#25751 Use same commons-lang3 version in product-tests pom file
  presto-product-tests/pom.xml
Labels: from:IBM

#25639 Add experimental planner support for sort merge join
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/GroupedExecutionTagger.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SortMergeJoinOptimizer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
Labels: from:Meta

#25756 [native] Fix CentOS adapter install in dependency image
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Labels: from:IBM

#25384 Add planner support to prevent mixed CPP/Java execution
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSystemTableFilterRuleSet.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/CheckNoIneligibleFunctionsInCoordinatorFragments.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/PlanChecker.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/RowExpressionUtils.java
  presto-main-base/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/sanity/TestCheckNoIneligibleFunctionsInCoordinatorFragments.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
Labels: from:IBM

#25778 Cancel duplicate check release notes actions
  .github/workflows/release-notes-check.yml
Labels: from:IBM

#25786 [docs] Update invalidate cache docs
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs, from:IBM

#25779 Ignore unknown table formats when querying system.jdbc.columns table
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/UnknownTableTypeException.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergErrorCode.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/SystemConnectorTests.java
Labels: from:IBM

#25795 Add return in deleteTask
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Labels: fb-exported, from:Meta

#25747 Allow constant equal condition for index join
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestNativeIndexJoinLogicalPlanner.java
Labels: from:Meta

#25732 [native] Remove out-of-line definition of constexpr in nlohmann json.
  presto-native-execution/presto_cpp/external/json/nlohmann/json.hpp
Labels: fb-exported

#25754 [native] Add PrestoToVelox protocol conversion for index join constant equal condition
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta

#25787 Remove invalidate metastore cache procedure from iceberg
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergCommonModule.java
Labels: from:IBM

#25781 TVF Part 1/X: Support table function invocation in grammar and AST
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DefaultTraversalVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Descriptor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/DescriptorField.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/EmptyTableTreatment.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Identifier.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionArgument.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionDescriptorArgument.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionInvocation.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/TableFunctionTableArgument.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParserErrorHandling.java
Labels: from:IBM

#25801 [native] Ensure calling 'no more splits' after the task started.
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Labels: from:Meta

#25758 [native] Remove BaseVeloxQueryConfig
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoToVeloxQueryConfig.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/BaseVeloxQueryConfigTest.cpp
  presto-native-execution/presto_cpp/main/common/tests/CMakeLists.txt
Labels: fb-exported, from:Meta

#25782 [native] Make presto-on-spark native config up-to-date
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionVeloxConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/PrestoSparkWorkerProperty.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/WorkerProperty.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Labels: from:Meta

#25824 Print IndexSourceNode table layout in query plan
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
Labels: from:Meta

#25819 Fix output variable alignment in ExtractSystemTableFilterRuleSet
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSystemTableFilterRuleSet.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestAddExchangesPlansWithFunctions.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarQueriesOnSystemTables.java
Labels: from:IBM

#25808 Support enforcement of NOT NULL column declarations
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Labels: from:IBM

#25737 Improve DELETE Statement on columns with special characters in their names
  presto-common/src/main/java/com/facebook/presto/common/SubfieldTokenizer.java
  presto-common/src/test/java/com/facebook/presto/common/TestSubfieldTokenizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: from:IBM

#25698 Add support for the MariaDb driver to the function namespace manager
  presto-docs/src/main/sphinx/admin/function-namespace-managers.rst
  presto-function-namespace-managers/pom.xml
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/mysql/MySqlConnectionConfig.java
  presto-function-namespace-managers/src/main/java/com/facebook/presto/functionNamespace/mysql/MySqlConnectionModule.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/mysql/TestMySqlConnectionConfig.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/mysql/TestMySqlFunctionNamespaceManager.java
  presto-function-namespace-managers/src/test/java/com/facebook/presto/functionNamespace/mysql/TestMySqlFunctionNamespaceManagerWithMariaDbDriver.java
  presto-singlestore/pom.xml
Labels: from:IBM

#25633 Add release notes for 0.294
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.294.rst
Labels: docs

#25821 Support BuiltInFunctionKind enum parameter in BuiltInFunctionHandle's JSON constructor creator
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInFunctionHandle.java
  presto-native-execution/presto_cpp/main/tests/data/Fragment.thrift.base64
  presto-native-execution/presto_cpp/main/types/tests/PrestoToVeloxQueryPlanTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/FinalAgg.json
  presto-native-execution/presto_cpp/main/types/tests/data/OffsetLimit.json
  presto-native-execution/presto_cpp/main/types/tests/data/PartitionedOutput.json
  presto-native-execution/presto_cpp/main/types/tests/data/ScanAgg.json
  presto-native-execution/presto_cpp/main/types/tests/data/ScanAggBatch.json
  presto-native-execution/presto_cpp/main/types/tests/data/ScanAggCustomConnectorId.json
  presto-native-execution/presto_cpp/main/types/tests/data/ValuesPipeTest.json
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/tests/CallExpressionTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/RowExpressionTest.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/data/FilterNode.json
Labels: from:IBM

#25841 Correct session property rules json
  presto-docs/src/main/sphinx/admin/session-property-managers.rst
Labels: docs, from:IBM

#25625 Add support for retrying on a different cluster
  presto-client/src/main/java/com/facebook/presto/client/PrestoHeaders.java
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/develop/client-protocol.rst
  presto-main-base/src/main/java/com/facebook/presto/server/RetryConfig.java
  presto-main-base/src/test/java/com/facebook/presto/server/TestRetryConfig.java
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/RetryUrlValidator.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/ExecutingQueryResponseProvider.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/LocalExecutingQueryResponseProvider.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/LocalQueryProvider.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/Query.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
  presto-main/src/test/java/com/facebook/presto/server/TestServer.java
Labels: from:IBM

#25713 Add proper checks for SchemaTablePrefix when table or schema is null
  presto-druid/src/main/java/com/facebook/presto/druid/DruidMetadata.java
  presto-google-sheets/src/main/java/com/facebook/presto/google/sheets/SheetsMetadata.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
Labels: from:IBM

#25844 Propagate native worker config from spark query runner to injector fac
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkInjectorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkServiceFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkConfiguration.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkClientOptions.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkDistribution.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkLauncherCommand.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
Labels: from:Meta

#25697 fix: rename column failed if the column is used as source column of non-identity transform
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionFields.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: from:IBM

#25855 [native] Make stuck driver detach worker threshold hardware based
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: fb-exported, from:Meta

#25351 Enhance ShowColumns
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightQueries.java
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
  presto-docs/src/main/sphinx/sql/show-columns.rst
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/TestHudiIntegration.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableChangelog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-main-base/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaMetadata.java
  presto-main-base/src/main/java/com/facebook/presto/connector/informationSchema/InformationSchemaPageSourceProvider.java
  presto-main-base/src/main/java/com/facebook/presto/connector/system/jdbc/ColumnJdbcTable.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/ShowQueriesRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/TestHiddenColumns.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationMixedCaseTest.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlIntegrationSmokeTest.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestAvroSchemaEvolution.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/hive/TestHiveMixedCaseSupport.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOff.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/mysql/TestMySQLMixedCaseSupportOn.java
  presto-product-tests/src/main/resources/sql-tests/testcases/catalog/describe.result
  presto-product-tests/src/main/resources/sql-tests/testcases/catalog/showColumns.result
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/mysql/describe_real_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/mysql/describe_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/postgresql/describe_real_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/postgresql/describe_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/connectors/sqlserver/describe_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/csv_table.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/csv_table_with_custom_parameters.sql
  presto-product-tests/src/main/resources/sql-tests/testcases/system/selectInformationSchemaColumns.result
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreDistributedQueries.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreIntegrationSmokeTest.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestIntegrationSmokeTest.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:IBM

#25859 Remove unused TestGroups from presto-product-tests
  presto-product-tests/src/main/java/com/facebook/presto/tests/TestGroups.java
Labels: from:IBM

#25436 Upgrade mongodb java driver from 3.6.0 to 3.12.14
  presto-mongodb/pom.xml
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
Labels: from:IBM

#25847 [native] Remove velox properties from ContainerQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/ContainerQueryRunnerUtils.java
Labels: from:IBM

#25857 [native] Enable TaskUpdateRequest thrift serde in QueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Labels: from:Meta

#25879 Deploy jar individually to avoid 413 error
  .github/workflows/presto-release-publish.yml
Labels: from:IBM

#25772 Add performance warning for MAP_FILTER
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestWarnings.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestEnums.java
Labels: from:Meta

#25886 [native] Expose index join perf related session properties
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: from:Meta

#25846 feat: Support tracking Page Sink Runtime Stats in TableWriterOperator
  presto-main-base/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main-base/src/main/java/com/facebook/presto/Session.java
  presto-main-base/src/main/java/com/facebook/presto/operator/TableWriterOperator.java
  presto-main-base/src/main/java/com/facebook/presto/split/PageSinkManager.java
Labels: fb-exported

#25876 Fix incorrect session property names
  presto-docs/src/main/sphinx/optimizer/history-based-optimization.rst
Labels: docs, from:IBM

#25843 [Native] Parse CharN in protocol to Varchar type
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/tests/MutableConfigs.cpp
  presto-native-execution/presto_cpp/main/common/tests/MutableConfigs.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/CoordinatorDiscovererTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/TypeParser.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/tests/RowExpressionTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/AbstractTestAggregationsNative.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/NativeTestsUtils.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestAggregations.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOptimizeMixedDistinctAggregations.java
Labels: fb-exported, from:Meta

#25900 Exclude executable jars when publishing maven artifacts
  presto-benchmark-driver/pom.xml
  presto-benchto-benchmarks/src/main/java/com/facebook/presto/benchto/benchmarks/Dummy.java
  presto-cli/pom.xml
  presto-testing-server-launcher/pom.xml
Labels: from:IBM

#25687 [Coordinator throttling] Endpoint on Java worker reporting nodestats
  presto-main/src/main/java/com/facebook/presto/server/ServerInfoResource.java
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-spi/src/main/java/com/facebook/presto/spi/NodeLoadMetrics.java
  presto-spi/src/main/java/com/facebook/presto/spi/NodeStats.java
  presto-tests/src/test/java/com/facebook/presto/server/TestServerInfoResource.java
Labels: fb-exported, from:Meta

#25858 [native] Return false for queries with spherical geometry in sidecar enabled clusters
  presto-common/src/main/java/com/facebook/presto/common/type/TypeManager.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestingTypeManager.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestingTypeManager.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergFileWriter.java
  presto-main-base/src/main/java/com/facebook/presto/execution/AddColumnTask.java
  presto-main-base/src/main/java/com/facebook/presto/execution/CreateTableTask.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/FunctionAndTypeManager.java
  presto-main-base/src/main/java/com/facebook/presto/metadata/SignatureBinder.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/ExpressionTreeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSpatialJoins.java
  presto-main-base/src/main/java/com/facebook/presto/sql/rewrite/NativeExecutionTypeRewrite.java
  presto-main-base/src/test/java/com/facebook/presto/type/TestBuiltInTypeRegistry.java
  presto-native-sidecar-plugin/src/main/java/com/facebook/presto/sidecar/typemanager/NativeTypeManager.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/type/UnknownTypeException.java
Labels: from:IBM

#25699 Add back missing WriteMappings for Decimal & Time type
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/StandardColumnMappings.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlIntegrationSmokeTest.java
Labels: from:IBM

#25615 Fix iceberg commit atomicity & add `iceberg.engine.hive.lock-enabled` configuration
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/InMemoryCachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/RecordingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/HiveMetastoreClient.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftHiveMetastoreStats.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/UnimplementedHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/InMemoryHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveTableOperationsConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestHiveTableOperationsConfig.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
Labels: from:IBM

#25750 feat: Add session property for debugMemoryPoolWarnThresholdBytes
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: fb-exported, from:Meta

#25764 Feature Enhancement: Case-Sensitive Support For Bigquery
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryClient.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryConfig.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryMetadata.java
  presto-bigquery/src/test/java/com/facebook/presto/plugin/bigquery/TestBigQueryConfig.java
  presto-docs/src/main/sphinx/connector/bigquery.rst
Labels: from:IBM

#25909 Exclude executable jars from maven publishing
  pom.xml
  presto-benchmark-driver/pom.xml
  presto-benchto-benchmarks/src/main/java/com/facebook/presto/benchto/benchmarks/Dummy.java
  presto-cli/pom.xml
  presto-testing-server-launcher/pom.xml
Labels: from:IBM

#25917 [docs] Add doc for Type Mapping to connector/deltalake.rst #25357
  presto-docs/src/main/sphinx/connector/deltalake.rst
Labels: docs

#25915 Add output stats for pos sink operators
  presto-native-execution/presto_cpp/main/operators/BroadcastFactory.cpp
  presto-native-execution/presto_cpp/main/operators/BroadcastWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
Labels: fb-exported, from:Meta

#25920 [native] fix: Fail the query if the aggregation stats node fails the …
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta
