Repository prestodb/presto, pull requests merged in 2025-10, with the labels that each got.

#25937 Fix resource groups docs
  presto-docs/src/main/sphinx/admin/resource-groups.rst
Labels: docs, from:IBM

#26196 [sv] Fix file based json udf tests
  presto-native-execution/src/test/java/com/facebook/presto/spark/PrestoSparkNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleJsonQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/spark/TestPrestoSparkNativeSimpleQueries.java
Labels: from:Meta

#26117 Upgrade org.jetbrains:annotations version 26.0.2
  pom.xml
  presto-accumulo/pom.xml
  presto-elasticsearch/pom.xml
  presto-hana/pom.xml
  presto-mysql/pom.xml
  presto-postgresql/pom.xml
  presto-singlestore/pom.xml
Labels: from:IBM

#26078 feat(redis): Enable case-sensitive support
  .github/workflows/tests.yml
  presto-docs/src/main/sphinx/connector/redis.rst
  presto-redis/pom.xml
  presto-redis/src/main/java/com/facebook/presto/redis/RedisConnectorConfig.java
  presto-redis/src/main/java/com/facebook/presto/redis/RedisMetadata.java
  presto-redis/src/test/java/com/facebook/presto/redis/RedisQueryRunner.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestMinimalFunctionality.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisConnectorConfig.java
  presto-redis/src/test/java/com/facebook/presto/redis/TestRedisIntegrationMixedCase.java
  presto-redis/src/test/java/com/facebook/presto/redis/util/RedisTestUtils.java
Labels: from:IBM

#26216 fix(ci): Clear more space for Maven checks
  .github/workflows/maven-checks.yml
Labels: from:IBM

#26087 feat(readers): Add session properties for small batch size mitigation
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/QueryContextManagerTest.cpp
Labels: fb-exported, meta-exported

#26096 Enable check query integrity permission check for all query types
  presto-main-base/src/main/java/com/facebook/presto/execution/DDLDefinitionExecution.java
  presto-main-base/src/main/java/com/facebook/presto/execution/SessionDefinitionExecution.java
  presto-main-base/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main-base/src/main/java/com/facebook/presto/security/DenyQueryIntegrityCheckSystemAccessControl.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main-base/src/main/java/com/facebook/presto/util/AnalyzerUtil.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestCheckAccessPermissionsForQueryTypes.java
Labels: from:Meta

#26211 feat(httpclient): Log stats for reactor netty http client
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/server/CoordinatorModule.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpClientConnectionPoolStats.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpClientStats.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClient.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/ReactorNettyHttpClientConfig.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClient.java
  presto-main/src/test/java/com/facebook/presto/remotetask/TestReactorNettyHttpClientConfig.java
Labels: fb-exported, from:Meta, meta-exported

#26233 chore: Add health score badge to README
  README.md
Labels: from:IBM

#26241 docs: Fix minor text issues in connector/deltalake.rst
  presto-docs/src/main/sphinx/connector/deltalake.rst
Labels: docs, from:IBM

#26132 chore(connector): Upgrade threetenbp version to 1.7.2
  presto-bigquery/pom.xml
Labels: from:IBM

#26244 fix: Fix the total_split_wall_time as TotalScheduledTime
  presto-main-base/src/main/java/com/facebook/presto/event/QueryMonitor.java
Labels: from:Meta

#26180 fix(security): Upgrade zookeeper to 3.9.4 to address CVE-2025-58457
  pom.xml
Labels: from:IBM

#24549 docs: Add Hive Metastore documentation in Hive Connector
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs
