Repository prestodb/presto, pull requests merged in 2025-06, with the labels that each got.

#25232 [native] Move exception map to cpp file to prevent from SIOF
  presto-native-execution/presto_cpp/main/common/Exception.cpp
  presto-native-execution/presto_cpp/main/common/Exception.h
Labels: from:Meta

#25227 Update presto-cli troubleshooting docs
  presto-docs/src/main/sphinx/security/ldap.rst
Labels: docs, from:IBM

#25234 [native] Fix constant in lookup condition parsing
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Labels: from:Meta

#25120 [native] Use builder pattern for native queryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/IcebergExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/NativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativeHistoryBasedStatsTracking.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestNativePlanValidation.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAggregations.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeArrayFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeBitwiseFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCtasQueriesParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeCteExecutionParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGeneralQueriesJSON.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGeneralQueriesThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeGracefulShutdown.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeHistoryBasedStatistics.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeHiveExternalTableTpchQueriesParquet.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergGeneralQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergPositionDeleteQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpcdsQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeIcebergTpchQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeJoinQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeProbabilityFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeRemoteFunctions.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeSystemQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeSystemQueriesSingleNode.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpcdsQueriesParquetUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchConnectorQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesDwrfUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesOrcUsingJSON.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesOrcUsingThrift.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeTpchQueriesParquetUsingJSON.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWindowQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeWriter.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/NativeSidecarPluginQueryRunner.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPlugin.java
  presto-native-sidecar-plugin/src/test/java/com/facebook/presto/sidecar/TestNativeSidecarPluginWithoutLoadingFunctionalities.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
Labels: from:IBM

#25171 Extend filtered aggregation optimizer to support only masked partial aggregation cases
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/MergePartialAggregationsWithFilter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestMergePartialAggregationsWithFilter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25236 [native] Improve semi join parallelism
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeJoinQueries.java
Labels: from:Meta

#25179 Add support for mTLS authentication in Arrow Flight client
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowErrorCode.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/ArrowFlightConfig.java
  presto-base-arrow-flight/src/main/java/com/facebook/plugin/arrow/BaseArrowFlightClientHandler.java
  presto-base-arrow-flight/src/test/java/com/facebook/plugin/arrow/TestArrowFlightMtls.java
  presto-base-arrow-flight/src/test/resources/mtls/ca.crt
  presto-base-arrow-flight/src/test/resources/mtls/client.crt
  presto-base-arrow-flight/src/test/resources/mtls/client.key
  presto-base-arrow-flight/src/test/resources/mtls/invalid_cert.crt
  presto-base-arrow-flight/src/test/resources/mtls/server.crt
  presto-base-arrow-flight/src/test/resources/mtls/server.key
  presto-docs/src/main/sphinx/connector/base-arrow-flight.rst
Labels: from:IBM

#25235 Fix vulnerability issue in commons-beanutils to address CVE-2025-48734
  pom.xml
  presto-product-tests/pom.xml
Labels: from:IBM

#25244 Use RouterRequestInfo in router schedulers to get the URL destination
  presto-router-example-plugin-scheduler/src/main/java/com/facebook/presto/router/scheduler/MetricsBasedScheduler.java
  presto-router-example-plugin-scheduler/src/test/java/com/facebook/presto/router/scheduler/TestMetricsBasedScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/RequestInfo.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/UserHashScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRoundRobinScheduler.java
  presto-router/src/test/java/com/facebook/presto/router/TestCustomSchedulerManager.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
  presto-spi/src/main/java/com/facebook/presto/spi/router/RouterRequestInfo.java
  presto-spi/src/main/java/com/facebook/presto/spi/router/Scheduler.java
Labels: from:IBM

#25174 [native] Enable sidecar in presto-native-tests module
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  presto-native-tests/pom.xml
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestOrderByQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueries.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestRepartitionQueriesWithSmallPages.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestWindowQueries.java
Labels: from:IBM

#25252 Add method signature to log
  presto-main-base/src/main/java/com/facebook/presto/execution/SafeEventLoopGroup.java
Labels: from:Meta

#25256 Add a session property to disable ReplicateSemiJoinInDelete optimizer
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplicateSemiJoinInDelete.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Labels: from:Meta

#25261 Fix replaceColumn not retaining positionCount of Page
  presto-common/src/main/java/com/facebook/presto/common/Page.java
  presto-common/src/test/java/com/facebook/presto/common/TestPage.java
Labels: from:IBM

#25233 Support native non-equal lookup join planning
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/IndexJoinOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
Labels: from:Meta

#25271 [native] Add remaining from spill header to http shuffle API
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-cpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Labels: fb-exported, from:Meta

#25248 Optimize partition value evaluation in filter pushdown
  presto-hive-common/src/main/java/com/facebook/presto/hive/rule/BaseSubfieldExtractionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePartitionManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/Constraint.java
Labels: from:Meta

#25279 Add @unidevel as committer for CI
  CODEOWNERS
Labels: from:IBM

#25260 Revert #25245 Move Bootstrap.class to presto-bytecode to avoid duplicate definitions
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/AccumulatorCompiler.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/Bootstrap.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/SqlTypeBytecodeExpression.java
  presto-main-base/src/main/java/com/facebook/presto/operator/aggregation/AccumulatorCompiler.java
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/Bootstrap.java
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/BytecodeUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/gen/SqlTypeBytecodeExpression.java
Labels: fb-exported

#25286 [native] Fix MacOS build errors due to TimeZoneKey and sequenceId type
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/hive/presto_protocol_hive.cpp
  presto-native-execution/presto_cpp/presto_protocol/connector/iceberg/presto_protocol_iceberg.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol-json-hpp.mustache
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.h
Labels: from:IBM

#25291 Fix qDigest values_at_quantiles function to throw INVALID_FUNCTION_ARGUMENT on null input
  presto-main-base/src/main/java/com/facebook/presto/operator/scalar/QuantileDigestFunctions.java
  presto-main-base/src/test/java/com/facebook/presto/operator/scalar/TestQuantileDigestFunctions.java
Labels: from:Meta

#25302 Disable `AbstractHiveSslTest`
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractHiveSslTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithKeyStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSslWithTrustStoreKeyStore.java
Labels: from:IBM

#23724 Reduce memory usage in writer by freeing unused buffers
  presto-orc/src/main/java/com/facebook/presto/orc/ChunkedSliceOutput.java
  presto-orc/src/main/java/com/facebook/presto/orc/ColumnWriterOptions.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcOutputBuffer.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcWriterOptions.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcWriterOptions.java
Labels: from:Meta

#25294 Add runtime stats metrics for subcomponent in Optimizer
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-main-base/src/main/java/com/facebook/presto/sql/Optimizer.java
Labels: from:Meta

#25293 [Iceberg] Fix querying data_sequence_number with equality deletes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
Labels: from:IBM

#25328 Add dummy class to deploy presto-native-tests module
  presto-native-tests/src/main/java/com/facebook/presto/nativetests/Dummy.java
Labels: from:IBM

#25316 [native]: Add warning when environment variables are used in build
  presto-native-execution/Makefile
Labels: from:IBM

#25305 Fix confusing word for task state
  presto-ui/src/components/QueryOverview.jsx
Labels: from:Meta

#25325 [native] Add native memory pool reclaimer priority
  presto-docs/src/main/sphinx/presto_cpp/properties-session.rst
  presto-main-base/src/main/java/com/facebook/presto/sessionpropertyproviders/NativeWorkerSessionPropertyProvider.java
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: fb-exported

#25337 Bind PlanCheckerRouterPluginScheduler and fix META-INF/services/ file in presto-plan-checker-router-plugin
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginModule.java
  presto-plan-checker-router-plugin/src/main/resources/META-INF/services/com.facebook.presto.spi.RouterPlugin
Labels: from:IBM

#25339 [native] Add 'hasStartedTasks' to QueryCtxCacheValue.
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.h
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
Labels: from:Meta

#25308 [native] changes in ProtocolToThrift files based on IDL change
  presto-native-execution/presto_cpp/main/tests/TaskStatusTest.cpp
  presto-native-execution/presto_cpp/main/thrift/ProtocolToThrift.cpp
  presto-native-execution/presto_cpp/main/thrift/presto_protocol-to-thrift-json.yml
  presto-native-execution/presto_cpp/main/thrift/presto_thrift.thrift
  presto-native-execution/presto_cpp/main/thrift/special/HostAddress.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/special/TimeZoneKey.cpp.inc
  presto-native-execution/presto_cpp/main/thrift/thrift2json.py
Labels: fb-exported

#25265 Add aws-java-sdk-core as runtime dependency for Redshift JDBC driver
  presto-redshift/pom.xml
Labels: from:IBM

#25338 [native] Fix Task status reporting for not started Tasks
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoTaskTest.cpp
Labels: from:Meta

#25124 Write mapping support
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcRecordCursor.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/QueryBuilder.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/ReadMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/StandardReadMappings.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/ColumnMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/ReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/StandardColumnMappings.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/WriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/WriteMapping.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/BooleanReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/BooleanWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/DoubleReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/DoubleWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/LongReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/LongWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/ObjectReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/ObjectWriteFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/SliceReadFunction.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/mapping/functions/SliceWriteFunction.java
  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlClient.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClient.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-singlestore/src/main/java/com/facebook/presto/plugin/singlestore/SingleStoreClient.java
Labels: from:IBM

#25311 Add Avro Configuration Properties to Hive connector docs
  presto-docs/src/main/sphinx/connector/hive.rst
Labels: docs

#25094 [native]: Enable Velox cuDF
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/README.md
  presto-native-execution/docker-compose.yml
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/scripts/dockerfiles/README.md
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo-runtime.dockerfile
Labels: from:IBM

#25349 [native] Do not queue Tasks if the Query is already running
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/tests/PrestoTaskTest.cpp
Labels: from:Meta

#25368 [native] Limit macos CI tests to C++ changes
  .github/workflows/prestocpp-macos-build.yml
Labels: from:IBM

#25359 Add output size calculation to BinarySortableSerializer
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.cpp
  presto-native-execution/presto_cpp/main/operators/BinarySortableSerializer.h
  presto-native-execution/presto_cpp/main/operators/benchmarks/BinarySortableSerializerBenchmark.cpp
  presto-native-execution/presto_cpp/main/operators/tests/BinarySortableSerializerTest.cpp
Labels: fb-exported, from:Meta

#25370 Route user errors from the EXPLAIN call to Java cluster for fallback
  presto-plan-checker-router-plugin/src/main/java/com/facebook/presto/router/scheduler/PlanCheckerRouterPluginPrestoClient.java
  presto-plan-checker-router-plugin/src/test/java/com/facebook/presto/router/scheduler/TestPlanCheckerRouterPlugin.java
  presto-router/src/main/java/com/facebook/presto/router/RouterResource.java
Labels: from:IBM

#25307 Fix an issue while accessing Symlink tables
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
Labels: from:IBM

#25380 [native]: Cancel in progress CI runs for the same PR
  .github/workflows/prestocpp-format-and-header-check.yml
  .github/workflows/prestocpp-linux-adapters-build.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
  .github/workflows/prestocpp-macos-build.yml
Labels: from:IBM

#25381 [native] Fix prestissimo dependency install
  presto-native-execution/scripts/dockerfiles/centos-dependency.dockerfile
Labels: from:IBM

#25365 [native] Allow non power of two task concurrency for native execution
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
Labels: from:Meta

#25398 fix: TDigest - Add Quantiles At Values to Documentation
  presto-docs/src/main/sphinx/functions/tdigest.rst
Labels: docs, fb-exported, from:Meta

#25385 [native] Use CPU & number of queued drivers in worker overload pushback
  presto-docs/src/main/sphinx/presto_cpp/properties.rst
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Labels: from:Meta

#25402 [native] Fix calculation of queued drivers threshold.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:Meta

#25406 [native] register presto namespace for cudf
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:IBM

#25403 [native] Fix calculation of queued drivers threshold.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Labels: from:Meta

#25414 [native] Add --depth 1 to github_checkout usages in setup scripts
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Labels: from:IBM

#25421 [native] Disable TestPrestoNativeAsyncDataCacheCleanupAPI
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestPrestoNativeAsyncDataCacheCleanupAPI.java
Labels: from:Meta

#25361 Add native_max_num_splits_listened_to session property (2/2)
  presto-native-execution/presto_cpp/main/SessionProperties.cpp
  presto-native-execution/presto_cpp/main/SessionProperties.h
  presto-native-execution/presto_cpp/main/tests/SessionPropertiesTest.cpp
Labels: from:Meta

#25309 Support JVM tzdata 2025a
  .github/workflows/arrow-flight-tests.yml
  .github/workflows/docs.yml
  .github/workflows/hive-tests.yml
  .github/workflows/kudu.yml
  .github/workflows/maven-checks.yml
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/product-tests-basic-environment.yml
  .github/workflows/product-tests-specific-environment.yml
  .github/workflows/singlestore-tests.yml
  .github/workflows/spark-integration.yml
  .github/workflows/test-other-modules.yml
  .github/workflows/tests.yml
  pom.xml
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcResultSet.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestMySqlTypeMapping.java
  presto-native-tests/src/test/java/com/facebook/presto/nativetests/TestDistributedEngineOnlyQueries.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-singlestore/src/test/java/com/facebook/presto/plugin/singlestore/TestSingleStoreTypeMapping.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestEngineOnlyQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestH2QueryRunner.java
Labels: from:IBM

#25428 optimize APPROX_DISTINCT operations on constant conditional values
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ReplaceConditionalApproxDistinct.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/AggregationFunctionMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestReplaceConditionalApproxDistinct.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/optimizations/TestApproxDistinctOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/StandardFunctionResolution.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25411 Fix Hive Metastore Impersonation in Hive Docs
  presto-docs/src/main/sphinx/connector/hive-security.rst
Labels: docs, from:IBM

#25317 Move UnnestNode to SPI and add to collector optimizer
  presto-main-base/src/main/java/com/facebook/presto/cost/UnnestStatsRule.java
  presto-main-base/src/main/java/com/facebook/presto/execution/FragmentResultCacheContext.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CrossJoinWithArrayContainsToInnerJoin.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CrossJoinWithArrayNotContainsToAntiJoin.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CrossJoinWithOrFilterToInnerJoin.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExtractSpatialJoins.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/JoinSwappingUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/LeftJoinWithArrayContainsToEquiJoinCondition.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushDownDereferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/ShardJoins.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/SimplifyPlanWithEmptyInput.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/assertions/UnnestMatcher.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCrossJoinWithArrayNotContainsToAntiJoin.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestDetermineJoinDistributionType.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.cpp
  presto-native-execution/presto_cpp/presto_protocol/core/presto_protocol_core.yml
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/UnnestNode.java
Labels: from:Meta

#25394 Enable subfield pushdown for map_subset function
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main-base/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
  presto-main-base/src/main/java/com/facebook/presto/sql/relational/FunctionResolution.java
  presto-main-base/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25435 Extend max_by/min_by optimization to mix of array/map/scalar type
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/iterative/rule/MinMaxByToWindowFunction.java
  presto-main-base/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestMinMaxByToWindowFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Labels: from:Meta

#25432 CI: Skip prestocpp builds for PRs that only modify presto-docs
  .github/workflows/prestocpp-linux-build-and-unit-test.yml
  .github/workflows/prestocpp-linux-build.yml
Labels: from:IBM

#25445 Enable subfield pushdown for map when key is negative
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/PushdownSubfields.java
Labels: from:Meta

#25430 Refactor MetadataDeleteNode to spi Plan
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/BasePlanFragmenter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/optimizations/MetadataDeleteOptimizer.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main-base/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main-base/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/MetadataDeleteNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanVisitor.java
Labels: fb-exported, from:Meta

#25439 [docs] Add cross-reference in admin/properties.rst
  presto-docs/src/main/sphinx/admin/properties.rst
Labels: docs, from:IBM

#25441 Migrate maven publishing service from OSSRH to Central Portal
  pom.xml
Labels: from:IBM

#25225 Add support for handling multiple rows in function server
  presto-function-server/src/main/java/com/facebook/presto/server/FunctionResource.java
  presto-function-server/src/test/java/com/facebook/presto/tests/TestRestRemoteFunctions.java
Labels: from:IBM
