Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Fix resource loading issue in presto-atop test code
  presto-atop/pom.xml
  presto-atop/src/test/java/com/facebook/presto/atop/TestAtopSecurity.java
  presto-resource-group-managers/pom.xml
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
Owners: @prestodb/committers

Document encoding-preserving vector serialization (#2588)
  velox/docs/develop/debugging.rst
  velox/docs/develop/debugging/vector-saver.rst
  velox/vector/VectorSaver.h
Owners: @prestodb/committers

Handle sentinel partition value for null partition
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @vinothchandar, @7c00

Optimize multiple approx_percentile on the same column
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/SqlMultipleApproxPercentileBenchmarks.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ExpressionMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Optimize multiple approx_percentile on the same column
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/SqlMultipleApproxPercentileBenchmarks.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ExpressionMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Remove hard-coded function references (#2496)
  velox/substrait/CMakeLists.txt
  velox/substrait/SubstraitExtensionCollector.cpp
  velox/substrait/SubstraitExtensionCollector.h
  velox/substrait/VeloxSubstraitSignature.cpp
  velox/substrait/VeloxSubstraitSignature.h
  velox/substrait/VeloxToSubstraitExpr.cpp
  velox/substrait/VeloxToSubstraitExpr.h
  velox/substrait/VeloxToSubstraitPlan.cpp
  velox/substrait/VeloxToSubstraitPlan.h
  velox/substrait/VeloxToSubstraitType.h
  velox/substrait/tests/CMakeLists.txt
  velox/substrait/tests/SubstraitExtensionCollectorTest.cpp
  velox/substrait/tests/VeloxSubstraitSignatureTest.cpp
Owners: @prestodb/committers

Fix resource loading issue in presto-atop test code
  presto-atop/pom.xml
  presto-atop/src/test/java/com/facebook/presto/atop/TestAtopSecurity.java
  presto-resource-group-managers/pom.xml
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
Owners: @prestodb/committers

Fix resource loading issue in presto-atop test code
  presto-atop/pom.xml
  presto-atop/src/test/java/com/facebook/presto/atop/TestAtopSecurity.java
  presto-resource-group-managers/pom.xml
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
Owners: @prestodb/committers

Fix peeling off encodings from intermediate results (#2592)
  velox/expression/Expr.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Fix MacOS build (#2593)
  velox/exec/HashTable.h
Owners: @prestodb/committers

Fix order by compilation error during planning
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Optimize context building in VeloxException (#2590)
  velox/common/base/VeloxException.cpp
  velox/common/base/tests/ExceptionTest.cpp
Owners: @prestodb/committers

Add more log in spilling stage
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
Owners: @prestodb/committers

VectorFuzzer: Small API changes and more unit tests (#2594)
  velox/vector/fuzzer/VectorFuzzer.h
  velox/vector/fuzzer/tests/VectorFuzzerTest.cpp
Owners: @prestodb/committers

Fix bug in to_utf8 presto function (#2589)
  velox/functions/prestosql/ToUtf8.cpp
  velox/functions/prestosql/tests/StringFunctionsTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add server shutdown as a retryable drift exception
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftModule.java
Owners: @prestodb/committers

Clean temp hive tpch folder for E2E test runs
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

[native] Support INSERT INTO unpartitioned table
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/WriteProtocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/WriteProtocol.h
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Handle sentinel partition value for null partition
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @vinothchandar, @7c00

Handle sentinel partition value for null partition
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSource.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @vinothchandar, @7c00

Decimal overflow checks in decimal arithmetic (#2494)
  velox/common/base/CheckedArithmetic.h
  velox/functions/prestosql/DecimalArithmetic.cpp
  velox/functions/prestosql/tests/DecimalArithmeticTest.cpp
Owners: @prestodb/committers

Fix probe scan bug in right semi join (#2598)
  velox/exec/HashProbe.cpp
  velox/exec/RowContainer.cpp
  velox/exec/tests/HashJoinTest.cpp
Owners: @prestodb/committers

Clean temp hive tpch folder for E2E test runs
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

Clean temp hive tpch folder for E2E test runs
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

Add more log in spilling stage
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
Owners: @prestodb/committers

Add more log in spilling stage
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
Owners: @prestodb/committers

Add new sapphire operator PartitionAndSerialize
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.h
  presto-native-execution/presto_cpp/main/operators/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add ShuffleWrite operator for external shuffle support
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add Exchange source for unsaferow blocks
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

[native] Fix test-native workflow
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

Add ShuffleWrite operator for external shuffle support
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add new sapphire operator PartitionAndSerialize
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.h
  presto-native-execution/presto_cpp/main/operators/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add Exchange source for unsaferow blocks
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add ShuffleWrite operator for external shuffle support
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.cpp
  presto-native-execution/presto_cpp/main/operators/ShuffleWrite.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add Exchange source for unsaferow blocks
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Add new sapphire operator PartitionAndSerialize
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.cpp
  presto-native-execution/presto_cpp/main/operators/PartitionAndSerialize.h
  presto-native-execution/presto_cpp/main/operators/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/operators/tests/UnsaferowShuffleTest.cpp
Owners: @prestodb/team-velox

Fix position independent code setting (#2554)
  CMakeLists.txt
Owners: @prestodb/committers
