Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

[native] Add E2E tests for percentiles array in approx_percentiles
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
Owners: @prestodb/team-velox

Small improvement to lambda expression parsing (#2660)
  velox/duckdb/conversion/DuckParser.cpp
Owners: @prestodb/committers

Add Total spilled bytes read
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/main/java/com/facebook/presto/spiller/SpillerStats.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestBinaryFileSpiller.java
Owners: @prestodb/committers

Add Total spilled bytes read
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/main/java/com/facebook/presto/spiller/SpillerStats.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestBinaryFileSpiller.java
Owners: @prestodb/committers

[native] Subscribe to velox expression listener.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

Add memory enforcement in HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add memory enforcement in HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add PrestoSparkHttpWorkerClient
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add PrestoSparkHttpWorkerClient
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add support for decimal types in HiveTypeParser (#2653)
  velox/dwio/dwrf/utils/test/ProtoUtilsTests.cpp
  velox/dwio/type/fbhive/CMakeLists.txt
  velox/dwio/type/fbhive/HiveTypeParser.cpp
  velox/dwio/type/fbhive/HiveTypeParser.h
  velox/dwio/type/fbhive/tests/CMakeLists.txt
  velox/dwio/type/fbhive/tests/HiveTypeParserTests.cpp
Owners: @prestodb/committers

Refactor PrestoToVeloxExpr/QueryPlan.h,cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Owners: @prestodb/team-velox

Refactor PrestoToVeloxExpr/QueryPlan.h,cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Owners: @prestodb/team-velox

[native] Add support for TPC-H connector
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/etc/catalog/tpchstandard.properties
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxSplit.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/Connectors.cpp
  presto-native-execution/presto_cpp/presto_protocol/Connectors.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

[native] Subscribe to velox expression listener.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

[native] Subscribe to velox expression listener.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

table write ordering
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/WriteOrderingOptimizer.java
Owners: @prestodb/committers

Fix memory tracking when setting memory usage tracker (#2667)
  velox/common/memory/Memory.h
  velox/common/memory/tests/MemoryPoolTest.cpp
Owners: @prestodb/committers

Change the intermediate type of approx_percentile to `ROW` (#18386)
  velox/docs/develop/aggregate-functions.rst
  velox/functions/lib/KllSketch.h
  velox/functions/prestosql/aggregates/ApproxPercentileAggregate.cpp
  velox/functions/prestosql/aggregates/tests/AggregationTestBase.cpp
  velox/functions/prestosql/aggregates/tests/ApproxPercentileTest.cpp
Owners: @prestodb/committers

Add memory limit check for HashBuilderOperator during memory revoke
  presto-main/src/main/java/com/facebook/presto/execution/MemoryRevokingScheduler.java
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashJoinOperator.java
Owners: @prestodb/committers

Ensure closure of flush policy in writer close (#2651)
  velox/dwio/dwrf/writer/FlushPolicy.h
  velox/dwio/dwrf/writer/Writer.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[native] Add support for TPC-H connector
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/etc/catalog/tpchstandard.properties
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxSplit.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/Connectors.cpp
  presto-native-execution/presto_cpp/presto_protocol/Connectors.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

[native] Add support for TPC-H connector
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-native-execution/etc/catalog/tpchstandard.properties
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxSplit.cpp
  presto-native-execution/presto_cpp/main/types/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/presto_protocol/Connectors.cpp
  presto-native-execution/presto_cpp/presto_protocol/Connectors.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

changes to addons/ and website/ should not trigger oss builds
  build/fbcode_builder/manifests/eden
  build/fbcode_builder/manifests/eden_scm
Owners: @prestodb/committers

Add ArgumentTypeFuzzer utility class (#2461)
  velox/expression/tests/ArgumentTypeFuzzer.cpp
  velox/expression/tests/ArgumentTypeFuzzer.h
  velox/expression/tests/ArgumentTypeFuzzerTest.cpp
  velox/expression/tests/CMakeLists.txt
Owners: @prestodb/committers

Add ReverseSignatureBinder utility class (#2500)
  velox/expression/CMakeLists.txt
  velox/expression/ReverseSignatureBinder.cpp
  velox/expression/ReverseSignatureBinder.h
  velox/expression/SignatureBinder.cpp
  velox/expression/SignatureBinder.h
  velox/expression/tests/CMakeLists.txt
  velox/expression/tests/ReverseSignatureBinderTest.cpp
Owners: @prestodb/committers

Bump ajv to 6.12.6 in the router UI
  presto-router/src/main/resources/router_ui/src/yarn.lock
Owners: @prestodb/committers

Bump minimist to 1.2.6 in the router UI
  presto-router/src/main/resources/router_ui/src/yarn.lock
Owners: @prestodb/committers

Bump Nessie from 0.30.0 to 0.43.0
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Bump Nessie from 0.30.0 to 0.43.0
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Simplify LocalPartitionNode (#2665)
  velox/core/PlanNode.h
  velox/exec/LocalPartition.cpp
  velox/exec/LocalPartition.h
  velox/exec/tests/LocalPartitionTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add new configs for native engine execution
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
Owners: @prestodb/committers

Improve VectorFuzzer string speed and add benchmark (#2671)
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/basic/VectorFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.h
Owners: @prestodb/committers

Call SIMD intrinsics directly in HashTable to skip TSAN (#2674)
  velox/exec/HashTable.h
Owners: @prestodb/committers

Use MemoryUsageConfig to create MemoryUsageTracker
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

[native] Replace deprecated MemoryUsageTracker::create call
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
