Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Support for exist and list in FileSystem (#2630)
  velox/common/file/FileSystems.cpp
  velox/common/file/FileSystems.h
  velox/common/file/tests/FileTest.cpp
  velox/connectors/hive/storage_adapters/hdfs/HdfsFileSystem.h
  velox/connectors/hive/storage_adapters/s3fs/S3FileSystem.h
Owners: @prestodb/committers

Fix flaky HashJoinBridgeTest.multiThreading test timeout (#2693)
  velox/exec/tests/HashJoinBridgeTest.cpp
Owners: @prestodb/committers

Add test case to verify non-exist spill file deletion won't fail query (#2692)
  velox/exec/tests/SpillTest.cpp
Owners: @prestodb/committers

Add monthly update for September 2022 (#2698)
  velox/docs/develop/expression-evaluation.rst
  velox/docs/monthly-updates.rst
  velox/docs/monthly-updates/september-2022.rst
Owners: @prestodb/committers

Bump Apache Iceberg from 0.14.0 to 0.14.1
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Bump Apache Iceberg from 0.14.0 to 0.14.1
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Correct test data path for internal test runs
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
Owners: @prestodb/team-velox

[native] Advance Velox version.
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

Make peer values offset from the beginning of the partition (#2700)
  velox/exec/Window.cpp
Owners: @prestodb/committers

[native] Add E2E tests for percentiles array in approx_percentiles
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
Owners: @prestodb/team-velox

Fix resizing bug in DecodedVector wrapping a ConstantVector (#2677)
  velox/vector/DecodedVector.cpp
  velox/vector/tests/DecodedVectorTest.cpp
Owners: @prestodb/committers

Correct test data path for internal test runs
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
Owners: @prestodb/team-velox

Correct test data path for internal test runs
  presto-native-execution/presto_cpp/presto_protocol/tests/PlanFragmentTest.cpp
Owners: @prestodb/team-velox

[native] Fix the intermediate type of approx_percentile
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AlternativeApproxPercentile.java
Owners: @prestodb/committers

Support selectAuthorizedIdentity security api
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRoles.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/SessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestAdaptivePhasedExecutionPolicy.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/server/MockHttpServletRequest.java
  presto-main/src/test/java/com/facebook/presto/server/TestHttpRequestSessionContext.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestCredentialPassthrough.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AuthorizedIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingSessionContext.java
Owners: @prestodb/committers

Change format of window function call in WindowTestBase (#2702)
  velox/functions/prestosql/window/tests/RankTest.cpp
  velox/functions/prestosql/window/tests/RowNumberTest.cpp
  velox/functions/prestosql/window/tests/WindowTestBase.cpp
  velox/functions/prestosql/window/tests/WindowTestBase.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add server shutdown as a retryable drift exception
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftModule.java
Owners: @prestodb/committers

Add server shutdown as a retryable drift exception
  presto-thrift-connector/src/main/java/com/facebook/presto/connector/thrift/ThriftModule.java
Owners: @prestodb/committers

Add to support trigger aggregation spill based on memory limit (#2701)
  velox/core/QueryConfig.h
  velox/exec/GroupingSet.cpp
  velox/exec/GroupingSet.h
  velox/exec/tests/AggregationTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Support selectAuthorizedIdentity security api
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRoles.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/SessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestAdaptivePhasedExecutionPolicy.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/server/MockHttpServletRequest.java
  presto-main/src/test/java/com/facebook/presto/server/TestHttpRequestSessionContext.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestCredentialPassthrough.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AuthorizedIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingSessionContext.java
Owners: @prestodb/committers

Support selectAuthorizedIdentity security api
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRecoverableExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveRoles.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/SessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/security/SecurityConfig.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestAdaptivePhasedExecutionPolicy.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/server/MockHttpServletRequest.java
  presto-main/src/test/java/com/facebook/presto/server/TestHttpRequestSessionContext.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/server/security/TestSecurityConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
  presto-mysql/src/test/java/com/facebook/presto/plugin/mysql/TestCredentialPassthrough.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AuthorizedIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/ConnectorIdentity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingSessionContext.java
Owners: @prestodb/committers

Fix issues exposed by emptyProbe test (#2689)
  velox/common/base/tests/GTestUtils.h
  velox/exec/HashBuild.cpp
  velox/exec/HashBuild.h
  velox/exec/Merge.cpp
  velox/exec/SpillOperatorGroup.h
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/TaskStructs.h
  velox/exec/Values.cpp
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/TaskTest.cpp
  velox/exec/tests/utils/OperatorTestBase.cpp
Owners: @prestodb/committers

Back out "Fix velox::functions::jsonExtract() support of wildcard select"
  velox/functions/prestosql/json/JsonExtractor.cpp
  velox/functions/prestosql/json/tests/JsonExtractorTest.cpp
Owners: @prestodb/committers

Fix join-distribution-type and optimizer.join-reordering-strategy default values in the documentation
  presto-docs/src/main/sphinx/admin/properties.rst
Owners: @prestodb/team-releases

Add cume_dist Presto window function (#2659)
  velox/docs/functions/window.rst
  velox/functions/prestosql/window/CMakeLists.txt
  velox/functions/prestosql/window/CumeDist.cpp
  velox/functions/prestosql/window/WindowFunctionsRegistration.cpp
  velox/functions/prestosql/window/tests/RankTest.cpp
Owners: @prestodb/committers

Collect runtime stats for special form expressions (#2712)
  velox/expression/CastExpr.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/tests/ExprStatsTest.cpp
Owners: @prestodb/committers

add init Jenkinsfile
  Jenkinsfile
  jenkins/agent.yaml
Owners: @prestodb/committers

[native] Fix CreateTableAsSelect test failure
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Add support for lambda functions to ArgumentTypeFuzzer (#2709)
  velox/expression/SignatureBinder.cpp
  velox/expression/tests/ArgumentTypeFuzzerTest.cpp
  velox/type/Type.cpp
  velox/type/Type.h
Owners: @prestodb/committers

Add toString method for ExprStats. (#2713)
  velox/expression/Expr.h
Owners: @prestodb/committers

Fix test generating umbounded float filters (#2623)
  velox/dwio/common/tests/utils/FilterGenerator.cpp
  velox/type/Filter.h
Owners: @prestodb/committers

[native] Fix CreateTableAsSelect test failure
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

[native] Fix CreateTableAsSelect test failure
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Optimize zip_with Presto lambda function (#2688)
  velox/functions/lib/benchmarks/FunctionBenchmarkBase.h
  velox/functions/prestosql/ZipWith.cpp
  velox/functions/prestosql/benchmarks/CMakeLists.txt
  velox/functions/prestosql/benchmarks/ZipWithBenchmark.cpp
Owners: @prestodb/committers

Avoid shared_ptr copy in FilterProject constructor (#2585)
  velox/exec/FilterProject.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Pass sources by const ref instead of r-value ref to ExprSet.
  velox/benchmarks/basic/Preproc.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/ExprCompiler.cpp
  velox/expression/ExprCompiler.h
Owners: @prestodb/committers
