Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Reduce number of hdfsConfiguration copies
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/cache/HiveCachingHdfsConfiguration.java
Owners: @prestodb/committers

Run router test with different schedulers
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
Owners: @prestodb/committers

Add WrapperJobConf,CopyOnFirstWriteConfiguration to reduce config copies
  presto-cache/src/main/java/com/facebook/presto/cache/alluxio/AlluxioCachingConfigurationProvider.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/DynamicConfigurationProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/CopyOnFirstWriteConfiguration.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveHdfsConfiguration.java
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
  presto-hive/src/main/java/com/facebook/presto/hive/cache/HiveCachingHdfsConfiguration.java
  presto-hive/src/main/java/com/facebook/presto/hive/util/ConfigurationUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestCopyOnFirstWriteConfiguration.java
Owners: @prestodb/committers

Retry EXCEEDED_MEMORY_LIMIT failures with higher memory settings
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkRetryExecutionSettings.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkRetryExecutionUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/IPrestoSparkQueryExecutionFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkSession.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/RetryExecutionStrategy.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
Owners: @prestodb/committers

Add parameter to enable copy-on-first-write configuration by default
  presto-geospatial/src/test/java/com/facebook/presto/plugin/geospatial/TestSpatialJoins.java
  presto-hive-hadoop2/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystemS3.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveHdfsConfiguration.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestBackgroundHiveSplitLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestFileSystemCache.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientFileMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveTableConstraints.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Owners: @prestodb/committers

pinot pushdown attempt flag for session rebase and edge case handling + multiple reformats
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPlanOptimizer.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSplitManager.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotTableHandle.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGenerator.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGeneratorContext.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
Owners: @prestodb/committers

fix release notes 0.275
  presto-docs/src/main/sphinx/release/release-0.275.rst
Owners: @prestodb/team-releases

Revert "Improve ARRAY_FREQUENCY efficiency."
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/SqlArrayFrequencyBenchmark.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
Owners: @prestodb/committers

Fix bounds check in MultiChannelGroupByHash and BigintGroupByHash
  presto-main/src/main/java/com/facebook/presto/operator/BigintGroupByHash.java
  presto-main/src/main/java/com/facebook/presto/operator/MultiChannelGroupByHash.java
  presto-main/src/test/java/com/facebook/presto/operator/TestGroupByHash.java
Owners: @prestodb/committers

Allow committing empty transaction
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoConnection.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
Owners: @prestodb/committers

Support fetching query resource usage from the predictor
  presto-router/src/main/java/com/facebook/presto/router/predictor/CpuInfo.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/ForQueryCpuPredictor.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/ForQueryMemoryPredictor.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/MemoryInfo.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/PredictorManager.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/RemoteQuery.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/RemoteQueryCpu.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/RemoteQueryFactory.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/RemoteQueryMemory.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/ResourceGroup.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/ResourceInfo.java
Owners: @prestodb/committers

Add an optional config for the predictor uri in the router
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/RouterModule.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestPredictorManager.java
Owners: @prestodb/committers

Update the router's doc with the config for predictor
  presto-docs/src/main/sphinx/router/deployment.rst
  presto-router/src/main/java/com/facebook/presto/router/predictor/PredictorManager.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestPredictorManager.java
Owners: @prestodb/team-releases, @prestodb/committers

Add skeleton of HBO framework
  presto-common/src/main/java/com/facebook/presto/common/plan/PlanCanonicalizationStrategy.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/IterativeOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/SimplePlanRewriter.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/BasePlanTest.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Owners: @prestodb/committers

Rename ExternalPlanStatisticsProvider -> HistoryBasedPlanStatisticsProvider
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/test/java/com/facebook/presto/cost/TestHistoryBasedStatsProvider.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-spi/src/main/java/com/facebook/presto/spi/Plugin.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/EmptyPlanStatisticsProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/HistoryBasedPlanStatisticsProvider.java
Owners: @prestodb/committers

Deprecate Joda library - Presto Clickhouse
  presto-clickhouse/pom.xml
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHousePageSink.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/DateTimeUtil.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/QueryBuilder.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/StandardReadMappings.java
Owners: @prestodb/committers

Reuse missing stream source
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractDecimalSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/BooleanSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ByteSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DecimalBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/FloatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionaryBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/TimestampSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/MissingInputStreamSource.java
Owners: @prestodb/committers

Do not cache bufferAdapter in OrcInputStream
  presto-orc/src/main/java/com/facebook/presto/orc/stream/OrcInputStream.java
Owners: @prestodb/committers

Automatically setting executor and hashpartition count
  presto-spark-base/src/main/java/com/facebook/presto/spark/PhysicalResourceSettings.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkPhysicalResourceCalculator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSettingsRequirements.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSourceStatsCollector.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
Owners: @prestodb/committers

Introduce AlternativeArbitrary aggregation
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AlternativeArbitraryAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/ArbitraryAggregationFunction.java
Owners: @prestodb/committers

Fix orc reader OOM in shared dictionaries
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Owners: @prestodb/committers

Move router config parsing to RouterUtil
  presto-router/src/main/java/com/facebook/presto/router/RouterUtil.java
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/predictor/PredictorManager.java
Owners: @prestodb/committers

Fix runtime stats unit of local cache
  presto-cache/src/main/java/com/facebook/presto/cache/alluxio/PrestoCacheContext.java
Owners: @prestodb/committers

Add github action workflow for native workers
  .github/workflows/test-native.yml
  .github/workflows/test-other-modules.yml
Owners: @prestodb/team-releases

Do not intialize Flat Map readers inside Flat Map
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapSelectiveStreamReader.java
Owners: @prestodb/committers

Clarify serialization of maps in SerializedPage Wire Format doc
  presto-docs/src/main/sphinx/develop/serialized-page.rst
Owners: @prestodb/team-releases

add docs for construct_tdigest
  presto-docs/src/main/sphinx/functions/tdigest.rst
Owners: @prestodb/team-releases

Reduce memory usage of StreamDescriptor
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcBatchRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/StreamDescriptor.java
  presto-orc/src/main/java/com/facebook/presto/orc/StreamDescriptorFactory.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestListFilter.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestLongDictionaryProvider.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStreamDescriptorFactory.java
Owners: @prestodb/committers

Add Jayway extraction engine for JsonPath
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonExtract.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonPath.java
  presto-main/src/main/java/com/facebook/presto/util/JsonUtil.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtract.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonExtractFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestJsonFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/TestExpressionCompiler.java
Owners: @prestodb/committers

Add caching plan hasher
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CachingPlanHasher.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanHasher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCachingPlanHasher.java
Owners: @prestodb/committers

Fix accidentally merged session properties
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Owners: @prestodb/committers

Make query.max-total-memory-per-node optional with default value dependent on query.max-memory-per-node
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-docs/src/main/sphinx/installation/deployment.rst
  presto-main/src/main/java/com/facebook/presto/memory/NodeMemoryConfig.java
  presto-main/src/test/java/com/facebook/presto/memory/TestNodeMemoryConfig.java
  presto-product-tests/conf/presto/etc/config.properties
  presto-product-tests/conf/presto/etc/multinode-tls-master.properties
  presto-product-tests/conf/presto/etc/multinode-tls-worker.properties
  presto-product-tests/conf/presto/etc/multinode-worker.properties
  presto-product-tests/conf/presto/etc/singlenode-kerberized.properties
  presto-product-tests/conf/presto/etc/singlenode-ldap.properties
Owners: @prestodb/team-releases, @prestodb/committers

presto-pinot: COALESCE translation and pushdown - support for functions and if statements - AST peek for support projections not supported currently in Pinot
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotFilterExpressionConverter.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotExpressionConverters.java
Owners: @prestodb/committers

Share CachingStatsProvider within multiple iterations of IterativeOptimizer
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/IterativeOptimizer.java
Owners: @prestodb/committers

Reduce LongSelectiveReader memory usage
  presto-orc/src/main/java/com/facebook/presto/orc/reader/AbstractLongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveReaderContext.java
Owners: @prestodb/committers

Reduce Slice Selective reader memory
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveReaderContext.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceSelectiveStreamReader.java
Owners: @prestodb/committers

Revert commit 8fc1be4cb4c2243ca5e36f8eef396ff9b6d5983d
  presto-main/src/main/java/com/facebook/presto/metadata/DiscoveryNodeManager.java
Owners: @prestodb/committers

Make exchange/hash optimization rules work with HBO
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
Owners: @prestodb/committers

Add ConnectorPlanRewriter
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/optimization/JdbcComputePushdown.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/optimization/ClickHouseComputePushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartialAggregationPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveAddRequestedColumnsToLayout.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/rule/ParquetDereferencePushDown.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorPlanRewriter.java
Owners: @prestodb/committers

Cleanup code from PR 16416
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/EquivalenceClassProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/Key.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/KeyProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesProviderImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantAggregateDistinct.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/AggregationNode.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
