Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Add canonicalization for limit nodes
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-tests/src/main/java/com/facebook/presto/tests/statistics/InMemoryHistoryBasedPlanStatisticsProvider.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Add canonicalization for table writer nodes
  presto-common/src/main/java/com/facebook/presto/common/plan/PlanCanonicalizationStrategy.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
Owners: @prestodb/committers

Add analysis context for configurations
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/AnalysisContext.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestColumnAndSubfieldAnalyzer.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

use fedora system packages for some watchman dependencies
  build/fbcode_builder/manifests/gflags
  build/fbcode_builder/manifests/glog
  build/fbcode_builder/manifests/snappy
Owners: @prestodb/committers

Add support for Decimal Type Sum Aggregation (#2163)
  velox/common/base/CheckedArithmetic.h
  velox/exec/Aggregate.h
  velox/exec/AggregationHook.h
  velox/exec/GroupingSet.cpp
  velox/exec/RowContainer.cpp
  velox/exec/tests/utils/QueryAssertions.cpp
  velox/expression/SignatureBinder.cpp
  velox/expression/SignatureBinder.h
  velox/expression/tests/SignatureBinderTest.cpp
  velox/functions/prestosql/aggregates/SimpleNumericAggregate.h
  velox/functions/prestosql/aggregates/SumAggregate.h
  velox/functions/prestosql/aggregates/tests/SumTest.cpp
  velox/type/DecimalUtil.h
  velox/type/UnscaledLongDecimal.h
  velox/type/UnscaledShortDecimal.h
  velox/type/tests/DecimalTest.cpp
  velox/vector/FlatVector.h
  velox/vector/VectorTypeUtils.h
  velox/vector/tests/VectorMaker-inl.h
  velox/vector/tests/VectorMaker.h
  velox/vector/tests/VectorTestBase.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add access control aware analysis
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/AnalysisContext.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateFunctionTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateMaterializedViewTask.java
  presto-main/src/main/java/com/facebook/presto/execution/CreateViewTask.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/AccessControlAwareAnalysis.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/QueryExplainer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/UtilizedColumnsAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/DescribeInputRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/DescribeOutputRewrite.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestColumnAndSubfieldAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestUtilizedColumnsAnalyzer.java
Owners: @prestodb/committers

Move Analysis to presto-analysis
  presto-analyzer/pom.xml
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
Owners: @prestodb/committers

Fix build issues
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Address review comments for constraints optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/EquivalenceClassProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/KeyProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesProviderImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantAggregateDistinct.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRedundantAggregateDistinctRemoval.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add getTable to HiveTableLayoutHandle
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
Owners: @prestodb/committers

Reenable simd neq. (#2397)
  velox/functions/prestosql/registration/ComparisonFunctionsRegistration.cpp
Owners: @prestodb/committers

Add support for Array type (#2392)
  velox/substrait/SubstraitParser.cpp
  velox/substrait/TypeUtils.cpp
  velox/substrait/tests/VeloxToSubstraitTypeTest.cpp
Owners: @prestodb/committers

Initailize system and nodeconfig as the first step of server run.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

Add getTable to HiveTableLayoutHandle
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
Owners: @prestodb/committers

Add getTable to HiveTableLayoutHandle
  presto-hive/src/main/java/com/facebook/presto/hive/HiveColumnHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Initailize system and nodeconfig as the first step of server run.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

Initailize system and nodeconfig as the first step of server run.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

[native] Add MappedMemory raw allocate related memory counterss
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

Some code refactors to support hash join spill in followup (#2405)
  velox/exec/HashBitRange.h
  velox/exec/HashBuild.cpp
  velox/exec/HashBuild.h
  velox/exec/HashPartitionFunction.h
  velox/exec/Spiller.h
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/HashBitRangeTest.cpp
  velox/exec/tests/HashPartitionFunctionTest.cpp
Owners: @prestodb/committers

Update README.md
  presto-native-execution/README.md
  presto-native-execution/cl_clangformat_switcherenable.png
Owners: @prestodb/team-velox

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Use Folly CRC (#2396)
  velox/common/base/Crc.h
  velox/common/base/tests/BitUtilTest.cpp
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/serializers/tests/PrestoOutputStreamListenerTest.cpp
Owners: @prestodb/committers

Document JSON_EXISTS, JSON_VALUE and JSON_QUERY functions
  presto-docs/src/main/sphinx/functions/json.rst
Owners: @prestodb/team-releases

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Move test files to tests directory (#2375)
  velox/common/file/tests/CMakeLists.txt
  velox/common/file/tests/FileTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Re-add , remove setSize and replace those calls with resize. (#2407)
  velox/dwio/dwrf/reader/ColumnReader.cpp
  velox/dwio/dwrf/reader/FlatMapColumnReader.cpp
  velox/dwio/dwrf/reader/FlatMapHelper.cpp
  velox/vector/BaseVector.h
Owners: @prestodb/committers

Use requireNonNull in place of explicit null checks
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Owners: @prestodb/committers

Add copyRanges to optimize VARCHAR and complex type vector copy (#2357)
  velox/vector/BaseVector.h
  velox/vector/ComplexVector.cpp
  velox/vector/ComplexVector.h
  velox/vector/FlatVector.cpp
  velox/vector/FlatVector.h
Owners: @prestodb/committers

Add more gitignore for presto-native-execution
  .gitignore
Owners: @prestodb/committers

Add more gitignore for presto-native-execution
  .gitignore
Owners: @prestodb/committers

Send abort results message in PrestoExchangeSource::close()
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add window functions documentation (#2370)
  velox/docs/functions.rst
  velox/docs/functions/window.rst
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
