Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

[native] Return error on erroneous server operation calls
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
Owners: @prestodb/team-velox

add docker build scripts
  docker/Dockerfile
  docker/entrypoint.sh
  docker/etc/config.properties.example
  docker/etc/jvm.config.example
  docker/etc/node.properties
Owners: @prestodb/committers

Deprecate toJonString() methods (#8543)
  velox/exec/ExchangeSource.h
  velox/exec/Task.cpp
  velox/exec/Task.h
Owners: @prestodb/committers

[native] Return error on erroneous server operation calls
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
Owners: @prestodb/team-velox

[native] Return error on erroneous server operation calls
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
Owners: @prestodb/team-velox

[native] Fix https socket binding.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[native] Fix https socket binding.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[native] Fix https socket binding.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

Add release notes for 0.285.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.285.1.rst
  presto-docs/src/main/sphinx/release/release-0.285.rst
Owners: @prestodb/committers

Optimize Table Metadata calls for Iceberg tables
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergBaseBenchmark.java
Owners: @prestodb/committers

Optimize Table Metadata calls for Iceberg tables
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergBaseBenchmark.java
Owners: @prestodb/committers

Remove partitions from JSON constructor of BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
Owners: @prestodb/committers

Remove partitions from JSON constructor of BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
Owners: @prestodb/committers

Reduce copying of `TypePtr` when constructing Aggregate functions (#8502)
  velox/exec/Aggregate.h
  velox/exec/HashAggregation.cpp
  velox/exec/RowContainer.cpp
  velox/exec/SimpleAggregateAdapter.h
Owners: @prestodb/committers

Add from_ieee754_64 Presto function (#6369)
  velox/docs/functions/presto/binary.rst
  velox/functions/prestosql/BinaryFunctions.h
  velox/functions/prestosql/registration/BinaryFunctionsRegistration.cpp
  velox/functions/prestosql/tests/BinaryFunctionsTest.cpp
Owners: @prestodb/committers

[native pos] Cleanup PrestoSparkHttpTaskClient
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Use core executor to run callback
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Increase scheduled executor pool size
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Move getResults retry logic to PrestoSparkHttpTaskClient
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Improve communication loss condition
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Consolidate and improve NativeExecutionTask retries
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native] Add watchdog to detach the worker if an operator call is stuck for too long
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Upload worker log as artifacts in CircleCI
  .circleci/continue_config.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/committers, @prestodb/team-velox

Remove pessimizing move
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Owners: @prestodb/team-velox

Remove pessimizing move 2
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Owners: @prestodb/team-velox

migrate from FOLLY_FALLTHROUGH to [[fallthrough]] (assorted) (#8558)
  velox/exec/HashBuild.cpp
Owners: @prestodb/committers

Fix timezone issue in date_diff (#8540)
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Owners: @prestodb/committers

buckification (#8568)
  third_party/CMakeLists.txt
  velox/dwio/parquet/writer/arrow/ColumnWriter.cpp
  velox/dwio/parquet/writer/arrow/Encoding.cpp
  velox/dwio/parquet/writer/arrow/PathInternal.cpp
  velox/dwio/parquet/writer/arrow/tests/EncodingTest.cpp
  velox/dwio/parquet/writer/arrow/util/ByteStreamSplitInternal.h
Owners: @prestodb/committers

Fix accounting of kMetricArbitratorFreeCapacityBytes (#8564)
  velox/exec/SharedArbitrator.cpp
Owners: @prestodb/committers

Skip CastExpr evaluation if input context contains errors (#8365)
  velox/expression/CastExpr.cpp
  velox/expression/EvalCtx.h
  velox/expression/tests/CastExprTest.cpp
Owners: @prestodb/committers

[native] Add watchdog to detach the worker if an operator call is stuck for too long
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Add watchdog to detach the worker if an operator call is stuck for too long
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Upload worker log as artifacts in CircleCI
  .circleci/continue_config.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/committers, @prestodb/team-velox

[native] Upload worker log as artifacts in CircleCI
  .circleci/continue_config.yml
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/committers, @prestodb/team-velox

Remove unused function from velox/functions/lib/StringEncodingUtils.h (#8544)
  velox/functions/lib/StringEncodingUtils.cpp
  velox/functions/lib/StringEncodingUtils.h
Owners: @prestodb/committers

Initialize default MemoryManager in VeloxIn10MinDemo (#8580)
  velox/exec/tests/VeloxIn10MinDemo.cpp
Owners: @prestodb/committers

add Helm Charts to Deploy docs
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-helm.rst
Owners: @prestodb/committers

Refactor assertCreateTableAsSelect() and assertExplainAnalyze() functions
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
Owners: @prestodb/committers

[native pos] Cleanup PrestoSparkHttpTaskClient
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Consolidate and improve NativeExecutionTask retries
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers
