Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Disable flaky presto-spark test
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
Owners: @prestodb/committers

Fix bug in ORC flat map reader causing 'Read past RLE' and 'Positions must monotonically increase' errors
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
Owners: @prestodb/committers

Ci/Cd hadoop path correcting (#2404)
  .circleci/config.yml
Owners: @prestodb/committers

Add file info to exception thrown from OrcSelectiveRecordReader.OrcBlockLoader
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcDataSourceId.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcDataSourceId.java
Owners: @prestodb/committers

Add file info to exception thrown from OrcSelectiveRecordReader.OrcBlockLoader
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcDataSourceId.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcDataSourceId.java
Owners: @prestodb/committers

Enable fmt::format for Date values (#2457)
  velox/type/Date.h
  velox/type/tests/TypeTest.cpp
Owners: @prestodb/committers

Enable stacktrace
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
Owners: @prestodb/team-velox

Add Temp
  temp.txt
Owners: @prestodb/committers

Fix WrapperJobConf
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
Owners: @prestodb/committers

Fix bug in ORC flat map reader causing 'Read past RLE' and 'Positions must monotonically increase' errors
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
Owners: @prestodb/committers

Fix bug in ORC flat map reader causing 'Read past RLE' and 'Positions must monotonically increase' errors
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
Owners: @prestodb/committers

Fix TaskResource to convert TaskInfo response to thrift
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
Owners: @prestodb/committers

Avoid GTEST_SKIP in SpillerTest (#2458)
  velox/exec/Spiller.h
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Fix wrapper job conf
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
Owners: @prestodb/committers

Add ${LIBGFLAGS_LIBRARY} to IMPORTED_LINK_INTERFACE_LIBRARIES of glog::glog (#9169)
  build/fbcode_builder/CMake/FindGlog.cmake
Owners: @prestodb/committers

Add TaskInfo thrift support for HttpRemoteTask
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
Owners: @prestodb/committers

Add null specifiers to Exchange.* (#2460)
  velox/exec/Exchange.cpp
  velox/exec/Exchange.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add TaskInfo thrift support for HttpRemoteTask
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
Owners: @prestodb/committers

Fix min_by and max_by aggregate functions for DATE inputs (#2235)
  velox/functions/prestosql/aggregates/MinMaxByAggregates.cpp
  velox/functions/prestosql/aggregates/tests/MinMaxByAggregationTest.cpp
Owners: @prestodb/committers

Update SpillableTopNBuilder
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/operator/GroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/InMemoryGroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/NoChannelGroupByHash.java
  presto-main/src/main/java/com/facebook/presto/operator/SpillableGroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNRowNumberOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessorUtils.java
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkInMemoryGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestInMemoryGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTopNOperator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestTopN.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledOrderByQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledTopNQueries.java
Owners: @prestodb/committers

Implement spilling for TopNOperator and TopNRowNumberOperator
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/Top100Benchmark.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/operator/GroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/InMemoryGroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/NoChannelGroupByHash.java
  presto-main/src/main/java/com/facebook/presto/operator/SpillableGroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNRowNumberOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/WorkProcessorUtils.java
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkInMemoryGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/MockLocalMemoryContext.java
  presto-main/src/test/java/com/facebook/presto/operator/TestInMemoryGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTopNOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTopNRowNumberOperator.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestTopN.java
  presto-tests/src/main/java/com/facebook/presto/tests/QueryAssertions.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestDistributedSpilledQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledAggregations.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledJoinQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledOrderByQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledTopNQueries.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSpilledWindowQueries.java
  scratch.md
Owners: @prestodb/committers

Fix wrapper job conf
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
Owners: @prestodb/committers

Fix wrapper job conf
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
Owners: @prestodb/committers

Add release notes for 0.276.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.276.1.rst
  presto-docs/src/main/sphinx/release/release-0.276.rst
Owners: @prestodb/team-releases

Add release notes for 0.276.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.276.1.rst
  presto-docs/src/main/sphinx/release/release-0.276.rst
Owners: @prestodb/team-releases

Add release notes for 0.276.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.276.1.rst
  presto-docs/src/main/sphinx/release/release-0.276.rst
Owners: @prestodb/team-releases

Fix wrapper job conf
  presto-hive/src/main/java/com/facebook/presto/hive/WrapperJobConf.java
Owners: @prestodb/committers

Add release notes for 0.276.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.276.1.rst
  presto-docs/src/main/sphinx/release/release-0.276.rst
Owners: @prestodb/team-releases

Fix UnscaledLongDecimals Presto Serialization (#2444)
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/tests/PrestoSerializerTest.cpp
Owners: @prestodb/committers

Properly process Final Selection in Reduce(). (#2408)
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/tests/FunctionBaseTest.h
  velox/functions/prestosql/tests/MapFilterTest.cpp
  velox/functions/prestosql/tests/ReduceTest.cpp
Owners: @prestodb/committers

Fix data race in DriverTest.yield test (#2465)
  velox/exec/tests/DriverTest.cpp
Owners: @prestodb/committers

Fix data race in DriverTest.pauserNode test (#2466)
  velox/exec/tests/DriverTest.cpp
Owners: @prestodb/committers

Refactor MemoryPool passing for ExchangeClient (#2447)
  velox/exec/Exchange.cpp
  velox/exec/Exchange.h
  velox/exec/MergeSource.cpp
  velox/exec/Task.cpp
Owners: @prestodb/committers

[native] Refactor PrestoExchangeSource to have MemoryPool
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Fix CSE compilation error for duplicate expressions
  presto-main/src/main/java/com/facebook/presto/sql/gen/PageFunctionCompiler.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/TestPageFunctionCompiler.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

[native] Refactor PrestoExchangeSource to have MemoryPool
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

[native] Refactor PrestoExchangeSource to have MemoryPool
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add decimal types support to VELOX_DYNAMIC_TYPE_DISPATCH_IMPL (#2307)
  velox/functions/prestosql/aggregates/PrestoHasher.cpp
  velox/functions/prestosql/aggregates/tests/PrestoHasherTest.cpp
  velox/type/Type.h
  velox/type/Variant.cpp
  velox/type/tests/VariantTest.cpp
Owners: @prestodb/committers

Improve MemoryUsageTracker thread safety (#2471)
  velox/common/memory/MemoryUsageTracker.h
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
