Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Make plan statistics thrift compatible
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/Estimate.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/HistoricalPlanStatistics.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/PlanStatistics.java
Owners: @prestodb/committers

Fix one more git JsonCreator issue
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/WindowNode.java
Owners: @prestodb/committers

Fix one more git JsonCreator issue
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/WindowNode.java
Owners: @prestodb/committers

Optimize clamp function (#2548)
  velox/docs/functions/math.rst
  velox/functions/prestosql/Arithmetic.h
  velox/functions/prestosql/tests/ArithmeticTest.cpp
Owners: @prestodb/committers

Add to support configure spill executor plus task level test
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Add to support configure spill executor plus task level test
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Propagate statsEquivalentPlanNode correctly in IterativeOptimizer and HashGenerationOptimizer
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHistoryBasedStatsTracking.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/IterativeOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/Memo.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
Owners: @prestodb/committers

Fix bug with join canonicalization
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
Owners: @prestodb/committers

Propagate statsEquivalentPlanNode correctly in IterativeOptimizer and HashGenerationOptimizer
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHistoryBasedStatsTracking.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/IterativeOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/Memo.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HashGenerationOptimizer.java
Owners: @prestodb/committers

Fix bug with join canonicalization
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

AllFused Preproc benchmark
  velox/benchmarks/basic/Preproc.cpp
Owners: @prestodb/committers

Add TypeKind to Type
  presto-common/src/main/java/com/facebook/presto/common/type/ArrayType.java
  presto-common/src/main/java/com/facebook/presto/common/type/BigintType.java
  presto-common/src/main/java/com/facebook/presto/common/type/BooleanType.java
  presto-common/src/main/java/com/facebook/presto/common/type/DateType.java
  presto-common/src/main/java/com/facebook/presto/common/type/DoubleType.java
  presto-common/src/main/java/com/facebook/presto/common/type/IntegerType.java
  presto-common/src/main/java/com/facebook/presto/common/type/JsonType.java
  presto-common/src/main/java/com/facebook/presto/common/type/LongDecimalType.java
  presto-common/src/main/java/com/facebook/presto/common/type/MapType.java
  presto-common/src/main/java/com/facebook/presto/common/type/RealType.java
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-common/src/main/java/com/facebook/presto/common/type/ShortDecimalType.java
  presto-common/src/main/java/com/facebook/presto/common/type/SmallintType.java
  presto-common/src/main/java/com/facebook/presto/common/type/TimeType.java
  presto-common/src/main/java/com/facebook/presto/common/type/TimestampType.java
  presto-common/src/main/java/com/facebook/presto/common/type/TinyintType.java
  presto-common/src/main/java/com/facebook/presto/common/type/Type.java
  presto-common/src/main/java/com/facebook/presto/common/type/TypeKind.java
  presto-common/src/main/java/com/facebook/presto/common/type/VarbinaryType.java
  presto-common/src/main/java/com/facebook/presto/common/type/VarcharType.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Rename setup script for centos
  presto-native-execution/README.md
  presto-native-execution/scripts/circleci-container.dockfile
  presto-native-execution/scripts/setup-centos.sh
Owners: @prestodb/team-velox

Rename setup script for centos
  presto-native-execution/README.md
  presto-native-execution/scripts/circleci-container.dockfile
  presto-native-execution/scripts/setup-centos.sh
Owners: @prestodb/team-velox

[native] fix connector creation when cache is enabled
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

no need to compute allNotNull for default null functions.
  velox/expression/SimpleFunctionAdapter.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add index for hive connector examples
  presto-docs/src/main/sphinx/connector/hive.rst
Owners: @prestodb/team-releases

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[native] fix connector creation when cache is enabled
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

[native] fix connector creation when cache is enabled
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Small changes to close vector/simple gap for preproc (#2558)
  velox/expression/SimpleFunctionAdapter.h
  velox/expression/VectorWriters.h
Owners: @prestodb/committers

Refactor and comment null seperation logic in evalAll (#2473)
  velox/expression/Expr.cpp
Owners: @prestodb/committers

Add index for hive connector examples
  presto-docs/src/main/sphinx/connector/hive.rst
Owners: @prestodb/team-releases

Add index for hive connector examples
  presto-docs/src/main/sphinx/connector/hive.rst
Owners: @prestodb/team-releases

Add support for avg aggregates (#1978)
  scripts/setup-adapters.sh
  velox/substrait/SubstraitParser.cpp
  velox/substrait/SubstraitParser.h
  velox/substrait/SubstraitToVeloxExpr.cpp
  velox/substrait/SubstraitToVeloxPlan.cpp
  velox/substrait/TypeUtils.cpp
  velox/substrait/TypeUtils.h
  velox/substrait/VeloxToSubstraitExpr.cpp
  velox/substrait/VeloxToSubstraitPlan.cpp
  velox/substrait/tests/FunctionTest.cpp
  velox/substrait/tests/Substrait2VeloxPlanConversionTest.cpp
  velox/substrait/tests/VeloxSubstraitRoundTripPlanConverterTest.cpp
  velox/substrait/tests/data/q1_first_stage.json
  velox/substrait/tests/data/q6_first_stage.json
Owners: @prestodb/committers

Retry presto on spark queries with increased partition count
  presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/execution/ExecutionFailureInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/util/Failures.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkRetryExecutionUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/ErrorCause.java
Owners: @prestodb/committers

Retry presto on spark queries with increased partition count
  presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/execution/ExecutionFailureInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/util/Failures.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkRetryExecutionUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/ErrorCause.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Use a different docker image for native check jobs
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

Upgrade jts version to 1.19.0
  pom.xml
  presto-main/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
Owners: @prestodb/committers

Upgrade jts version to 1.19.0
  pom.xml
  presto-main/src/test/java/com/facebook/presto/geospatial/TestGeoFunctions.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/FunctionAssertions.java
Owners: @prestodb/committers

Rename kAnti to kNullAwareAnti (#18342)
  velox/core/PlanNode.h
  velox/exec/HashBuild.cpp
  velox/exec/HashProbe.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/utils/TpchQueryBuilder.cpp
Owners: @prestodb/committers

[native] Clarify README for presto native execution
  presto-native-execution/README.md
Owners: @prestodb/team-velox

Use TypedExprPtr and RowTypePtr (#2559)
  velox/exec/FilterProject.cpp
  velox/exec/HashProbe.cpp
  velox/exec/HashProbe.h
  velox/exec/MergeJoin.cpp
  velox/exec/MergeJoin.h
  velox/exec/Operator.cpp
  velox/exec/Operator.h
  velox/exec/TopN.cpp
  velox/exec/TopN.h
  velox/exec/tests/DriverTest.cpp
  velox/exec/tests/SpillerTest.cpp
  velox/exec/tests/utils/OperatorTestBase.cpp
  velox/exec/tests/utils/OperatorTestBase.h
  velox/exec/tests/utils/PlanBuilder.h
  velox/expression/CastExpr.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/LambdaExpr.cpp
  velox/expression/LambdaExpr.h
  velox/expression/tests/CastExprTest.cpp
  velox/expression/tests/ExprEncodingsTest.cpp
  velox/expression/tests/ExprTest.cpp
  velox/expression/tests/SimpleFunctionInitTest.cpp
  velox/functions/prestosql/tests/CastBaseTest.h
  velox/functions/prestosql/tests/utils/FunctionBaseTest.h
Owners: @prestodb/committers

Use a different docker image for native check jobs
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

Use a different docker image for native check jobs
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

[native] Advance Velox version.
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
Owners: @prestodb/team-velox

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
