Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Fix error logging
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/write/TestDataWritableWriter.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
Owners: @prestodb/committers

Fix error logging
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/write/TestDataWritableWriter.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
Owners: @prestodb/committers

Support Iceberg UUID type
  presto-client/src/main/java/com/facebook/presto/client/FixJsonDataUtils.java
  presto-common/src/main/java/com/facebook/presto/common/type/UuidType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ExpressionConverter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSink.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionData.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/UuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidType.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/ColumnReaderFactory.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/reader/UuidColumnReader.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetSchemaConverter.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/ParquetWriters.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/writer/valuewriter/UuidValueWriter.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Owners: @prestodb/committers

Retry presto on spark queries with increased partition count
  presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/execution/ExecutionFailureInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlStageExecution.java
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/main/java/com/facebook/presto/util/Failures.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkRetryExecutionUtils.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/ErrorCause.java
Owners: @prestodb/committers

Validate allowed properties in JDBC driver
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/AbstractConnectionProperty.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
Owners: @prestodb/committers

Fix JDBC Driver.getPropertyInfo()
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/AbstractConnectionProperty.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriver.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriver.java
Owners: @prestodb/committers

Upgrade Apache Hudi version to 0.12.0
  pom.xml
Owners: @prestodb/committers

Upgrade Apache Hudi version to 0.12.0
  pom.xml
Owners: @prestodb/committers

Make vector serde registration flexible in OperatorTestBase (#2517)
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/OrderByTest.cpp
  velox/exec/tests/utils/OperatorTestBase.cpp
  velox/exec/tests/utils/OperatorTestBase.h
Owners: @prestodb/committers

Replace move() with std::move() (#2526)
  velox/core/Context.cpp
  velox/core/Context.h
  velox/core/Expressions.h
  velox/core/ITypedExpr.h
  velox/core/tests/TestMetafunctions.cpp
  velox/parse/Expressions.cpp
  velox/parse/Expressions.h
Owners: @prestodb/committers

Document ANTI JOIN semantics (#2527)
  velox/docs/develop.rst
  velox/docs/develop/anti-join.rst
  velox/docs/develop/joins.rst
Owners: @prestodb/committers

Support case insensitive identifiers in MongoDB
  presto-docs/src/main/sphinx/connector/mongodb.rst
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoClientConfig.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoSession.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/MongoQueryRunner.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoClientConfig.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Owners: @prestodb/team-releases, @prestodb/committers

Remove the usage of "using namespace std" (#2528)
  velox/common/encode/Base64.cpp
  velox/common/process/ProcessBase.cpp
  velox/common/process/StackTrace.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Throw FileNotFoundException if file does not exist on S3
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Owners: @prestodb/committers

Throw FileNotFoundException if file does not exist on S3
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Owners: @prestodb/committers

Add rule to remove redundant EnforceSingleRowNode's
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantEnforceSingleRowNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRemoveRedundantEnforceSingleRowNode.java
Owners: @prestodb/committers

Fix formatting in anti joins documentation (#2532)
  velox/docs/develop/anti-join.rst
Owners: @prestodb/committers

Add JSON_EXISTS, JSON_VALUE and JSON_QUERY to grammar and AST
  presto-docs/src/main/sphinx/language/reserved.rst
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/JsonExists.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/JsonPathInvocation.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/JsonPathParameter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/JsonQuery.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/JsonValue.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Owners: @prestodb/team-releases, @prestodb/committers

Upgrade assertj and add more tests
  pom.xml
  presto-bigquery/pom.xml
  presto-delta/pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive-metastore/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-jdbc/pom.xml
  presto-main/src/test/java/com/facebook/presto/json/ir/TestSqlJsonLiteralConverter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestJsonPathEvaluator.java
  presto-native-execution/pom.xml
  presto-parser/pom.xml
  presto-parser/src/test/java/com/facebook/presto/sql/jsonpath/TestPathParser.java
  presto-raptor/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
  presto-sqlserver/pom.xml
Owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox

Revert "Upgrade assertj and add more tests"
  pom.xml
  presto-bigquery/pom.xml
  presto-delta/pom.xml
  presto-druid/pom.xml
  presto-elasticsearch/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive-metastore/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-jdbc/pom.xml
  presto-main/src/main/java/com/facebook/presto/sql/planner/JsonPathEvaluator.java
  presto-main/src/test/java/com/facebook/presto/json/ir/TestSqlJsonLiteralConverter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestJsonPathEvaluator.java
  presto-native-execution/pom.xml
  presto-parser/pom.xml
  presto-parser/src/test/java/com/facebook/presto/sql/jsonpath/TestPathParser.java
  presto-raptor/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
  presto-sqlserver/pom.xml
Owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox

Adding destructor tests for StreamingAggregation (#2516)
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/StreamingAggregationTest.cpp
  velox/exec/tests/utils/CMakeLists.txt
  velox/exec/tests/utils/SumNonPODAggregate.cpp
  velox/exec/tests/utils/SumNonPODAggregate.h
Owners: @prestodb/committers

Preserve original exception on JSON parse failure
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/JsonTypeUtil.java
Owners: @prestodb/committers

Move JSON type construction to plugin toolkit
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
  presto-plugin-toolkit/pom.xml
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/JsonTypeUtil.java
Owners: @prestodb/committers

Remove unused method from JsonFunctions
  presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java
Owners: @prestodb/committers

Integrate LocalTask.
  .gitignore
  presto-main/src/main/java/com/facebook/presto/server/localtask/ForWorker.java
  presto-main/src/main/java/com/facebook/presto/server/localtask/LocalTask.java
  presto-main/src/main/java/com/facebook/presto/server/localtask/LocalTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/test/java/com/facebook/presto/server/locaktask/TestLocalTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/NativeEngineOperator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkLocalExecutionPlanner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spark-base/src/test/resources/MockNativeEngine.py
Owners: @prestodb/committers

cmake-rust: merge two RustStaticLibrary.cmake and add feature support
  build/fbcode_builder/CMake/RustStaticLibrary.cmake
Owners: @prestodb/committers

Remove velox/serializers/UnsafeRowSerde.h,cpp (#2529)
  velox/row/tests/CMakeLists.txt
  velox/row/tests/UnsafeRowBatchSerdeFuzzTests.cpp
  velox/serializers/CMakeLists.txt
  velox/serializers/UnsafeRowSerde.cpp
  velox/serializers/UnsafeRowSerde.h
  velox/vector/VectorBatch.h
Owners: @prestodb/committers

Add support for json type in MongoDB
  presto-mongodb/pom.xml
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoPageSink.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoPageSource.java
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/TypeUtils.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Owners: @prestodb/committers

Implement IS DISTINCT FROM for MongoDB ObjectId
  presto-mongodb/src/main/java/com/facebook/presto/mongodb/ObjectIdFunctions.java
  presto-mongodb/src/test/java/com/facebook/presto/mongodb/TestMongoIntegrationSmokeTest.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add large allocation purpose Arena (#2523)
  velox/common/memory/CMakeLists.txt
  velox/common/memory/MmapAllocator.h
  velox/common/memory/MmapArena.cpp
  velox/common/memory/MmapArena.h
  velox/common/memory/tests/MappedMemoryTest.cpp
Owners: @prestodb/committers

Simplify UnsafeRowVectorSerializer::append (#2533)
  velox/serializers/UnsafeRowSerializer.cpp
Owners: @prestodb/committers

Pinot upgrade to version 0.11.0
  pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceBase.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotColumnUtils.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotPageSourceProvider.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentStreamingPageSource.java
  presto-pinot/pom.xml
Owners: @prestodb/committers

Fix data races exposed by table scan test in tsan mode (#2525)
  velox/common/caching/AsyncDataCache.cpp
  velox/common/caching/AsyncDataCache.h
  velox/common/file/File.cpp
  velox/common/file/File.h
  velox/dwio/common/CachedBufferedInput.cpp
  velox/exec/PartitionedOutput.cpp
  velox/exec/PartitionedOutputBufferManager.cpp
  velox/exec/PartitionedOutputBufferManager.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add tests to CircleCI (#2383)
  .circleci/config.yml
  scripts/setup-adapters.sh
  scripts/setup-circleci.sh
  scripts/setup-ubuntu.sh
  velox/substrait/SubstraitToVeloxExpr.cpp
  velox/substrait/SubstraitToVeloxPlan.cpp
  velox/substrait/TypeUtils.cpp
  velox/substrait/VeloxToSubstraitExpr.cpp
  velox/substrait/VeloxToSubstraitPlan.cpp
  velox/substrait/tests/data/q1_first_stage.json
  velox/substrait/tests/data/q6_first_stage.json
Owners: @prestodb/committers

Update BigQuery storage read API usage to v1
  presto-bigquery/pom.xml
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryConnectorModule.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryPageSourceProvider.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryReadClientFactory.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQueryResultPageSource.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/BigQuerySplitManager.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/ReadRowsHelper.java
  presto-bigquery/src/main/java/com/facebook/presto/plugin/bigquery/ReadSessionCreator.java
  presto-bigquery/src/test/java/com/facebook/presto/plugin/bigquery/MockResponsesBatch.java
  presto-bigquery/src/test/java/com/facebook/presto/plugin/bigquery/TestReadRowsHelper.java
Owners: @prestodb/committers

Remove stale bot for issues. (#2538)
  .github/stale.yml
Owners: @prestodb/team-releases

Optimize ComparisonSimdFunction (#2536)
  velox/functions/prestosql/Comparisons.cpp
Owners: @prestodb/committers
