Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

[native pos] Wait for process termination
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
Owners: @shrinidhijoshi, @prestodb/committers

Refactor ParquetReader header to prevent including thrift headers (#8484)
  velox/dwio/parquet/reader/ParquetReader.cpp
  velox/dwio/parquet/reader/ParquetReader.h
Owners: @prestodb/committers

Expose getResults metrics in AsyncPageTransportServlet
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Owners: @prestodb/committers

Remove blocking implementation of /v1/task/<id>/results
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/HttpRpcShuffleClient.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportForwardFilter.java
  presto-main/src/main/java/com/facebook/presto/server/PagesResponseWriter.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClientConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPageBufferClient.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestAsyncPageTransportQueries.java
Owners: @prestodb/committers

[native pos] Wait for process termination
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Wait for process termination
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/PropertyMetadata.java
Owners: @shrinidhijoshi, @prestodb/committers

Iceberg: Support metadata columns
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Owners: @prestodb/committers

Iceberg: Support applying equality deletes as a join
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ColumnIdentity.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Owners: @prestodb/committers

Add KLL Sketch Support
  pom.xml
  presto-common/src/main/java/com/facebook/presto/common/type/KllSketchParametricType.java
  presto-common/src/main/java/com/facebook/presto/common/type/KllSketchType.java
  presto-common/src/main/java/com/facebook/presto/common/type/StandardTypes.java
  presto-docs/src/main/sphinx/functions/sketch.rst
  presto-docs/src/main/sphinx/language/types.rst
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/kll/KllSketchAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/kll/KllSketchAggregationState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/kll/KllSketchStateFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/kll/KllSketchStateSerializer.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/kll/KllSketchWithKAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/KllSketchFunctions.java
  presto-main/src/main/java/com/facebook/presto/type/KllSketchOperators.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestKllSketchAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestKllSketchStateSerializer.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestKllSketchFunctions.java
Owners: @prestodb/committers

Fix ExchangeBenchmark and PrefixSortAlgorithmBenchmark (#8493)
  velox/exec/benchmarks/ExchangeBenchmark.cpp
  velox/exec/prefixsort/benchmarks/PrefixSortAlgorithmBenchmark.cpp
Owners: @prestodb/committers

Add CAST(varchar as decimal) (#5307)
  velox/docs/functions/presto/conversion.rst
  velox/docs/functions/spark/conversion.rst
  velox/expression/CastExpr-inl.h
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/expression/tests/CastExprTest.cpp
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Owners: @prestodb/committers

Iceberg: Support metadata columns
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Owners: @prestodb/committers

Iceberg: Support applying equality deletes as a join
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ColumnIdentity.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Owners: @prestodb/committers

Iceberg: Support applying equality deletes as a join
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/ColumnIdentity.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergConfig.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSessionProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/equalitydeletes/EqualityDeletesSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergEqualityDeleteAsJoin.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ApplyConnectorOptimization.java
Owners: @prestodb/committers

Iceberg: Support metadata columns
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergColumnHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergMetadataColumn.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplit.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitSource.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/changelog/ChangelogSplitSource.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergHiveStatistics.java
Owners: @prestodb/committers

Refactor TableWriter arbitration test (#8504)
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/TableWriteTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
Owners: @prestodb/committers

Optimize Table Metadata calls for Iceberg tables
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHadoopCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/BenchmarkIcebergHiveCatalog.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergBaseBenchmark.java
Owners: @prestodb/committers

Signal timeout when locking task in getLongRunningOpCalls (#8511)
  velox/exec/Driver.cpp
  velox/exec/Task.cpp
  velox/exec/Task.h
Owners: @prestodb/committers

[native] Cancelling abandoned tasks during shutdown.
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
Owners: @prestodb/team-velox

Fix hash join spill issue caused by new internal state (#8520)
  velox/exec/HashBuild.cpp
Owners: @prestodb/committers

Reduce parallelism for linux-build. (#8530)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Add function DecimalUtil::rescaleDouble (#8478)
  velox/type/DecimalUtil.h
  velox/type/tests/DecimalTest.cpp
Owners: @prestodb/committers

Avoid implicit narrowing conversion in FlatVector<StringView>::copy (#8516)
  velox/vector/FlatVector.cpp
  velox/vector/FlatVector.h
  velox/vector/tests/VectorTest.cpp
Owners: @prestodb/committers

Fix inefficient utility functions in HiveDataSink (#8499)
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
Owners: @prestodb/committers

Avoid locking in MallocAllocator for non-contiguous buffer allocation (#8477)
  velox/common/memory/Allocation.cpp
  velox/common/memory/Allocation.h
  velox/common/memory/MallocAllocator.cpp
  velox/common/memory/MallocAllocator.h
  velox/common/memory/MemoryAllocator.cpp
  velox/common/memory/MemoryAllocator.h
  velox/common/memory/tests/AllocationTest.cpp
  velox/common/memory/tests/ConcurrentAllocationBenchmark.cpp
  velox/common/memory/tests/MemoryAllocatorTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
Owners: @prestodb/committers

Make ngrams size to be integer to match presto. (#8529)
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/registration/ArrayNGramsRegistration.cpp
  velox/functions/prestosql/tests/ArrayNGramsTest.cpp
Owners: @prestodb/committers

Correctly record the rawBytesRead_ metric in TableScan (#8147)
  velox/dwio/common/CacheInputStream.cpp
  velox/dwio/common/DirectBufferedInput.cpp
  velox/dwio/common/DirectInputStream.cpp
  velox/exec/tests/TableScanTest.cpp
Owners: @prestodb/committers

[codemod][lowrisk] Remove extra semi colon from github/presto-trunk/presto-native-execution/presto_cpp/main/PrestoServer.h (#21776)
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

[codemod][lowrisk] Remove extra semi colon from github/presto-trunk/presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h (#21773)
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
Owners: @prestodb/team-velox

How logs are rotated and compressed for server and http-server.log
  presto-docs/src/main/sphinx/admin/properties-logging.rst
Owners: @prestodb/committers

Add CAST (double as decimal) (#8500)
  velox/common/base/tests/GTestUtils.h
  velox/docs/functions/presto/conversion.rst
  velox/expression/CastExpr-inl.h
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/expression/tests/CastExprTest.cpp
  velox/type/tests/DecimalTest.cpp
Owners: @prestodb/committers

Remove unused function from velox/parse/Expressions.cpp (#8535)
  velox/parse/Expressions.cpp
Owners: @prestodb/committers

Use folly::dynamic as propagation media for printing (#8513)
  velox/exec/Driver.cpp
  velox/exec/Driver.h
  velox/exec/ExchangeClient.cpp
  velox/exec/ExchangeClient.h
  velox/exec/ExchangeSource.h
  velox/exec/Operator.h
  velox/exec/TableScan.cpp
  velox/exec/TableScan.h
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/TaskTest.cpp
Owners: @prestodb/committers

Rename spillDiskWrites to spillWriteFlushes (#8531)
  velox/common/base/Counters.cpp
  velox/common/base/Counters.h
  velox/common/base/SpillStats.cpp
  velox/common/base/SpillStats.h
  velox/common/base/tests/SpillStatsTest.cpp
  velox/connectors/hive/tests/HiveDataSinkTest.cpp
  velox/exec/Operator.cpp
  velox/exec/SpillFile.cpp
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/OrderByTest.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/SpillerTest.cpp
  velox/exec/tests/TableWriteTest.cpp
Owners: @prestodb/committers

Add API for Parquet FileMetaData, RowGroupMetadata, ColumnChunkMetadata (#8486)
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/reader/Metadata.cpp
  velox/dwio/parquet/reader/Metadata.h
  velox/dwio/parquet/reader/ParquetReader.cpp
  velox/dwio/parquet/reader/ParquetReader.h
  velox/dwio/parquet/tests/reader/E2EFilterTest.cpp
  velox/dwio/parquet/tests/reader/ParquetReaderTest.cpp
Owners: @prestodb/committers

Back out "Correctly record the rawBytesRead_ metric in TableScan" (#8536)
  velox/dwio/common/CacheInputStream.cpp
  velox/dwio/common/DirectBufferedInput.cpp
  velox/dwio/common/DirectInputStream.cpp
  velox/exec/tests/TableScanTest.cpp
Owners: @prestodb/committers

[native] Use folly::dynamic as propagation media for printing
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

Track average buffer time for data stored in OutputBuffer (#8534)
  velox/exec/OutputBuffer.cpp
  velox/exec/OutputBuffer.h
  velox/exec/tests/OutputBufferManagerTest.cpp
Owners: @prestodb/committers

[native] Add ngrams e2e tests.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

[native] Remove an unused include.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
