Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

Update README for dependencies (#8607)
  CMake/resolve_dependency_modules/README.md
  README.md
Owners: @prestodb/committers

[native] Export averageOutputBufferWallNanos task-level stat
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native] Export averageOutputBufferWallNanos task-level stat
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

Add ThreadLocalRegistry (#8623)
  velox/common/process/ThreadLocalRegistry.h
  velox/common/process/tests/CMakeLists.txt
  velox/common/process/tests/ThreadLocalRegistryTest.cpp
Owners: @prestodb/committers

Add TraceContext to various system calls that can block (#8583)
  velox/common/caching/CMakeLists.txt
  velox/common/caching/SsdFile.cpp
  velox/common/process/TraceContext.cpp
  velox/common/process/TraceContext.h
  velox/common/process/tests/TraceContextTest.cpp
  velox/dwio/common/ColumnLoader.cpp
  velox/dwio/common/SelectiveStructColumnReader.cpp
  velox/dwio/dwrf/reader/ReaderBase.cpp
  velox/exec/HashTable.cpp
Owners: @prestodb/committers

Add TraceHistory (#8603)
  velox/common/process/CMakeLists.txt
  velox/common/process/TraceContext.cpp
  velox/common/process/TraceHistory.cpp
  velox/common/process/TraceHistory.h
  velox/common/process/tests/CMakeLists.txt
  velox/common/process/tests/TraceContextTest.cpp
  velox/common/process/tests/TraceHistoryTest.cpp
  velox/dwio/common/SelectiveColumnReader.cpp
  velox/dwio/common/SelectiveColumnReader.h
  velox/dwio/common/SelectiveStructColumnReader.cpp
Owners: @prestodb/committers

Allow offline pre-compilation of 'xsimd' dependency (#8308)
  .circleci/dist_compile.yml
  CMakeLists.txt
Owners: @prestodb/committers

[SubCluster] Add NodeSetSupplier interface to partition the cluster
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/DefaultNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSubsetNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/TopologyAwareNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/cost/TestCostCalculator.java
  presto-main/src/test/java/com/facebook/presto/execution/BenchmarkNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/TaskTestUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestSourcePartitionedScheduler.java
Owners: @prestodb/committers

Add a blog post for LIKE optimizations (#8576)
  website/blog/2024-01-27-like-optimization.mdx
  website/blog/authors.yml
Owners: @prestodb/committers

Push down thoroughly predicates that could be enforced by Iceberg table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
Owners: @prestodb/committers

Push down thoroughly predicates that could be enforced by Iceberg table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
Owners: @prestodb/committers

Push down thoroughly predicates that could be enforced by Iceberg table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
Owners: @prestodb/committers

[native] Fix FB_OS_VERSION in Centos Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libuuid dependency from Centos and Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libuuid dependency from Centos and Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libsodium dependency from MacOS and Ubuntu setup scripts
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Fix FB_OS_VERSION in Centos Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libsodium dependency from MacOS and Ubuntu setup scripts
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

Reduce the lock contention in MallocAllocator by sharded memory reservation (#8569)
  velox/common/base/ConcurrentCounter.h
  velox/common/base/tests/CMakeLists.txt
  velox/common/base/tests/ConcurrentCounterTest.cpp
  velox/common/memory/MallocAllocator.cpp
  velox/common/memory/MallocAllocator.h
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryAllocator.h
  velox/common/memory/tests/ConcurrentAllocationBenchmark.cpp
  velox/common/memory/tests/MemoryAllocatorTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/exec/HashBuild.cpp
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
Owners: @prestodb/committers

Add missing test call in AddressableNonNullValueListTest (#8643)
  velox/exec/tests/AddressableNonNullValueListTest.cpp
Owners: @prestodb/committers

Add VELOX_DCHECK_NULL macro (#8644)
  velox/common/base/Exceptions.h
Owners: @prestodb/committers

Support date-type partition column (#7084)
  velox/connectors/hive/HiveConnectorSplit.h
  velox/connectors/hive/SplitReader.cpp
  velox/exec/tests/TableScanTest.cpp
Owners: @prestodb/committers

Specify 'xsimd_SOURCE' to BUNDLED in linux-presto-fuzzer-run CI (#8655)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Fix folly::dynamic mismatch in driverObj (#8625)
  velox/exec/Task.cpp
Owners: @prestodb/committers

Use glog version 0.6.0 in setup-centos8 script (#8614)
  scripts/setup-centos8.sh
Owners: @prestodb/committers

Add ignore_missing_files Hive config (#8615)
  velox/common/base/Exceptions.h
  velox/common/base/VeloxException.h
  velox/common/base/tests/GTestUtils.h
  velox/common/file/File.cpp
  velox/common/file/tests/FileTest.cpp
  velox/connectors/hive/HiveConfig.cpp
  velox/connectors/hive/HiveConfig.h
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/tests/HiveConfigTest.cpp
  velox/docs/configs.rst
  velox/exec/tests/TableScanTest.cpp
Owners: @prestodb/committers

Disable pyvelox wheels build in macos temporarily. (#8636)
  .github/workflows/build_pyvelox.yml
Owners: @prestodb/committers

Add null support to PrefixSortEncoder (#8350)
  velox/exec/prefixsort/PrefixSortEncoder.h
  velox/exec/prefixsort/tests/CMakeLists.txt
  velox/exec/prefixsort/tests/PrefixEncoderTest.cpp
  velox/exec/prefixsort/tests/utils/EncoderTestUtils.cpp
Owners: @prestodb/committers

Add monthly update for January 2024 (#8656)
  velox/docs/develop/expression-evaluation.rst
  velox/docs/functions/presto/aggregate.rst
  velox/docs/functions/spark/datetime.rst
  velox/docs/monthly-updates.rst
  velox/docs/monthly-updates/2023/april-2023.rst
  velox/docs/monthly-updates/2023/august-2023.rst
  velox/docs/monthly-updates/2023/december-2023.rst
  velox/docs/monthly-updates/2023/february-2023.rst
  velox/docs/monthly-updates/2023/index.rst
  velox/docs/monthly-updates/2023/january-2023.rst
  velox/docs/monthly-updates/2023/july-2023.rst
  velox/docs/monthly-updates/2023/june-2023.rst
  velox/docs/monthly-updates/2023/march-2023.rst
  velox/docs/monthly-updates/2023/may-2023.rst
  velox/docs/monthly-updates/2023/november-2023.rst
  velox/docs/monthly-updates/2023/october-2023.rst
  velox/docs/monthly-updates/2023/september-2023.rst
  velox/docs/monthly-updates/january-2024.rst
Owners: @prestodb/committers

Revert "Preserve case for RowType's field name and JSON content when ``CAST``"
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-main/src/main/java/com/facebook/presto/util/JsonUtil.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Cast.java
Owners: @prestodb/committers

Revert "Preserve case for RowType's field name and JSON content when ``CAST``"
  presto-common/src/main/java/com/facebook/presto/common/type/RowType.java
  presto-main/src/main/java/com/facebook/presto/util/JsonUtil.java
  presto-main/src/test/java/com/facebook/presto/type/TestRowOperators.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Cast.java
Owners: @prestodb/committers

Back out D53198236 and D53146503 (#8661)
  velox/common/caching/CMakeLists.txt
  velox/common/caching/SsdFile.cpp
  velox/common/process/CMakeLists.txt
  velox/common/process/TraceContext.cpp
  velox/common/process/TraceContext.h
  velox/common/process/TraceHistory.cpp
  velox/common/process/TraceHistory.h
  velox/common/process/tests/CMakeLists.txt
  velox/common/process/tests/TraceContextTest.cpp
  velox/common/process/tests/TraceHistoryTest.cpp
  velox/dwio/common/ColumnLoader.cpp
  velox/dwio/common/SelectiveColumnReader.cpp
  velox/dwio/common/SelectiveColumnReader.h
  velox/dwio/common/SelectiveStructColumnReader.cpp
  velox/dwio/dwrf/reader/ReaderBase.cpp
  velox/exec/HashTable.cpp
Owners: @prestodb/committers

Introduce BatchVectorSerializer to better support preserving encodings when serializing Vectors (#8567)
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/serializers/tests/PrestoSerializerTest.cpp
  velox/vector/VectorStream.cpp
  velox/vector/VectorStream.h
Owners: @prestodb/committers

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/committers, @prestodb/team-velox

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/committers, @prestodb/team-velox

Use Config::get(name, defaultValue) in HiveConfig (#8633)
  velox/connectors/hive/HiveConfig.cpp
Owners: @prestodb/committers

Upgrade Delta Standalone to 3.0.0
  presto-delta/pom.xml
Owners: @prestodb/committers

[SubCluster] Implement acquire/release hooks into LocalQueryDispatch
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQuery.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/LocalDispatchQueryFactory.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/DefaultNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSubsetNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/ForNodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/test/java/com/facebook/presto/dispatcher/TestLocalDispatchQuery.java
Owners: @prestodb/committers

[SubCluster][Hack] Remove split affinity to nodes
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/DefaultNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSubsetNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeSet.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers

[SubCluster][Hack] Remove split affinity to nodes
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/FixedSubsetNodeSetSupplier.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
