Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

Support resource group selection based on clientInfo
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/AbstractResourceConfigurationManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/SelectorSpec.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/StaticSelector.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/DbManagerSpecProvider.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/ResourceGroupsDao.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/SelectorRecord.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestResourceGroupIdTemplate.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestStaticSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/H2ResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbManagerSpecProvider.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbSourceExactMatchSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/reloading/TestReloadingResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/resources/resource_groups_config_query_type.json
  presto-spi/src/main/java/com/facebook/presto/spi/resourceGroups/SelectionCriteria.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/H2TestUtil.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestQueuesDb.java
Owners: @prestodb/committers

Support resource group selection based on clientInfo
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/AbstractResourceConfigurationManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/SelectorSpec.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/StaticSelector.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/DbManagerSpecProvider.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/ResourceGroupsDao.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/SelectorRecord.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestResourceGroupIdTemplate.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestStaticSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/H2ResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbManagerSpecProvider.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbSourceExactMatchSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/reloading/TestReloadingResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/resources/resource_groups_config_query_type.json
  presto-spi/src/main/java/com/facebook/presto/spi/resourceGroups/SelectionCriteria.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/H2TestUtil.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestQueuesDb.java
Owners: @prestodb/committers

make nullOutErrors public
  velox/expression/TryExpr.h
Owners: @prestodb/committers

Reduce objects in Presto worker
  presto-orc/src/main/java/com/facebook/presto/orc/checkpoint/Checkpoints.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/RowGroupIndex.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/ColumnWriterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStripeReader.java
Owners: @prestodb/committers

Unbox StreamId in StripeStreamId
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Bump benchalerts to 0.2.1 (#2649)
  .circleci/config.yml
Owners: @prestodb/committers

Deprecate netty server query
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-main/etc/catalog/pinot.properties
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotProxyGrpcRequestBuilder.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSessionProperties.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
Owners: @prestodb/team-releases, @prestodb/committers

Deprecate netty server query
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-main/etc/catalog/pinot.properties
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotProxyGrpcRequestBuilder.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSessionProperties.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
Owners: @prestodb/team-releases, @prestodb/committers

Reduce objects in Presto worker
  presto-orc/src/main/java/com/facebook/presto/orc/checkpoint/Checkpoints.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/RowGroupIndex.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/ColumnWriterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStripeReader.java
Owners: @prestodb/committers

Unbox StreamId in StripeStreamId
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Owners: @prestodb/committers

Unbox StreamId in StripeStreamId
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
Owners: @prestodb/committers

Reduce objects in Presto worker
  presto-orc/src/main/java/com/facebook/presto/orc/checkpoint/Checkpoints.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/DwrfMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/RowGroupIndex.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/ColumnWriterUtils.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStripeReader.java
Owners: @prestodb/committers

Bump Nessie from 0.30.0 to 0.43.0
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Use Date type in TPC-H connector (#2629)
  velox/connectors/tpch/tests/TpchConnectorTest.cpp
  velox/tpch/gen/DBGenIterator.cpp
  velox/tpch/gen/TpchGen.cpp
  velox/tpch/gen/TpchGen.h
  velox/tpch/gen/tests/TpchGenTest.cpp
Owners: @prestodb/committers

Add micro batching debug logging
  velox/dwio/dwrf/writer/Writer.cpp
Owners: @prestodb/committers

Add support for lambdas to SignatureBinder (#2655)
  velox/expression/SignatureBinder.cpp
  velox/expression/SignatureBinder.h
  velox/expression/tests/SignatureBinderTest.cpp
Owners: @prestodb/committers

Fix velox::functions::jsonExtract() support of wildcard select (#2654)
  velox/functions/prestosql/json/JsonExtractor.cpp
  velox/functions/prestosql/json/tests/JsonExtractorTest.cpp
Owners: @prestodb/committers

Add support for lambdas to DuckParser (#2652)
  velox/duckdb/conversion/DuckParser.cpp
  velox/duckdb/conversion/tests/DuckParserTest.cpp
  velox/parse/Expressions.h
Owners: @prestodb/committers

Add variadic arguments support for fuzzer (#2628)
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/expression/tests/ExpressionFuzzerTest.cpp
Owners: @prestodb/committers

Add full support for lambda expressions in tests (#2656)
  velox/expression/tests/ExprTest.cpp
  velox/functions/prestosql/tests/ArrayFilterTest.cpp
  velox/functions/prestosql/tests/MapFilterTest.cpp
  velox/functions/prestosql/tests/ReduceTest.cpp
  velox/functions/prestosql/tests/TransformKeysTest.cpp
  velox/functions/prestosql/tests/TransformTest.cpp
  velox/functions/prestosql/tests/TransformValuesTest.cpp
  velox/functions/prestosql/tests/utils/FunctionBaseTest.h
  velox/parse/Expressions.cpp
  velox/parse/Expressions.h
Owners: @prestodb/committers

Implement LambdaExpr::toSql (#2657)
  velox/expression/LambdaExpr.cpp
  velox/expression/LambdaExpr.h
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Add new RowContainer::extractColumn APIs (#2425)
  velox/exec/RowContainer.cpp
  velox/exec/RowContainer.h
  velox/exec/tests/RowContainerTest.cpp
Owners: @prestodb/committers

Fix incorrectly set wall time
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
Owners: @prestodb/committers

[native] Fix LocalExchangeNode translation
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/ValuesPipeTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Fix greatest/least returning wrong results given dirty result vector (#2661)
  velox/expression/tests/ExpressionFuzzerTest.cpp
  velox/functions/prestosql/GreatestLeast.cpp
Owners: @prestodb/committers

Add PrestoSparkHttpWorkerClient
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Add HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

Refactor ExprTest (#2663)
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Add memory enforcement in HttpRemoteTaskResultFetcher
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpWorkerClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpWorkerClient.java
Owners: @prestodb/committers

[native] Fix LocalExchangeNode translation
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/ValuesPipeTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

[native] Fix LocalExchangeNode translation
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/tests/ValuesPipeTest.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Fix cast(NULL as ...) (#2637)
  velox/expression/CastExpr.cpp
  velox/expression/tests/CastExprTest.cpp
Owners: @prestodb/committers

Decimal Greater-than(equal) and Less-than(equal) functions (#2543)
  velox/functions/prestosql/registration/ComparisonFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ComparisonsTest.cpp
  velox/type/UnscaledLongDecimal.h
Owners: @prestodb/committers

Refactor PrestoToVeloxExpr/QueryPlan.h,cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.h
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.h
  presto-native-execution/presto_cpp/main/types/tests/PlanConverterTest.cpp
Owners: @prestodb/team-velox

Support casting from JSON to ROW (#1971)
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/JsonType.cpp
Owners: @prestodb/committers

Add DynamicRowWriter and allow casting from GenericWriter (#1948)
  velox/expression/ComplexWriterTypes.h
  velox/expression/VectorWriters.h
  velox/expression/tests/GenericWriterTest.cpp
  velox/type/Type.h
Owners: @prestodb/committers

Add support for IF and SWITCH expressions (#2642)
  velox/substrait/SubstraitToVeloxExpr.cpp
  velox/substrait/SubstraitToVeloxExpr.h
  velox/substrait/VeloxToSubstraitExpr.cpp
  velox/substrait/tests/VeloxSubstraitRoundTripPlanConverterTest.cpp
Owners: @prestodb/committers

Allow to disable saving input vector for user errors (#2662)
  velox/common/base/VeloxException.cpp
  velox/common/base/VeloxException.h
  velox/common/base/tests/ExceptionTest.cpp
  velox/dwio/common/ColumnLoader.cpp
  velox/dwio/common/SelectiveStructColumnReader.h
  velox/exec/TableScan.cpp
  velox/expression/ConstantExpr.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/FieldReference.cpp
  velox/expression/tests/ExprTest.cpp
  velox/flag_definitions/flags.cpp
  velox/vector/tests/VectorSaverTest.cpp
Owners: @prestodb/committers
