Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

Some bug fixes
  presto-common/src/main/java/com/facebook/presto/common/type/TimeZoneKey.java
  presto-common/src/test/java/com/facebook/presto/common/type/TestTimeZoneKey.java
Owners: @prestodb/committers

Code style fixes
  presto-common/src/main/java/com/facebook/presto/common/type/TimeZoneKey.java
Owners: @prestodb/committers

Code style fixes 2
  presto-common/src/main/java/com/facebook/presto/common/type/TimeZoneKey.java
Owners: @prestodb/committers

fix formatting in kurtosis entry of aggregate function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Owners: @prestodb/committers

fix formatting in kurtosis entry of aggregate function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Owners: @prestodb/committers

JDK19 compatibility changes
  pom.xml
Owners: @prestodb/committers

Add rule to extract constant variables from projection and filter
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
Owners: @prestodb/committers

Add rules to simplify sort/topn node with constant input
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifySortWithConstantInput.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyTopNWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifySortWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyTopNWithConstantInput.java
Owners: @prestodb/committers

Add tests for rewrite constant optimizer
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q04.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q09.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q11.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q14_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q31.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_1.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q42.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q52.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q64.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q66.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q74.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q75.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q78.plan.txt
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedJoinQueriesWithDynamicFiltering.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithExchangeMaterialization.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestReplaceConstantVariableReferencesWithConstantsPartitionKeys.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PullConstantsAboveGroupBy.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalize.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdownWithDynamicFilter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPullConstantsAboveGroupBy.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Update web page title
  presto-main/src/main/resources/webapp/res_groups.html
  presto-main/src/main/resources/webapp/sql_client.html
Owners: @prestodb/committers

Optimize Hive Connector ORC Readers and Filters using Java Vector API
  presto-common/pom.xml
  presto-common/src/main/java/com/facebook/presto/common/predicate/TupleDomainFilter.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/vector/DoubleRangeVector.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/vector/TupleDomainFilterVector.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/vector/TestTupleDomainFilterVector.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleSelectiveStreamVectorReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleVectorSelectiveReadAndFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleVectorSelectiveReadAndFilterSpecies512.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/DoubleInputStream.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/OrcInputStream.java
  presto-orc/src/test/java/com/facebook/presto/orc/reader/vector/vectorReadAndFilter/TestDoubleVectorReadAndFilter.java
Owners: @prestodb/committers, @sdruzkin

Update documentation for memory management (#8324)
  velox/docs/develop/images/size-class.png
  velox/docs/develop/memory.rst
Owners: @prestodb/committers

Change all pools to not skip empty pool when print detail (#8329)
  velox/common/memory/Memory.cpp
Owners: @prestodb/committers

Add multimap_from_entries Presto function (#8330)
  velox/docs/functions/presto/map.rst
  velox/functions/prestosql/MultimapFromEntries.h
  velox/functions/prestosql/registration/MapFunctionsRegistration.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
  velox/functions/prestosql/tests/MultimapFromEntriesTest.cpp
Owners: @prestodb/committers

Add get_timestamp Spark function (#8004)
  velox/docs/functions/spark/datetime.rst
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/lib/DateTimeFormatter.h
  velox/functions/lib/tests/DateTimeFormatterTest.cpp
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/tests/DateTimeFunctionsTest.cpp
  velox/type/tz/TimeZoneMap.cpp
  velox/type/tz/TimeZoneMap.h
Owners: @prestodb/committers

Fix presto null handling in comparison operations. (#7703)
  velox/common/base/CompareFlags.h
  velox/docs/functions/presto/array.rst
  velox/exec/tests/ContainerRowSerdeTest.cpp
  velox/expression/tests/GenericViewTest.cpp
  velox/functions/prestosql/ArrayContains.cpp
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/ArraySort.cpp
  velox/functions/prestosql/Comparisons.h
  velox/functions/prestosql/aggregates/Compare.cpp
  velox/functions/prestosql/tests/ArrayContainsTest.cpp
  velox/functions/prestosql/tests/ArrayRemoveTest.cpp
  velox/functions/prestosql/tests/ArraySortTest.cpp
  velox/vector/BaseVector.h
  velox/vector/ComplexVector.cpp
  velox/vector/tests/VectorCompareTest.cpp
  velox/vector/tests/VectorTest.cpp
Owners: @prestodb/committers

Fix crash in future callback in ExchangeClient::request(). (#8299)
  velox/exec/ExchangeClient.cpp
  velox/exec/ExchangeClient.h
  velox/exec/MergeSource.cpp
  velox/exec/tests/ExchangeClientTest.cpp
Owners: @prestodb/committers

Add presto server version to SessionConfigurationContext
  presto-main/src/main/java/com/facebook/presto/server/SessionPropertyDefaults.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/server/TestSessionPropertyDefaults.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/TestFileSessionPropertyManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/SessionConfigurationContext.java
Owners: @prestodb/committers

Add Spark cast expr based on cast hooks (#7377)
  velox/benchmarks/basic/CastBenchmark.cpp
  velox/core/QueryConfig.h
  velox/core/tests/QueryConfigTest.cpp
  velox/docs/configs.rst
  velox/docs/functions/presto/conversion.rst
  velox/docs/functions/spark/conversion.rst
  velox/expression/CMakeLists.txt
  velox/expression/CastExpr-inl.h
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/expression/CastHooks.h
  velox/expression/ExprCompiler.cpp
  velox/expression/PrestoCastHooks.cpp
  velox/expression/PrestoCastHooks.h
  velox/expression/tests/CastExprTest.cpp
  velox/functions/lib/string/StringImpl.h
  velox/functions/prestosql/tests/CastBaseTest.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/specialforms/CMakeLists.txt
  velox/functions/sparksql/specialforms/SparkCastExpr.cpp
  velox/functions/sparksql/specialforms/SparkCastExpr.h
  velox/functions/sparksql/specialforms/SparkCastHooks.cpp
  velox/functions/sparksql/specialforms/SparkCastHooks.h
  velox/functions/sparksql/tests/CMakeLists.txt
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Owners: @prestodb/committers

Add join fuzzer to experimental jobs (#8319)
  .github/workflows/experimental.yml
  scripts/setup-ubuntu.sh
Owners: @prestodb/committers

Add presto server version to SessionConfigurationContext
  presto-main/src/main/java/com/facebook/presto/server/SessionPropertyDefaults.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/server/TestSessionPropertyDefaults.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/TestFileSessionPropertyManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/SessionConfigurationContext.java
Owners: @prestodb/committers

Add presto server version to SessionConfigurationContext
  presto-main/src/main/java/com/facebook/presto/server/SessionPropertyDefaults.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/server/TestSessionPropertyDefaults.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/TestFileSessionPropertyManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/SessionConfigurationContext.java
Owners: @prestodb/committers

[native]Add to handle empty data case in ShuffleReader::next
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Owners: @prestodb/team-velox

Rename SparkSQL regex_replace to regexp_replace (#8342)
  velox/docs/functions/spark/regexp.rst
  velox/functions/sparksql/RegexFunctions.cpp
  velox/functions/sparksql/RegexFunctions.h
  velox/functions/sparksql/tests/RegexFunctionsTest.cpp
Owners: @prestodb/committers

[native]Add to handle empty data case in ShuffleReader::next
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Owners: @prestodb/team-velox

[native]Add to handle empty data case in ShuffleReader::next
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Owners: @prestodb/team-velox

Pass executor to exchange client to run callback from exchange source (#8322)
  velox/exec/ExchangeClient.cpp
  velox/exec/ExchangeClient.h
  velox/exec/ExchangeSource.h
  velox/exec/Merge.cpp
  velox/exec/MergeSource.cpp
  velox/exec/MergeSource.h
  velox/exec/Task.cpp
  velox/exec/tests/ExchangeClientTest.cpp
Owners: @prestodb/committers

[native] Remove deprecated config kCastToIntByTruncate
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

Set filter to preloading data source for partition pruning (#7382)
  velox/connectors/hive/HiveDataSource.cpp
  velox/exec/TableScan.cpp
  velox/exec/tests/HashJoinTest.cpp
Owners: @prestodb/committers

Ensure deterministic order of map keys in multimap_from_entries Presto function (#8338)
  velox/functions/prestosql/MultimapFromEntries.h
  velox/functions/prestosql/benchmarks/MultimapFromEntriesBenchmark.cpp
Owners: @prestodb/committers

[native] Remove deprecated config kCastToIntByTruncate
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[native] Remove deprecated config kCastToIntByTruncate
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

Add option to limit input size in expression fuzzer (#8315)
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/expression/tests/ExpressionFuzzer.h
Owners: @prestodb/committers

Fix spark StringTest in CI (#8346)
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Owners: @prestodb/committers

[native] Remove ShuffleReader::hasNext api
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Owners: @prestodb/team-velox

JDK19 compatibility changes
  pom.xml
Owners: @prestodb/committers

Optimize Hive Connector ORC Readers and Filters using Java Vector API
  presto-common/pom.xml
  presto-common/src/main/java/com/facebook/presto/common/predicate/TupleDomainFilter.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/vector/DoubleRangeVector.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/vector/TupleDomainFilterVector.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/vector/TestTupleDomainFilterVector.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-orc/pom.xml
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/DoubleSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleSelectiveStreamVectorReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleVectorSelectiveReadAndFilter.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/vector/DoubleVectorSelectiveReadAndFilterSpecies512.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/DoubleInputStream.java
  presto-orc/src/main/java/com/facebook/presto/orc/stream/OrcInputStream.java
  presto-orc/src/test/java/com/facebook/presto/orc/reader/vector/vectorReadAndFilter/TestDoubleVectorReadAndFilter.java
Owners: @prestodb/committers, @sdruzkin

Fix datetime parsing for half day when hour is not specified (#8349)
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/lib/tests/DateTimeFormatterTest.cpp
Owners: @prestodb/committers

Update web page title
  presto-main/src/main/resources/webapp/res_groups.html
  presto-main/src/main/resources/webapp/sql_client.html
Owners: @prestodb/committers

Update web page title
  presto-main/src/main/resources/webapp/res_groups.html
  presto-main/src/main/resources/webapp/sql_client.html
Owners: @prestodb/committers
