Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Add documentation for sort_array (#2426)
  velox/docs/functions/array.rst
Owners: @prestodb/committers

Fix aarch64 with latest xsimd import
  velox/dwio/common/ColumnVisitors.h
Owners: @prestodb/committers

Support lastDataCommitTime in commit output for metastore read queries
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/HiveCommitHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreOperationResult.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/Partition.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/PartitionMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestHiveCommitHandle.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestRecordingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestThriftHiveMetastoreUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestAbstractDwrfEncryptionInformationSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/Input.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/InputExtractor.java
  presto-main/src/test/java/com/facebook/presto/execution/TestInput.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCommitHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryInputMetadata.java
Owners: @prestodb/committers

Add an empty function to start potential associated processes
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
Owners: @prestodb/committers

Add canonicalization for table writer nodes
  presto-common/src/main/java/com/facebook/presto/common/plan/PlanCanonicalizationStrategy.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
Owners: @prestodb/committers

Add canonicalization for table writer nodes
  presto-common/src/main/java/com/facebook/presto/common/plan/PlanCanonicalizationStrategy.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
Owners: @prestodb/committers

Add canonicalization for limit nodes
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-tests/src/main/java/com/facebook/presto/tests/statistics/InMemoryHistoryBasedPlanStatisticsProvider.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Add canonicalization for limit nodes
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/StatsEquivalentPlanNodeWithLimit.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-tests/src/main/java/com/facebook/presto/tests/statistics/InMemoryHistoryBasedPlanStatisticsProvider.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Upgrade Delta Standalone to 0.5.0
  pom.xml
  presto-delta/pom.xml
Owners: @prestodb/committers

Upgrade Delta Standalone to 0.5.0
  pom.xml
  presto-delta/pom.xml
Owners: @prestodb/committers

Use requireNonNull in place of explicit null checks
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Owners: @prestodb/committers

Use requireNonNull in place of explicit null checks
  presto-common/src/main/java/com/facebook/presto/common/QualifiedObjectName.java
  presto-spi/src/main/java/com/facebook/presto/spi/function/SqlInvokedFunction.java
Owners: @prestodb/committers

Address review comments for constraints optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/EquivalenceClassProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/KeyProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesProviderImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantAggregateDistinct.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRedundantAggregateDistinctRemoval.java
Owners: @prestodb/committers

Address review comments for constraints optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/EquivalenceClassProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/KeyProperty.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/properties/LogicalPropertiesProviderImpl.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveRedundantAggregateDistinct.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestRedundantAggregateDistinctRemoval.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add support for Map type (#2393)
  velox/substrait/SubstraitParser.cpp
  velox/substrait/TypeUtils.cpp
  velox/substrait/tests/VeloxToSubstraitTypeTest.cpp
Owners: @prestodb/committers

Send abort results message in PrestoExchangeSource::close()
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Send abort results message in PrestoExchangeSource::close()
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add unordered stream reader and refactor spill stream objects (#2401)
  velox/exec/GroupingSet.cpp
  velox/exec/GroupingSet.h
  velox/exec/OrderBy.cpp
  velox/exec/OrderBy.h
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/Spiller.cpp
  velox/exec/Spiller.h
  velox/exec/UnorderedStreamReader.h
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/UnorderedStreamReaderTest.cpp
Owners: @prestodb/committers

Use folly::makeGuard instead of making explicit guard object (#2428)
  velox/dwio/parquet/reader/PageReader.cpp
Owners: @prestodb/committers

Remove unused legacyMapSubscript from readers
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDecryption.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcFileIntrospection.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcRecordReaderDwrfStripeCaching.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStreamLayout.java
Owners: @prestodb/committers

Replaced central image on the website (#2422)
  website/src/components/HomepageFeatures/index.js
  website/src/components/HomepageFeatures/styles.module.css
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/static/img/stack_transform.png
Owners: @prestodb/committers

Temporarily disable macos job for native workers
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

Explicitly destroy accumulators using external memory in global aggregation (#2065)
  velox/exec/GroupingSet.cpp
  velox/exec/GroupingSet.h
  velox/exec/StreamingAggregation.cpp
  velox/exec/StreamingAggregation.h
  velox/exec/tests/AggregationTest.cpp
Owners: @prestodb/committers

Use relative path for cmake_modules (#2409)
  third_party/CMakeLists.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Propagate Errors from AsyncSource (#2421)
  velox/common/base/AsyncSource.h
  velox/common/base/tests/AsyncSourceTest.cpp
Owners: @prestodb/committers

Fix NPE in FileMergeCacheManager
  presto-cache/src/main/java/com/facebook/presto/cache/filemerge/FileMergeCacheManager.java
Owners: @prestodb/committers

Temporarily disable macos job for native workers
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

Temporarily disable macos job for native workers
  .github/workflows/test-native-specific.yml
Owners: @prestodb/team-releases

Fix CSE compilation error for duplicate expressions
  presto-main/src/main/java/com/facebook/presto/sql/gen/PageFunctionCompiler.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Owners: @prestodb/committers

Remove unused legacyMapSubscript from readers
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDecryption.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcFileIntrospection.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcRecordReaderDwrfStripeCaching.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStreamLayout.java
Owners: @prestodb/committers

Remove unused legacyMapSubscript from readers
  presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcSelectivePageSourceFactory.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/ListSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapFlatSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/MapSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveStreamReaders.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-orc/src/test/java/com/facebook/presto/orc/OrcTester.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestDecryption.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcFileIntrospection.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcRecordReaderDwrfStripeCaching.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStreamLayout.java
Owners: @prestodb/committers

Added roadmap to website and updated homepage (#2432)
  website/docs/intro.md
  website/docusaurus.config.js
  website/src/components/HomepageFeatures/index.js
  website/src/components/HomepageFeatures/styles.module.css
  website/src/pages/index.js
Owners: @prestodb/committers

Add spill config object to manage the spilling related config options (#2420)
  velox/core/QueryConfig.h
  velox/exec/GroupingSet.cpp
  velox/exec/GroupingSet.h
  velox/exec/HashAggregation.cpp
  velox/exec/HashAggregation.h
  velox/exec/OperatorUtils.cpp
  velox/exec/OperatorUtils.h
  velox/exec/OrderBy.cpp
  velox/exec/OrderBy.h
  velox/exec/Spill.h
  velox/exec/Spiller.cpp
  velox/exec/Spiller.h
  velox/exec/UnorderedStreamReader.h
  velox/exec/tests/AggregationTest.cpp
Owners: @prestodb/committers

Implement serialize/deserialize for variant opaque types (#2429)
  velox/type/Variant.cpp
  velox/type/tests/VariantTest.cpp
Owners: @prestodb/committers

[native] Add MappedMemory raw allocate related memory counterss
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Add MappedMemory raw allocate related memory counterss
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

Fix some small json issues
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/StatisticsWriterNode.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingMetadataUpdateHandle.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/SourceLocation.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/ValuesNode.java
Owners: @prestodb/committers

Update README.md
  presto-native-execution/README.md
  presto-native-execution/cl_clangformat_switcherenable.png
Owners: @prestodb/team-velox
