Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

[native] Update Presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.hpp.inc
Owners: @prestodb/team-velox

[native] Remove unused code
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

Fix MmapAllocator::toString (#8300)
  velox/common/caching/tests/AsyncDataCacheTest.cpp
  velox/common/memory/MmapAllocator.cpp
  velox/common/memory/tests/MemoryAllocatorTest.cpp
Owners: @prestodb/committers

Use __HIVE_DEFAULT_PARTITION__ for null partition keys (#8291)
  velox/connectors/hive/HivePartitionUtil.cpp
  velox/connectors/hive/tests/HivePartitionUtilTest.cpp
Owners: @prestodb/committers

Add a function to format a floating point number according to a format for display
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/FormatFunction.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestFormatFunction.java
  presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/Format.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
Owners: @prestodb/committers

Fix Parquet dereference pushdown
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/TestParquetPageSourceFactory.java
Owners: @prestodb/committers

Add client option to disable redirects
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
  presto-cli/src/main/java/com/facebook/presto/cli/QueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestClientOptions.java
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-docs/src/main/sphinx/installation/jdbc.rst
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/ConnectionProperties.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriver.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverUri.java
Owners: @prestodb/committers

Add client option to disable redirects
  presto-cli/src/main/java/com/facebook/presto/cli/ClientOptions.java
  presto-cli/src/main/java/com/facebook/presto/cli/Console.java
  presto-cli/src/main/java/com/facebook/presto/cli/QueryRunner.java
  presto-cli/src/test/java/com/facebook/presto/cli/AbstractCliTest.java
  presto-cli/src/test/java/com/facebook/presto/cli/TestClientOptions.java
  presto-client/src/main/java/com/facebook/presto/client/JsonResponse.java
  presto-docs/src/main/sphinx/installation/jdbc.rst
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/ConnectionProperties.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriver.java
  presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestPrestoDriverUri.java
Owners: @prestodb/committers

[native] Remove unused config node.memory_gb
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

[native] Remove unused config node.memory_gb
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

Add option to print out the child memory pools with empty usage in treeMemoryUsage (#8312)
  velox/common/memory/Memory.cpp
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/dwio/dwrf/test/WriterFlushTest.cpp
Owners: @prestodb/committers

[native] Update Presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.hpp.inc
Owners: @prestodb/team-velox

[native] Update Presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.cpp.inc
  presto-native-execution/presto_cpp/presto_protocol/special/TableWriterNode.hpp.inc
Owners: @prestodb/team-velox

[native] Remove unused code
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

[native] Remove unused code
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

[native pos] Extend error message when native process does not respond
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Store query id in native process env vars
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Ensure NativeExecutionProcess does not create more than 1 process
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Drop unused fields
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native] Allow termination with core on allocation failure
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Do not include executable path twice
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Include process crash information in error message
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

Make the calculation of partition path respect the case sensitive (#8091)
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/PartitionIdGenerator.cpp
  velox/connectors/hive/PartitionIdGenerator.h
  velox/connectors/hive/tests/HivePartitionUtilTest.cpp
  velox/connectors/hive/tests/PartitionIdGeneratorTest.cpp
  velox/docs/configs.rst
  velox/dwio/catalog/fbhive/FileUtils.cpp
  velox/dwio/catalog/fbhive/FileUtils.h
  velox/dwio/catalog/fbhive/test/FileUtilsTests.cpp
Owners: @prestodb/committers

[native pos] Ensure NativeExecutionProcess does not create more than 1 process
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Include process crash information in error message
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Include process crash information in error message
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Ensure NativeExecutionProcess does not create more than 1 process
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Extend error message when native process does not respond
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Drop unused fields
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Extend error message when native process does not respond
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
Owners: @shrinidhijoshi, @prestodb/committers

[native] Allow termination with core on allocation failure
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Store query id in native process env vars
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Drop unused fields
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Do not include executable path twice
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Do not include executable path twice
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

[native] Allow termination with core on allocation failure
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Store query id in native process env vars
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
Owners: @shrinidhijoshi, @prestodb/committers

Modify ParquetTpchTest to save TpchTables in SetUpTestSuite (#7860)
  velox/dwio/parquet/tests/ParquetTpchTest.cpp
Owners: @prestodb/committers

fix formatting in kurtosis entry of aggregate function
  presto-docs/src/main/sphinx/functions/aggregate.rst
Owners: @prestodb/committers

Save changes to external/date as patches (#8321)
  velox/external/date/patches/README
  velox/external/date/patches/int32_days_from_epoch-pr-6550.patch
Owners: @prestodb/committers
