Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

Fix min_by/max_by for window function evaluation
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/TypedKeyValueHeap.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/AbstractMinMaxByNAggregationFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Fix min_by/max_by for window function evaluation
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/TypedKeyValueHeap.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/AbstractMinMaxByNAggregationFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

minor edits to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @prestodb/committers

minor edits to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @prestodb/committers

Update types.rst
  presto-docs/src/main/sphinx/language/types.rst
Owners: @prestodb/committers

Update types.rst
  presto-docs/src/main/sphinx/language/types.rst
Owners: @prestodb/committers

Remove unnecessary check in BooleanMix#getFlatBool (#8595)
  velox/expression/BooleanMix.cpp
Owners: @prestodb/committers

[native] Remove PrestoQueryRunner and tests
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.h
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunnerTest.cpp
Owners: @prestodb/team-velox

[native] Remove PrestoQueryRunner and tests
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.h
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunnerTest.cpp
Owners: @prestodb/team-velox

Refactor ApproximateMostFrequent function to use type annotations
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Refactor ApproximateMostFrequent function to use type annotations
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

[native] Follow up on task watchdog
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Use 'max_output_buffer_size' instead of 'max_arbitrary_buffer_size'
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/tests/BaseVeloxQueryConfigTest.cpp
Owners: @prestodb/team-velox

[native] Use 'max_output_buffer_size' instead of 'max_arbitrary_buffer_size'
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/tests/BaseVeloxQueryConfigTest.cpp
Owners: @prestodb/team-velox

[native] Update build to support new dependency versions
  .circleci/continue_config.yml
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/committers, @prestodb/team-velox

Fix writtenIntermediateBytes metric to capture correct intermediate write metrics
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ScaledWriterRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableWriterNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
Owners: @prestodb/committers, @shrinidhijoshi

Fix writtenIntermediateBytes metric to capture correct intermediate write metrics
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ScaledWriterRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableWriterNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
Owners: @prestodb/committers, @shrinidhijoshi

Fix unsupported type hive bucketing for cte materialization
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/CteUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PhysicalCteOptimizer.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLogicalCteOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Owners: @prestodb/committers

Fix unsupported type hive bucketing for cte materialization
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/CteUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PhysicalCteOptimizer.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLogicalCteOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Owners: @prestodb/committers

Fix unsupported type hive bucketing for cte materialization
  presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestCteExecution.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/CteUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PhysicalCteOptimizer.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestLogicalCteOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Owners: @prestodb/committers

Fix CI MacOS build (#8601)
  .circleci/dist_compile.yml
  scripts/setup-macos.sh
Owners: @prestodb/committers

Fix GCC OOM when building by reducing parallelism. (#8592)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Add Session Properties support
  presto-main/src/main/resources/webapp/dist/sql_client.js
  presto-main/src/main/resources/webapp/src/components/QueryResults.jsx
  presto-main/src/main/resources/webapp/src/components/SQLClient.jsx
  presto-main/src/main/resources/webapp/src/components/SQLInput.jsx
  presto-main/src/main/resources/webapp/src/components/SessionProps.jsx
  presto-main/src/main/resources/webapp/src/package.json
  presto-main/src/main/resources/webapp/src/yarn.lock
Owners: @prestodb/committers

Make LocalExchangeSource.stop_ atomic (#8609)
  velox/exec/tests/utils/LocalExchangeSource.cpp
Owners: @prestodb/committers

Add limit to merge function for KHyperLogLog
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogStateFactory.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Make group number limit for khyperloglog_agg feature config controlled
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/type/khyperloglog/TestKHyperLogLogAggregationFunction.java
Owners: @prestodb/committers

Add fmt::format_as for SpillStats and MemoryArbitrator::Stats (#8608)
  velox/common/base/SpillStats.h
  velox/common/base/tests/SpillStatsTest.cpp
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/tests/MemoryArbitratorTest.cpp
Owners: @prestodb/committers

[native] Update build to support new dependency versions
  .circleci/continue_config.yml
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/committers, @prestodb/team-velox

[native] Update build to support new dependency versions
  .circleci/continue_config.yml
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpJwtTest.cpp
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/committers, @prestodb/team-velox

PyVelox implementation for Array Vector (#6100)
  pyvelox/CMakeLists.txt
  pyvelox/complex.cpp
  pyvelox/complex.h
  pyvelox/pyvelox.cpp
  pyvelox/pyvelox.h
  pyvelox/test/test_vector.py
Owners: @prestodb/committers

[native] Follow up on task watchdog
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Follow up on task watchdog
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/TaskManager.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

Fix error `java.lang.OutOfMemoryError: Compressed class space`
  .circleci/continue_config.yml
Owners: @prestodb/committers

Triaging outputbuffer state
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/QueryRecoveryDebugInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskHandle.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-spi/src/main/java/com/facebook/presto/spi/NodePoolType.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/GracefulPreemptionEvent.java
Owners: @prestodb/committers

Optimize copying primitive type vectors (#8617)
  velox/vector/FlatVector-inl.h
Owners: @prestodb/committers

Make group number limit for khyperloglog_agg feature config controlled
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/type/khyperloglog/TestKHyperLogLogAggregationFunction.java
Owners: @prestodb/committers

Add limit to merge function for KHyperLogLog
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogStateFactory.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Add limit to merge function for KHyperLogLog
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogStateFactory.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Make group number limit for khyperloglog_agg feature config controlled
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/type/khyperloglog/TestKHyperLogLogAggregationFunction.java
Owners: @prestodb/committers

Fix error `java.lang.OutOfMemoryError: Compressed class space`
  .circleci/continue_config.yml
Owners: @prestodb/committers
