Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

Refactor to use Optional ifPresent instead of isPresent and get
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
Owners: @prestodb/committers

Remove unused variables in velox/tpch/gen/dbgen/speed_seed.cpp (#8435)
  velox/tpch/gen/dbgen/speed_seed.cpp
Owners: @prestodb/committers

Remove unused variables in velox/common/base/SpillStats.cpp (#8439)
  velox/common/base/SpillStats.cpp
Owners: @prestodb/committers

Remove unused variables in velox/common/caching/SsdFile.cpp (#8437)
  velox/common/caching/SsdFile.cpp
Owners: @prestodb/committers

Remove unused function from velox/serializers/PrestoSerializer.cpp (#8443)
  velox/serializers/PrestoSerializer.cpp
Owners: @prestodb/committers

Remove unused function from velox/dwio/dwrf/common/Common.cpp (#8156)
  velox/dwio/dwrf/common/Common.cpp
Owners: @prestodb/committers

[native] Fix exchange source close race condition
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

[native] Fix exchange source close race condition
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add support for arrays of complex types to array_min/max Presto functions (#8430)
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ArrayMinTest.cpp
Owners: @prestodb/committers

Fix Prestissimo Docker build
  presto-native-execution/scripts/build-centos.sh
  presto-native-execution/scripts/release-centos-dockerfile/Dockerfile
  presto-native-execution/scripts/release-centos-dockerfile/README.md
Owners: @prestodb/team-velox

Add release notes for 0.285.1
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.285.1.rst
  presto-docs/src/main/sphinx/release/release-0.285.rst
Owners: @prestodb/committers

Add reverse(varbinary) Presto function (#8429)
  velox/docs/functions/presto/string.rst
  velox/functions/lib/StringEncodingUtils.cpp
  velox/functions/lib/StringEncodingUtils.h
  velox/functions/prestosql/Reverse.cpp
  velox/functions/prestosql/tests/StringFunctionsTest.cpp
Owners: @prestodb/committers

Add hex Spark function (#8202)
  velox/docs/functions/spark/math.rst
  velox/functions/lib/ToHex.h
  velox/functions/prestosql/BinaryFunctions.h
  velox/functions/sparksql/Arithmetic.h
  velox/functions/sparksql/RegisterArithmetic.cpp
  velox/functions/sparksql/tests/ArithmeticTest.cpp
Owners: @prestodb/committers

Reformat AbstractTestNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

[native] Disable partial agg over system table scan
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

Mismatched tags (#8445)
  velox/common/caching/AsyncDataCache.h
Owners: @prestodb/committers

Refactor to use Optional ifPresent instead of isPresent and get
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
Owners: @prestodb/committers

Refactor to use Optional ifPresent instead of isPresent and get
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
Owners: @prestodb/committers

Scatter struct nulls when deserializing Presto wire format (#8318)
  velox/exec/SpillFile.cpp
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/serializers/tests/PrestoSerializerTest.cpp
Owners: @prestodb/committers

Reformat AbstractTestNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

[native] Disable partial agg over system table scan
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

[native] Disable partial agg over system table scan
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/committers, @prestodb/team-velox

Reformat AbstractTestNativeGeneralQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

Add support for UNKNOWN key to map_agg Presto aggregate function (#8452)
  velox/functions/prestosql/aggregates/MapAggAggregate.cpp
  velox/functions/prestosql/aggregates/tests/MapAggTest.cpp
Owners: @prestodb/committers

[native] Add non-blocking shuffle reader interface
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.cpp
  presto-native-execution/presto_cpp/main/operators/LocalPersistentShuffle.h
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.cpp
  presto-native-execution/presto_cpp/main/operators/UnsafeRowExchangeSource.h
  presto-native-execution/presto_cpp/main/operators/tests/UnsafeRowShuffleTest.cpp
Owners: @prestodb/team-velox

Remove deprecated configs `kCastToIntByTruncate` and `kCastStringToDateIsIso8601` (#8352)
  velox/core/QueryConfig.h
Owners: @prestodb/committers

Fix memory accounting for Theta Sketch Aggregation
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchStateFactory.java
Owners: @prestodb/committers

Fix bucket counts in histogram metrics (#8458)
  velox/common/base/Counters.cpp
Owners: @prestodb/committers

[wip][do_not_review] test async task endpoint.
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Owners: @prestodb/team-velox

[work in progress] test asnyc task endpoint.
  presto-native-execution/presto_cpp/main/TaskResource.cpp
Owners: @prestodb/team-velox

[native] Improve worker shutdown logging.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

[native] Rename NodeState enum with proper naming convention
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

[native] Rename NodeState enum with proper naming convention
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

Add support for iceberg concurrent insertions
  presto-docs/src/main/sphinx/connector/iceberg.rst
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadataFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
Owners: @prestodb/committers

Add negative test case
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
Owners: @prestodb/committers

Fix test case
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
Owners: @prestodb/committers

[native] Improve worker shutdown logging.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

[native] Improve worker shutdown logging.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
Owners: @prestodb/team-velox

Fix test case
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
Owners: @prestodb/committers

Fix test case
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
Owners: @prestodb/committers
