Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Fix error logging
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/write/TestDataWritableWriter.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

add NativeEngine Node
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/NativeEngineExecutionRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/InternalPlanVisitor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/NativeEngineNode.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/ValidateDependenciesChecker.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/sanity/VerifyOnlyOneOutputNode.java
  presto-spark-base/pom.xml
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSourceStatsCollector.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/NativeEngineOperator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkLocalExecutionPlanner.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
  presto-spark-base/src/test/resources/MockNativeEngine.py
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Parallelize hash join test plus some improvements (#2474)
  velox/exec/tests/HashJoinTest.cpp
Owners: @prestodb/committers

Throw FileNotFoundException if file does not exist on S3
  presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/s3/TestPrestoS3FileSystem.java
Owners: @prestodb/committers

Retry SPARK_EXECUTOR_OOM with increased container size
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
Owners: @prestodb/committers

Refactor to improve readability of QueryRunners
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergOrcMetricsCollection.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/LocalFileStorageService.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/RaptorQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Refactor to improve readability of QueryRunners
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergOrcMetricsCollection.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/LocalFileStorageService.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/RaptorQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Fix a typo in ParquetErrorCode enum
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetErrorCode.java
Owners: @prestodb/committers

Fix a typo in ParquetErrorCode enum
  presto-parquet/src/main/java/com/facebook/presto/parquet/ParquetErrorCode.java
Owners: @prestodb/committers

Make aggregations order in Planner deterministic
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Owners: @prestodb/committers

remove some dead code
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/test/java/com/facebook/presto/execution/resourceGroups/TestResourceGroups.java
Owners: @prestodb/committers

Add config to fallback to simple node selection when using TTL based scheduling
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelectorConfig.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/nodeselection/TestSimpleTtlNodeSelectorConfig.java
Owners: @prestodb/committers

Add config to fallback to simple node selection when using TTL based scheduling
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelectorConfig.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/nodeselection/TestSimpleTtlNodeSelectorConfig.java
Owners: @prestodb/committers

Add Injector parameter
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
Owners: @prestodb/committers

Pre-load lazy vectors that are referenced by multiple sub expressions (#2501)
  velox/exec/FilterProject.cpp
  velox/exec/tests/TableScanTest.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Add array find UDF
  presto-docs/src/main/sphinx/functions/array.rst
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstFirstFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstWithOffsetFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayFindFirstFunction.java
Owners: @prestodb/team-releases, @prestodb/committers

Add array find UDF
  presto-docs/src/main/sphinx/functions/array.rst
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstFirstFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstWithOffsetFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayFindFirstFunction.java
Owners: @prestodb/team-releases, @prestodb/committers

Remove unnecessary dwrf components from parquet (#2476)
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/reader/StringColumnReader.cpp
Owners: @prestodb/committers

Add Injector parameter
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
Owners: @prestodb/committers

Add Injector parameter
  presto-main/src/main/java/com/facebook/presto/server/PrestoServer.java
Owners: @prestodb/committers

Remove some dead code
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/test/java/com/facebook/presto/execution/resourceGroups/TestResourceGroups.java
Owners: @prestodb/committers

Make aggregations order in Planner deterministic
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Owners: @prestodb/committers

Make aggregations order in Planner deterministic
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Owners: @prestodb/committers

Remove some dead code
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/test/java/com/facebook/presto/execution/resourceGroups/TestResourceGroups.java
Owners: @prestodb/committers

Prefetch history based stats to avoid serial rpc calls
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCachingPlanHasher.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanNodeWithHash.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Add percentiles array support for approx_percentile (#2418)
  velox/docs/functions/aggregate.rst
  velox/exec/HashAggregation.cpp
  velox/functions/lib/KllSketch.h
  velox/functions/prestosql/aggregates/ApproxPercentileAggregate.cpp
  velox/functions/prestosql/aggregates/tests/ApproxPercentileTest.cpp
Owners: @prestodb/committers

Reduce multithreaded hash join execution time (#2518)
  velox/exec/tests/HashJoinTest.cpp
Owners: @prestodb/committers

Reduce Iceberg metadata scans
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/HiveTableOperations.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/RollbackToSnapshotProcedure.java
Owners: @prestodb/committers

Allow mock memory updates
  velox/common/memory/Memory.h
  velox/common/memory/MemoryUsageTracker.cpp
  velox/common/memory/MemoryUsageTracker.h
  velox/common/memory/tests/MemoryPoolTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add nullability to RowContainer (#2512)
  velox/exec/GroupingSet.cpp
  velox/exec/RowContainer.h
Owners: @prestodb/committers

Add Decimal Type documentation (#2507)
  velox/docs/develop.rst
  velox/docs/develop/scalar-functions.rst
  velox/docs/develop/types.rst
  velox/docs/develop/vectors.rst
Owners: @prestodb/committers

Prefetch history based stats to avoid serial rpc calls
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCachingPlanHasher.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanNodeWithHash.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Prefetch history based stats to avoid serial rpc calls
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/StatsCalculator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCachingPlanHasher.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanNodeWithHash.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Retry SPARK_EXECUTOR_OOM with increased container size
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
Owners: @prestodb/committers

Retry SPARK_EXECUTOR_OOM with increased container size
  presto-spark-base/src/main/java/com/facebook/presto/spark/util/PrestoSparkFailureUtils.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
