Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

[native pos] Increase scheduled executor pool size
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Move getResults retry logic to PrestoSparkHttpTaskClient
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Increase scheduled executor pool size
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Use core executor to run callback
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Consolidate and improve NativeExecutionTask retries
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskInfoFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Use core executor to run callback
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Improve communication loss condition
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Cleanup PrestoSparkHttpTaskClient
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Improve communication loss condition
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Move getResults retry logic to PrestoSparkHttpTaskClient
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/http/PrestoSparkHttpTaskClient.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/HttpNativeExecutionTaskResultFetcher.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTask.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/NativeExecutionTaskFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/nativeprocess/TestHttpNativeExecutionTaskInfoFetcher.java
Owners: @shrinidhijoshi, @prestodb/committers

[Native] Fix PartitionedOutputNode plan node id
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

migrate from FOLLY_FALLTHROUGH to [[fallthrough]] (assorted) (#8586)
  velox/dwio/parquet/reader/ParquetReader.cpp
Owners: @prestodb/committers

Fix integer overflows in ASAN (#8561)
  velox/common/base/RuntimeMetrics.cpp
  velox/exec/GroupingSet.h
Owners: @prestodb/committers

Use softlink for jmx_prometheus_javaagent jar file in building docker image
  docker/Dockerfile
  docker/build.sh
Owners: @prestodb/committers

Use softlink for jmx_prometheus_javaagent jar file in building docker image
  docker/Dockerfile
  docker/build.sh
Owners: @prestodb/committers

Bump Sphinx version to fix build
  presto-docs/requirements.txt
Owners: @prestodb/committers

[native] Register boolean properties properly.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[Native] Fix PartitionedOutputNode plan node id
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

[Native] Fix PartitionedOutputNode plan node id
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

Make the kPartitionPathAsLowerCaseSession parameter from session (#8468)
  velox/connectors/hive/HiveConfig.cpp
  velox/connectors/hive/tests/HiveConfigTest.cpp
  velox/docs/configs.rst
Owners: @prestodb/committers

Make runtime stats available for DirectoryLister
  presto-hive/src/main/java/com/facebook/presto/hive/HiveDirectoryContext.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
Owners: @prestodb/committers

Back out "Optimize LIKE for more relaxed patterns" (#8585)
  velox/benchmarks/basic/LikeBenchmark.cpp
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Owners: @prestodb/committers

Remove setup-circleci.sh and update setup scripts (#8454)
  .circleci/dist_compile.yml
  scripts/circleci-container.dockfile
  scripts/setup-adapters.sh
  scripts/setup-centos8.sh
  scripts/setup-circleci.sh
  scripts/setup-helper-functions.sh
  scripts/setup-macos.sh
Owners: @prestodb/committers

[native] Register boolean properties properly.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[native] Register boolean properties properly.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

Fix arrow include guards (#8217)
  velox/vector/arrow/Abi.h
Owners: @prestodb/committers

Parquet writer tests for supported compression kinds (#7332)
  velox/dwio/parquet/tests/writer/CMakeLists.txt
  velox/dwio/parquet/tests/writer/ParquetWriterTest.cpp
  velox/dwio/parquet/writer/Writer.cpp
  velox/dwio/parquet/writer/Writer.h
Owners: @prestodb/committers

Fix flaky test reclaimFromNonReclaimableSortTableWriter (#8591)
  velox/exec/tests/TableWriteTest.cpp
Owners: @prestodb/committers

Optimize count(distinct <complex type>) (#8560)
  velox/common/memory/HashStringAllocator.cpp
  velox/common/memory/HashStringAllocator.h
  velox/exec/AddressableNonNullValueList.cpp
  velox/exec/AddressableNonNullValueList.h
  velox/exec/SetAccumulator.h
  velox/exec/benchmarks/SetAccumulatorBenchmark.cpp
  velox/exec/tests/AddressableNonNullValueListTest.cpp
  velox/functions/prestosql/aggregates/MapAccumulator.h
  velox/functions/prestosql/aggregates/MultiMapAggAggregate.cpp
Owners: @prestodb/committers

Update the version of com.jayway.jsonpath:json-path from 2.6.0 to 2.9.0
  pom.xml
Owners: @prestodb/committers

Update types.rst
  presto-docs/src/main/sphinx/language/types.rst
Owners: @prestodb/committers

Remove logback core depenency as its not been used anywhere
  pom.xml
Owners: @prestodb/committers

Upgrade io.grpc to 1.60.1
  pom.xml
  presto-bigquery/pom.xml
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Owners: @prestodb/committers

add test coverage for basic format of iso8601
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestDateTimeFunctionsBase.java
Owners: @prestodb/committers

add Helm Charts to Deploy docs
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-helm.rst
Owners: @prestodb/committers

add Helm Charts to Deploy docs
  presto-docs/src/main/sphinx/installation.rst
  presto-docs/src/main/sphinx/installation/deploy-helm.rst
Owners: @prestodb/committers

[native] Add installation of python and pip
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove PrestoQueryRunner and tests
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.h
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunnerTest.cpp
Owners: @prestodb/team-velox

Seperate prefix-sort encoder testing methods into test utils (#8494)
  velox/exec/prefixsort/CMakeLists.txt
  velox/exec/prefixsort/PrefixSortEncoder.h
  velox/exec/prefixsort/benchmarks/CMakeLists.txt
  velox/exec/prefixsort/benchmarks/PrefixSortAlgorithmBenchmark.cpp
  velox/exec/prefixsort/tests/PrefixSortAlgorithmTest.cpp
  velox/exec/prefixsort/tests/utils/CMakeLists.txt
  velox/exec/prefixsort/tests/utils/EncoderTestUtils.cpp
  velox/exec/prefixsort/tests/utils/EncoderTestUtils.h
Owners: @prestodb/committers

minor edits to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
