Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Update README.md
  presto-native-execution/README.md
  presto-native-execution/cl_clangformat_switcherenable.png
Owners: @prestodb/team-velox

Fix NPE in FileMergeCacheManager
  presto-cache/src/main/java/com/facebook/presto/cache/filemerge/FileMergeCacheManager.java
Owners: @prestodb/committers

Fix NPE in FileMergeCacheManager
  presto-cache/src/main/java/com/facebook/presto/cache/filemerge/FileMergeCacheManager.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Added google analytics to website (#2435)
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Owners: @prestodb/committers

Fix some small json issues
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/StatisticsWriterNode.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingMetadataUpdateHandle.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/SourceLocation.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/ValuesNode.java
Owners: @prestodb/committers

Fix some small json issues
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/StatisticsWriterNode.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingMetadataUpdateHandle.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/SourceLocation.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/ValuesNode.java
Owners: @prestodb/committers

Move HyperLogLog implementation into velox/common (#2196)
  velox/common/CMakeLists.txt
  velox/common/hyperloglog/BiasCorrection.cpp
  velox/common/hyperloglog/BiasCorrection.h
  velox/common/hyperloglog/CMakeLists.txt
  velox/common/hyperloglog/DenseHll.cpp
  velox/common/hyperloglog/DenseHll.h
  velox/common/hyperloglog/HllUtils.h
  velox/common/hyperloglog/SparseHll.cpp
  velox/common/hyperloglog/SparseHll.h
  velox/common/hyperloglog/tests/CMakeLists.txt
  velox/common/hyperloglog/tests/DenseHllTest.cpp
  velox/common/hyperloglog/tests/SparseHllTest.cpp
  velox/functions/prestosql/CMakeLists.txt
  velox/functions/prestosql/HyperLogLogFunctions.h
  velox/functions/prestosql/aggregates/ApproxDistinctAggregate.cpp
  velox/functions/prestosql/aggregates/CMakeLists.txt
  velox/functions/prestosql/tests/HyperLogLogFunctionsTest.cpp
Owners: @prestodb/committers

Move IOUtils to velox/common/base (#2188)
  velox/common/base/IOUtils.h
  velox/functions/prestosql/aggregates/ApproxPercentileAggregate.cpp
  velox/functions/prestosql/hyperloglog/DenseHll.cpp
  velox/functions/prestosql/hyperloglog/SparseHll.cpp
Owners: @prestodb/committers

Upgrade ranger dependency version with shaded dependencies
  pom.xml
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Support lastDataCommitTime in commit output for metastore read queries
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/HiveCommitHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreOperationResult.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/Partition.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/PartitionMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestHiveCommitHandle.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestRecordingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestThriftHiveMetastoreUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestAbstractDwrfEncryptionInformationSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/Input.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/InputExtractor.java
  presto-main/src/test/java/com/facebook/presto/execution/TestInput.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCommitHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryInputMetadata.java
Owners: @prestodb/committers

Support lastDataCommitTime in commit output for metastore read queries
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/HiveCommitHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreOperationResult.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/Partition.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/PartitionMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestHiveCommitHandle.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestRecordingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/TestThriftHiveMetastoreUtil.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestAbstractDwrfEncryptionInformationSource.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/Input.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryStateMachine.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/InputExtractor.java
  presto-main/src/test/java/com/facebook/presto/execution/TestInput.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryStateMachine.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorCommitHandle.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryInputMetadata.java
Owners: @prestodb/committers

Fix default config to match Java default config
  presto-native-execution/README.md
  presto-native-execution/etc/config.properties
  presto-native-execution/etc/node.properties
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
Owners: @prestodb/team-velox

[native] Update linux setup script in README.md
  presto-native-execution/README.md
Owners: @prestodb/team-velox

Add Decimal multiplication function (#2058)
  velox/functions/prestosql/DecimalArithmetic.cpp
  velox/functions/prestosql/registration/ArithmeticFunctionsRegistration.cpp
  velox/functions/prestosql/tests/DecimalArithmeticTest.cpp
Owners: @prestodb/committers

Override hashcode and equal functions for block builder
  presto-common/src/main/java/com/facebook/presto/common/block/ArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/ByteArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/Int128ArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/IntArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/LongArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/MapBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/RowBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/ShortArrayBlockBuilder.java
  presto-common/src/main/java/com/facebook/presto/common/block/VariableWidthBlockBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java
Owners: @prestodb/committers

Fix linker's warnings about visibility. (#2133)
  scripts/setup-helper-functions.sh
Owners: @prestodb/committers

Fix loss of precision in timestamp when spilling (#2279)
  velox/exec/Spill.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/utils/QueryAssertions.cpp
  velox/functions/prestosql/aggregates/tests/HistogramTest.cpp
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/serializers/tests/PrestoSerializerTest.cpp
  velox/type/Timestamp.h
  velox/type/tests/TimestampTest.cpp
  velox/vector/VectorStream.cpp
  velox/vector/VectorStream.h
Owners: @prestodb/committers

[native] Update linux setup script in README.md
  presto-native-execution/README.md
Owners: @prestodb/team-velox

[native] Update linux setup script in README.md
  presto-native-execution/README.md
Owners: @prestodb/team-velox

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Fix format check targets in Makefile and delete gen-pom-xml.sh and its target
  .github/workflows/test-native-specific.yml
  presto-native-execution/Makefile
  presto-native-execution/scripts/gen-pom-xml.sh
Owners: @prestodb/team-releases, @prestodb/team-velox

Update cleanup.yml
  .github/workflows/cleanup.yml
Owners: @prestodb/team-releases

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add velox availability announcement blog to website (#2446)
  website/blog/2022-07-31-public-announcement.mdx
  website/static/img/velox_blog_pic.png
Owners: @prestodb/committers

Add file info to exception thrown from OrcSelectiveRecordReader.OrcBlockLoader
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcDataSourceId.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcDataSourceId.java
Owners: @prestodb/committers

[native] Fix protocol generation script.
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
Owners: @prestodb/team-velox

add hudi connector doc
  presto-docs/src/main/sphinx/connector.rst
  presto-docs/src/main/sphinx/connector/hudi.rst
Owners: @prestodb/team-releases

Upgrade TestNG Version to 7.5
  pom.xml
  presto-elasticsearch/pom.xml
Owners: @prestodb/committers

Disable Flaky Kudu integration test
  presto-kudu/src/test/java/com/facebook/presto/kudu/TestKuduIntegrationSchemaNotExisting.java
Owners: @prestodb/committers

Fix Iceberg Tests
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedTestBase.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergDistributedHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hadoop/TestIcebergSmokeHadoop.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergDistributedHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/hive/TestIcebergSmokeHive.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergDistributedNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSmokeNessie.java
Owners: @prestodb/committers

Disable Failing Cassandra Tests
  presto-cassandra/src/test/java/com/facebook/presto/cassandra/TestCassandraIntegrationSmokeTest.java
Owners: @prestodb/committers

Fix OracleServer Tests
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/BaseOracleIntegrationSmokeTest.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/DisabledTestOracleDistributedQueries.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/DisabledTestOracleIntegrationSmokeTest.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/DisabledTestOracleTypes.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/OracleQueryRunner.java
  presto-oracle/src/test/java/com/facebook/presto/plugin/oracle/OracleServerTester.java
Owners: @prestodb/committers

Ignore Exit code exceptions on Presto stop
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/cli/PrestoCliLauncher.java
  presto-product-tests/src/main/java/com/facebook/presto/tests/cli/PrestoCliTests.java
Owners: @prestodb/committers

Add memory limit check for HashBuilderOperator's spilling
  presto-main/src/main/java/com/facebook/presto/operator/HashBuilderOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashJoinOperator.java
Owners: @prestodb/committers

Add subquery support for materialized view rewrite optimization
  presto-common/src/main/java/com/facebook/presto/common/RuntimeMetricName.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewCandidateExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/MaterializedViewOptimizationRewrite.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/MaterializedViewOptimizationRewriteUtils.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewCandidateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
Owners: @prestodb/committers

Enable the coordinators to retrieve metadata from the catalog server
  presto-main/src/main/java/com/facebook/presto/catalogserver/RandomCatalogServerAddressSelector.java
  presto-main/src/main/java/com/facebook/presto/metadata/AllNodes.java
  presto-main/src/main/java/com/facebook/presto/metadata/DiscoveryNodeManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/InMemoryNodeManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/InternalNode.java
  presto-main/src/main/java/com/facebook/presto/metadata/InternalNodeManager.java
  presto-main/src/main/java/com/facebook/presto/server/CatalogServerModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerConfig.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-main/src/test/java/com/facebook/presto/catalogserver/TestRandomCatalogServerAddressSelector.java
  presto-main/src/test/java/com/facebook/presto/execution/TestClusterSizeMonitor.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestPartialResultQueryTaskTracker.java
  presto-main/src/test/java/com/facebook/presto/metadata/TestDiscoveryNodeManager.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestResourceManagerClusterStatusSender.java
  presto-main/src/test/java/com/facebook/presto/server/TestServerConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/node/PrestoSparkInternalNodeManager.java
  presto-spi/src/main/java/com/facebook/presto/spi/Node.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestMemoryManager.java
  presto-tests/src/test/java/com/facebook/presto/resourcemanager/TestDistributedClusterStatsResource.java
  presto-tests/src/test/java/com/facebook/presto/server/TestServerInfoResource.java
  presto-tests/src/test/java/com/facebook/presto/tests/tpch/TpchQueryRunner.java
Owners: @prestodb/committers

Use precomputed hash in probe side of HashSemiJoinOperator
  presto-main/src/main/java/com/facebook/presto/operator/ChannelSet.java
  presto-main/src/main/java/com/facebook/presto/operator/GroupByHash.java
  presto-main/src/main/java/com/facebook/presto/operator/HashSemiJoinOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/MultiChannelGroupByHash.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java
  presto-main/src/test/java/com/facebook/presto/operator/TestHashSemiJoinOperator.java
Owners: @prestodb/committers

Add release notes for 0.274
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.274.rst
Owners: @prestodb/team-releases
