Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

Remove partition columns before writing partitioned file (#8089)
  velox/connectors/hive/HiveDataSink.cpp
  velox/connectors/hive/HiveDataSink.h
  velox/exec/tests/TableWriteTest.cpp
Owners: @prestodb/committers

Update to latest iceberg version
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Fix shadowed variable in velox/dwio/common/BitPackDecoder.cpp (#8390)
  velox/dwio/common/BitPackDecoder.cpp
Owners: @prestodb/committers

Fix shadowed variable in velox/dwio/common/FilterNode.h (#8389)
  velox/dwio/common/FilterNode.h
Owners: @prestodb/committers

Fix shadowed variable in velox/functions/prestosql/ArrayConstructor.cpp (#8384)
  velox/functions/prestosql/ArrayConstructor.cpp
Owners: @prestodb/committers

Fix shadowed variable in velox/tpch/gen/dbgen/bm_utils.cpp (#8391)
  velox/tpch/gen/dbgen/bm_utils.cpp
Owners: @prestodb/committers

Fix shadowed variable in velox/exec/Aggregate.cpp (#8392)
  velox/exec/Aggregate.cpp
Owners: @prestodb/committers

Bump Sphinx version to fix build
  presto-docs/requirements.txt
Owners: @prestodb/committers

Move ngrams registration to its separate registration file for faster compilation time. (#8383)
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/registration/ArrayNGramsRegistration.cpp
  velox/functions/prestosql/registration/CMakeLists.txt
Owners: @prestodb/committers

Bump Sphinx version to fix build
  presto-docs/requirements.txt
Owners: @prestodb/committers

Bump Sphinx version to fix build
  presto-docs/requirements.txt
Owners: @prestodb/committers

[native] Fix stats report for cache and spill
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
Owners: @prestodb/team-velox

[native] Make memory reclaim timeout configurable
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native] Re-use sslcontext in secure http connection.
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/Announcer.h
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.h
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/AnnouncerTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Optimize the Split page
  presto-main/src/main/resources/webapp/dist/timeline.js
  presto-main/src/main/resources/webapp/src/components/Splits.jsx
Owners: @prestodb/committers

Optimize the Split page
  presto-main/src/main/resources/webapp/dist/timeline.js
  presto-main/src/main/resources/webapp/src/components/Splits.jsx
Owners: @prestodb/committers

Fix shadowed variable in velox/common/caching/CachedFactory.h (#8394)
  velox/common/caching/CachedFactory.h
Owners: @prestodb/committers

Fix shadowed variable in velox/expression/ExprCompiler.cpp (#8393)
  velox/expression/ExprCompiler.cpp
Owners: @prestodb/committers

MapUnionSum should writeLong when value is RealType
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/MapUnionSumResult.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

MapUnionSum should writeLong when value is RealType
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/MapUnionSumResult.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Add available raptorx caching details in Iceberg Connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
Owners: @prestodb/committers

Add available raptorx caching details in Iceberg Connector
  presto-docs/src/main/sphinx/connector/iceberg.rst
Owners: @prestodb/committers

[native] Fix stats report for cache and spill
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
Owners: @prestodb/team-velox

[native] Fix stats report for cache and spill
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
Owners: @prestodb/team-velox

[native] Make memory reclaim timeout configurable
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native] Make memory reclaim timeout configurable
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

Update rawInputPositions for Exchange operator (#8370)
  velox/exec/Exchange.cpp
  velox/exec/tests/MultiFragmentTest.cpp
Owners: @prestodb/committers

Create the parent path if not exist when writing data in HDFS filesystem (#8343)
  velox/connectors/hive/storage_adapters/hdfs/HdfsWriteFile.cpp
  velox/connectors/hive/storage_adapters/hdfs/tests/HdfsFileSystemTest.cpp
Owners: @prestodb/committers

Setup AggregationFuzzer to use Presto as source of truth in experimental jobs. (#8314)
  .github/workflows/experimental.yml
  scripts/etc/hive.properties
  scripts/etc/jvm.config.example
  scripts/etc/node.properties
  scripts/prestojava-container.dockerfile
  scripts/start-prestojava.sh
Owners: @prestodb/committers

[native] Remove unnecessary includes from PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

[native] Re-use sslcontext in secure http connection.
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/Announcer.h
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.h
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/AnnouncerTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

[native] Re-use sslcontext in secure http connection.
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/Announcer.h
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicHeartbeatManager.h
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/tests/HttpTestBase.h
  presto-native-execution/presto_cpp/main/tests/AnnouncerTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Clean up tables registered in test cases to avoid impacting others
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Owners: @prestodb/committers

Refactor HiveDataSource (#8104)
  velox/connectors/hive/CMakeLists.txt
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnectorUtil.cpp
  velox/connectors/hive/HiveConnectorUtil.h
  velox/connectors/hive/HiveDataSource.cpp
  velox/connectors/hive/HiveDataSource.h
  velox/connectors/hive/SplitReader.cpp
  velox/connectors/hive/SplitReader.h
  velox/connectors/hive/tests/HiveConnectorTest.cpp
Owners: @prestodb/committers

Clean up tables registered in test cases to avoid impacting others
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Owners: @prestodb/committers

Clean up tables registered in test cases to avoid impacting others
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Owners: @prestodb/committers

Fix shadowed variable in velox/expression/CastExpr-inl.h (#8400)
  velox/expression/CastExpr-inl.h
Owners: @prestodb/committers

Reduce link parallelism to fix compilation OOM's (#8403)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Fix format of documentation in SimpleAggregateAdapter.h (#8402)
  velox/exec/SimpleAggregateAdapter.h
Owners: @prestodb/committers

[native] Remove unnecessary includes from PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
