Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Fix peeling off encodings from intermediate results some more (#2633)
  velox/expression/Expr.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Override max revocable memory through session property
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
Owners: @prestodb/committers

Change MmapAllcatorOptions construction to comply with Velox
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add support for RLE encoding in Presto deserializer (#2580)
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/serializers/tests/PrestoSerializerTest.cpp
Owners: @prestodb/committers

Change MmapAllcatorOptions construction to comply with Velox
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Change MmapAllcatorOptions construction to comply with Velox
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

[native] Fix RuntimeMetric (Velox -> Presto) conversion.
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoTaskTest.cpp
Owners: @prestodb/team-velox

Fix formatting in SWITCH documentation (#2634)
  velox/docs/develop/expression-evaluation.rst
Owners: @prestodb/committers

Extend HashJoinBridge object to support hash join spill (#2631)
  velox/common/caching/AsyncDataCache.h
  velox/exec/CMakeLists.txt
  velox/exec/HashBuild.cpp
  velox/exec/HashBuild.h
  velox/exec/HashJoinBridge.cpp
  velox/exec/HashJoinBridge.h
  velox/exec/JoinBridge.cpp
  velox/exec/JoinBridge.h
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/CMakeLists.txt
  velox/exec/tests/HashJoinBridgeTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/SpillOperatorGroupTest.cpp
  velox/exec/tests/SpillTest.cpp
Owners: @prestodb/committers

Document flat-no-nulls fast path for expressions (#2636)
  velox/docs/develop/expression-evaluation.rst
Owners: @prestodb/committers

Fix a -Wrange-loop-construct warning
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Update memory tracker with current pool memory usage (#2641)
  velox/common/memory/Memory.h
  velox/common/memory/tests/MemoryPoolTest.cpp
Owners: @prestodb/committers

Override max revocable memory through session property
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
Owners: @prestodb/committers

Override max revocable memory through session property
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

Add Total spilled bytes read
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
  presto-main/src/main/java/com/facebook/presto/spiller/SpillerStats.java
  presto-main/src/test/java/com/facebook/presto/spiller/TestBinaryFileSpiller.java
Owners: @prestodb/committers

[TopNOperator-Spilling] [Part1] Move GroupByHash management inside GroupedTopNBuilder
  presto-main/src/main/java/com/facebook/presto/execution/TaskManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/main/java/com/facebook/presto/operator/GroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNRowNumberOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestGroupedTopNBuilder.java
Owners: @prestodb/committers

[PrestoOnSpark] Extract interface from GroupedTopNBuilder
  presto-main/src/main/java/com/facebook/presto/operator/GroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/InMemoryGroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNRowNumberOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkInMemoryGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestInMemoryGroupedTopNBuilder.java
Owners: @prestodb/committers

Deprecate PQL query format
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceSql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotColumnUtils.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotErrorCode.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPlanOptimizer.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGenerator.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGeneratorContext.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSplitManager.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotExpressionConverters.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizer.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizerSql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGeneratorSql.java
Owners: @prestodb/team-releases, @prestodb/committers

Deprecate PQL query format
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceSql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotColumnUtils.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotErrorCode.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPlanOptimizer.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGenerator.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGeneratorContext.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSplitManager.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotExpressionConverters.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizer.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizerSql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGeneratorSql.java
Owners: @prestodb/team-releases, @prestodb/committers

Deprecate PQL query format
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceSql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotColumnUtils.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotErrorCode.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPlanOptimizer.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGenerator.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGeneratorContext.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSplitManager.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotExpressionConverters.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizer.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotPlanOptimizerSql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGeneratorSql.java
Owners: @prestodb/team-releases, @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[TopNOperator-Spilling] Move GroupByHash management inside GroupedTopNBuilder
  presto-main/src/main/java/com/facebook/presto/operator/GroupedTopNBuilder.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNOperator.java
  presto-main/src/main/java/com/facebook/presto/operator/TopNRowNumberOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/BenchmarkGroupedTopNBuilder.java
  presto-main/src/test/java/com/facebook/presto/operator/TestGroupedTopNBuilder.java
Owners: @prestodb/committers

Fix a -Wrange-loop-construct warning
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Fix a -Wrange-loop-construct warning
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

Use Velox Build Type for Arrow Build (#2648)
  third_party/CMakeLists.txt
Owners: @prestodb/committers

Support resource group selection based on clientInfo
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/AbstractResourceConfigurationManager.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/SelectorSpec.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/StaticSelector.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/DbManagerSpecProvider.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/ResourceGroupsDao.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/SelectorRecord.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestFileResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestResourceGroupIdTemplate.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/TestStaticSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/H2ResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbManagerSpecProvider.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbSourceExactMatchSelector.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/reloading/TestReloadingResourceGroupConfigurationManager.java
  presto-resource-group-managers/src/test/resources/resource_groups_config_query_type.json
  presto-spi/src/main/java/com/facebook/presto/spi/resourceGroups/SelectionCriteria.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/H2TestUtil.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestQueuesDb.java
Owners: @prestodb/committers

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

Add release notes for 0.277
  presto-docs/src/main/sphinx/functions/pinot.rst
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.277.rst
Owners: @prestodb/team-releases

[native] Fix RuntimeMetric (Velox -> Presto) conversion.
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoTaskTest.cpp
Owners: @prestodb/team-velox

[native] Fix RuntimeMetric (Velox -> Presto) conversion.
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoTaskTest.cpp
Owners: @prestodb/team-velox

Deprecate netty server query
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-main/etc/catalog/pinot.properties
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotProxyGrpcRequestBuilder.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotQueryBase.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSegmentStreamingPageSource.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotSessionProperties.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/query/TestPinotQueryGenerator.java
Owners: @prestodb/team-releases, @prestodb/committers

Add 'query memory tree print out' to memory exception message. (#2640)
  velox/exec/Operator.cpp
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/MemoryCapExceededTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Pull resize logic out of addError (#2509)
  velox/expression/EvalCtx.cpp
  velox/expression/EvalCtx.h
  velox/expression/tests/EvalCtxTest.cpp
Owners: @prestodb/committers

Add split wrapper.
  presto-main/src/main/java/com/facebook/presto/metadata/HandleResolver.java
  presto-main/src/main/java/com/facebook/presto/operator/Driver.java
  presto-main/src/main/java/com/facebook/presto/split/NativeEngineSplitWrapper.java
  presto-main/src/main/java/com/facebook/presto/split/NativeEngineSplitWrapperJacksonModule.java
  presto-main/src/main/java/com/facebook/presto/split/NativeEngineSplitWrapperResolver.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SchedulingOrderVisitor.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SplitSourceFactory.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/NativeEngineNode.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/NativeEngineOperator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkSourceDistributionSplitAssigner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
Owners: @prestodb/committers
