Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Add const qualifier for extractColumn result VectorPtr (#2717)
  velox/exec/RowContainer.h
Owners: @prestodb/committers

Allow PlanBuilder and ProjectNode to be extendable.
  velox/core/PlanNode.h
  velox/exec/tests/utils/PlanBuilder.h
Owners: @prestodb/committers

[native] Fix the intermediate type of approx_percentile
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AlternativeApproxPercentile.java
Owners: @prestodb/committers

[native] Add E2E tests for percentiles array in approx_percentiles
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
Owners: @prestodb/team-velox

[native] Fix the intermediate type of approx_percentile
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AlternativeApproxPercentile.java
Owners: @prestodb/committers

[native] Add E2E tests for percentiles array in approx_percentiles
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
Owners: @prestodb/team-velox

[native] Advance Velox version.
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

[native] Advance Velox version.
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

Added comments to LambdaExpr and updated some utility class names (#2399)
  velox/expression/CastExpr.cpp
  velox/expression/CoalesceExpr.cpp
  velox/expression/ConjunctExpr.cpp
  velox/expression/EvalCtx.cpp
  velox/expression/EvalCtx.h
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/LambdaExpr.h
  velox/expression/ScopedVarSetter.h
  velox/expression/SwitchExpr.cpp
  velox/expression/TryExpr.cpp
  velox/functions/prestosql/Reduce.cpp
  velox/functions/prestosql/ZipWith.cpp
  velox/functions/prestosql/tests/MapFilterTest.cpp
Owners: @prestodb/committers

Add a step in test to wait all tasks to be deleted (#2710)
  velox/common/memory/MemoryUsageTracker.h
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/TaskTest.cpp
  velox/exec/tests/utils/OperatorTestBase.cpp
  velox/exec/tests/utils/OperatorTestBase.h
Owners: @prestodb/committers

Add support for installing and build dependencies, install folly using FetchContent (#2413)
  .circleci/config.yml
  CMakeLists.txt
  Makefile
  ThirdpartyToolchain.cmake
  docker-compose.yml
  scripts/check.py
  scripts/setup-circleci.sh
  scripts/setup-macos.sh
  scripts/setup-ubuntu.sh
  scripts/setup-velox-torcharrow.sh
  scripts/ubuntu-22.04-cpp.dockerfile
  velox/common/file/CMakeLists.txt
  velox/connectors/hive/storage_adapters/hdfs/CMakeLists.txt
  velox/connectors/hive/storage_adapters/s3fs/CMakeLists.txt
  velox/functions/sparksql/CMakeLists.txt
Owners: @prestodb/committers

Fix hardcoded values in MMapAllocator to work with M1 Mac (#2705)
  velox/common/memory/MmapAllocator.cpp
  velox/common/memory/MmapAllocator.h
Owners: @prestodb/committers

Add support for Decimal Type format in Arrow Bridge (#2715)
  velox/vector/arrow/Bridge.cpp
  velox/vector/arrow/tests/ArrowBridgeSchemaTest.cpp
Owners: @prestodb/committers

Add printNulls(nulls) function for easier debugging (#2721)
  velox/vector/BaseVector.cpp
  velox/vector/BaseVector.h
  velox/vector/tests/VectorToStringTest.cpp
Owners: @prestodb/committers

Add missing null_free_in_type fields (#2719)
  velox/expression/UdfTypeResolver.h
Owners: @prestodb/committers

Move reuseStringsFromArg out from SimpleFunctionMetaData (#2718)
  velox/core/SimpleFunctionMetadata.h
  velox/expression/SimpleFunctionAdapter.h
Owners: @prestodb/committers

Optimize MapVector::compare (#2720)
  velox/benchmarks/basic/VectorCompare.cpp
  velox/vector/BaseVector.h
  velox/vector/ComplexVector.cpp
  velox/vector/FlatVector.h
Owners: @prestodb/committers

Add printIndices(indices) function for easier debugging (#2723)
  velox/vector/BaseVector.cpp
  velox/vector/BaseVector.h
  velox/vector/tests/VectorToStringTest.cpp
Owners: @prestodb/committers

Do not throw exception for Parquet corrupted statistics
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaPageSourceProvider.java
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveWarningCode.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSourceProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiParquetPageSources.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingWarningCollector.java
  presto-parquet/pom.xml
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/Predicate.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/PredicateUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/TupleDomainParquetPredicate.java
  presto-parquet/src/test/java/com/facebook/presto/parquet/TestTupleDomainParquetPredicate.java
Owners: @prestodb/committers, @vinothchandar, @7c00

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
