Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

[native] Remove ShuffleReader::hasNext api
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Owners: @prestodb/team-velox

[native] Remove ShuffleReader::hasNext api
  presto-native-execution/presto_cpp/main/operators/ShuffleInterface.h
Owners: @prestodb/team-velox

Optimize multimap_from_entries Presto function (#8351)
  velox/functions/prestosql/MultimapFromEntries.h
Owners: @prestodb/committers

Add tests to validate fnv implementation
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestVarbinaryFunctions.java
Owners: @prestodb/committers

Add more output buffer stats and update in TaskStats (#8348)
  velox/exec/OutputBuffer.cpp
  velox/exec/OutputBuffer.h
  velox/exec/Task.cpp
  velox/exec/TaskStats.h
  velox/exec/tests/OutputBufferManagerTest.cpp
  velox/exec/tests/TaskTest.cpp
Owners: @prestodb/committers

[native] Add output buffer stats in protocol::TaskInfo and advance Velox
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

Improve error message in check-function-signatures CI job (#8316)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

[native] Add output buffer stats in protocol::TaskInfo and advance Velox
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

[native] Add output buffer stats in protocol::TaskInfo and advance Velox
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

Fix a crash in conv Spark function (#8046)
  velox/functions/sparksql/String.h
  velox/functions/sparksql/tests/StringTest.cpp
Owners: @prestodb/committers

Add additional linear regression functions
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AggregationUtils.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/DoubleRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/RealRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/RegressionState.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestDoubleRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestRealRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSyyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSyyAggregation.java
Owners: @prestodb/committers

Pass cat token for view definer mode
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Owners: @prestodb/committers

migrate from nested-name WriteHolder (#8243)
  velox/common/memory/Memory.cpp
  velox/common/memory/MemoryPool.cpp
Owners: @prestodb/committers

Pass cat token for view definer mode
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Owners: @prestodb/committers

Fix ParquetReaderBenchmark (#8274)
  velox/dwio/parquet/tests/reader/ParquetReaderBenchmark.cpp
Owners: @prestodb/committers

Update pom.xml - bumping iceberg version 1.4.1 to 1.4.3
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Pass cat token for view definer mode
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Owners: @prestodb/committers

Pass cat token for view definer mode
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/Identity.java
Owners: @prestodb/committers

Avoid throwing in OutputBufferManager::updateNumDrivers(). (#8357)
  velox/exec/OutputBufferManager.cpp
  velox/exec/OutputBufferManager.h
  velox/exec/tests/OutputBufferManagerTest.cpp
Owners: @prestodb/committers

Refactor common code in RowContainer::equalWithNulls and equalNoNulls (#8323)
  velox/exec/RowContainer.h
Owners: @prestodb/committers

Expand push_back for arrayWriter support to generics and strings. (#8334)
  velox/expression/ComplexWriterTypes.h
  velox/expression/tests/ArrayWriterTest.cpp
  velox/expression/tests/GenericWriterTest.cpp
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/MultimapFromEntries.h
Owners: @prestodb/committers

Optimize the Split page
  presto-main/src/main/resources/webapp/dist/timeline.js
  presto-main/src/main/resources/webapp/src/components/Splits.jsx
Owners: @prestodb/committers

Add additional linear regression functions
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AggregationUtils.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/DoubleRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/RealRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/RegressionState.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestDoubleRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestRealRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSyyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSyyAggregation.java
Owners: @prestodb/committers

Add additional linear regression functions
  presto-docs/src/main/sphinx/functions/aggregate.rst
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/AggregationUtils.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/DoubleRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/RealRegressionAggregation.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/state/RegressionState.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestDoubleRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/AbstractTestRealRegrAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestDoubleRegrSyyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrAvgyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrCountAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrR2Aggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxxAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSxyAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestRealRegrSyyAggregation.java
Owners: @prestodb/committers

Delete the flag declaration of 'velox_use_malloc' (#7041)
  velox/common/memory/MemoryAllocator.h
Owners: @prestodb/committers

Fix emptyOutput in trimUnicodeWhiteSpace (#8368)
  velox/functions/lib/string/StringImpl.h
Owners: @prestodb/committers

Assert addressable range in bits::scatterBits (#8353)
  velox/common/base/BitUtil.cpp
  velox/common/base/BitUtil.h
  velox/dwio/dwrf/test/TestByteRle.cpp
Owners: @prestodb/committers

Fix Parquet dereference pushdown
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/TestParquetPageSourceFactory.java
Owners: @prestodb/committers

Fix Parquet dereference pushdown
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/TestParquetPageSourceFactory.java
Owners: @prestodb/committers

Add WarningCollector to MetastoreContext
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreContext.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/SyncPartitionMetadataProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/MetastoreHiveStatisticsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRegisterProcedure.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlUtils.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControl.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControlContext.java
Owners: @prestodb/committers, @agrawalreetika, @vinothchandar, @7c00, @shrinidhijoshi

[native] Remove logging of "Calling getResult() on a aborted task".
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Owners: @prestodb/team-velox

Refactor thriftCodecToCompressionKind() as an utility function (#7643)
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/reader/PageReader.cpp
  velox/dwio/parquet/reader/PageReader.h
  velox/dwio/parquet/reader/ParquetReaderUtil.cpp
  velox/dwio/parquet/reader/ParquetReaderUtil.h
Owners: @prestodb/committers

[native]Set cpu driver slicing to 1 second in Prestissimo
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

[native]Set cpu driver slicing to 1 second in Prestissimo
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

Move velox/external/date to vendored namespace (#8332)
  velox/external/date/date.h
  velox/external/date/ios.h
  velox/external/date/patches/add_namespacing-pr-8332.patch
  velox/external/date/tz.cpp
  velox/external/date/tz.h
  velox/external/date/tz_private.h
  velox/type/Timestamp.h
Owners: @prestodb/committers

[native] Remove logging of "Calling getResult() on a aborted task".
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Owners: @prestodb/team-velox

[native] Remove logging of "Calling getResult() on a aborted task".
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Owners: @prestodb/team-velox

Add Ecosystem and ORM to docs
  presto-docs/src/main/sphinx/ecosystem.rst
  presto-docs/src/main/sphinx/ecosystem/list.rst
  presto-docs/src/main/sphinx/index.rst
Owners: @prestodb/committers

Add ngrams Presto function. (#8209)
  velox/docs/functions/presto/array.rst
  velox/functions/prestosql/ArrayFunctions.h
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ArrayNGramsTest.cpp
  velox/functions/prestosql/tests/CMakeLists.txt
Owners: @prestodb/committers

Update the Version of Dependency com.h2database
  pom.xml
  presto-base-jdbc/src/test/java/com/facebook/presto/plugin/jdbc/TestingDatabase.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveIntegrationSmokeTest.java
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/db/ResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/H2ResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestDbManagerSpecProvider.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/db/TestResourceGroupsDao.java
  presto-resource-group-managers/src/test/java/com/facebook/presto/resourceGroups/reloading/TestReloadingResourceGroupConfigurationManager.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/H2QueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/H2TestUtil.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestLocalQueries.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
