Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

[native] Add config for stats reporting and counters.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

Add TableWriterMergeNode in presto UI
  presto-main/src/main/resources/webapp/dist/stage.js
  presto-main/src/main/resources/webapp/src/utils.js
Owners: @prestodb/committers

Add TableWriterMergeNode in presto UI
  presto-main/src/main/resources/webapp/dist/stage.js
  presto-main/src/main/resources/webapp/src/utils.js
Owners: @prestodb/committers

Add shuffledBytes and shuffledRows to QueryCompletedEvent
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryStatistics.java
Owners: @prestodb/committers

Add shuffledBytes and shuffledRows to QueryCompletedEvent
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryStatistics.java
Owners: @prestodb/committers

[native] Fix task endpoint of server operation
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
Owners: @prestodb/team-velox

[native] Add config for stats reporting and counters.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

[native] Add config for stats reporting and counters.
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

Add documentation for cte-materailization-strategy
  presto-docs/src/main/sphinx/admin/properties.rst
Owners: @prestodb/committers

Add documentation for cte-materailization-strategy
  presto-docs/src/main/sphinx/admin/properties.rst
Owners: @prestodb/committers

Add SingleThreadedTaskCursor (#8406)
  velox/connectors/tpch/tests/SpeedTest.cpp
  velox/core/QueryCtx.h
  velox/exec/tests/AssertQueryBuilderTest.cpp
  velox/exec/tests/DriverTest.cpp
  velox/exec/tests/FilterProjectTest.cpp
  velox/exec/tests/GroupedExecutionTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/LimitTest.cpp
  velox/exec/tests/LocalPartitionTest.cpp
  velox/exec/tests/MultiFragmentTest.cpp
  velox/exec/tests/QueryAssertionsTest.cpp
  velox/exec/tests/TableScanTest.cpp
  velox/exec/tests/TaskTest.cpp
  velox/exec/tests/utils/AssertQueryBuilder.cpp
  velox/exec/tests/utils/AssertQueryBuilder.h
  velox/exec/tests/utils/Cursor.cpp
  velox/exec/tests/utils/Cursor.h
  velox/exec/tests/utils/QueryAssertions.cpp
  velox/experimental/codegen/tests/CodegenTestBase.h
Owners: @prestodb/committers

Add rule to extract constant variables from projection and filter
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
Owners: @prestodb/committers

Add rules to simplify sort/topn node with constant input
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifySortWithConstantInput.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyTopNWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifySortWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyTopNWithConstantInput.java
Owners: @prestodb/committers

Add tests for rewrite constant optimizer
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q04.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q09.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q11.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q14_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q31.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_1.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q42.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q52.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q64.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q66.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q74.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q75.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q78.plan.txt
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedJoinQueriesWithDynamicFiltering.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithExchangeMaterialization.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestReplaceConstantVariableReferencesWithConstantsPartitionKeys.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PullConstantsAboveGroupBy.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalize.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdownWithDynamicFilter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPullConstantsAboveGroupBy.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Add rule to extract constant variables from projection and filter
  presto-docs/src/main/sphinx/admin/properties.rst
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
Owners: @prestodb/committers

Add tests for rewrite constant optimizer
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q04.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q09.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q11.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q14_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q31.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_1.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q39_2.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q42.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q52.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q64.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q66.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q74.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q75.plan.txt
  presto-benchto-benchmarks/src/test/resources/sql/presto/tpcds/q78.plan.txt
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedJoinQueriesWithDynamicFiltering.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueriesWithExchangeMaterialization.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestReplaceConstantVariableReferencesWithConstantsPartitionKeys.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PullConstantsAboveGroupBy.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/ReplaceConstantVariableReferencesWithConstants.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalize.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdown.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestPredicatePushdownWithDynamicFilter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestPullConstantsAboveGroupBy.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestReplaceConstantVariableReferencesWithConstants.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Add rules to simplify sort/topn node with constant input
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifySortWithConstantInput.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/SimplifyTopNWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifySortWithConstantInput.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestSimplifyTopNWithConstantInput.java
Owners: @prestodb/committers

Remove Wshadow warning for velox/type/Filter.h (#8267)
  velox/type/Filter.h
Owners: @prestodb/committers

Add support for tinyint/smallint inputs for date_add/sub Spark functions (#8379)
  velox/docs/functions/spark/datetime.rst
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/tests/DateTimeFunctionsTest.cpp
Owners: @prestodb/committers

[native] Refactor server operation endpoint
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

Update default spill compression codec for native engine.
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Owners: @prestodb/committers

Fix int64::max() to double conversion issue (#8177)
  velox/common/base/Doubles.h
  velox/functions/prestosql/Arithmetic.h
  velox/functions/prestosql/DateTimeImpl.h
  velox/functions/sparksql/Arithmetic.h
Owners: @prestodb/committers

Disable running CircleCI tests for docs-only PRs
  .circleci/config.yml
  .circleci/continue_config.yml
Owners: @prestodb/committers

Disable running CircleCI tests for docs-only PRs
  .circleci/config.yml
  .circleci/continue_config.yml
Owners: @prestodb/committers

Fix writtenIntermediateBytes metric to capture correct intermediate write metrics
  presto-main/src/main/java/com/facebook/presto/sql/TemporaryTableUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenter.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanFragmenterUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ScaledWriterRule.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/SymbolMapper.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/TableWriterNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/IterativePlanFragmenter.java
Owners: @prestodb/committers, @shrinidhijoshi

Add find_in_set Spark function (#8358)
  velox/docs/functions/spark/string.rst
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/String.h
  velox/functions/sparksql/tests/StringTest.cpp
Owners: @prestodb/committers

[native] Refactor server operation endpoint
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

[native] Refactor server operation endpoint
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

Fix invalid write in ensureWritable (#8450)
  velox/vector/FlatVector-inl.h
  velox/vector/tests/EnsureWritableVectorTest.cpp
Owners: @prestodb/committers

Make nulls initialValue to false in EvalCtx#ensureErrorsVectorSize (#8479)
  velox/expression/EvalCtx.cpp
Owners: @prestodb/committers

Fix documentation for HiveConfig hive.s3.use-instance-credentials (#8309)
  velox/docs/configs.rst
Owners: @prestodb/committers

Add memory arbitration time runtime stats for operator (#8482)
  velox/exec/SharedArbitrator.cpp
  velox/exec/tests/AggregationTest.cpp
Owners: @prestodb/committers

[native] Let TaskManager abort existing running tasks during shutdown
  presto-native-execution/presto_cpp/main/TaskManager.cpp
Owners: @prestodb/team-velox

Avoid creating BlockingState for a yield driver thread (#8490)
  velox/exec/Driver.cpp
Owners: @prestodb/committers

Add from_unixtime Spark function (#7532)
  velox/docs/functions/spark/datetime.rst
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/lib/DateTimeFormatter.h
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/tests/DateTimeFunctionsTest.cpp
  velox/type/Timestamp.cpp
  velox/type/Timestamp.h
  velox/type/tests/TimestampTest.cpp
Owners: @prestodb/committers

Remove partitions from JSON constructor of BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
Owners: @prestodb/committers

Fixing issue for Unsupported Hive type: time for ORC file
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectBatchStreamReader.java
Owners: @prestodb/committers, @sdruzkin

Fix- Provide support in ORC Reader for TIME datatype
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TypeConverter.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionaryBatchStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectBatchStreamReader.java
Owners: @prestodb/committers, @sdruzkin

Fix memory accounting for Theta Sketch Aggregation
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchStateFactory.java
Owners: @prestodb/committers

Fix memory accounting for Theta Sketch Aggregation
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchAggregationState.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/sketch/theta/ThetaSketchStateFactory.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
