Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @prestodb/team-tsc, @jaystarshot, @feilong-liu, @prestodb/team-velox, @shrinidhijoshi, @vinothchandar, @7c00, @hantangwangd, @agrawalreetika, @shangxinli, @sdruzkin, @yhwang, @steveburnett

CODEOWNERS:

#####################################################################
### Presto code owners                                            ###
#####################################################################

#####################################################################
# Fallback to committers group for areas that do not have active code owners
/** @prestodb/committers

#####################################################################
# The below projects do not have a dedicated code owner for the entire module
/presto-accumulo @prestodb/committers
/presto-analyzer @prestodb/committers
/presto-atop @prestodb/committers
/presto-base-jdbc @prestodb/committers
/presto-benchmark @prestodb/committers
/presto-benchmark-driver @prestodb/committers
/presto-benchmark-runner @prestodb/committers
/presto-benchto-benchmarks @prestodb/committers
/presto-bigquery @prestodb/committers
/presto-blackhole @prestodb/committers
/presto-bytecode @prestodb/committers
/presto-cache @prestodb/committers
/presto-cassandra @prestodb/committers
/presto-cli @prestodb/committers
/presto-clickhouse @prestodb/committers
/presto-client @prestodb/committers
/presto-cluster-ttl-providers @prestodb/committers
/presto-common @prestodb/committers
/presto-delta @prestodb/committers
/presto-druid @prestodb/committers
/presto-elasticsearch @prestodb/committers
/presto-example-http @prestodb/committers
/presto-expressions @prestodb/committers
/presto-function-namespace-managers @prestodb/committers
/presto-geospatial-toolkit @prestodb/committers
/presto-google-sheets @prestodb/committers
/presto-grpc-api @prestodb/committers
/presto-grpc-testing-udf-server @prestodb/committers
/presto-hana @prestodb/committers
/presto-hive @prestodb/committers
/presto-hive-common @prestodb/committers
/presto-hive-function-namespace @prestodb/committers
/presto-hive-hadoop2 @prestodb/committers
/presto-hive-metastore @prestodb/committers
/presto-i18n-functions @prestodb/committers
/presto-jdbc @prestodb/committers
/presto-jmx @prestodb/committers
/presto-kafka @prestodb/committers
/presto-kudu @prestodb/committers
/presto-lark-sheets @prestodb/committers
/presto-local-file @prestodb/committers
/presto-main @prestodb/committers
/presto-matching @prestodb/committers
/presto-memory @prestodb/committers
/presto-memory-context @prestodb/committers
/presto-ml @prestodb/committers
/presto-mongodb @prestodb/committers
/presto-mysql @prestodb/committers
/presto-node-ttl-fetchers @prestodb/committers
/presto-open-telemetry @prestodb/committers
/presto-oracle @prestodb/committers
/presto-parser @prestodb/committers
/presto-password-authenticators @prestodb/committers
/presto-pinot @prestodb/committers
/presto-pinot-toolkit @prestodb/committers
/presto-plugin-toolkit @prestodb/committers
/presto-postgresql @prestodb/committers
/presto-product-tests @prestodb/committers
/presto-prometheus @prestodb/committers
/presto-proxy @prestodb/committers
/presto-rcfile @prestodb/committers
/presto-record-decoder @prestodb/committers
/presto-redis @prestodb/committers
/presto-redshift @prestodb/committers
/presto-resource-group-managers @prestodb/committers
/presto-router @prestodb/committers
/presto-server @prestodb/committers
/presto-session-property-managers @prestodb/committers
/presto-singlestore @prestodb/committers
/presto-spi @prestodb/committers
/presto-sqlserver @prestodb/committers
/presto-teradata-functions @prestodb/committers
/presto-test-coverage @prestodb/committers
/presto-testing-docker @prestodb/committers
/presto-testing-server-launcher @prestodb/committers
/presto-testng-services @prestodb/committers
/presto-thrift-api @prestodb/committers
/presto-thrift-connector @prestodb/committers
/presto-thrift-spec @prestodb/committers
/presto-thrift-testing-server @prestodb/committers
/presto-thrift-testing-udf-server @prestodb/committers
/presto-tpcds @prestodb/committers
/presto-tpch @prestodb/committers
/presto-verifier @prestodb/committers

# TSC may approve changes to this list
CODEOWNERS @prestodb/team-tsc

#####################################################################
# Presto core

# Presto analyzer and optimizer
/presto-main/src/*/java/com/facebook/presto/sql @jaystarshot @feilong-liu @prestodb/committers

# Presto cost based optimizer framework
/presto-main/src/*/java/com/facebook/presto/cost @jaystarshot @feilong-liu @prestodb/committers

# Testing module
# Note: all code owners in Presto core should be included here as well
/presto-tests @jaystarshot @feilong-liu @prestodb/committers

#####################################################################
# Prestissimo module
/presto-native-execution @prestodb/team-velox

#####################################################################
# Presto on Spark module
/presto-spark* @shrinidhijoshi @prestodb/committers

#####################################################################
# Presto connectors and plugins

# Hudi connector
/presto-hudi @vinothchandar @7c00 @prestodb/committers

# Iceberg connector
/presto-iceberg @hantangwangd @prestodb/committers

# Ranger Hive plugin
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers

# Redis history based optimizer plugin
/redis-hbo-provider @jaystarshot @prestodb/committers

#####################################################################
# Presto modules and libraries

# Parquet reader module
/presto-parquet @shangxinli @prestodb/committers

# ORC reader module
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/src/*/java/com/facebook/presto/hive/orc @sdruzkin @prestodb/committers

#####################################################################
# Presto Console UI
/presto-main/src/main/resources/webapp @yhwang @prestodb/committers

#####################################################################
# Presto documentation
/presto-docs @steveburnett @prestodb/committers
/**/*.md @steveburnett @prestodb/committers

Fix header formatting
  presto-docs/src/main/sphinx/connector/cassandra.rst
  presto-docs/src/main/sphinx/connector/hive.rst
  presto-docs/src/main/sphinx/connector/hudi.rst
  presto-docs/src/main/sphinx/connector/singlestore.rst
  presto-docs/src/main/sphinx/connector/sqlserver.rst
  presto-docs/src/main/sphinx/ecosystem.rst
  presto-docs/src/main/sphinx/functions/comparison.rst
  presto-docs/src/main/sphinx/functions/math.rst
  presto-docs/src/main/sphinx/overview/concepts.rst
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
  presto-docs/src/main/sphinx/release/release-0.248.1.rst
  presto-docs/src/main/sphinx/release/release-0.248.rst
  presto-docs/src/main/sphinx/release/release-0.258.rst
  presto-docs/src/main/sphinx/release/release-0.261.rst
  presto-docs/src/main/sphinx/release/release-0.264.rst
  presto-docs/src/main/sphinx/release/release-0.270.rst
  presto-docs/src/main/sphinx/release/release-0.272.rst
  presto-docs/src/main/sphinx/release/release-0.281.rst
  presto-docs/src/main/sphinx/release/release-0.282.rst
  presto-docs/src/main/sphinx/release/release-0.284.rst
  presto-docs/src/main/sphinx/release/release-0.287.rst
Owners: @steveburnett, @prestodb/committers

Remove unnecessary use of final on private and static methods
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/BenchmarkParquetPageSource.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/BenchmarkPageProcessor.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/BytesUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusMetricResult.java
  presto-spi/src/main/java/com/facebook/presto/spi/QueryId.java
Owners: @prestodb/committers, @jaystarshot, @feilong-liu, @sdruzkin, @shangxinli

Remove unnecessary use of final on private and static methods
  presto-hive/src/test/java/com/facebook/presto/hive/parquet/BenchmarkParquetPageSource.java
  presto-main/src/test/java/com/facebook/presto/sql/gen/BenchmarkPageProcessor.java
  presto-orc/src/test/java/com/facebook/presto/orc/BenchmarkSelectiveStreamReaders.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/BytesUtils.java
  presto-parquet/src/main/java/com/facebook/presto/parquet/batchreader/decoders/Decoders.java
  presto-prometheus/src/main/java/com/facebook/presto/plugin/prometheus/PrometheusMetricResult.java
  presto-spi/src/main/java/com/facebook/presto/spi/QueryId.java
Owners: @prestodb/committers, @jaystarshot, @feilong-liu, @sdruzkin, @shangxinli

Abstract client info for internal and external use
  presto-verifier/src/main/java/com/facebook/presto/verifier/PrestoVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/ClientInfoFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/DefaultClientInfoFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcPrestoAction.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcPrestoActionFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/QueryActionsModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/AbstractVerificationTest.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDeterminismAnalyzer.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/prestoaction/TestJdbcPrestoAction.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestQueryRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/source/TestPrestoQuerySourceQuerySupplier.java
Owners: @prestodb/committers

Abstract client info for internal and external use
  presto-verifier/src/main/java/com/facebook/presto/verifier/PrestoVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/AbstractVerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifierModule.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/framework/VerifyCommand.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/ClientInfoFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/DefaultClientInfoFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcPrestoAction.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/JdbcPrestoActionFactory.java
  presto-verifier/src/main/java/com/facebook/presto/verifier/prestoaction/QueryActionsModule.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/AbstractVerificationTest.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/framework/TestDeterminismAnalyzer.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/prestoaction/TestJdbcPrestoAction.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/rewrite/TestQueryRewriter.java
  presto-verifier/src/test/java/com/facebook/presto/verifier/source/TestPrestoQuerySourceQuerySupplier.java
Owners: @prestodb/committers

Fix typos in vectors.rst (#9952)
  velox/docs/develop/vectors.rst
Owners: @prestodb/committers

Fix typos in Spark function documentation (#9981)
  velox/docs/functions/spark/array.rst
  velox/docs/functions/spark/binary.rst
  velox/docs/functions/spark/map.rst
  velox/docs/functions/spark/math.rst
  velox/docs/functions/spark/regexp.rst
  velox/docs/functions/spark/string.rst
  velox/docs/functions/spark/url.rst
Owners: @prestodb/committers

Fix FlatVector<T>::setNull API (#9983)
  velox/vector/FlatVector.h
  velox/vector/tests/VectorTest.cpp
Owners: @prestodb/committers

Add support for VARBINARY input to approx_distinct Presto aggregate function (#9834)
  velox/functions/prestosql/aggregates/ApproxDistinctAggregate.cpp
  velox/functions/prestosql/aggregates/tests/ApproxDistinctTest.cpp
Owners: @prestodb/committers
