Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

Use dedicated timeout thread for LocalExchangeSource (#8293)
  velox/exec/tests/ExchangeClientTest.cpp
  velox/exec/tests/ExchangeFuzzer.cpp
  velox/exec/tests/utils/LocalExchangeSource.cpp
  velox/exec/tests/utils/LocalExchangeSource.h
Owners: @prestodb/committers

Randomize fetch data from exchange sources (#8480)
  velox/exec/Exchange.cpp
  velox/exec/Exchange.h
Owners: @prestodb/committers

[native] Add 'server/setState' and 'server/announcer' server operations.
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.h
  presto-native-execution/presto_cpp/main/ServerOperation.cpp
  presto-native-execution/presto_cpp/main/ServerOperation.h
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

[native] Use folly::dynamic as propagation media for printing
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

[native] Use folly::dynamic as propagation media for printing
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
  presto-native-execution/presto_cpp/main/PrestoTask.h
Owners: @prestodb/team-velox

[native] Add ngrams e2e tests.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

[native] Add ngrams e2e tests.
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeGeneralQueries.java
Owners: @prestodb/team-velox

[native] Remove an unused include.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

[native] Remove an unused include.
  presto-native-execution/presto_cpp/main/common/Configs.cpp
Owners: @prestodb/team-velox

Skip load data into an inactive destination buffer with notify installed (#8532)
  velox/exec/OutputBuffer.cpp
  velox/exec/OutputBuffer.h
  velox/exec/OutputBufferManager.cpp
  velox/exec/OutputBufferManager.h
  velox/exec/tests/OutputBufferManagerTest.cpp
Owners: @prestodb/committers

Add memory reclaim stats in TaskStats (#8497)
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/TaskStats.h
  velox/exec/tests/TaskTest.cpp
Owners: @prestodb/committers

migrate from FOLLY_FALLTHROUGH to [[fallthrough]] (assorted) (#8555)
  velox/dwio/dwrf/writer/WriterContext.h
Owners: @prestodb/committers

[native] Add http request active check when fetch data from output buffer manager
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

[native] Add http request active check when fetch data from output buffer manager
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

[native] Add http request active check when fetch data from output buffer manager
  presto-native-execution/presto_cpp/main/PrestoTask.h
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/QueryContextCacheTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
Owners: @prestodb/team-velox

[native] Change to use the new named spillWrites stat
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

Tune down the print frequency of SharedArbitrator reclaim (#8556)
  velox/exec/SharedArbitrator.cpp
Owners: @prestodb/committers

migrate from FOLLY_FALLTHROUGH to [[fallthrough]] (assorted)
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
Owners: @prestodb/team-velox

Fix build error introduced by D53063554 (#8541)
  velox/exec/Task.cpp
  velox/exec/tests/TaskTest.cpp
Owners: @prestodb/committers

Remove extra isNullAt check in cast (#8557)
  velox/expression/CastExpr-inl.h
Owners: @prestodb/committers

Optimize LIKE for more relaxed patterns (#8050)
  velox/benchmarks/basic/LikeBenchmark.cpp
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Owners: @prestodb/committers

[native] Add memory reclaim stats to task runtime stats
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native] Change to use the new named spillWrites stat
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Change to use the new named spillWrites stat
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native pos] Bind native execution process to specific interface
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionNodeConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

Expose getResults metrics in AsyncPageTransportServlet
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Owners: @prestodb/committers

Expose getResults metrics in AsyncPageTransportServlet
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportServlet.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Owners: @prestodb/committers

Remove blocking implementation of /v1/task/<id>/results
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/HttpRpcShuffleClient.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportForwardFilter.java
  presto-main/src/main/java/com/facebook/presto/server/PagesResponseWriter.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClientConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPageBufferClient.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestAsyncPageTransportQueries.java
Owners: @prestodb/committers

Remove blocking implementation of /v1/task/<id>/results
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClient.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientConfig.java
  presto-main/src/main/java/com/facebook/presto/operator/ExchangeClientFactory.java
  presto-main/src/main/java/com/facebook/presto/operator/HttpRpcShuffleClient.java
  presto-main/src/main/java/com/facebook/presto/operator/PageBufferClient.java
  presto-main/src/main/java/com/facebook/presto/server/AsyncPageTransportForwardFilter.java
  presto-main/src/main/java/com/facebook/presto/server/PagesResponseWriter.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClientConfig.java
  presto-main/src/test/java/com/facebook/presto/operator/TestExchangeOperator.java
  presto-main/src/test/java/com/facebook/presto/operator/TestPageBufferClient.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestAsyncPageTransportQueries.java
Owners: @prestodb/committers

Ensure Prestissimo builds with fmt version 10.
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoQueryRunner.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

[native] Add memory reclaim stats to task runtime stats
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native] Add memory reclaim stats to task runtime stats
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native] enable to report live task stats
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native pos] Bind native execution process to specific interface
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionNodeConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

[native pos] Bind native execution process to specific interface
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/DetachedNativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcess.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/nativeprocess/NativeExecutionProcessFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionNodeConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionSystemConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/task/PrestoSparkNativeTaskExecutorFactory.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/TestNativeExecutionProcess.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/http/TestPrestoSparkHttpClient.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @prestodb/team-velox, @shrinidhijoshi, @prestodb/committers

Combine `testComplexCast` with `testCast` (#8254)
  velox/expression/tests/CastExprTest.cpp
  velox/functions/prestosql/tests/CastBaseTest.h
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/tests/TimestampWithTimeZoneCastTest.cpp
  velox/functions/sparksql/tests/SparkCastExprTest.cpp
Owners: @prestodb/committers

Fix min_by/max_by for window function evaluation
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/TypedKeyValueHeap.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/minmaxby/AbstractMinMaxByNAggregationFunction.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

[native] Add 'server/setState' and 'server/announcer' server operations.
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.h
  presto-native-execution/presto_cpp/main/ServerOperation.cpp
  presto-native-execution/presto_cpp/main/ServerOperation.h
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

[native] Add 'server/setState' and 'server/announcer' server operations.
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicServiceInventoryManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/PrestoServerOperations.cpp
  presto-native-execution/presto_cpp/main/PrestoServerOperations.h
  presto-native-execution/presto_cpp/main/ServerOperation.cpp
  presto-native-execution/presto_cpp/main/ServerOperation.h
  presto-native-execution/presto_cpp/main/tests/ServerOperationTest.cpp
Owners: @prestodb/team-velox

[native] Use 'max_output_buffer_size' instead of 'max_arbitrary_buffer_size'
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/tests/BaseVeloxQueryConfigTest.cpp
Owners: @prestodb/team-velox

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
