Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Bump tar to 4.4.19 in the router ui
  presto-router/src/main/resources/router_ui/src/yarn.lock
Owners: @prestodb/committers

Bump lodash to 4.17.21 in the router ui
  presto-router/src/main/resources/router_ui/src/yarn.lock
Owners: @prestodb/committers

Speed up cpp gihub action workflow
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

Bump path-parse to 1.0.7 in the router ui
  presto-router/src/main/resources/router_ui/src/yarn.lock
Owners: @prestodb/committers

Add sized-based split weights for Hudi connector
  presto-hudi/pom.xml
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiConfig.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSessionProperties.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplit.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/HudiSplitWeightProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/split/SizeBasedSplitWeightProvider.java
  presto-hudi/src/test/java/com/facebook/presto/hudi/split/TestSizeBasedSplitWeightProvider.java
Owners: @vinothchandar, @7c00

Fix TestHudiConfig
  presto-hudi/src/test/java/com/facebook/presto/hudi/TestHudiConfig.java
Owners: @vinothchandar, @7c00

Add history based stats tracker
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveHistoryBasedStatsTracking.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsTracker.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/HistoricalStatisticsEquivalentPlanMarkingOptimizer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/statistics/InMemoryHistoryBasedPlanStatisticsProvider.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

Last code move from presto_cpp to presto
  presto-native-execution/.clang-format
  presto-native-execution/CMakeLists.txt
  presto-native-execution/etc/catalog/hive.properties
  presto-native-execution/etc/config.properties
  presto-native-execution/etc/node.properties
  presto-native-execution/presto_cpp/main/Announcer.cpp
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
  presto-native-execution/presto_cpp/main/http/CMakeLists.txt
  presto-native-execution/presto_cpp/main/http/HttpClient.cpp
  presto-native-execution/presto_cpp/main/http/HttpClient.h
  presto-native-execution/presto_cpp/main/http/tests/HttpTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/tests/TaskManagerTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
  presto-native-execution/presto_cpp/presto_protocol/tests/Base64Test.cpp
  presto-native-execution/scripts/circleci-container.dockfile
  presto-native-execution/scripts/setup-circleci.sh
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveWindowQueries.java
Owners: @prestodb/team-velox

Handle null pointer when schema name is null
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMetadata.java
Owners: @prestodb/committers

Address review comments
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSessionProperties.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @vinothchandar, @7c00

Optimize non null filter implementation in orc readers
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDictionarySelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/LongDirectSelectiveStreamReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SelectiveReaderContext.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDictionarySelectiveReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/reader/SliceDirectSelectiveStreamReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestSelectiveOrcReader.java
Owners: @prestodb/committers

Fix sort for unpartitioned window with order by clause
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddLocalExchanges.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/StreamPropertyDerivations.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestEliminateSorts.java
Owners: @prestodb/committers

Add native worker-specific github workflows
  .clang-format
  .github/workflows/test-native-specific.yml
  .github/workflows/test-native.yml
  license.header
  presto-native-execution/Makefile
Owners: @prestodb/committers, @prestodb/team-releases, @prestodb/team-velox

Upgrade alluxio to 2.8.1 to fix security vulnerabilities
  pom.xml
  presto-cache/src/main/java/com/facebook/presto/cache/alluxio/AlluxioCachingConfigurationProvider.java
  presto-cache/src/main/java/com/facebook/presto/cache/alluxio/CacheValidatingInputStream.java
  presto-cache/src/test/java/com/facebook/presto/cache/alluxio/ByteArraySeekableStream.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/alluxio/AlluxioMetastoreModule.java
Owners: @prestodb/committers

Optimize ORC StructSelectiveStreamReader.getRetainedSizeInBytes
  presto-orc/src/main/java/com/facebook/presto/orc/reader/StructSelectiveStreamReader.java
Owners: @prestodb/committers

Add canonicalization for union nodes
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanHashes.java
  presto-main/src/main/java/com/facebook/presto/execution/FragmentResultCacheContext.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CachingPlanHasher.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanHashes.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestHistoryBasedStatsTracking.java
Owners: @prestodb/committers

SimpleMemoryTracker that basically wraps an atomic
  velox/common/memory/MemoryUsageTracker.cpp
  velox/common/memory/MemoryUsageTracker.h
Owners: @prestodb/committers

Fix bison and flex dependencies in MacOS CI (#2442)
  .circleci/config.yml
Owners: @prestodb/committers

Extend spiller to support hash join spilling (#2433)
  velox/common/base/AsyncSource.h
  velox/common/file/File.cpp
  velox/common/file/FileSystems.cpp
  velox/exec/GroupingSet.cpp
  velox/exec/HashBitRange.h
  velox/exec/OrderBy.cpp
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/Spiller.cpp
  velox/exec/Spiller.h
  velox/exec/tests/HashBitRangeTest.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[native] Fix protocol generation script.
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
Owners: @prestodb/team-velox

[native] Fix protocol generation script.
  presto-native-execution/presto_cpp/presto_protocol/java-to-struct-json.py
Owners: @prestodb/team-velox

Add support for arrays and maps in VALUES clause
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Enahnce error messages in AbstractTestHiveQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
Owners: @prestodb/team-velox

Enhance error messages in HiveExternalWorkerQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
Owners: @prestodb/team-velox

Disable flaky presto-spark test
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
Owners: @prestodb/committers

Fix format check targets in Makefile and delete gen-pom-xml.sh and its target
  .github/workflows/test-native-specific.yml
  presto-native-execution/Makefile
  presto-native-execution/scripts/gen-pom-xml.sh
Owners: @prestodb/team-releases, @prestodb/team-velox

Fix format check targets in Makefile and delete gen-pom-xml.sh and its target
  .github/workflows/test-native-specific.yml
  presto-native-execution/Makefile
  presto-native-execution/scripts/gen-pom-xml.sh
Owners: @prestodb/team-releases, @prestodb/team-velox

Fix TaskResource to convert TaskInfo response to thrift
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
Owners: @prestodb/committers

Add support for arrays and maps in VALUES clause
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Enhance error messages in HiveExternalWorkerQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
Owners: @prestodb/team-velox

Enahnce error messages in AbstractTestHiveQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
Owners: @prestodb/team-velox

Add support for arrays and maps in VALUES clause
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Enahnce error messages in AbstractTestHiveQueries
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
Owners: @prestodb/team-velox

Enhance error messages in HiveExternalWorkerQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
Owners: @prestodb/team-velox

Introduce pluggable PoS error classifier interface
  presto-spark-base/src/main/java/com/facebook/presto/spark/ErrorClassifier.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
Owners: @prestodb/committers

Add TaskInfo thrift support for HttpRemoteTask
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
Owners: @prestodb/committers

Add analysis context for configurations
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/AnalysisContext.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestColumnAndSubfieldAnalyzer.java
Owners: @prestodb/committers

Disable flaky presto-spark test
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
Owners: @prestodb/committers
