Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Support TimestampWithTimezone in Presto date_format function (#2560)
  velox/docs/functions/datetime.rst
  velox/functions/prestosql/DateTimeFunctions.h
  velox/functions/prestosql/registration/DateTimeFunctionsRegistration.cpp
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Owners: @prestodb/committers

Add statistics about supported and unsupported function counts to expression fuzzer (#2562)
  velox/expression/tests/ExpressionFuzzer.cpp
Owners: @prestodb/committers

Push RemoteExchange down through GroupId
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushRemoteExchangeThroughGroupId.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/GroupIdMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestOptimizeMixedDistinctAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[native] Clarify README for presto native execution
  presto-native-execution/README.md
Owners: @prestodb/team-velox

[native] Clarify README for presto native execution
  presto-native-execution/README.md
Owners: @prestodb/team-velox

Minor refactor for Expr class (#2514)
  velox/expression/Expr.h
Owners: @prestodb/committers

[native] Advance Velox version. - Advance Velox version. - Temporary disable format checks for presto native until we fix the image. To unblock development.
  .github/workflows/test-native-specific.yml
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-releases, @prestodb/team-velox

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

[native] Advance Velox version. - Advance Velox version. - Temporary disable format checks for presto native until we fix the image. To unblock development.
  .github/workflows/test-native-specific.yml
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-releases, @prestodb/team-velox

[native] Advance Velox version. - Advance Velox version. - Temporary disable format checks for presto native until we fix the image. To unblock development.
  .github/workflows/test-native-specific.yml
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-releases, @prestodb/team-velox

Add DECIMAL divide function (#2330)
  velox/common/base/CheckedArithmetic.h
  velox/functions/prestosql/DecimalArithmetic.cpp
  velox/functions/prestosql/registration/ArithmeticFunctionsRegistration.cpp
  velox/functions/prestosql/tests/DecimalArithmeticTest.cpp
  velox/type/UnscaledLongDecimal.h
  velox/type/UnscaledShortDecimal.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Fix handling of lazy vectors in FilterProject operator (#2561)
  velox/exec/FilterProject.cpp
  velox/exec/FilterProject.h
  velox/exec/tests/FilterProjectTest.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
Owners: @prestodb/committers

Fix ExceptionContext to handle messageFunc that throws (#2578)
  velox/common/base/VeloxException.h
  velox/common/base/tests/ExceptionTest.cpp
Owners: @prestodb/committers

Push RemoteExchange down through GroupId
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushRemoteExchangeThroughGroupId.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/GroupIdMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestOptimizeMixedDistinctAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Push RemoteExchange down through GroupId
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushRemoteExchangeThroughGroupId.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/plan/Patterns.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestLogicalPlanner.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/GroupIdMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/optimizations/TestOptimizeMixedDistinctAggregations.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Optimize multiple approx_percentile on the same column
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/SqlMultipleApproxPercentileBenchmarks.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/CombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/ExpressionMatcher.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/PlanMatchPattern.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/assertions/RowExpressionVerifier.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestCombineApproxPercentileFunctions.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add support for flattening concat and similar function calls (#2551)
  velox/expression/ExprCompiler.cpp
  velox/expression/VectorFunction.cpp
  velox/expression/VectorFunction.h
  velox/expression/tests/ExprCompilerTest.cpp
  velox/expression/tests/ExprTest.cpp
  velox/functions/prestosql/StringFunctions.cpp
Owners: @prestodb/committers

Document flattening of concat-like functions (#2557)
  velox/docs/develop/expression-evaluation.rst
Owners: @prestodb/committers

Add benchmark for concat Presto function (#2582)
  velox/functions/prestosql/benchmarks/CMakeLists.txt
  velox/functions/prestosql/benchmarks/ConcatBenchmark.cpp
Owners: @prestodb/committers

Fix docker-compose building process (#2568)
  scripts/setup-ubuntu.sh
Owners: @prestodb/committers

Refactor JSON functions to use parameter array
  presto-main/src/main/java/com/facebook/presto/json/ir/IrNamedJsonVariable.java
  presto-main/src/main/java/com/facebook/presto/json/ir/IrNamedValueVariable.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/json/JsonExistsFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/json/JsonQueryFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/json/JsonValueFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/json/ParameterUtil.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/JsonPathEvaluator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/JsonPathTranslator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/TranslationMap.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/PathNodes.java
  presto-main/src/test/java/com/facebook/presto/type/TestJsonPath2016TypeSerialization.java
Owners: @prestodb/committers

Fix decode range in HivePartitionFunction (#2581)
  velox/connectors/hive/HivePartitionFunction.cpp
  velox/connectors/hive/tests/HivePartitionFunctionTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add IntegerVariable support for FunctionSignature and Binding (#2544)
  velox/exec/tests/ParseTypeSignatureTest.cpp
  velox/expression/FunctionSignature.cpp
  velox/expression/FunctionSignature.h
  velox/expression/SignatureBinder.cpp
  velox/expression/SignatureBinder.h
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/expression/tests/SignatureBinderTest.cpp
  velox/expression/type_calculation/Scanner.h
  velox/expression/type_calculation/TypeCalculation.h
  velox/expression/type_calculation/TypeCalculation.ll
  velox/functions/prestosql/DecimalArithmetic.cpp
  velox/functions/prestosql/aggregates/SumAggregate.h
Owners: @prestodb/committers

Change argument type of CastExpr::applyDecimal from DecodedVector to BaseVector (#2437)
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
Owners: @prestodb/committers

Combine multiple code paths of casting for different types (#2424)
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
Owners: @prestodb/committers

Fix CAST in TRY caused by peeling of input encoding (#2423)
  velox/expression/CastExpr.cpp
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/tests/CastExprTest.cpp
  velox/functions/prestosql/tests/CastBaseTest.h
  velox/functions/prestosql/tests/JsonCastTest.cpp
Owners: @prestodb/committers

Refactor JsonCastOperator to initialize the result vector inside (#2463)
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/functions/prestosql/types/JsonType.cpp
  velox/functions/prestosql/types/JsonType.h
Owners: @prestodb/committers

Refactor CastExpr to peel off encodings of primitive-typed input (#2462)
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/expression/tests/CastExprTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Optimize concat Presto function with consecutive constant inputs (#2584)
  velox/expression/VectorFunction.h
  velox/functions/prestosql/StringFunctions.cpp
  velox/functions/prestosql/benchmarks/ConcatBenchmark.cpp
  velox/functions/prestosql/tests/StringFunctionsTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add complex type support for fuzzConstant() (#2577)
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/tests/CMakeLists.txt
  velox/vector/fuzzer/tests/VectorFuzzerTest.cpp
Owners: @prestodb/committers

Add encoding preserving serialization for vectors (#2563)
  velox/vector/CMakeLists.txt
  velox/vector/VectorSaver.cpp
  velox/vector/VectorSaver.h
  velox/vector/tests/CMakeLists.txt
  velox/vector/tests/VectorSaverTest.cpp
Owners: @prestodb/committers

Use Conbench to alert about benchmark regressions on all commits (#2468)
  .circleci/config.yml
  Makefile
  scripts/benchmark-github-status.py
  scripts/benchmark-runner.py
  scripts/veloxbench/veloxbench/cpp_micro_benchmarks.py
  scripts/veloxbench/veloxbench/implemented_benchmarks.py
  scripts/veloxbench/veloxbench/tests/test_cpp_micro_benchmarks.py
Owners: @prestodb/committers

Parallelize Join Hash Table Build (#2406)
  velox/common/base/BitUtil.h
  velox/common/base/tests/BitUtilTest.cpp
  velox/common/memory/MappedMemory.cpp
  velox/common/memory/MappedMemory.h
  velox/exec/HashBuild.cpp
  velox/exec/HashTable.cpp
  velox/exec/HashTable.h
  velox/exec/RowContainer.cpp
  velox/exec/RowContainer.h
  velox/exec/tests/HashTableTest.cpp
  velox/exec/tests/RowContainerTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers
