Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Fix Presto to Velox LongDecimal conversion
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
Owners: @prestodb/team-velox

Add monthly update for August 2022 (#2477)
  velox/docs/develop/operators.rst
  velox/docs/monthly-updates.rst
  velox/docs/monthly-updates/august-2022.rst
Owners: @prestodb/committers

Fix ShortDecimal Type and LongDecimal Type limits (#2467)
  velox/common/base/tests/GTestUtils.h
  velox/expression/tests/CastExprTest.cpp
  velox/functions/prestosql/tests/DecimalArithmeticTest.cpp
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/tests/PrestoSerializerTest.cpp
  velox/type/DecimalUtil.cpp
  velox/type/UnscaledLongDecimal.h
  velox/type/UnscaledShortDecimal.h
  velox/type/tests/DecimalTest.cpp
Owners: @prestodb/committers

Add CREATE TABLE support to Delta connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnector.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTableProperties.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-docs/src/main/sphinx/connector/deltalake.rst
Owners: @prestodb/committers, @prestodb/team-releases

Fix Presto to Velox LongDecimal conversion
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
Owners: @prestodb/team-velox

Fix Presto to Velox LongDecimal conversion
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
Owners: @prestodb/team-velox

Add isVectorWritable function to BaseVector (#2232)
  velox/benchmarks/basic/Preproc.cpp
  velox/exec/HashProbe.cpp
  velox/expression/Expr.h
  velox/expression/SimpleFunctionAdapter.h
  velox/functions/lib/StringEncodingUtils.cpp
  velox/vector/BaseVector.cpp
  velox/vector/BaseVector.h
  velox/vector/BiasVector.h
  velox/vector/ComplexVector.cpp
  velox/vector/ComplexVector.h
  velox/vector/ConstantVector.h
  velox/vector/DictionaryVector.h
  velox/vector/FlatVector.h
  velox/vector/SequenceVector.h
  velox/vector/SimpleVector.h
  velox/vector/VectorPool.cpp
  velox/vector/arrow/tests/ArrowBridgeArrayTest.cpp
  velox/vector/tests/CMakeLists.txt
  velox/vector/tests/IsWritableVectorTest.cpp
Owners: @prestodb/committers

[PrestoOnSpark] Record prestoOnSparkTaskBootstrap time
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/IPrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskBootstrapStats.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskProcessor.java
Owners: @prestodb/committers

--amend
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/IPrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskBootstrapStats.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskProcessor.java
Owners: @prestodb/committers

--amend
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
Owners: @prestodb/committers

--amend
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskProcessor.java
Owners: @prestodb/committers

--amend
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
Owners: @prestodb/committers

--amend
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
Owners: @prestodb/committers

Fix handling of common sub expressions and encoded input (#2389)
  velox/expression/EvalCtx.cpp
  velox/expression/EvalCtx.h
  velox/expression/Expr.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Fix rare 'Output buffers for task not found' error (#2488)
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/MultiFragmentTest.cpp
Owners: @prestodb/committers

Add documentation for Right Semi Join (#2490)
  velox/docs/develop/joins.rst
Owners: @prestodb/committers

Add array find UDF
  presto-docs/src/main/sphinx/functions/array.rst
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstFirstFunction.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayFindFirstWithOffsetFunction.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestArrayFindFirstFunction.java
Owners: @prestodb/team-releases, @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Decouple vectors from VectorStream.h (#2483)
  velox/exec/Exchange.cpp
  velox/exec/MergeSource.cpp
  velox/exec/PartitionedOutput.h
  velox/exec/Spill.h
  velox/vector/BaseVector.h
  velox/vector/ComplexVector.cpp
  velox/vector/RowSerde.h
  velox/vector/VectorStream.cpp
  velox/vector/VectorStream.h
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Fix tsan race in AsyncSource and advanceSpill (#2493)
  velox/common/base/AsyncSource.h
  velox/exec/Spiller.cpp
Owners: @prestodb/committers

Minor update for FuctionRegistry (#2484)
  velox/expression/FunctionRegistry.h
Owners: @prestodb/committers

Const correctness for FunctionRegistry (#2481)
  velox/expression/FunctionRegistry.h
  velox/functions/FunctionRegistry.cpp
Owners: @prestodb/committers

Remove XXX__VECTOR_SERDE macros (#2492)
  velox/serializers/PrestoSerializer.cpp
  velox/vector/VectorStream.h
Owners: @prestodb/committers

Load resource from jars using classloader
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
Owners: @prestodb/committers

Add config to fallback to simple node selection when using TTL based scheduling
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelectorConfig.java
  presto-main/src/test/java/com/facebook/presto/execution/TestNodeScheduler.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/nodeselection/TestSimpleTtlNodeSelectorConfig.java
Owners: @prestodb/committers

Refactor to improve readability of QueryRunners
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestUtils.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergQueryRunner.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergMetadataListing.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergOrcMetricsCollection.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestJdbcConnection.java
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java
  presto-raptor/src/main/java/com/facebook/presto/raptor/filesystem/LocalFileStorageService.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/RaptorQueryRunner.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Load resource from jars using classloader
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
Owners: @prestodb/committers

Load resource from jars using classloader
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
Owners: @prestodb/committers

Remove useless variable of VELOX_BUILD_BENCHMARKS_LARGE (#2454)
  CMakeLists.txt
Owners: @prestodb/committers

Add DROP Table support for External table in Delta Connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
Owners: @prestodb/committers

Fix TSAN errors in MmapAllocator (#2482)
  velox/common/memory/MmapAllocator.h
  velox/common/memory/tests/MappedMemoryTest.cpp
Owners: @prestodb/committers

Remove alias copy in registering function (#2497)
  velox/expression/FunctionRegistry.h
Owners: @prestodb/committers

Avoid ref increment in accessing function metadata (#2485)
  velox/expression/ExprCompiler.cpp
  velox/expression/FunctionRegistry.h
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/functions/FunctionRegistry.cpp
Owners: @prestodb/committers

Fix TSAN error in AsyncSource (#2480)
  velox/common/base/AsyncSource.h
Owners: @prestodb/committers

Move registration of a test specific UDF to its appropriate test file (#2486)
  velox/functions/prestosql/benchmarks/ArraySumBenchmark.cpp
  velox/functions/prestosql/registration/ArrayFunctionsRegistration.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Optimize memory allocations in 'concat' Presto function (#2498)
  velox/functions/lib/string/StringImpl.h
  velox/functions/lib/string/tests/StringImplTest.cpp
  velox/functions/prestosql/StringFunctions.cpp
  velox/functions/prestosql/tests/StringFunctionsTest.cpp
  velox/vector/tests/VectorTestBase.h
Owners: @prestodb/committers

Add UnsafeRow serializer (#2491)
  velox/row/UnsafeRowDynamicSerializer.h
  velox/serializers/CMakeLists.txt
  velox/serializers/UnsafeRowSerializer.cpp
  velox/serializers/UnsafeRowSerializer.h
  velox/serializers/tests/CMakeLists.txt
  velox/serializers/tests/UnsafeRowSerializerTest.cpp
Owners: @prestodb/committers

Fix DateTimeFormatter fraction of second formatting logic (#2499)
  velox/functions/lib/DateTimeFormatter.cpp
  velox/functions/lib/tests/DateTimeFormatterTest.cpp
  velox/functions/prestosql/tests/DateTimeFunctionsTest.cpp
Owners: @prestodb/committers
