Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

Fix aggregation over all-null keys with ignoreNullKeys = true (#8422)
  velox/exec/GroupingSet.cpp
  velox/exec/tests/AggregationTest.cpp
Owners: @prestodb/committers

Revert "Upgraded spring boot maven plugin and spring core version to resolve multiple CVE"
  presto-benchto-benchmarks/pom.xml
Owners: @prestodb/committers

Use same max-output-buffer-size config for all types of output buffers (#8426)
  velox/core/QueryConfig.h
  velox/exec/OutputBuffer.cpp
Owners: @prestodb/committers

Optimize Hive Connector ORC Readers and Filters using Java Vector API
  presto-common/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java
  presto-orc/pom.xml
Owners: @prestodb/committers, @sdruzkin

Introduce BaseHiveTableHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
Owners: @prestodb/committers

Rename TableType to IcebergTableType in Iceberg Connector
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableName.java
Owners: @prestodb/committers

Annotate all parameters of DeleteFile constructor with @JsonProperty
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
Owners: @prestodb/committers

Move partitionColumns to BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
Owners: @prestodb/committers

Optimize Hive Connector ORC Readers and Filters using Java Vector API
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveClientConfig.java
Owners: @prestodb/committers

Rename TableType to IcebergTableType in Iceberg Connector
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableName.java
Owners: @prestodb/committers

Move partitionColumns to BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
Owners: @prestodb/committers

Annotate all parameters of DeleteFile constructor with @JsonProperty
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
Owners: @prestodb/committers

Annotate all parameters of DeleteFile constructor with @JsonProperty
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/delete/DeleteFile.java
Owners: @prestodb/committers

Rename TableType to IcebergTableType in Iceberg Connector
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableName.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableType.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergTableName.java
Owners: @prestodb/committers

Introduce BaseHiveTableHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
Owners: @prestodb/committers

Move partitionColumns to BaseHiveTableLayoutHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableLayoutHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
Owners: @prestodb/committers

Introduce BaseHiveTableHandle
  presto-hive-common/src/main/java/com/facebook/presto/hive/BaseHiveTableHandle.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/HiveTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergNativeMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergSplitManager.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableHandle.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/TableStatisticsMaker.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizer.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergLogicalPlanner.java
Owners: @prestodb/committers

Remove duplicate code for getting Iceberg table of various catalogTypes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
Owners: @prestodb/committers

Remove duplicate code for getting Iceberg table of various catalogTypes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
Owners: @prestodb/committers

Presto serializer code cleanup (#8420)
  velox/common/base/BitUtil.cpp
  velox/common/base/BitUtil.h
  velox/common/base/Scratch.h
  velox/common/base/SimdUtil.cpp
  velox/common/base/SimdUtil.h
  velox/common/memory/ByteStream.cpp
  velox/common/memory/ByteStream.h
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/PrestoSerializer.h
  velox/vector/ComplexVector.cpp
Owners: @prestodb/committers

Document setNoCopy and setEmpty Simple Function APIs (#8382)
  velox/docs/develop/scalar-functions.rst
Owners: @prestodb/committers

Clear hash table for each spilled partition in RowNumber (#8413)
  velox/exec/RowNumber.cpp
  velox/exec/tests/RowNumberTest.cpp
Owners: @prestodb/committers

Add kPartitionPathAsLowerCase to control whether make the partition path as lower case (#8409)
  velox/connectors/hive/HiveConfig.cpp
  velox/connectors/hive/HiveConfig.h
  velox/connectors/hive/HiveDataSink.cpp
  velox/docs/configs.rst
Owners: @prestodb/committers

Add hour Spark Function (#8237)
  velox/docs/functions/spark/datetime.rst
  velox/functions/sparksql/DateTimeFunctions.h
  velox/functions/sparksql/Register.cpp
  velox/functions/sparksql/tests/DateTimeFunctionsTest.cpp
Owners: @prestodb/committers

Add new config API in AssertQueryBuilder (#8431)
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/OrderByTest.cpp
  velox/exec/tests/RowNumberTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.cpp
  velox/exec/tests/utils/AssertQueryBuilder.h
Owners: @prestodb/committers

[AutoAccept][Codemod][ThriftFormatFBSource] fbcode/github/presto-trunk/presto-docs/src/main/sphinx/include
  presto-docs/src/main/sphinx/include/PrestoThriftService.thrift
Owners: @prestodb/committers

Extract the task utilities to ArbitratorTestUtil (#8417)
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
Owners: @prestodb/committers

[native] Fix exchange source close race condition
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

Add WarningCollector to MetastoreContext
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreContext.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/SyncPartitionMetadataProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/MetastoreHiveStatisticsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRegisterProcedure.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlUtils.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControl.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControlContext.java
Owners: @prestodb/committers, @agrawalreetika, @vinothchandar, @7c00, @shrinidhijoshi

Add WarningCollector to MetastoreContext
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreContext.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePageSinkProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java
  presto-hive/src/main/java/com/facebook/presto/hive/SyncPartitionMetadataProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/statistics/MetastoreHiveStatisticsProvider.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/HiveQueryRunner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewUtils.java
  presto-hive/src/test/java/com/facebook/presto/hive/geospatial/TestSpatialJoins.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergUtil.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergRegisterProcedure.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlUtils.java
  presto-main/src/test/java/com/facebook/presto/security/TestAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControl.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControlContext.java
Owners: @prestodb/committers, @agrawalreetika, @vinothchandar, @7c00, @shrinidhijoshi

[native] Enable hive.allow-drop-table in NativeQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/team-velox

Treat timestamp partition value as local time (#8432)
  velox/connectors/hive/HiveConnectorUtil.h
  velox/connectors/hive/SplitReader.cpp
  velox/exec/tests/TableScanTest.cpp
  velox/type/Timestamp.cpp
  velox/type/Timestamp.h
Owners: @prestodb/committers

Fix simd::gatherBits for Mac M1 or when AVX2 is disabled (#8415)
  velox/common/base/SimdUtil.cpp
Owners: @prestodb/committers

[native] Enable hive.allow-drop-table in NativeQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/team-velox

[native] Enable hive.allow-drop-table in NativeQueryRunner
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/PrestoNativeQueryRunnerUtils.java
Owners: @prestodb/team-velox

Remove unused variables in velox/functions/lib/DateTimeFormatter.cpp (#8436)
  velox/functions/lib/DateTimeFormatter.cpp
Owners: @prestodb/committers

Remove unused function from velox/functions/FunctionRegistry.cpp (#8444)
  velox/functions/FunctionRegistry.cpp
Owners: @prestodb/committers

Remove unused function from velox/parse/Expressions.cpp (#8442)
  velox/parse/Expressions.cpp
Owners: @prestodb/committers

Remove unused function from velox/tpch/gen/dbgen/text.cpp (#8441)
  velox/tpch/gen/dbgen/text.cpp
Owners: @prestodb/committers

Remove unused variables in velox/common/memory/MemoryArbitrator.cpp (#8440)
  velox/common/memory/MemoryArbitrator.cpp
Owners: @prestodb/committers
