Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

Fix error `java.lang.OutOfMemoryError: Compressed class space`
  .circleci/continue_config.yml
Owners: @prestodb/committers

Expose Rest API to return metrics in prometheus format
  presto-native-execution/etc/config.properties
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
  presto-native-execution/presto_cpp/main/common/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/common/PrometheusStatsReporter.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/PrometheusStatsReporterTest.cpp
Owners: @prestodb/team-velox

[Native] Prometheus exporter using prometheus-cpp client
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.cpp
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.h
  presto-native-execution/presto_cpp/main/common/prometheus-metrics/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/prometheus-metrics/PrometheusReporter.cpp
  presto-native-execution/presto_cpp/main/common/prometheus-metrics/PrometheusReporter.h
  presto-native-execution/presto_cpp/main/common/prometheus-metrics/PrometheusReporterTest.cpp
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/StatsReporterImplTest.cpp
  presto-native-execution/scripts/setup-macos.sh
Owners: @prestodb/team-velox

Overwrite gauge metrics instead of batching them
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/common/PrometheusStatsReporter.cpp
  presto-native-execution/presto_cpp/main/common/PrometheusStatsReporter.h
Owners: @prestodb/team-velox

Refactor PrometheusStatsReporter to StatsReporterImpl"
  presto-native-execution/etc/config.properties
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/CMakeLists.txt
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.cpp
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.h
  presto-native-execution/presto_cpp/main/tests/CMakeLists.txt
  presto-native-execution/presto_cpp/main/tests/StatsReporterImplTest.cpp
Owners: @prestodb/team-velox

Prometheus serializer
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.cpp
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.h
  presto-native-execution/presto_cpp/main/tests/StatsReporterImplTest.cpp
Owners: @prestodb/team-velox

Add new Serializer interface
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PrestoMain.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/StatsReporterImpl.h
Owners: @prestodb/team-velox

Add limit to merge function for KHyperLogLog
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogStateFactory.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/MergeKHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Make group number limit for khyperloglog_agg feature config controlled
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogAggregationFunction.java
  presto-main/src/main/java/com/facebook/presto/type/khyperloglog/KHyperLogLogWithLimitAggregationFunction.java
  presto-main/src/test/java/com/facebook/presto/type/khyperloglog/TestKHyperLogLogAggregationFunction.java
Owners: @prestodb/committers

[native] Update presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/MergeJoinNode.hpp.inc
Owners: @prestodb/team-velox

[native] Modify protocol::JoinNodeType to protocol::JoinType
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

Make DuckDbQueryRunner.createTable flush once after all rows are written instead of after every row (#8611)
  velox/exec/tests/utils/QueryAssertions.cpp
Owners: @prestodb/committers

Change cast(double as json) to pad 0 and use scientific notation (#8498)
  velox/docs/functions/presto/json.rst
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/JsonType.cpp
  velox/type/Conversions.h
Owners: @prestodb/committers

Make runtime stats available for DirectoryLister
  presto-hive/src/main/java/com/facebook/presto/hive/HiveDirectoryContext.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
Owners: @prestodb/committers

Make runtime stats available for DirectoryLister
  presto-hive/src/main/java/com/facebook/presto/hive/HiveDirectoryContext.java
  presto-hive/src/main/java/com/facebook/presto/hive/ManifestPartitionLoader.java
  presto-hive/src/main/java/com/facebook/presto/hive/StoragePartitionLoader.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHudiDirectoryLister.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
Owners: @prestodb/committers

Break up AllTypes.nonSortedSpillFunctions test (#8621)
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Cleanup circleci script (#8618)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Add flag for registering Presto compatible signatures for Bitwise_*_agg functions (#8491)
  velox/functions/lib/aggregates/BitwiseAggregateBase.h
  velox/functions/prestosql/aggregates/BitwiseAggregates.cpp
  velox/functions/prestosql/aggregates/BitwiseXorAggregate.cpp
  velox/functions/prestosql/aggregates/RegisterAggregateFunctions.cpp
  velox/functions/prestosql/aggregates/RegisterAggregateFunctions.h
  velox/functions/prestosql/aggregates/tests/AggregationFunctionRegTest.cpp
  velox/functions/prestosql/fuzzer/AggregationFuzzerTest.cpp
  velox/functions/sparksql/aggregates/BitwiseXorAggregate.cpp
Owners: @prestodb/committers

[native] Add Prestissimo Dependency and Build Dockerfiles
  presto-native-execution/Makefile
  presto-native-execution/scripts/dockerfiles/dependency.dockerfile
  presto-native-execution/scripts/dockerfiles/prestissimo.dockerfile
Owners: @prestodb/team-velox

Fix doc-gen-job so that it has 3 retries before failing. (#7706)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Eliminate redundant Expr::addNulls calls (#8616)
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/functions/prestosql/TransformKeys.cpp
Owners: @prestodb/committers

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/committers, @prestodb/team-velox

[SubCluster] Rename NodeMap to NodeSet
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeAssignmentStats.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeSet.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/SimpleTtlNodeSelector.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/nodeSelection/TopologyAwareNodeSelector.java
Owners: @prestodb/committers

Refactor ParquetData and PageReader to use FileMetaDataPtr (#8525)
  velox/dwio/parquet/reader/CMakeLists.txt
  velox/dwio/parquet/reader/Metadata.cpp
  velox/dwio/parquet/reader/Metadata.h
  velox/dwio/parquet/reader/PageReader.cpp
  velox/dwio/parquet/reader/PageReader.h
  velox/dwio/parquet/reader/ParquetData.cpp
  velox/dwio/parquet/reader/ParquetData.h
  velox/dwio/parquet/reader/ParquetReader.cpp
  velox/dwio/parquet/reader/ParquetReaderUtil.cpp
  velox/dwio/parquet/reader/ParquetReaderUtil.h
  velox/dwio/parquet/tests/reader/ParquetPageReaderTest.cpp
Owners: @prestodb/committers

[native] Update presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/MergeJoinNode.hpp.inc
Owners: @prestodb/team-velox

[native] Modify protocol::JoinNodeType to protocol::JoinType
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

[native] Update presto protocol
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/presto_cpp/presto_protocol/special/MergeJoinNode.hpp.inc
Owners: @prestodb/team-velox

[native] Modify protocol::JoinNodeType to protocol::JoinType
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
Owners: @prestodb/team-velox

revision of redis-hbo-provider.rst
  presto-docs/src/main/sphinx/plugin/redis-hbo-provider.rst
Owners: @prestodb/committers

Minor fix for typo (#8628)
  velox/expression/ComplexWriterTypes.h
Owners: @prestodb/committers

[native] Add e2e tests for aggregate window functions
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/AbstractTestNativeWindowQueries.java
Owners: @prestodb/team-velox

Add InitGoogleTest to ExchangeFuzzer (#8612)
  velox/exec/tests/ExchangeFuzzer.cpp
Owners: @prestodb/committers

Make MultiFragmentTest.partitionedOutputWithLargeInput run faster (#8610)
  velox/exec/tests/MultiFragmentTest.cpp
Owners: @prestodb/committers

Optimize LIKE for more relaxed patterns (#8594)
  velox/benchmarks/basic/LikeBenchmark.cpp
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Owners: @prestodb/committers

[native] Export averageOutputBufferWallNanos task-level stat
  presto-native-execution/presto_cpp/main/PrestoTask.cpp
Owners: @prestodb/team-velox

[native] Fix FB_OS_VERSION in Centos Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libsodium dependency from MacOS and Ubuntu setup scripts
  presto-native-execution/scripts/setup-macos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

[native] Remove libuuid dependency from Centos and Ubuntu setup scripts
  presto-native-execution/scripts/setup-centos.sh
  presto-native-execution/scripts/setup-ubuntu.sh
Owners: @prestodb/team-velox

Deprecate spillDiskWrites (#8565)
  velox/common/base/SpillStats.h
Owners: @prestodb/committers

Measure and export resource group matching latency
  presto-resource-group-managers/src/main/java/com/facebook/presto/resourceGroups/reloading/ReloadingResourceGroupConfigurationManager.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
