Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

Add Ecosystem and ORM to docs
  presto-docs/src/main/sphinx/ecosystem.rst
  presto-docs/src/main/sphinx/ecosystem/list.rst
  presto-docs/src/main/sphinx/index.rst
  presto-docs/src/main/sphinx/orm.rst
  presto-docs/src/main/sphinx/orm/list.rst
Owners: @prestodb/committers

Improve the capacity management in memory arbitrator (#8110)
  velox/common/base/Counters.cpp
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryArbitrator.cpp
  velox/common/memory/MemoryArbitrator.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MemoryPool.h
  velox/common/memory/tests/MemoryArbitratorTest.cpp
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
  velox/docs/metrics.rst
  velox/exec/SharedArbitrator.cpp
  velox/exec/SharedArbitrator.h
  velox/exec/tests/SharedArbitratorTest.cpp
Owners: @prestodb/committers

Add ALTER TABLE SET PROPERTIES statement
  presto-analyzer/src/main/java/com/facebook/presto/sql/analyzer/utils/StatementUtils.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcClient.java
  presto-docs/src/main/sphinx/sql/alter-table.rst
  presto-hive/src/main/java/com/facebook/presto/hive/security/LegacyAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/SqlStandardAccessControl.java
  presto-main/src/main/java/com/facebook/presto/execution/SetPropertiesTask.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java
  presto-main/src/main/java/com/facebook/presto/security/AllowAllSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/security/FileBasedSystemAccessControl.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingAccessControlManager.java
  presto-main/src/test/java/com/facebook/presto/connector/MockConnectorFactory.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/security/TestFileBasedSystemAccessControl.java
  presto-parser/src/main/antlr4/com/facebook/presto/sql/parser/SqlBase.g4
  presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java
  presto-parser/src/main/java/com/facebook/presto/sql/parser/AstBuilder.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/AstVisitor.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/SetProperties.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestSqlParser.java
  presto-parser/src/test/java/com/facebook/presto/sql/parser/TestStatementBuilder.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/AllowAllAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/FileBasedAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingConnectorAccessControl.java
  presto-plugin-toolkit/src/main/java/com/facebook/presto/plugin/base/security/ForwardingSystemAccessControl.java
  presto-plugin-toolkit/src/test/java/com/facebook/presto/plugin/base/security/TestFileBasedAccessControl.java
  presto-plugin-toolkit/src/test/resources/table.json
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AccessDeniedException.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/AllowAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/DenyAllAccessControl.java
  presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java
Owners: @prestodb/committers

Implement ALTER TABLE SET PROPERTIES in ClickHouse
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseClient.java
  presto-clickhouse/src/main/java/com/facebook/presto/plugin/clickhouse/ClickHouseMetadata.java
Owners: @prestodb/committers

Fix error while accessing CSV tables when using Glue
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/HivePageSinkMetadataProvider.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/RecordingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/converter/GlueToPrestoConverter.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestRecordingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/UnimplementedHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/thrift/MockHiveMetastoreClient.java
  presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCommitHandleOutput.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMetadataFileFormatEncryptionSettings.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveSplitManager.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestingSemiTransactionalHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/TestCachingHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestGlueToPrestoConverter.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @prestodb/committers, @vinothchandar, @7c00

Modify getPartitionNames api in ExtendedHiveMetastore
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/CachingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/ExtendedHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/RecordingHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file/FileHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/glue/GlueHiveMetastore.java
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/BridgingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/TestRecordingHiveMetastore.java
  presto-hive-metastore/src/test/java/com/facebook/presto/hive/metastore/UnimplementedHiveMetastore.java
  presto-hive/src/main/java/com/facebook/presto/hive/SyncPartitionMetadataProcedure.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveFileSystem.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMetadataFileFormatEncryptionSettings.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/TestCachingHiveMetastore.java
  presto-hive/src/test/java/com/facebook/presto/hive/metastore/glue/TestHiveClientGlueMetastore.java
Owners: @prestodb/committers

Fix build
  presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java
Owners: @prestodb/committers

Fix memory reservation in hash join spill (#8174)
  velox/exec/HashBuild.cpp
Owners: @prestodb/committers

Add better check argument message for duration nanos
  presto-main/src/main/java/com/facebook/presto/execution/SplitConcurrencyController.java
Owners: @prestodb/committers

Add max_spill_bytes config (#8171)
  velox/common/base/SpillConfig.cpp
  velox/common/base/SpillConfig.h
  velox/common/base/VeloxException.h
  velox/common/base/tests/SpillConfigTest.cpp
  velox/connectors/hive/tests/HiveDataSinkTest.cpp
  velox/core/QueryConfig.h
  velox/core/QueryCtx.cpp
  velox/core/QueryCtx.h
  velox/docs/configs.rst
  velox/dwio/dwrf/test/E2EWriterTest.cpp
  velox/exec/Driver.cpp
  velox/exec/GroupingSet.cpp
  velox/exec/HashBuild.cpp
  velox/exec/HashProbe.cpp
  velox/exec/RowNumber.cpp
  velox/exec/SortBuffer.cpp
  velox/exec/SortWindowBuild.cpp
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/SpillFile.cpp
  velox/exec/SpillFile.h
  velox/exec/Spiller.cpp
  velox/exec/Spiller.h
  velox/exec/TopNRowNumber.cpp
  velox/exec/tests/AggregateSpillBenchmarkBase.cpp
  velox/exec/tests/AggregationTest.cpp
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/JoinSpillInputBenchmarkBase.cpp
  velox/exec/tests/OrderByTest.cpp
  velox/exec/tests/SortBufferTest.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/SpillerTest.cpp
  velox/vector/tests/utils/VectorTestBase.h
Owners: @prestodb/committers

Add to log reference count of active root pools (#8180)
  velox/common/memory/Memory.cpp
  velox/common/memory/tests/MemoryManagerTest.cpp
Owners: @prestodb/committers

Add log when checkpointing a ssd shard (#8183)
  velox/common/caching/SsdFile.cpp
Owners: @prestodb/committers

Add more e2e max spill bytes test (#8182)
  velox/common/base/SpillConfig.h
  velox/core/QueryCtx.cpp
  velox/core/QueryCtx.h
  velox/exec/Spill.h
  velox/exec/SpillFile.h
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/RowNumberTest.cpp
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/TopNRowNumberTest.cpp
Owners: @prestodb/committers

Add set properties support for iceberg
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergAbstractMetadata.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergTableProperties.java
Owners: @prestodb/committers

Refactor NodeScheduler to use addAll instead of iterate and add
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
Owners: @prestodb/committers

Add Docs
  presto-docs/src/main/sphinx/connector/iceberg.rst
Owners: @prestodb/committers

Implement SumIfAggregation
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/SumIfAggregation.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/TestSumIfAggregation.java
Owners: @prestodb/committers

Add License Header
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/SumIfAggregation.java
Owners: @prestodb/committers

Refactor NodeScheduler to use addAll instead of iterate and add
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
Owners: @prestodb/committers

Refactor NodeScheduler to use addAll instead of iterate and add
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/NodeScheduler.java
Owners: @prestodb/committers

Add better check argument message for duration nanos
  presto-main/src/main/java/com/facebook/presto/execution/SplitConcurrencyController.java
Owners: @prestodb/committers

Add better check argument message for duration nanos
  presto-main/src/main/java/com/facebook/presto/execution/SplitConcurrencyController.java
Owners: @prestodb/committers

Refactor spiller constructors (#8184)
  velox/common/base/SpillConfig.h
  velox/exec/GroupingSet.cpp
  velox/exec/HashBuild.cpp
  velox/exec/HashProbe.cpp
  velox/exec/RowNumber.cpp
  velox/exec/SortBuffer.cpp
  velox/exec/SortWindowBuild.cpp
  velox/exec/Spiller.cpp
  velox/exec/Spiller.h
  velox/exec/TopNRowNumber.cpp
  velox/exec/tests/AggregateSpillBenchmarkBase.cpp
  velox/exec/tests/JoinSpillInputBenchmarkBase.cpp
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Fix SharedArbitrator.taskWaitTimeout (#8195)
  velox/exec/tests/SharedArbitratorTest.cpp
Owners: @prestodb/committers

Add test cases
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/IcebergDistributedSmokeTestBase.java
Owners: @prestodb/committers

Make spillPool a member of MemoryManager (#8191)
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/tests/MemoryManagerTest.cpp
Owners: @prestodb/committers

Register memory reclaimers for parquet writer mem pools (#8166)
  velox/dwio/parquet/writer/Writer.cpp
  velox/dwio/parquet/writer/Writer.h
Owners: @prestodb/committers

Reorder IndexJoin and AddNotNullFiltersToJoinNode optimizations to avoid index join optimization
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlanOptimizers.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestIndexedQueries.java
Owners: @prestodb/committers

Refactor Consistent Hashing logic to make it simpler
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/ConsistentHashingNodeProvider.java
  presto-main/src/test/java/com/facebook/presto/execution/scheduler/TestConsistentHashingNodeProvider.java
Owners: @prestodb/committers

Add prestoVersion to session
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main/src/main/java/com/facebook/presto/connector/system/SystemConnectorSessionUtil.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/server/HttpRequestSessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/SessionContext.java
  presto-main/src/main/java/com/facebook/presto/server/SessionPropertyDefaults.java
  presto-main/src/main/java/com/facebook/presto/server/protocol/QueuedStatementResource.java
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingSession.java
  presto-main/src/test/java/com/facebook/presto/server/TestHttpRequestSessionContext.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/server/TestSessionPropertyDefaults.java
  presto-session-property-managers/src/test/java/com/facebook/presto/session/TestFileSessionPropertyManager.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionContext.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/PrestoSparkQueryRunner.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkSession.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkLauncherCommand.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunnerContext.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/main/java/com/facebook/presto/spi/session/SessionConfigurationContext.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
  presto-tests/src/test/java/com/facebook/presto/execution/TestingSessionContext.java
Owners: @prestodb/committers, @shrinidhijoshi

[native] Enable cache TTL and export stats
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Enable cache TTL and export stats
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

[native] Enable cache TTL and export stats
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.cpp
  presto-native-execution/presto_cpp/main/PeriodicTaskManager.h
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Counters.cpp
  presto-native-execution/presto_cpp/main/common/Counters.h
Owners: @prestodb/team-velox

Memory allocator management refactor (#8094)
  velox/benchmarks/tpch/TpchBenchmark.cpp
  velox/common/caching/tests/AsyncDataCacheTest.cpp
  velox/common/caching/tests/SsdFileTest.cpp
  velox/common/memory/Memory.cpp
  velox/common/memory/Memory.h
  velox/common/memory/MemoryAllocator.cpp
  velox/common/memory/MemoryAllocator.h
  velox/common/memory/MemoryPool.cpp
  velox/common/memory/MmapAllocator.h
  velox/common/memory/tests/AllocationPoolTest.cpp
  velox/common/memory/tests/ByteStreamTest.cpp
  velox/common/memory/tests/MemoryAllocatorTest.cpp
  velox/common/memory/tests/MemoryArbitratorTest.cpp
  velox/common/memory/tests/MemoryCapExceededTest.cpp
  velox/common/memory/tests/MemoryManagerTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MockSharedArbitratorTest.cpp
  velox/common/memory/tests/StreamArenaTest.cpp
  velox/dwio/dwrf/test/WriterFlushTest.cpp
  velox/exec/benchmarks/HashTableBenchmark.cpp
  velox/exec/tests/ExchangeFuzzer.cpp
  velox/exec/tests/HashJoinBridgeTest.cpp
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/utils/HiveConnectorTestBase.h
  velox/exec/tests/utils/OperatorTestBase.cpp
  velox/exec/tests/utils/OperatorTestBase.h
  velox/experimental/wave/common/tests/CudaTest.cpp
Owners: @prestodb/committers

Add VectorFuzzer::Options in VectorTestBase::createVectors (#8197)
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/vector/tests/utils/VectorTestBase.h
Owners: @prestodb/committers

Fix estimateRowSize with wrapper (#8199)
  velox/serializers/PrestoSerializer.cpp
  velox/serializers/tests/PrestoSerializerTest.cpp
Owners: @prestodb/committers

Fix join spill under split group execution mode (#8178)
  velox/exec/Driver.cpp
  velox/exec/Task.cpp
  velox/exec/Task.h
  velox/exec/tests/GroupedExecutionTest.cpp
Owners: @prestodb/committers

Update hive-apache to 3.0.0-10
  pom.xml
  presto-delta/pom.xml
  presto-hive-hadoop2/pom.xml
  presto-hive/pom.xml
  presto-hudi/pom.xml
  presto-iceberg/pom.xml
  presto-jdbc/pom.xml
  presto-native-execution/pom.xml
  presto-spark-base/pom.xml
  presto-spark-testing/pom.xml
Owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shrinidhijoshi

Guard against AppendWindow destructor throw (#8203)
  velox/common/memory/ByteStream.cpp
  velox/common/memory/ByteStream.h
  velox/common/memory/tests/ByteStreamTest.cpp
Owners: @prestodb/committers

Fix slow scale writer in Prestissimo (#8172)
  velox/exec/OutputBuffer.cpp
  velox/exec/tests/OutputBufferManagerTest.cpp
  velox/exec/tests/TaskTest.cpp
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers
