Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Make Resource Group operations executed in SingleThreadExecutor
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroup.java
  presto-main/src/main/java/com/facebook/presto/execution/resourceGroups/InternalResourceGroupManager.java
Owners: @prestodb/committers

Add auto-tuning of max executor and hash partition
  presto-spark-base/src/main/java/com/facebook/presto/spark/PhysicalResourceSettings.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkPhysicalResourceCalculator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkStaticQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestPrestoSparkPhysicalResourceAllocationStrategy.java
Owners: @prestodb/committers

Add auto-tuning of max executor and hash partition
  presto-spark-base/src/main/java/com/facebook/presto/spark/PhysicalResourceSettings.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkConfig.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkPhysicalResourceCalculator.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkSessionProperties.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/AbstractPrestoSparkQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkStaticQueryExecution.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkQueryPlanner.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/planner/TestPrestoSparkPhysicalResourceAllocationStrategy.java
Owners: @prestodb/committers

Do not throw from PartitionedOutputBufferManager::getData (#3502)
  velox/exec/PartitionedOutputBufferManager.cpp
  velox/exec/PartitionedOutputBufferManager.h
  velox/exec/tests/PartitionedOutputBufferManagerTest.cpp
Owners: @prestodb/committers

Add support for constructing expressions from string and evaluating (#3498)
  CMakeLists.txt
  Makefile
  pyvelox/CMakeLists.txt
  pyvelox/pyvelox.h
  pyvelox/test/test_expression.py
Owners: @prestodb/committers

update com.google.protobuf:protobuf-java 3.19.2 to 3.21.7
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Owners: @prestodb/committers

update com.google.protobuf:protobuf-java 3.19.2 to 3.21.7
  presto-pinot-toolkit/pom.xml
  presto-pinot/pom.xml
Owners: @prestodb/committers

Remove max malloc threshold from MappedMemory interface (#3544)
  velox/common/caching/AsyncDataCache.cpp
  velox/common/caching/AsyncDataCache.h
  velox/common/memory/MappedMemory.cpp
  velox/common/memory/MappedMemory.h
Owners: @prestodb/committers

ConstantExpr always allocates a new Vector (#3539)
  velox/benchmarks/basic/SimpleArithmetic.cpp
  velox/expression/ConstantExpr.cpp
Owners: @prestodb/committers

Support resolving SpecialForms (#3229)
  velox/functions/FunctionRegistry.cpp
  velox/functions/FunctionRegistry.h
  velox/functions/tests/FunctionRegistryTest.cpp
Owners: @prestodb/committers

Back out "Add support for constructing expressions from string and evaluating" (#3551)
  CMakeLists.txt
  Makefile
  pyvelox/CMakeLists.txt
  pyvelox/pyvelox.h
  pyvelox/test/test_expression.py
Owners: @prestodb/committers

Add memory pool allocation benchmark (#3523)
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/basic/MemoryAllocationBenchmark.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Fix catalog config resource lost on hudi mor read
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
Owners: @vinothchandar, @7c00, @prestodb/committers

Fix catalog config resource lost on hudi mor read
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
Owners: @vinothchandar, @7c00, @prestodb/committers

Add support for UUID in PostgreSQL connector
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
  presto-client/src/main/java/com/facebook/presto/client/FixJsonDataUtils.java
  presto-common/src/main/java/com/facebook/presto/common/type/UuidType.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/UuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidType.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Owners: @prestodb/committers

Add support for UUID in PostgreSQL connector
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java
  presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java
  presto-client/src/main/java/com/facebook/presto/client/FixJsonDataUtils.java
  presto-common/src/main/java/com/facebook/presto/common/type/UuidType.java
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/type/UuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidOperators.java
  presto-main/src/test/java/com/facebook/presto/type/TestUuidType.java
  presto-postgresql/src/main/java/com/facebook/presto/plugin/postgresql/PostgreSqlClient.java
  presto-postgresql/src/test/java/com/facebook/presto/plugin/postgresql/TestPostgreSqlTypeMapping.java
  presto-tests/src/main/java/com/facebook/presto/tests/TestingPrestoClient.java
Owners: @prestodb/committers

Fix memory pool allocateZeroFilled and its usage issues (#3546)
  velox/common/memory/Memory.h
  velox/dwio/common/DataBuffer.h
Owners: @prestodb/committers

Some code cleanup in MappedMemory (#3547)
  velox/benchmarks/tpch/TpchBenchmark.cpp
  velox/common/caching/tests/AsyncDataCacheTest.cpp
  velox/common/memory/MappedMemory.cpp
  velox/common/memory/MappedMemory.h
  velox/common/memory/MmapAllocator.cpp
  velox/common/memory/MmapAllocator.h
  velox/common/memory/tests/ByteStreamTest.cpp
  velox/common/memory/tests/FragmentationBenchmark.cpp
  velox/common/memory/tests/MappedMemoryTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/dwio/dwrf/test/CacheInputTest.cpp
Owners: @prestodb/committers

Add instructions on how to start Elasticsearch
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
Owners: @prestodb/committers

Add support for user/password auth
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorModule.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/PasswordConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchServer.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordConfig.java
  presto-elasticsearch/src/test/resources/elasticsearch.yml
  presto-elasticsearch/src/test/resources/roles.yml
  presto-elasticsearch/src/test/resources/users
  presto-elasticsearch/src/test/resources/users_roles
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Add a constructor to QueryAssertions
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Migrate Elasticsearch tests to testcontainers
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchServer.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/EmbeddedElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
Owners: @prestodb/committers

Add support for user/password auth
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorModule.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/PasswordConfig.java
  presto-elasticsearch/src/main/java/com/facebook/presto/elasticsearch/client/ElasticsearchClient.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchConnectorTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchServer.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordAuthentication.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestPasswordConfig.java
  presto-elasticsearch/src/test/resources/elasticsearch.yml
  presto-elasticsearch/src/test/resources/roles.yml
  presto-elasticsearch/src/test/resources/users
  presto-elasticsearch/src/test/resources/users_roles
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Use assertj for query assertions
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Migrate Elasticsearch tests to testcontainers
  presto-elasticsearch/pom.xml
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchLoader.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchServer.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/EmbeddedElasticsearchNode.java
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/TestElasticsearchIntegrationSmokeTest.java
Owners: @prestodb/committers

Add instructions on how to start Elasticsearch
  presto-elasticsearch/src/test/java/com/facebook/presto/elasticsearch/ElasticsearchQueryRunner.java
Owners: @prestodb/committers

Use assertj for query assertions
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Add a constructor to QueryAssertions
  presto-main/src/test/java/com/facebook/presto/sql/query/QueryAssertions.java
Owners: @prestodb/committers

Skip row groups based on remaining filter (#3549)
  velox/connectors/hive/HiveConnector.cpp
  velox/connectors/hive/HiveConnector.h
  velox/dwio/common/CMakeLists.txt
  velox/dwio/common/FormatData.h
  velox/dwio/common/MetadataFilter.cpp
  velox/dwio/common/MetadataFilter.h
  velox/dwio/common/Options.h
  velox/dwio/common/ScanSpec.h
  velox/dwio/common/SelectiveColumnReader.cpp
  velox/dwio/common/SelectiveColumnReader.h
  velox/dwio/common/SelectiveStructColumnReader.cpp
  velox/dwio/common/SelectiveStructColumnReader.h
  velox/dwio/common/tests/CMakeLists.txt
  velox/dwio/common/tests/E2EFilterTestBase.cpp
  velox/dwio/common/tests/E2EFilterTestBase.h
  velox/dwio/dwrf/reader/DwrfData.cpp
  velox/dwio/dwrf/reader/DwrfData.h
  velox/dwio/dwrf/reader/DwrfReader.cpp
  velox/dwio/dwrf/reader/DwrfReader.h
  velox/dwio/dwrf/test/E2EFilterTest.cpp
  velox/dwio/parquet/reader/ParquetData.cpp
  velox/dwio/parquet/reader/ParquetData.h
  velox/dwio/parquet/reader/ParquetReader.cpp
  velox/dwio/parquet/reader/StructColumnReader.cpp
  velox/dwio/parquet/reader/StructColumnReader.h
  velox/dwio/parquet/tests/reader/E2EFilterTest.cpp
  velox/exec/tests/PrintPlanWithStatsTest.cpp
  velox/exec/tests/TableScanTest.cpp
  velox/expression/ExprToSubfieldFilter.cpp
  velox/expression/ExprToSubfieldFilter.h
Owners: @prestodb/committers

Run aggregation fuzzer test with PR (#3495)
  .circleci/config.yml
  velox/exec/tests/AggregationFuzzerTest.cpp
Owners: @prestodb/committers

Support list literal (#2450)
  velox/exec/tests/utils/QueryAssertions.cpp
  velox/substrait/SubstraitToVeloxExpr.cpp
  velox/substrait/SubstraitToVeloxExpr.h
  velox/substrait/VeloxToSubstraitExpr.cpp
  velox/substrait/VeloxToSubstraitExpr.h
  velox/substrait/tests/VeloxSubstraitRoundTripTest.cpp
Owners: @prestodb/committers

Add support for S3 FileSystem compatible schemes 's3n' (#3535)
  velox/connectors/hive/storage_adapters/s3fs/S3Util.h
  velox/connectors/hive/storage_adapters/s3fs/tests/S3UtilTest.cpp
Owners: @prestodb/committers

Add support to rerun failed benchmarks to benchmark_runner.py (#3472)
  .circleci/config.yml
  Makefile
  scripts/benchmark-runner.py
Owners: @prestodb/committers

Fix error: no return statement in function returning non-void (#3557)
  velox/substrait/VeloxToSubstraitExpr.cpp
Owners: @prestodb/committers

Working on map null filter
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
Owners: @prestodb/team-velox

Add PlanFragment::canSpill(). (#3552)
  velox/core/CMakeLists.txt
  velox/core/PlanFragment.cpp
  velox/core/PlanFragment.h
  velox/core/tests/CMakeLists.txt
  velox/core/tests/TestPlanFragment.cpp
Owners: @prestodb/committers

Advance Velox
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
Owners: @prestodb/team-velox

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
