Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

Annotate PoS RDDs with PlanFragment ID
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/planner/PrestoSparkRddFactory.java
Owners: @prestodb/committers

Query failing with exceed local memory doesn't free memory correctly
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestQueryContext.java
Owners: @prestodb/committers

Add capability to introspect ORC/DWRF files
  presto-orc/src/main/java/com/facebook/presto/orc/AbstractOrcRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcBatchRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcFileIntrospector.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcSelectiveRecordReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcFileIntrospection.java
Owners: @prestodb/committers

Enable map stats in the DWRF flat map column writer
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/statistics/ColumnStatistics.java
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/statistics/MapColumnStatisticsBuilder.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/MapFlatColumnWriter.java
  presto-orc/src/test/java/com/facebook/presto/orc/CapturingOrcFileIntrospector.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestOrcFileIntrospection.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/TestDwrfMetadataReader.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/statistics/TestMapColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/statistics/TestMapColumnStatisticsBuilder.java
Owners: @prestodb/committers

Rename and inline variables
  presto-main/src/main/java/com/facebook/presto/tdigest/TDigest.java
Owners: @prestodb/committers

Ratis Server with Resource Manager
  pom.xml
  presto-main/pom.xml
  presto-main/src/main/java/com/facebook/presto/metadata/DiscoveryNodeManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/InternalNode.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/RaftConfig.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/RatisServer.java
  presto-main/src/main/java/com/facebook/presto/server/ResourceManagerModule.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/test/java/com/facebook/presto/resourcemanager/TestRaftConfig.java
  presto-tests/pom.xml
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
  presto-tests/src/test/java/com/facebook/presto/resourcemanager/TestRaftServer.java
  presto-tests/src/test/java/com/facebook/presto/tests/tpch/TpchQueryRunner.java
Owners: @prestodb/committers

Add shuffle stats in web ui
  presto-main/src/main/resources/webapp/dist/query.js
  presto-main/src/main/resources/webapp/src/components/QueryDetail.jsx
Owners: @prestodb/committers

Fix wrong return type of map_normalize function in document
  presto-docs/src/main/sphinx/functions/map.rst
Owners: @prestodb/team-releases

Fix int overflow in ORC double and float column writers
  presto-orc/src/main/java/com/facebook/presto/orc/writer/DoubleColumnWriter.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/FloatColumnWriter.java
Owners: @prestodb/committers

Update presto-native-execution with latest from presto_cpp
  presto-native-execution/CMakeLists.txt
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/TaskManager.cpp
  presto-native-execution/presto_cpp/main/common/ConfigReader.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxSplit.cpp
  presto-native-execution/presto_cpp/main/types/tests/data/ScanAgg.json
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.cpp
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.h
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.json
  presto-native-execution/presto_cpp/presto_protocol/presto_protocol.yml
  presto-native-execution/scripts/circleci-container.dockfile
  presto-native-execution/scripts/setup-circleci.sh
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveAggregationQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveWindowQueries.java
Owners: @prestodb/team-velox

Minor typo fix to 0.274 release note
  presto-docs/src/main/sphinx/release/release-0.274.rst
Owners: @prestodb/team-releases

support set session property for presto on spark
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkClientOptions.java
  presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkLauncherCommand.java
  presto-spark-package/pom.xml
  presto-spark-package/src/main/assembly/presto.xml
  presto-spark-testing/pom.xml
  presto-spark-testing/src/test/java/com/facebook/presto/spark/testing/TestPrestoSparkLauncherIntegrationSmokeTest.java
Owners: @prestodb/committers

Fix broadcast OOM error code
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkStorageBasedBroadcastDependency.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/TestPrestoSparkQueryRunner.java
Owners: @prestodb/committers

Add trimmed mean
  presto-docs/src/main/sphinx/functions/tdigest.rst
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TDigestFunctions.java
  presto-main/src/main/java/com/facebook/presto/tdigest/TDigest.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestTDigestFunctions.java
  presto-main/src/test/java/com/facebook/presto/tdigest/TestTDigest.java
Owners: @prestodb/team-releases, @prestodb/committers

Iceberg: Add new fields in files system table
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/FilesTable.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/util/PageListBuilder.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergOrcMetricsCollection.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/TestIcebergSystemTables.java
Owners: @prestodb/committers

Migrate presto_cpp circleci workflows to presto
  .circleci/config.yml
  .github/workflows/test-other-modules.yml
  pom.xml
  presto-native-execution/pom.xml
Owners: @prestodb/committers, @prestodb/team-releases, @prestodb/team-velox

Allow catalog server to be run seperately from resource manager
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers

support hive built in aggregationimplementation
  presto-hive-function-namespace/pom.xml
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/FunctionRegistry.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/HiveFunctionNamespaceManager.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/GroupedHiveAccumulatorState.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorFunctions.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorInvoker.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorMethodHandles.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorState.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorStateDescription.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorStateFactory.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAccumulatorStateSerializer.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunction.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionDescription.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionImplementation.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/HiveAggregationFunctionImplementationFactory.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/aggregation/SingleHiveAccumulatorState.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/AccumulatorCompiler.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/AggregationUtils.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/Bootstrap.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/CompilerOperations.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/gen/SqlTypeBytecodeExpression.java
  presto-hive-function-namespace/src/test/java/com/facebook/presto/hive/functions/TestHiveAggregationFunctions.java
Owners: @prestodb/committers

Replace Joda-Time libraries with java.time
  presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursor.java
  presto-hudi/pom.xml
  presto-hudi/src/main/java/com/facebook/presto/hive/HudiRecordCursors.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSourceProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
Owners: @prestodb/committers, @vinothchandar, @7c00

Improve ARRAY_FREQUENCY efficiency.
  presto-benchmark/src/main/java/com/facebook/presto/benchmark/SqlArrayFrequencyBenchmark.java
  presto-main/src/main/java/com/facebook/presto/operator/scalar/sql/ArraySqlFunctions.java
Owners: @prestodb/committers

Fix TestSeverInfoResource timeout by parallelizing the tasks.
  presto-tests/src/test/java/com/facebook/presto/tests/TestServerInfoResource.java
Owners: @prestodb/committers

Add allocation tag to the "delta" in memory limit error message
  presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java
  presto-main/src/test/java/com/facebook/presto/memory/TestMemoryTracking.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
Owners: @prestodb/committers

Reduce calls to metastore in materialized view optimization
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewCandidateExtractor.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewRewriteQueryShapeValidator.java
  presto-main/src/main/java/com/facebook/presto/sql/rewrite/MaterializedViewOptimizationRewrite.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewCandidateExtractor.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewRewriteQueryShapeValidator.java
Owners: @prestodb/committers

Construct TDigest Function
  presto-main/src/main/java/com/facebook/presto/operator/scalar/TDigestFunctions.java
  presto-main/src/main/java/com/facebook/presto/tdigest/TDigest.java
  presto-main/src/test/java/com/facebook/presto/operator/scalar/TestTDigestFunctions.java
Owners: @prestodb/committers

Fix Disagg Coordinator Memory Leak Check
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryLeakDetector.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryManager.java
  presto-main/src/main/java/com/facebook/presto/memory/ClusterMemoryPool.java
  presto-main/src/main/java/com/facebook/presto/resourcemanager/ResourceManagerClusterStateProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/memory/ClusterMemoryPoolInfo.java
  presto-tests/src/test/java/com/facebook/presto/memory/TestClusterMemoryLeakDetector.java
Owners: @prestodb/committers

Update hudi-testing-data.md
  presto-hive/src/test/resources/hudi-testing-data.md
Owners: @prestodb/committers

Disable flaky test testDistributedQueue_burstTraffic
  presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestDistributedQueuesDb.java
Owners: @prestodb/committers

Add presto router doc
  presto-router/README.txt
  presto-router/etc/router-config.json
Owners: @prestodb/committers

Add queryHash to queryInfo, basicQueryInfo, and queryMetadata
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryInfo.java
  presto-main/src/main/java/com/facebook/presto/server/BasicQueryInfo.java
  presto-main/src/main/java/com/facebook/presto/util/QueryInfoUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/server/TestBasicQueryInfo.java
  presto-main/src/test/java/com/facebook/presto/util/TestQueryInfoUtils.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/QueryMetadata.java
Owners: @prestodb/committers

Fix rawInputDataSize in QueryStats
  presto-main/src/main/java/com/facebook/presto/execution/QueryStats.java
Owners: @prestodb/committers

Enforce output row limit
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/execution/DataDefinitionExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/QueryManagerConfig.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryExecution.java
  presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/LegacySqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java
  presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQuerySchedulerInterface.java
  presto-main/src/test/java/com/facebook/presto/execution/MockQueryExecution.java
  presto-main/src/test/java/com/facebook/presto/execution/TestQueryManagerConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/StandardErrorCode.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestQueryManager.java
Owners: @prestodb/committers

Disable Presto router's flaky test
  presto-router/src/test/java/com/facebook/presto/router/TestClusterManager.java
Owners: @prestodb/committers

Fix flaky testShuffledStatsWithInnerJoin
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestJoinQueries.java
Owners: @prestodb/committers

Fix flaky TestHiveDistributedQueries
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveDistributedQueries.java
Owners: @prestodb/committers

Fix false positives in firing PERFORMANCE_WARNING for JOIN ON clause
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/AbstractAnalyzerTest.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestAnalyzer.java
Owners: @prestodb/committers

Add and implement different canonicalization strategies
  presto-common/src/main/java/com/facebook/presto/common/plan/PlanCanonicalizationStrategy.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/AllOrNoneValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Domain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/EquatableValueSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Marker.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/Range.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/SortedRangeSet.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/TupleDomain.java
  presto-common/src/main/java/com/facebook/presto/common/predicate/ValueSet.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestDomain.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestEquatableValueSet.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestMarker.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestRange.java
  presto-common/src/test/java/com/facebook/presto/common/predicate/TestSortedRangeSet.java
  presto-expressions/src/main/java/com/facebook/presto/expressions/CanonicalRowExpressionRewriter.java
  presto-hive/src/main/java/com/facebook/presto/hive/HiveTableLayoutHandle.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlan.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanFragment.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalTableScanNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanGenerator.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorTableLayoutHandle.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueryFramework.java
  presto-tpch/src/main/java/com/facebook/presto/tpch/TpchTableLayoutHandle.java
Owners: @prestodb/committers

Classify spill errors properly.
  presto-main/src/main/java/com/facebook/presto/operator/SpillingUtils.java
  presto-main/src/main/java/com/facebook/presto/spiller/FileSingleStreamSpiller.java
Owners: @prestodb/committers

Support reading log-only Hudi MOR table
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/HudiTestingDataGenerator.java
  presto-hive/src/test/java/com/facebook/presto/hive/hudi/TestHudiIntegration.java
  presto-hive/src/test/resources/hudi-testing-data.zip
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSourceProvider.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiRecordCursors.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiSplitManager.java
Owners: @prestodb/committers, @vinothchandar, @7c00

Refactor the decryption code in Parquet PageSource files
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaPageSourceProvider.java
  presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetPageSourceFactory.java
  presto-hudi/src/main/java/com/facebook/presto/hudi/HudiParquetPageSources.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
Owners: @prestodb/committers, @vinothchandar, @7c00

Rename generateCanonicalPlan to generateCanonicalPlanFragment
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveCanonicalPlanGenerator.java
  presto-main/src/main/java/com/facebook/presto/execution/FragmentResultCacheContext.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/CanonicalPlanGenerator.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/TestCanonicalPlanGenerator.java
Owners: @prestodb/committers

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases
