Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @shangxinli, @sdruzkin, @agrawalreetika, @shrinidhijoshi

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00 @prestodb/committers
/presto-native-execution @prestodb/team-velox
/presto-parquet @shangxinli @prestodb/committers
/presto-orc @sdruzkin @prestodb/committers
/presto-hive/**/com/facebook/presto/hive/security/ranger @agrawalreetika @prestodb/committers
/presto-spark* @shrinidhijoshi @prestodb/committers

[native] Remove unnecessary includes from PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

Remove duplicate code for getting Iceberg table of various catalogTypes
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergFilterPushdown.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/optimizer/IcebergPlanOptimizerProvider.java
Owners: @prestodb/committers

Instrumentation of graceful preemption stats
  presto-main/src/main/java/com/facebook/presto/eventlistener/EventListenerManager.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/QueryRecoveryState.java
  presto-main/src/main/java/com/facebook/presto/execution/executor/TaskExecutor.java
  presto-main/src/test/java/com/facebook/presto/execution/executor/TestTaskExecutor.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/GracefulPreemptionEvent.java
Owners: @prestodb/committers

[native] Remove mmap arena exposure from Prestissimo
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

[native] Rename NodeState enum with proper naming convention
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.h
Owners: @prestodb/team-velox

Revert "Refactor `ApproximateMostFrequent` to use type annotations"
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
Owners: @prestodb/committers

Revert "Refactor `ApproximateMostFrequent` to use type annotations"
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
Owners: @prestodb/committers

Revert "Refactor `ApproximateMostFrequent` to use type annotations"
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
Owners: @prestodb/committers

Revert "Refactor `ApproximateMostFrequent` to use type annotations"
  presto-main/src/main/java/com/facebook/presto/metadata/BuiltInTypeAndFunctionNamespaceManager.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequent.java
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/approxmostfrequent/ApproximateMostFrequentStateSerializer.java
Owners: @prestodb/committers

Optimize computation of partition start rows in SortWindowBuild (#7580)
  velox/exec/SortWindowBuild.cpp
  velox/exec/SortWindowBuild.h
Owners: @prestodb/committers

Refactor HashBuild arbitration test (#8376)
  velox/exec/tests/HashJoinTest.cpp
  velox/exec/tests/SharedArbitratorTest.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.cpp
  velox/exec/tests/utils/ArbitratorTestUtil.h
Owners: @prestodb/committers

Fix presto-doc build issue
  presto-docs/requirements.txt
Owners: @prestodb/committers

[native] Remove mmap arena exposure from Prestissimo
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

[native] Remove mmap arena exposure from Prestissimo
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
Owners: @prestodb/team-velox

Rename getDataType and getDataChannels funcs in HiveDataSink (#8404)
  velox/connectors/hive/HiveDataSink.cpp
  velox/exec/tests/TableWriteTest.cpp
Owners: @prestodb/committers

Fix creation of DuckDB tables with arrays of boolean, tinyint and smallint (#8408)
  velox/exec/tests/utils/QueryAssertions.cpp
Owners: @prestodb/committers

Upgrade Iceberg Version
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Revert "Upgraded spring boot maven plugin and spring core version to resolve multiple CVE"
  presto-benchto-benchmarks/pom.xml
Owners: @prestodb/committers

Actually ensure deterministic order of map keys in multimap_from_entries Presto function (#8407)
  velox/functions/prestosql/MultimapFromEntries.h
Owners: @prestodb/committers

Run Join Fuzzer on PRs (#8414)
  .circleci/dist_compile.yml
Owners: @prestodb/committers

Extract initializeVerifiers and compareEquivalentPlanResults in AggregationFuzzer (#8361)
  velox/exec/fuzzer/AggregationFuzzer.cpp
Owners: @prestodb/committers

Use simdjson in cast from JSON operator (#8216)
  velox/functions/prestosql/tests/JsonCastTest.cpp
  velox/functions/prestosql/types/CMakeLists.txt
  velox/functions/prestosql/types/JsonType.cpp
  velox/functions/prestosql/types/JsonType.h
Owners: @prestodb/committers

Refactor simdjson utilities (#8397)
  velox/functions/prestosql/JsonFunctions.cpp
  velox/functions/prestosql/SIMDJsonFunctions.h
  velox/functions/prestosql/json/CMakeLists.txt
  velox/functions/prestosql/json/SIMDJsonExtractor.cpp
  velox/functions/prestosql/json/SIMDJsonExtractor.h
  velox/functions/prestosql/json/SIMDJsonUtil.cpp
  velox/functions/prestosql/json/SIMDJsonUtil.h
  velox/functions/prestosql/json/tests/SIMDJsonExtractorTest.cpp
Owners: @prestodb/committers

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Owners: @prestodb/committers

[Native] update presto to velox session property mapping
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

Extract storeBitsToByte to be reused (#8416)
  velox/common/base/BitUtil.h
  velox/common/base/tests/BitUtilTest.cpp
  velox/dwio/common/DecoderUtil.cpp
Owners: @prestodb/committers

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Owners: @prestodb/committers

Add spill related session property for native engine
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
Owners: @prestodb/committers

[Native] update presto to velox session property mapping
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

[Native] update presto to velox session property mapping
  presto-native-execution/presto_cpp/main/QueryContextManager.cpp
Owners: @prestodb/team-velox

Minor refactor of ExchangeClient (#8419)
  velox/exec/ExchangeClient.cpp
  velox/exec/ExchangeClient.h
  velox/exec/ExchangeQueue.h
Owners: @prestodb/committers

Fix build for devtoolset-9 on CentOS 7 (#8214)
  velox/exec/tests/AggregateFunctionRegistryTest.cpp
Owners: @prestodb/committers

Fix memory accounting in SfmSketchStateFactory
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/noisyaggregation/SfmSketchStateFactory.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/noisyaggregation/TestSfmSketchStateFactory.java
Owners: @prestodb/committers

[native pos] Make `max_spill_bytes` configurable in presto-on-spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionVeloxConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @shrinidhijoshi, @prestodb/committers

Fix memory accounting in SfmSketchStateFactory
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/noisyaggregation/SfmSketchStateFactory.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/noisyaggregation/TestSfmSketchStateFactory.java
Owners: @prestodb/committers

Fix memory accounting in SfmSketchStateFactory
  presto-main/src/main/java/com/facebook/presto/operator/aggregation/noisyaggregation/SfmSketchStateFactory.java
  presto-main/src/test/java/com/facebook/presto/operator/aggregation/noisyaggregation/TestSfmSketchStateFactory.java
Owners: @prestodb/committers

[native pos] Make `max_spill_bytes` configurable in presto-on-spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionVeloxConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @shrinidhijoshi, @prestodb/committers

[native pos] Make `max_spill_bytes` configurable in presto-on-spark
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/property/NativeExecutionVeloxConfig.java
  presto-spark-base/src/test/java/com/facebook/presto/spark/execution/property/TestNativeExecutionSystemConfig.java
Owners: @shrinidhijoshi, @prestodb/committers

Upgrade Iceberg Version
  presto-iceberg/pom.xml
Owners: @prestodb/committers

Upgrade Iceberg Version
  presto-iceberg/pom.xml
Owners: @prestodb/committers
