Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

[native] Fix test-native workflow
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

[native] Fix test-native workflow
  .github/workflows/test-native.yml
Owners: @prestodb/team-releases

Add to overload +operator for Spiller::Stats (#2603)
  velox/exec/Spiller.h
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Add composable API for Array generation on VectorFuzzer
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.h
  velox/vector/fuzzer/tests/VectorFuzzerTest.cpp
Owners: @prestodb/committers

Fix scheduling on the coordinator in TestingPrestoServer
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Add composable API for Map generation on VectorFuzzer
  velox/vector/fuzzer/VectorFuzzer.cpp
  velox/vector/fuzzer/VectorFuzzer.h
  velox/vector/fuzzer/tests/VectorFuzzerTest.cpp
Owners: @prestodb/committers

Fix FlatVector<bool>::ensureWritable (#2601)
  velox/vector/FlatVector-inl.h
  velox/vector/tests/EnsureWritableVectorTest.cpp
Owners: @prestodb/committers

Add Decimal Type support for Between and Equality scalar functions (#2278)
  velox/core/SimpleFunctionMetadata.h
  velox/functions/prestosql/registration/ComparisonFunctionsRegistration.cpp
  velox/functions/prestosql/tests/ComparisonsTest.cpp
  velox/type/Type.cpp
  velox/type/Type.h
Owners: @prestodb/committers

Fix scheduling on the coordinator in TestingPrestoServer
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Fix scheduling on the coordinator in TestingPrestoServer
  presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestTpchQueries.java
  presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java
Owners: @prestodb/committers, @prestodb/team-velox

Add TPC-H query 8 to TpchQueryBuilder (#2024)
  velox/benchmarks/tpch/TpchBenchmark.cpp
  velox/dwio/parquet/tests/duckdb_reader/ParquetTpchTest.cpp
  velox/dwio/parquet/tests/reader/ParquetTpchTest.cpp
  velox/exec/tests/utils/TpchQueryBuilder.cpp
  velox/exec/tests/utils/TpchQueryBuilder.h
Owners: @prestodb/committers

Save input vector to a file when expression evaluation fails (#2591)
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/tests/ExprTest.cpp
  velox/flag_definitions/flags.cpp
Owners: @prestodb/committers

Add to split spill partition to support parallel spill restore (#2602)
  velox/exec/Spill.cpp
  velox/exec/Spill.h
  velox/exec/tests/SpillTest.cpp
  velox/exec/tests/SpillerTest.cpp
Owners: @prestodb/committers

Add AND/OR support to ExpressionFuzzer (#2611)
  velox/expression/tests/ExpressionFuzzer.cpp
  velox/expression/tests/ExpressionFuzzerTest.cpp
Owners: @prestodb/committers

Add utility to build a vector wrapping on top of a child vectors (#2604)
  velox/exec/OperatorUtils.cpp
  velox/exec/OperatorUtils.h
  velox/exec/tests/OperatorUtilsTest.cpp
Owners: @prestodb/committers

Add TPC-H query 7 to TpchQueryBuilder (#2025)
  velox/benchmarks/tpch/TpchBenchmark.cpp
  velox/dwio/parquet/tests/duckdb_reader/ParquetTpchTest.cpp
  velox/dwio/parquet/tests/reader/ParquetTpchTest.cpp
  velox/exec/tests/utils/TpchQueryBuilder.cpp
  velox/exec/tests/utils/TpchQueryBuilder.h
Owners: @prestodb/committers

[PrestoOnSpark] Record bootstrap/startup time for task and stage
  presto-main/src/main/java/com/facebook/presto/event/QueryMonitor.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionInfo.java
  presto-main/src/main/java/com/facebook/presto/execution/StageExecutionStats.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskContext.java
  presto-main/src/main/java/com/facebook/presto/operator/TaskStats.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/test/java/com/facebook/presto/execution/TestStageExecutionStats.java
  presto-main/src/test/java/com/facebook/presto/operator/TestTaskStats.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/execution/PrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/IPrestoSparkTaskExecutorFactory.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskBootstrapStats.java
  presto-spark-classloader-interface/src/main/java/com/facebook/presto/spark/classloader_interface/PrestoSparkTaskProcessor.java
  presto-spi/src/main/java/com/facebook/presto/spi/eventlistener/StageStatistics.java
Owners: @prestodb/committers

Fix memoryUsageTracker::release (#2600)
  velox/common/memory/MappedMemory.h
  velox/common/memory/MemoryUsageTracker.cpp
  velox/common/memory/MemoryUsageTracker.h
  velox/common/memory/tests/MappedMemoryTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/common/memory/tests/MemoryUsageTrackerTest.cpp
  velox/exec/tests/AssignUniqueIdTest.cpp
Owners: @prestodb/committers

Add Expr::toSql() method (#2613)
  velox/expression/CastExpr.cpp
  velox/expression/CastExpr.h
  velox/expression/ConjunctExpr.cpp
  velox/expression/ConjunctExpr.h
  velox/expression/ConstantExpr.cpp
  velox/expression/ConstantExpr.h
  velox/expression/Expr.cpp
  velox/expression/Expr.h
  velox/expression/ExprCompiler.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Fix old references to f4d on the CircleCI documentation (#2616)
  .circleci/README.md
Owners: @prestodb/committers

Fix ConjunctExpr::toSql() (#2615)
  velox/expression/ConjunctExpr.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Fix order by compilation error during planning
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Fix order by compilation error during planning
  presto-main/src/main/java/com/facebook/presto/sql/planner/PlannerUtils.java
  presto-parser/src/main/java/com/facebook/presto/sql/tree/ExpressionTreeRewriter.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Document compilation of COALESCE expressions (#2619)
  velox/docs/develop/expression-evaluation.rst
  velox/docs/develop/scalar-functions.rst
Owners: @prestodb/committers

Add MmapArena to main code path (#2599)
  velox/common/caching/tests/AsyncDataCacheTest.cpp
  velox/common/memory/MmapAllocator.cpp
  velox/common/memory/MmapAllocator.h
  velox/common/memory/MmapArena.h
  velox/common/memory/tests/ByteStreamTest.cpp
  velox/common/memory/tests/MappedMemoryTest.cpp
  velox/common/memory/tests/MemoryPoolTest.cpp
  velox/dwio/dwrf/test/CacheInputTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Bumped benchalerts dep to 0.1.1 (#2624)
  .circleci/config.yml
Owners: @prestodb/committers

Optimize like function for exact, prefix and suffix patterns (#1763)
  Makefile
  velox/benchmarks/basic/CMakeLists.txt
  velox/benchmarks/basic/LikeFunctionsBenchmark.cpp
  velox/functions/lib/Re2Functions.cpp
  velox/functions/lib/Re2Functions.h
  velox/functions/lib/tests/Re2FunctionsTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Save expression SQL to a file when evaluation fails (#2617)
  velox/expression/Expr.cpp
  velox/expression/tests/ExprTest.cpp
Owners: @prestodb/committers

Updating submodules
  build/deps/github_hashes/facebook/folly-rev.txt
Owners: @prestodb/committers

Add rank window function (#2597)
  velox/docs/functions/window.rst
  velox/exec/Window.cpp
  velox/exec/Window.h
  velox/functions/prestosql/window/CMakeLists.txt
  velox/functions/prestosql/window/Rank.cpp
  velox/functions/prestosql/window/WindowFunctionsRegistration.cpp
  velox/functions/prestosql/window/tests/CMakeLists.txt
  velox/functions/prestosql/window/tests/RankTest.cpp
  velox/functions/prestosql/window/tests/WindowTestBase.cpp
  velox/functions/prestosql/window/tests/WindowTestBase.h
Owners: @prestodb/committers

Refactor SubstraitVeloxExprConverter (#2635)
  velox/substrait/SubstraitToVeloxExpr.h
  velox/substrait/SubstraitToVeloxPlan.cpp
  velox/substrait/SubstraitToVeloxPlan.h
  velox/substrait/tests/FunctionTest.cpp
  velox/substrait/tests/Substrait2VeloxPlanConversionTest.cpp
  velox/substrait/tests/Substrait2VeloxValuesNodeConversionTest.cpp
  velox/substrait/tests/VeloxSubstraitRoundTripPlanConverterTest.cpp
Owners: @prestodb/committers

Use double type for TPC-H Connector scaleFactor (#2627)
  velox/connectors/tpch/TpchConnector.cpp
  velox/connectors/tpch/TpchConnector.h
  velox/connectors/tpch/tests/TpchConnectorTest.cpp
  velox/exec/tests/utils/PlanBuilder.cpp
  velox/exec/tests/utils/PlanBuilder.h
  velox/tpch/gen/DBGenIterator.cpp
  velox/tpch/gen/DBGenIterator.h
  velox/tpch/gen/TpchGen.cpp
  velox/tpch/gen/TpchGen.h
Owners: @prestodb/committers

Use meaningful Memory Pool names. (#2625)
  velox/core/QueryCtx.h
  velox/exec/Driver.cpp
  velox/exec/Driver.h
  velox/exec/Operator.cpp
  velox/exec/Operator.h
  velox/exec/Task.cpp
  velox/exec/Task.h
Owners: @prestodb/committers

Make aggregations order in Planner deterministic
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
Owners: @prestodb/committers

Add CREATE TABLE support to Delta connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnector.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTableProperties.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-docs/src/main/sphinx/connector/deltalake.rst
Owners: @prestodb/committers, @prestodb/team-releases

Add DROP Table support for External table in Delta Connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
Owners: @prestodb/committers

Add DROP Table support for External table in Delta Connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
Owners: @prestodb/committers

Add CREATE TABLE support to Delta connector
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaConnector.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaMetadata.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaModule.java
  presto-delta/src/main/java/com/facebook/presto/delta/DeltaTableProperties.java
  presto-delta/src/test/java/com/facebook/presto/delta/AbstractDeltaDistributedQueryTestBase.java
  presto-docs/src/main/sphinx/connector/deltalake.rst
Owners: @prestodb/committers, @prestodb/team-releases
