Repository prestodb/presto, changes with the owners that CODEOWNERS names for each.
All owners: @prestodb/committers, @vinothchandar, @7c00, @prestodb/team-velox, @prestodb/team-releases

CODEOWNERS:

/** @prestodb/committers
/presto-hudi @vinothchandar @7c00
/presto-native-execution @prestodb/team-velox
/presto-docs @prestodb/team-releases
/presto-verifier @prestodb/team-releases
/.github @prestodb/team-releases

Add Thrift support for TaskInfo resource
  presto-main/src/main/java/com/facebook/presto/server/InternalCommunicationConfig.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResource.java
  presto-main/src/main/java/com/facebook/presto/server/TaskResourceUtils.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTaskFactory.java
  presto-main/src/main/java/com/facebook/presto/server/remotetask/TaskInfoFetcher.java
  presto-main/src/test/java/com/facebook/presto/server/TestInternalCommunicationConfig.java
  presto-main/src/test/java/com/facebook/presto/server/remotetask/TestHttpRemoteTask.java
Owners: @prestodb/committers

Add random choice scheduler in the presto router
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/Scheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerType.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
  presto-router/src/test/resources/simple-router-template.json
Owners: @prestodb/committers

Add default JSON serde for MetadataUpdateHandle
  presto-main/src/main/java/com/facebook/presto/connector/ConnectorTypeSerdeManager.java
  presto-main/src/main/java/com/facebook/presto/server/ForJsonMetadataUpdateHandle.java
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkModule.java
Owners: @prestodb/committers

Add Thrift annotations to convert TaskInfo endpoint
  presto-main/src/main/java/com/facebook/presto/execution/TaskInfo.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataUpdates.java
Owners: @prestodb/committers

Add user hash scheduler in the presto router
  presto-router/etc/router-config.json
  presto-router/pom.xml
  presto-router/src/main/java/com/facebook/presto/router/scheduler/Scheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/UserHashScheduler.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
Owners: @prestodb/committers

Hive Ranger security plugin
  pom.xml
  presto-docs/src/main/sphinx/connector/hive-security.rst
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive/pom.xml
  presto-hive/src/main/java/com/facebook/presto/hive/security/HiveSecurityModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/ForRangerInfo.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerAuthorizer.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControl.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControlConfig.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasedAccessControlModule.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/RangerBasicAuthHttpRequestFilter.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/Users.java
  presto-hive/src/main/java/com/facebook/presto/hive/security/ranger/VXUser.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControl.java
  presto-hive/src/test/java/com/facebook/presto/hive/security/ranger/TestRangerBasedAccessControlConfig.java
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/default-allow-all.json
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/default-schema-level-access.json
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/default-table-column-access.json
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/default-table-select-update.json
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/ranger-role-based-access.json
  presto-hive/src/test/resources/com.facebook.presto.hive.security.ranger/user_groups.json
Owners: @prestodb/committers, @prestodb/team-releases

Adding pinot auth support
  presto-docs/src/main/sphinx/connector/pinot.rst
  presto-main/etc/catalog/pinot.properties
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceBase.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotBrokerPageSourceSql.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotClusterInfoFetcher.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotConfig.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotErrorCode.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotModule.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotPageSourceProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/PinotSessionProperties.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/PinotAuthenticationProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/PinotBrokerAuthenticationProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/PinotControllerAuthenticationProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/none/PinotEmptyAuthenticationProvider.java
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/auth/password/PinotPasswordAuthenticationProvider.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/MockPinotClusterInfoFetcher.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSourcePql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotBrokerPageSourceSql.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotClusterInfoFetcher.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/TestPinotConfig.java
  presto-pinot-toolkit/src/test/java/com/facebook/presto/pinot/auth/TestPinotAuthenticationProvider.java
Owners: @prestodb/team-releases, @prestodb/committers

Deprecate Joda library : Presto presto-kudu
  presto-kudu/pom.xml
  presto-kudu/src/main/java/com/facebook/presto/kudu/properties/KuduTableProperties.java
  presto-kudu/src/test/java/com/facebook/presto/kudu/TestKuduIntegrationRangePartitioning.java
Owners: @prestodb/committers

Update presto-native-execution
  presto-native-execution/CMakeLists.txt
  presto-native-execution/Makefile
  presto-native-execution/presto_cpp/main/PrestoExchangeSource.cpp
  presto-native-execution/presto_cpp/main/PrestoServer.cpp
  presto-native-execution/presto_cpp/main/common/Configs.cpp
  presto-native-execution/presto_cpp/main/common/Configs.h
  presto-native-execution/presto_cpp/main/common/Exception.cpp
  presto-native-execution/presto_cpp/main/common/tests/CommonTest.cpp
  presto-native-execution/presto_cpp/main/tests/PrestoExchangeSourceTest.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxExpr.cpp
  presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp
  presto-native-execution/presto_cpp/presto_protocol/Base64Util.cpp
  presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveBitwiseFunctionQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveQueries.java
  presto-native-execution/src/test/java/com/facebook/presto/nativeworker/TestHiveWindowQueries.java
Owners: @prestodb/team-velox

Refactor classes for materialized view partititon filtering
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
Owners: @prestodb/committers

Update Iceberg to 0.14.0
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergHiveMetadata.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestIcebergSystemTablesNessie.java
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestNessieMultiBranching.java
  presto-testing-docker/src/main/java/com/facebook/presto/testing/containers/NessieContainer.java
Owners: @prestodb/committers

Support nested sql functions with lambdas when not inlined
  presto-main/src/main/java/com/facebook/presto/sql/gen/CursorProcessorCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/PageFunctionCompiler.java
  presto-main/src/main/java/com/facebook/presto/sql/gen/RowExpressionCompiler.java
  presto-tests/src/test/java/com/facebook/presto/tests/TestSqlFunctions.java
Owners: @prestodb/committers

Improve materialized view integration tests
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
Owners: @prestodb/committers

Disable flaky tests in presto-iceberg
  presto-iceberg/src/test/java/com/facebook/presto/iceberg/nessie/TestNessieMultiBranching.java
Owners: @prestodb/committers

Don't compute min/max statistics for orderable distinct types
  presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/MetastoreUtil.java
Owners: @prestodb/committers

Fixing empty output expression in Pinot query generation
  presto-pinot-toolkit/src/main/java/com/facebook/presto/pinot/query/PinotQueryGeneratorContext.java
Owners: @prestodb/committers

Fix materialized view query optimization type mismatches
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
Owners: @prestodb/committers

Improve Graphviz output for Join nodes
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/util/TestGraphvizPrinter.java
Owners: @prestodb/committers

Add release notes for 0.275
  presto-docs/src/main/sphinx/release.rst
  presto-docs/src/main/sphinx/release/release-0.275.rst
Owners: @prestodb/team-releases

Enable circleci check runs
  .circleci/config.yml
  presto-native-execution/license.header
Owners: @prestodb/committers, @prestodb/team-velox

Consider only partitions in query for materialized view optimization
  presto-hive/src/main/java/com/facebook/presto/hive/HiveMetadata.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/metadata/DelegatingMetadataManager.java
  presto-main/src/main/java/com/facebook/presto/metadata/Metadata.java
  presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/Analysis.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingMetadata.java
  presto-main/src/test/java/com/facebook/presto/metadata/AbstractMockMetadata.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/ConnectorMetadata.java
  presto-spi/src/main/java/com/facebook/presto/spi/connector/classloader/ClassLoaderSafeConnectorMetadata.java
Owners: @prestodb/committers

Fix hashcode and equals on Block
  presto-common/src/main/java/com/facebook/presto/common/block/AbstractMapBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/ArrayBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/DictionaryBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/MapBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/RowBlock.java
Owners: @prestodb/committers

Add a weighted random choice scheduler in the presto router
  presto-router/src/main/java/com/facebook/presto/router/cluster/ClusterManager.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/Scheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerType.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/WeightedRandomChoiceScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/spec/GroupSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
Owners: @prestodb/committers

Add a round-robin scheduler in the presto router
  presto-router/src/main/java/com/facebook/presto/router/scheduler/RoundRobinScheduler.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerFactory.java
  presto-router/src/main/java/com/facebook/presto/router/scheduler/SchedulerType.java
  presto-router/src/main/java/com/facebook/presto/router/spec/GroupSpec.java
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
  presto-router/src/test/java/com/facebook/presto/router/TestScheduler.java
Owners: @prestodb/committers

DiscoveryNodeManager to not return Coordinator/Resource Manager if it's not in the allowed list
  presto-main/src/main/java/com/facebook/presto/metadata/DiscoveryNodeManager.java
Owners: @prestodb/committers

Set random choice as the default scheduler in the router
  presto-router/src/main/java/com/facebook/presto/router/spec/RouterSpec.java
Owners: @prestodb/committers

Add history statistics storage service
  presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsCalculator.java
  presto-main/src/main/java/com/facebook/presto/cost/HistoryBasedPlanStatisticsManager.java
  presto-main/src/main/java/com/facebook/presto/server/PluginManager.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/FeaturesConfig.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/test/java/com/facebook/presto/cost/TestExternalStatsProvider.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestFeaturesConfig.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/PlanNodeWithHash.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/EmptyPlanStatisticsProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/ExternalPlanStatisticsProvider.java
  presto-spi/src/main/java/com/facebook/presto/spi/statistics/HistoricalPlanStatistics.java
Owners: @prestodb/committers

Output warning if table scan converted to ValuesNode by HiveFilterPushdown
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveWarningCode.java
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-hive/src/test/java/com/facebook/presto/hive/AbstractTestHiveClient.java
  presto-hive/src/test/java/com/facebook/presto/hive/TestHivePushdownFilterQueries.java
  presto-main/src/main/java/com/facebook/presto/FullConnectorSession.java
  presto-main/src/main/java/com/facebook/presto/Session.java
  presto-main/src/main/java/com/facebook/presto/SessionRepresentation.java
  presto-main/src/main/java/com/facebook/presto/dispatcher/DispatchManager.java
  presto-main/src/main/java/com/facebook/presto/server/NoOpSessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/QuerySessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/server/SessionSupplier.java
  presto-main/src/main/java/com/facebook/presto/testing/LocalQueryRunner.java
  presto-main/src/main/java/com/facebook/presto/testing/TestingConnectorSession.java
  presto-main/src/test/java/com/facebook/presto/server/TestQuerySessionSupplier.java
  presto-main/src/test/java/com/facebook/presto/util/TestGraphvizPrinter.java
  presto-spark-base/src/main/java/com/facebook/presto/spark/PrestoSparkQueryExecutionFactory.java
  presto-spi/src/main/java/com/facebook/presto/spi/ConnectorSession.java
  presto-spi/src/test/java/com/facebook/presto/spi/TestingSession.java
  presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java
Owners: @prestodb/committers

Remove usage of joda time dependency from the iceberg package
  presto-hive/src/main/java/com/facebook/presto/hive/OrcFileWriter.java
  presto-iceberg/pom.xml
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergFileWriterFactory.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergOrcFileWriter.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/IcebergPageSourceProvider.java
  presto-iceberg/src/main/java/com/facebook/presto/iceberg/PartitionTransforms.java
  presto-orc/src/main/java/com/facebook/presto/orc/OrcReader.java
Owners: @prestodb/committers

Rebuild presto everytime for C++ tests
  .circleci/config.yml
Owners: @prestodb/committers

Print table info if ValuesNode is converted from table scan by HiveFilterPushdown
  presto-hive/src/main/java/com/facebook/presto/hive/rule/HiveFilterPushdown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/LogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/SubqueryPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/EliminateEmptyJoins.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/EvaluateZeroLimit.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/EvaluateZeroSample.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/ExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PickTableLayout.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneCountAggregationOverScalar.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PruneValuesColumns.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveEmptyDelete.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RemoveTrivialFilters.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule/RowExpressionRewriteRuleSet.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/LimitPushDown.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/MetadataQueryOptimizer.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PruneUnreferencedOutputs.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/UnaliasSymbolReferences.java
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/PlanPrinter.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/TestEliminateCrossJoins.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/iterative/rule/test/PlanBuilder.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestStatisticsWriterNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/plan/TestWindowNode.java
  presto-main/src/test/java/com/facebook/presto/sql/planner/sanity/TestVerifyOnlyOneOutputNode.java
  presto-spi/src/main/java/com/facebook/presto/spi/plan/ValuesNode.java
Owners: @prestodb/committers

Remove some of the raptor tests
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestBucketed.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestHdfs.java
  presto-raptor/src/test/java/com/facebook/presto/raptor/integration/TestRaptorIntegrationSmokeTestMySql.java
Owners: @prestodb/committers

Fix bug in DWRF StreamOrderingLayout caused by the root node
  presto-orc/src/main/java/com/facebook/presto/orc/OrcFileIntrospector.java
  presto-orc/src/main/java/com/facebook/presto/orc/StripeReader.java
  presto-orc/src/main/java/com/facebook/presto/orc/writer/StreamOrderingLayout.java
  presto-orc/src/test/java/com/facebook/presto/orc/CapturingOrcFileIntrospector.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestStreamLayout.java
Owners: @prestodb/committers

Add presto router's doc
  presto-docs/src/main/sphinx/conf.py
  presto-docs/src/main/sphinx/ext/download.py
  presto-docs/src/main/sphinx/index.rst
  presto-docs/src/main/sphinx/router.rst
  presto-docs/src/main/sphinx/router/deployment.rst
  presto-docs/src/main/sphinx/router/scheduler.rst
Owners: @prestodb/team-releases

Support new functions in materialized view optimization
  presto-hive/src/test/java/com/facebook/presto/hive/TestHiveMaterializedViewLogicalPlanner.java
  presto-main/src/main/java/com/facebook/presto/sql/MaterializedViewUtils.java
  presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewQueryOptimizer.java
  presto-main/src/test/java/com/facebook/presto/sql/analyzer/TestMaterializedViewRewriteQueryShapeValidator.java
Owners: @prestodb/committers

Show Estimate Stats on Graphviz
  presto-main/src/main/java/com/facebook/presto/sql/planner/planPrinter/TextRenderer.java
  presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java
  presto-main/src/test/java/com/facebook/presto/util/TestGraphvizPrinter.java
Owners: @prestodb/committers

Add comments on block equals/hashcode
  presto-common/src/main/java/com/facebook/presto/common/block/AbstractMapBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/ArrayBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/DictionaryBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/MapBlock.java
  presto-common/src/main/java/com/facebook/presto/common/block/RowBlock.java
Owners: @prestodb/committers

Fix bug in DWRF map stats builder for row groups with all nulls
  presto-orc/src/main/java/com/facebook/presto/orc/metadata/statistics/MapColumnStatisticsBuilder.java
  presto-orc/src/test/java/com/facebook/presto/orc/TestColumnStatistics.java
  presto-orc/src/test/java/com/facebook/presto/orc/metadata/statistics/TestMapColumnStatisticsBuilder.java
Owners: @prestodb/committers

Export spilling stats
  presto-main/src/main/java/com/facebook/presto/server/ServerMainModule.java
Owners: @prestodb/committers

Allow non-generic UDF registration for Hive functions
  pom.xml
  presto-hive-common/src/main/java/com/facebook/presto/hive/HiveErrorCode.java
  presto-hive-function-namespace/pom.xml
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/FunctionRegistry.java
  presto-hive-function-namespace/src/main/java/com/facebook/presto/hive/functions/HiveFunctionNamespaceManagerFactory.java
  presto-hive-function-namespace/src/test/java/com/facebook/presto/hive/functions/TestHiveScalarFunctions.java
Owners: @prestodb/committers
